.table
  --bal-table-color: var(--bal-color-primary)
  --bal-table-background-color: var(--bal-color-white)
  --bal-table-cell-border: 2px solid var(--bal-color-border-grey)
  --bal-table-cell-border-width: 0 0 2px
  --bal-table-cell-padding: 0.5em 0.75em
  --bal-table-cell-heading-color: var(--bal-color-primary)
  --bal-table-head-cell-border-width: 0 0 1px
  --bal-table-head-cell-color: var(--bal-color-primary)
  --bal-table-foot-cell-border-width: 0 0 0
  --bal-table-foot-cell-color: var(--bal-color-primary)
  --bal-table-head-background-color: transparent
  --bal-table-body-background-color: transparent
  --bal-table-foot-background-color: transparent
  --bal-table-row-hover-background-color: var(--bal-color-grey-1)
  --bal-table-row-active-background-color: var(--bal-color-primary-1)
  --bal-table-row-active-color: var(--bal-color-primary)
  --bal-table-striped-row-even-background-color: var(--bal-color-grey-1)
  --bal-table-striped-row-even-hover-background-color: var(--bal-color-grey-1)

.table
  @extend %bottomSpacing
  background-color: var(--bal-table-background-color)
  color: var(--bal-table-color)
  td,
  th
    border: var(--bal-table-cell-border)
    border-width: var(--bal-table-cell-border-width)
    padding: var(--bal-table-cell-padding)
    vertical-align: top
    // Modifiers
    &.is-narrow
      white-space: nowrap
      width: 1%
    &.is-selected
      background-color: var(--bal-table-row-active-background-color)
      color: var(--bal-table-row-active-color)
      a,
      strong
        color: currentColor
    &.is-vcentered
      vertical-align: middle
  th
    color: var(--bal-table-cell-heading-color)
    &:not([align])
      text-align: inherit
  tr
    &.is-selected
      background-color: var(--bal-table-row-active-background-color)
      color: var(--bal-table-row-active-color)
      a,
      strong
        color: currentColor
      td,
      th
        border-color: var(--bal-table-row-active-color)
        color: currentColor
  thead
    background-color: var(--bal-table-head-background-color)
    td,
    th
      border-width: var(--bal-table-head-cell-border-width)
      color: var(--bal-table-head-cell-color)
  tfoot
    background-color: var(--bal-table-foot-background-color)
    td,
    th
      border-width: var(--bal-table-foot-cell-border-width)
      color: var(--bal-table-foot-cell-color)
  tbody
    background-color: var(--bal-table-body-background-color)
    tr
      &:last-child
        td,
        th
          border-bottom-width: 0
  // Modifiers
  &.is-bordered
    td,
    th
      border-width: 1px
    tr
      &:last-child
        td,
        th
          border-bottom-width: 1px
  &.is-fullwidth
    width: 100%
  &.is-hoverable
    tbody
      tr:not(.is-selected)
        &:hover
          background-color: var(--bal-table-row-hover-background-color)
    &.is-striped
      tbody
        tr:not(.is-selected)
          &:hover
            background-color: var(--bal-table-row-hover-background-color)
            &:nth-child(even)
              background-color: var(--bal-table-striped-row-even-hover-background-color)
  &.is-narrow
    td,
    th
      padding: 0.25em 0.5em
  &.is-striped
    tbody
      tr:not(.is-selected)
        &:nth-child(even)
          background-color: var(--bal-table-striped-row-even-background-color)

.table-container
  @extend %bottomSpacing
  +overflow-touch
  overflow: auto
  overflow-y: hidden
  max-width: 100%

table.table
  display: table !important
  border-spacing: 0
  margin: 0
  thead
    tr
      border-top: 0
    th
      border-color: var(--bal-color-primary)
      border-bottom-width: 2px
  th:not([align])
    text-align: left
  td,
  th
    font-size: var(--bal-size-normal)
    font-family: var(--bal-font-family-text)
    vertical-align: middle
    color: var(--bal-color-primary)
    text-align: left
    .bal-checkbox
      padding: 0
      margin-top: 1px
  td
    color: var(--bal-color-primary)
    hyphens: auto
  td.has-buttons
    padding: 2px
    .bal-button
      margin-right: 4px
      &:last-child
        margin-right: 0px
    .buttons
      justify-content: flex-end
      padding: 3px
