@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;
@use '../../vars' as vars;

$use-host: false !default;
$name: divider;
$css-selector: (hr, '.divider');
$host-selector: ('#divider');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include vars.hybrid($name, $css-selector, $use-host) {
  @include vars.local(divider-color, var(--bal-divider-color-base));
  @include vars.local(divider-width, var(--bal-divider-width));
  @include vars.local(divider-radius, var(--bal-divider-radius));
  @include vars.local(divider-space, 0);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@include hybrid.component($host-selector, $css-selector, $use-host) {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: var(--_divider-radius);
  height: var(--_divider-width);
  background-color: var(--_divider-color);

  //
  // horizontal direction
  &:not(.is-vertical),
  &.is-horizontal {
    flex: 1 0 100%;
    width: 100%;
    min-height: var(--_divider-width);
    height: var(--_divider-width);
    margin-top: var(--_divider-space);
    margin-bottom: var(--_divider-space);
  }

  //
  // vertical direction
  &.is-vertical {
    height: auto;
    flex-shrink: 0;
    align-self: stretch;
    width: var(--_divider-width);
    margin-left: var(--_divider-space);
    margin-right: var(--_divider-space);
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

//
// Colors
// --------------------------------
$colors: (
  'primary',
  'primary-light',
  'primary-dark',
  'grey-light',
  'grey',
  'grey-dark',
  'warning',
  'success',
  'danger',
  'danger-dark',
  'danger-darker',
  'white',
  'light-blue'
);

@include hybrid.component($host-selector, $css-selector, $use-host) {
  @each $color in $colors {
    &.is-#{$color} {
      --mod-divider-color: var(--bal-divider-color-#{$color});
    }
  }
}

//
// Spaces
// --------------------------------
$spaces: ('none', '2xs', 'xs', 'sm', 'base', 'md', 'lg', 'xl', '2xl', '3xl');

@include hybrid.component($host-selector, $css-selector, $use-host) {
  @each $space in $spaces {
    &.has-space-#{$space} {
      --mod-divider-space: var(--bal-space-#{$space}-device);
    }
  }
}

//
// Dashed
// --------------------------------

@include hybrid.component($host-selector, $css-selector, $use-host) {
  &.is-dashed:not(.is-vertical) {
    background: repeating-linear-gradient(
      90deg,
      var(--_divider-color) 0,
      var(--_divider-color) 8px,
      transparent 8px,
      transparent 16px
    );
  }

  &.is-dashed.is-vertical {
    background: repeating-linear-gradient(
      180deg,
      var(--_divider-color) 0,
      var(--_divider-color) 8px,
      transparent 8px,
      transparent 16px
    );
  }
}
