div#app {
  font-size: 30px;
  font-weight: lighter;
  margin: 40vh auto;
  text-align: center;
}

div#app:empty:before {
  content: "Loading...";
}

.emoji {
  height: 1.2rem;
  vertical-align: middle;
}

.progress {
  background-color: #009fee;
  height: 2px;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 0.2s, opacity 0.4s;
  width: 0;
  z-index: 5;
}

.search .search-keyword,
.search a:hover {
  color: #009fee;
}

.search .search-keyword {
  font-style: normal;
  font-weight: 700;
}

.search input {
  height: 36px;
}

body,
html {
  height: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #34495e;
  font-family: MetaPro, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: 15px;
  letter-spacing: 0;
  margin: 0;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

a[disabled] {
  cursor: not-allowed;
  opacity: 0.6;
}

kbd {
  border: 1px solid #ccc;
  border-radius: 3px;
  display: inline-block;
  font-size: 12px !important;
  line-height: 12px;
  margin-bottom: 3px;
  padding: 3px 5px;
  vertical-align: middle;
}

li input[type="checkbox"] {
  margin: 0 0.2em 0.25em 0;
  vertical-align: middle;
}

.app-nav {
  margin: 25px 60px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  z-index: 2;
}

.app-nav.no-badge {
  margin-right: 25px;
}

.app-nav p {
  margin: 0;
}

.app-nav > a {
  margin: 0 1rem;
  padding: 5px 0;
}

.app-nav li,
.app-nav ul {
  display: inline-block;
  list-style: none;
  margin: 0;
}

.app-nav a {
  color: inherit;
  font-size: 16px;
  text-decoration: none;
  transition: color 0.3s;
}

.app-nav a.active,
.app-nav a:hover {
  color: #009fee;
}

.app-nav a.active {
  border-bottom: 2px solid #009fee;
}

.app-nav li {
  display: inline-block;
  margin: 0 1rem;
  padding: 5px 0;
  position: relative;
}

.app-nav li ul {
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  display: none;
  max-height: calc(100vh - 61px);
  overflow-y: auto;
  padding: 10px 0;
  position: absolute;
  right: -15px;
  text-align: left;
  top: 100%;
  white-space: nowrap;
}

.app-nav li ul li {
  display: block;
  font-size: 14px;
  line-height: 1rem;
  margin: 0;
  margin: 8px 14px;
  white-space: nowrap;
}

.app-nav li ul a {
  display: block;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

.app-nav li ul a.active {
  border-bottom: 0;
}

.app-nav li:hover ul {
  display: block;
}

.github-corner {
  border-bottom: 0;
  position: fixed;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 1;
}

.github-corner:hover .octo-arm {
  animation: a 0.56s ease-in-out;
}

.github-corner svg {
  color: #fff;
  fill: #009fee;
  height: 80px;
  width: 80px;
}

main {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  z-index: 0;
}

main.hidden {
  display: none;
}

.anchor {
  display: inline-block;
  text-decoration: none;
  transition: all 0.3s;
}

.anchor span {
  color: #34495e;
}

.anchor:hover {
  text-decoration: underline;
}




.markdown-section {
  margin: 0 auto;
  max-width: 800px;
  padding: 30px 15px 40px;
  position: relative;
}

.markdown-section > * {
  box-sizing: border-box;
  font-size: inherit;
}

.markdown-section > :first-child {
  margin-top: 0 !important;
}

.markdown-section hr {
  border: none;
  border-bottom: 1px solid #eee;
  margin: 2em 0;
}

.markdown-section iframe {
  border: 1px solid #eee;
  width: 1px;
  min-width: 100%;
}

.markdown-section table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-bottom: 1rem;
  overflow: auto;
  width: 100%;
}

.markdown-section th {
  font-weight: 700;
}

.markdown-section td,
.markdown-section th {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

.markdown-section tr {
  border-top: 1px solid #ccc;
}

.markdown-section p.tip,
.markdown-section tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.markdown-section p.tip {
  border-bottom-right-radius: 2px;
  border-left: 4px solid #f66;
  border-top-right-radius: 2px;
  margin: 2em 0;
  padding: 12px 24px 12px 30px;
  position: relative;
}

.markdown-section p.tip:before {
  background-color: #f66;
  border-radius: 100%;
  color: #fff;
  content: "!";
  font-family: Dosis, Source Sans Pro, Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  font-weight: 700;
  left: -12px;
  line-height: 20px;
  position: absolute;
  height: 20px;
  width: 20px;
  text-align: center;
  top: 14px;
}

.markdown-section p.tip code {
  background-color: #efefef;
}

.markdown-section p.tip em {
  color: #34495e;
}

.markdown-section p.warn {
  background: rgba(66, 185, 131, 0.1);
  border-radius: 2px;
  padding: 1rem;
}

.markdown-section ul.task-list > li {
  list-style-type: none;
}

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section strong {
  color: #2c3e50;
  font-weight: 600;
}

.markdown-section a {
  color: #009fee;
  font-weight: 600;
}

.markdown-section h1 {
  font-size: 2rem;
  margin: 0 0 1rem;
}

.markdown-section h2 {
  font-size: 1.75rem;
  margin: 45px 0 0.8rem;
}

.markdown-section h3 {
  font-size: 1.5rem;
  margin: 40px 0 0.6rem;
}

.markdown-section h4 {
  font-size: 1.25rem;
}

.markdown-section h5 {
  font-size: 1rem;
}

.markdown-section h6 {
  color: #777;
  font-size: 1rem;
}

.markdown-section figure,
.markdown-section p {
  margin: 1.2em 0;
}

.markdown-section ol,
.markdown-section p,
.markdown-section ul {
  line-height: 1.6rem;
  word-spacing: 0.05rem;
}

.markdown-section ol,
.markdown-section ul {
  padding-left: 1.5rem;
}

.markdown-section blockquote {
  border-left: 4px solid #009fee;
  color: #858585;
  margin: 2em 0;
  padding-left: 20px;
}

.markdown-section blockquote p {
  font-weight: 600;
  margin-left: 0;
}

.markdown-section iframe {
  margin: 1em 0;
}

.markdown-section em {
  color: #7f8c8d;
}

.markdown-section code {
  border-radius: 2px;
  color: #e96900;
  font-size: 0.8rem;
  margin: 0 2px;
  padding: 3px 5px;
  white-space: pre-wrap;
}

.markdown-section code,
.markdown-section pre {
  background-color: #f8f8f8;
  font-family: Roboto Mono, Monaco, courier, monospace;
}

.markdown-section pre {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  line-height: 1.5rem;
  margin: 1.2em 0;
  overflow: auto;
  padding: 0 1.4rem;
  position: relative;
  word-wrap: normal;
}

.token.cdata,
.token.comment,
.token.doctype,
.token.prolog {
  color: #8e908c;
}

.token.namespace {
  opacity: 0.7;
}

.token.boolean,
.token.number {
  color: #c76b29;
}

.token.punctuation {
  color: #525252;
}

.token.property {
  color: #c08b30;
}

.token.tag {
  color: #2973b7;
}

.token.string {
  color: #009fee;
}

.token.selector {
  color: #6679cc;
}

.token.attr-name {
  color: #2973b7;
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.url {
  color: #22a2c9;
}

.token.attr-value,
.token.control,
.token.directive,
.token.unit {
  color: #009fee;
}

.token.function,
.token.keyword {
  color: #e96900;
}

.token.atrule,
.token.regex,
.token.statement {
  color: #22a2c9;
}

.token.placeholder,
.token.variable {
  color: #3d8fd1;
}

.token.deleted {
  text-decoration: line-through;
}

.token.inserted {
  border-bottom: 1px dotted #202746;
  text-decoration: none;
}

.token.italic {
  font-style: italic;
}

.token.bold,
.token.important {
  font-weight: 700;
}

.token.important {
  color: #c94922;
}

.token.entity {
  cursor: help;
}

.markdown-section pre > code {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  background-color: #f8f8f8;
  border-radius: 2px;
  color: #525252;
  display: block;
  font-family: Roboto Mono, Monaco, courier, monospace;
  font-size: 0.8rem;
  line-height: inherit;
  margin: 0 2px;
  max-width: inherit;
  overflow: inherit;
  padding: 2.2em 5px;
  white-space: inherit;
}

.markdown-section code:after,
.markdown-section code:before {
  letter-spacing: 0.05rem;
}

code .token {
  -moz-osx-font-smoothing: initial;
  -webkit-font-smoothing: initial;
  min-height: 1.5rem;
}

pre:after {
  color: #ccc;
  content: attr(data-lang);
  font-size: 0.6rem;
  font-weight: 600;
  height: 15px;
  line-height: 15px;
  padding: 5px 10px 0;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.has-inverted-background {
  padding: 15px;
  background-color: #003399;
}

.bd-color {
  border-radius: 2px;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .1), inset 0 0 0 1px rgba(0, 0, 0, .1);
  display: inline-block;
  float: left;
  height: 24px;
  margin-right: 8px;
  width: 24px;
}
