@font-face {
  font-family: 'BaloiseCreateHeadline';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('BaloiseCreateHeadline'), local('BaloiseCreateHeadline-bold'),
    url('https://design-system-baloise.vercel.app/assets/fonts/BaloiseCreateHeadline-bold.woff2') format('woff2'),
    url('https://design-system-baloise.vercel.app/assets/fonts/BaloiseCreateHeadline-bold.woff') format('woff');
}

@font-face {
  font-family: 'BaloiseCreateHeadline';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('BaloiseCreateHeadline'), local('BaloiseCreateHeadline-light'),
    url('https://design-system-baloise.vercel.app/assets/fonts/BaloiseCreateHeadline-light.woff2') format('woff2'),
    url('https://design-system-baloise.vercel.app/assets/fonts/BaloiseCreateHeadline-light.woff') format('woff');
}

@font-face {
  font-family: 'BaloiseCreateText';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('BaloiseCreateText'), local('BaloiseCreateText-bold'),
    url('https://design-system-baloise.vercel.app/assets/fonts/BaloiseCreateText-bold.woff2') format('woff2'),
    url('https://design-system-baloise.vercel.app/assets/fonts/BaloiseCreateText-bold.woff') format('woff');
}

@font-face {
  font-family: 'BaloiseCreateText';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('BaloiseCreateText'), local('BaloiseCreateText-regular'),
    url('https://design-system-baloise.vercel.app/assets/fonts/BaloiseCreateText-regular.woff2') format('woff2'),
    url('https://design-system-baloise.vercel.app/assets/fonts/BaloiseCreateText-regular.woff') format('woff');
}

.my-version-tag {
  background: #e9fbf7;
  border: 1px solid #94e3d4;
  color: #000d6e;
  font-family: 'BaloiseCreateText';
  font-family: 'BaloiseCreateHeadline';
  font-weight: 700;
  font-size: 16px;
  border-radius: 4px;
  padding: 4px 8px;
  margin-left: 16px !important;
  margin-top: 4px;
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.my-source-code > pre {
  margin: 0 !important;
  border-radius: 0 !important;
  background: rgb(39, 40, 34) !important;
}

.search-field input {
  border-radius: 4px;
  border-width: 2px;
  font-size: 16px;
  min-height: 32px;
}

.search-field svg {
  height: 16px;
  width: 16px;
}

.search-field code {
  top: 8px;
}

.search-field code + svg {
  top: 8px;
}

html {
  font-size: 16px;
}

.sidebar-subheading {
  margin-top: 16px !important;
  margin-bottom: 6px !important;
  font-weight: 700 !important;
  font-size: 22px !important;
  line-height: 22px !important;
  min-height: 22px !important;
  letter-spacing: 0 !important;
  text-transform: none !important;
}

.sidebar-subheading > button {
  color: #000d6e;
  font-family: 'BaloiseCreateHeadline';
  font-weight: 700;
  font-size: 22px;
  letter-spacing: 0;
  text-transform: none;
}

.sidebar-subheading > button > span {
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 6px solid;
}

.sidebar-subheading > button.sidebar-subheading-action > svg {
  height: 16px !important;
  width: 16px !important;
}

.sidebar-item {
  color: #000d6e;
  font-family: 'BaloiseCreateText';
  font-weight: 400;
  font-size: 16px !important;
}

.sidebar-item > svg {
  height: 16px !important;
  width: 16px !important;
  color: #9f52cc;
}

.sidebar-item > svg[color='primary'] {
  color: #000d6e;
}

.sidebar-item > svg[color='secondary'] {
  color: #00b28f;
}
