@import "../../scss/ui-library.globals";

bal-card-content {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: $size-normal;
  font-weight: $weight-normal;
  font-family: $body-family;
  word-break: break-all;
  padding: 16px;
}

bal-card-title + bal-card-content,
bal-card-subtitle + bal-card-content {
  padding-top: 0;
}
