<div class="container">
    <h1>Radio</h1>
    <bal-radio-group value="2" id="radio-example" [(ngModel)]="selected">
        <bal-radio label="Label 1" name="radio-example" value="1"></bal-radio>
        <bal-radio label="Label 2" name="radio-example" value="2"></bal-radio>
        <bal-radio label="Label 3" name="radio-example" value="3"></bal-radio>
        <bal-radio label="Label Disabled" name="radio-example" value="4" disabled></bal-radio>
    </bal-radio-group>
    <br>
    <bal-text>Selected index: {{ selected }}</bal-text>
</div>