name: 'Angular Setup'
description: 'Angular Setup'
inputs:
  app:
    description: 'The specific test application'
runs:
  using: 'composite'
  steps:
    - name: Install Dependencies
      run: npm ci
      shell: bash

    - uses: ./.github/workflows/actions/download-archive
      with:
        name: tokens-dist
        path: packages/tokens
        filename: TokensDist.zip

    - uses: ./.github/workflows/actions/download-archive
      with:
        name: icons-dist
        path: packages/icons
        filename: IconsDist.zip

    - uses: ./.github/workflows/actions/download-archive
      with:
        name: styles-dist
        path: packages/styles
        filename: StylesDist.zip

    - uses: ./.github/workflows/actions/download-archive
      with:
        name: core-loader
        path: ./packages/core
        filename: CoreLoader.zip

    - uses: ./.github/workflows/actions/download-archive
      with:
        name: core-dist
        path: ./core/dist
        filename: CoreDist.zip

    - uses: ./.github/workflows/actions/download-archive
      with:
        name: core-components
        path: ./packages/core
        filename: CoreComponents.zip

    - uses: ./.github/workflows/actions/download-archive
      with:
        name: angular
        path: ./packages/angular/src
        filename: Angular.zip

    - uses: ./.github/workflows/actions/download-archive
      with:
        name: angular-legacy
        path: ./packages/angular-legacy/src
        filename: AngularLegacy.zip

    - uses: ./.github/workflows/actions/download-archive
      with:
        name: angular-module
        path: ./packages/angular-module/src
        filename: AngularModule.zip

    - uses: ./.github/workflows/actions/download-archive
      with:
        name: testing-dist
        path: ./packages/testing
        filename: TestingDist.zip
