@import "../../scss/ui-library.globals";
@import "../../scss/elements/input";

:host {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .stepper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    .stepper-btn {
      border: none;
      outline: 0;
      padding: 5px 0 5px 0;
      background-color: transparent;
      cursor: pointer;
    }
    .stepper-btn:disabled {
      cursor: not-allowed;
      * {
        color: $blue-line;
        stroke: $blue-line;
      }
    }
    .time-box {
      appearance: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-width: 1px;
      border-radius: 0;
      box-shadow: none;
      padding-left: 5px;
      padding-right: 5px;
      font-size: $size-4;
      outline: none;
      color: $text;
      min-height: 45px;
    
      &:focus, &.is-focused {
        border-width: 2px;
        border-color: $blue;
        box-shadow: none;
      }
    
      &:disabled {
        background-color: $blue-light;
        cursor: not-allowed;
      }
    }    
  }
  .time-divider {
    align-items: stretch;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    &:after, &:before {
      content: '';
      width: .30em;
      height: .30em;
      margin-top: .15em;
      margin-bottom: .15em;
      margin-left: .35em;
      margin-right: .35em;
      border-radius: 50%;
      background-color: $blue;
    }
  }
  .is-inverted {
    &:after, &:before{
      background-color: $white;
    }
  }
}
