@use '@baloise/ds-styles/sass/mixins' as *;

@include block(number-input) {
  @include unselectable;
  display: block;
  position: relative;
  flex: 1;
  align-items: center;
  width: 100%;
  padding: 0;
  font-family: var(--bal-font-family-text);
}