@use 'sass:meta';

@forward 'vars/_all';
@forward 'form/_all';
@forward 'container';
@forward 'grid';
@forward 'table';
@forward 'picture';

.has-sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    padding-bottom: 2.5rem;
  }

  ds-footer,
  footer.footer {
    margin-top: auto;
  }
}
