@forward 'vars/_all';
@forward 'form/_all';
@forward 'container';
@forward 'grid';
@forward 'list';
@forward 'table';

@forward '../../../core/src/components/bal-heading/bal-heading.core.scss';
@forward '../../../core/src/components/bal-text/bal-text.core.scss';
@forward '../../../core/src/components/bal-label/bal-label.core.scss';
@forward '../../../core/src/components/bal-link/bal-link.core.scss';
@forward '../../../core/src/components/bal-divider/bal-divider.core.scss';
@forward '../../../core/src/components/bal-button/bal-button.core.scss';
@forward '../../../core/src/components/bal-stack/bal-stack.core.scss';

.has-sticky-footer {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    padding-bottom: 2.5rem;
  }
  .bal-footer,
  footer.footer {
    margin-top: auto;
  }
}
