@use '../mixins/_all' as *;

.container {
  flex-grow: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  padding-left: var(--bal-container-space-device);
  padding-right: var(--bal-container-space-device);

  @include desktop {
    max-width: var(--bal-container-width-base);
  }

  &.is-fluid {
    max-width: var(--bal-container-width-fluid) !important;
  }

  &.is-compact {
    max-width: var(--bal-container-width-compact) !important;
  }
}
