@use '../mixins/_all' as *;

.table {
  @extend %bottomSpacing;
  background-color: var(--ds-table-background-color);
  color: var(--ds-table-color);
  td,
  th {
    border: var(--ds-table-cell-border);
    border-width: var(--ds-table-cell-border-width);
    padding: var(--ds-table-cell-padding);
    vertical-align: middle;
    // Modifiers
    &.is-narrow {
      white-space: nowrap;
      width: 1%;
    }
    &.is-selected {
      background-color: var(--ds-table-row-background-color-active);
      color: var(--ds-table-row-color-active);
      a,
      strong {
        color: currentColor;
      }
    }
  }
  th {
    color: var(--ds-table-cell-heading-color);
    &:not([align]) {
      text-align: inherit;
    }
  }
  tr {
    &.is-selected {
      background-color: var(--ds-table-row-background-color-active);
      color: var(--ds-table-row-color-active);
      a,
      strong {
        color: currentColor;
      }
      td,
      th {
        border-color: var(--ds-table-row-color-active);
        color: currentColor;
      }
    }
  }
  thead {
    background-color: var(--ds-table-head-background-color);
    td,
    th {
      border-width: var(--ds-table-head-cell-border-width);
      color: var(--ds-table-head-cell-color);
    }
  }
  tfoot {
    background-color: var(--ds-table-foot-background-color);
    td,
    th {
      border-width: var(--ds-table-foot-cell-border-width);
      color: var(--ds-table-foot-cell-color);
    }
  }
  tbody {
    background-color: var(--ds-table-body-background-color);
    tr {
      &:last-child {
        td,
        th {
          border-bottom-width: 0;
        } // Modifiers
      }
    }
  }
  &.is-bordered {
    th {
      border-top-width: 1px;
      border-left-width: 1px;
      border-right-width: 1px;
      border-top-color: var(--ds-table-cell-border-color);
      border-left-color: var(--ds-table-cell-border-color);
      border-right-color: var(--ds-table-cell-border-color);
    }
    td {
      border-width: 1px;
    }
    tr {
      &:last-child {
        td {
          border-bottom-width: 1px;
        }
      }
    }
  }
  &.is-fullwidth {
    width: 100%;
  }
  &.is-hoverable {
    tbody {
      tr:not(.is-selected) {
        &:hover {
          background-color: var(--ds-table-row-background-color-hover);
        }
      }
    }
    &.is-striped {
      tbody {
        tr:not(.is-selected) {
          &:hover {
            background-color: var(--ds-table-row-background-color-hover);
            &:nth-child(even) {
              background-color: var(--ds-table-striped-row-even-background-color-hover);
            }
          }
        }
      }
    }
  }
  &.is-narrow {
    td,
    th {
      padding: 0.25em 0.5em;
    }
  }
  &.is-striped {
    tbody {
      tr:not(.is-selected) {
        &:nth-child(even) {
          background-color: var(--ds-table-striped-row-even-background-color);
        }
      }
    }
  }
}
.table-container {
  @extend %bottomSpacing;
  @include overflow-touch;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}
table.table {
  display: table !important;
  border-spacing: 0;
  margin: 0;
  thead {
    tr {
      border-top: 0;
    }
    th {
      font-family: var(--ds-table-head-font-family);
      border-color: var(--ds-table-head-cell-border-color);
      border-bottom-width: 2px;
    }
  }
  th:not([align]) {
    text-align: left;
  }
  td,
  th {
    font-size: var(--ds-table-head-font-size);
    vertical-align: middle;
    color: var(--ds-table-color);
    text-align: left;
    .ds-checkbox {
      padding: 0;
      margin-top: 1px;
    }
  }
  td {
    color: var(--ds-table-color);
    hyphens: auto;
  }
  td.has-buttons {
    padding: 2px;
    .ds-button {
      margin-right: 0.25rem;
      &:last-child {
        margin-right: 0px;
      }
    }
    .buttons {
      justify-content: flex-end;
      padding: 3px;
    }
  }
}
