@import 'bal-select-option/bal-select-option.scss';

bal-select-option {
  display: none !important;
}

bal-select,
.bal-select {
  display: block;
  position: relative;
  width: 100%;
  flex: 1;
  font-family: $family-primary;

  .bal-select__slot {
    display: flex;
    border-width: 2px;
    border-style: solid;
    border-color: var(--bal-color-border-normal);
    border-radius: $radius;
    background: $white;
    font-size: $size-normal;
    font-family: $family-primary;
    color: $text;
    outline: none;
    box-shadow: none;
    padding-right: calc(0.75em - 1px);
    min-height: 48px;

    & > bal-icon {
      min-height: 100%;
      max-height: 100%;
    }

    input.input {
      border: none;
      box-shadow: none;
      background: transparent;
      outline: none;
      outline-width: 0;
      flex: 1;
      min-height: 44px !important;
      height: 44px;
      padding-bottom: calc(0.5em - 5px);
      padding-left: calc(0.75em - 1px);
      padding-right: calc(0.75em - 1px);
      padding-top: calc(0.5em - 5px);

      &:read-only {
        user-select: none !important;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

        &::selection {
          background: transparent;
        }

        &::-moz-selection {
          background: transparent;
        }
      }
    }

    .bal-select__selections {
      align-items: center;
      display: flex;
      flex: 1 1;
      flex-wrap: wrap;
      line-height: 18px;
      max-width: 100%;
      min-width: 0;
      gap: 0;
    }

    bal-tag {
      margin-left: 4px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    bal-tag + .input {
      padding-left: calc(0.75em - 8px);
    }

    .value {
      margin: 7px 4px 7px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 90%;
    }

    &.is-focused,
    &:focus-within {
      border-color: $blue;
    }

    &.is-danger {
      border-color: $danger;
      background: $danger-light;
    }
  }

  &.is-disabled {
    .bal-select__slot {
      background: $grey-2;
      border-color: $grey-5;

      &,
      & input {
        cursor: default !important;
        user-select: none !important;
        pointer-events: none !important;
      }

      bal-tag {
        background-color: $grey-5 !important;
        span {
          color: $white !important;
        }
      }
    }
  }

  .popover-content {
    border: 2px solid $grey-2;
    border-radius: $radius;
    background: $white;
    margin-top: 4px;
  }
}
