bal-select-option {
  display: none !important;
}

bal-select {
  display: block;
  position: relative;
  width: 100%;

  &.is-disabled {
    background: $blue-1;
  }

  .bal-select__slot {
    position: relative;
    align-items: center;
    display: flex;
    max-width: 100%;
    min-width: 0;
    width: 100%;
    border-bottom: 1px solid $blue-2;
    padding-bottom: 1px;
    margin-top: -1px;

    &.is-danger {
      border-color: $danger;
    }

    &:focus-within,
    &.is-focused {
      border-width: 2px;
      padding-bottom: 0;
      border-color: $blue;
      box-shadow: none;
    }

    .bal-select__selections {
      align-items: center;
      display: flex;
      flex: 1 1;
      flex-wrap: wrap;
      line-height: 18px;
      max-width: 100%;
      min-width: 0;
    }

    bal-tag {
      margin-right: 8px;
    }

    .input {
      border: none;
      box-shadow: none;
      padding: 0;
    }

    .value {
      margin: 7px 4px 7px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 90%;
    }
  }

  &.is-inverted {
    .bal-select__slot {
      border-color: $white;

      &:focus-within,
      &.is-focused {
        border-color: $white;
      }
    }
  }

  .bal-select__empty {
    padding: 10px 20px 13px 20px;
  }

  .bal-select__option {
    visibility: visible;
    font-family: $family-primary !important;
    padding: 10px 20px 13px 20px;
    transition: padding-left 0.3s ease;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;

    &.is-disabled {
      user-select: none;
      opacity: 0.5;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    .select-option__content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &.has-checkbox {
      span.checkbox {
        width: 35px;
      }
    }

    &.is-hidden {
      display: none !important;
    }

    span {
      font-family: $family-primary;
      font-size: $size-small;
    }

    span.label {
      font-weight: $weight-normal;
      font-size: $size-small;
    }

    &.is-selected {
      background: $dropdown-item-active-background-color;
    }

    &.is-selected:not(.has-checkbox) {
      span.label {
        font-weight: $weight-bold;
        color: $dropdown-item-active-color;
      }
    }

    &:hover {
      background: $white;
    }

    &.is-focused {
      background: $dropdown-item-hover-background-color;

      span.label {
        color: $dropdown-item-hover-color;
      }
    }

    &.has-movement.is-focused:not(.is-selected):not(.has-checkbox) {
      padding-left: 30px !important;
    }
  }
}
