+block(nav)
  +desktop
    position: fixed
    top: 0
    left: 0
    width: 100vw
    transition: transform .3s ease-in-out
  +modifier(translated)
    transform: translateY(-48px)

  +element(meta)
    +unselectable
    background: var(--bal-color-primary)
    height: 48px
    max-height: 48px
    display: block

    nav
      display: flex
      height: 100%
      gap: .5rem
      align-items: center
      margin: 0 auto
      width: calc(100vw - (96px - 2rem))
      padding: 0
      +widescreen
        width: calc(100vw - (208px + 2rem))
      +fullhd
        width: calc(100vw - 304px)
        max-width: calc(1824px + 1rem)

    +element(start)
      display: flex
      flex-grow: 1
      align-items: center
      gap: .5rem

    +element(end)
      display: flex
      flex-grow: 1
      justify-content: flex-end
      align-items: center
      gap: .5rem
      padding-right: 1rem

  +element(main)
    +unselectable
    display: block
    height: auto
    z-index: 1000
    transition: top .3s ease-in-out
    +until-widescreen
      width: 100vw
      box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
    .bal-nav__main-head
      display: flex
      justify-content: space-between
      flex-wrap: wrap
      align-items: center
      padding: 0 3rem
      position: relative
      +until-widescreen
        width: 100vw !important
        max-width: none
    +widescreen
      margin: 1rem auto 0
      width: calc(100vw - 160px)
      .bal-nav__main-head
        transition: border-radius .3s ease-in-out
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1)
        &.active-navbar
          border-bottom-left-radius: 0
          border-bottom-right-radius: 0
        .bal-nav__main-head-logo
          padding-left: .5rem
          padding-right: .5rem
    +fullhd
      margin: 1.5rem auto 0
      width: calc(100vw - 240px)
      max-width: 1920px
  +element(panel)
    box-shadow: 0px 5px 15px 0px #0000001A
    padding: 1rem 1rem 4rem
    +tablet
      padding: 2rem 3rem 4rem
    > a
      margin-bottom: 1.5rem
      +tablet
        margin-bottom: 2.5rem
      +desktop
        margin-bottom: 2rem
    > div > div:first-of-type > div
      +widescreen
        display: flex
        flex-wrap: wrap

    +element(list)
      position: relative
      +tablet-only
        padding-top: 2.5rem

        &:after
          content: ''
          background: $grey-2
          height: 2px
          width: 100%
          border-radius: $radius
          position: absolute
          top: 0
          left: 0
          right: 0

      +modifier(context-default)
        +widescreen
          width: calc(50% - 30px)
          &:nth-child(odd)
            margin-right: 60px
