// https://bulma.io/documentation/elements/table/#variables

$table-color: $text !default;
$table-background-color: $scheme-main !default;

$table-cell-border: 2px solid $grey-2 !default;
$table-cell-border-width: 0 0 2px !default;
$table-cell-padding: 0.5em 0.75em !default;
$table-cell-heading-color: $text-strong !default;

$table-head-cell-border-width: 0 0 1px !default;
$table-head-cell-color: $text-strong !default;
$table-foot-cell-border-width: 0 0 0 !default;
$table-foot-cell-color: $text-strong !default;

$table-head-background-color: transparent !default;
$table-body-background-color: transparent !default;
$table-foot-background-color: transparent !default;

$table-row-hover-background-color: $grey-1 !default;

$table-row-active-background-color: $blue-1 !default;
$table-row-active-color: $text !default;

$table-striped-row-even-background-color: $grey-0 !default;
$table-striped-row-even-hover-background-color: $grey-1 !default;
