@import 'bal-table.vars.scss';
@import 'node_modules/bulma/sass/elements/table.sass';

bal-table {
  display: block;
  position: static;
}

bal-table.is-fullwidth {
  display: flex;
  width: 100%;
}

// Table
// ------------------------------------------------
//
// The inevitable HTML table, with special case cells
// https://bulma.io/documentation/elements/table/

table.table {
  display: table !important;
  border-spacing: 0;
  margin: 0;

  thead {
    tr {
      border-top: 0;
    }

    th {
      border-color: $blue;
      border-bottom-width: 1px;
    }
  }

  th:not([align]) {
    text-align: left;
  }

  td,
  th {
    font-size: $size-normal;
    font-family: $family-primary;
    vertical-align: middle;
    text-align: left;

    .bal-checkbox {
      padding: 0;
      margin-top: 1px;
    }
  }

  td {
    color: $black;
  }

  td.has-buttons {
    padding: 2px;

    bal-button {
      margin-right: 4px;

      &:last-child {
        margin-right: 0px;
      }
    }

    .buttons {
      justify-content: flex-end;
      padding: 3px;
    }
  }
}
