@import '@baloise/design-system-css/sass/mixins'

+block(table)
  display: block
  position: static

  +modifier(is-fullwidth)
    display: flex
    width: 100%

bal-checkbox
  .bal-radio-checkbox__label
    &::before
      top: 0
    &::after
      margin-top: 0px
