@import 'bal-dropdown.vars';
@import '../bal-input/bal-input.scss';
@import 'node_modules/bulma/sass/components/dropdown.sass';
@import 'node_modules/bulma/sass/form/all';

:host {
  display: block;

  .dropdown {
    &.is-expanded {
      width: 100%;
      .dropdown-trigger {
        width: 100%;
      }
    }

    &.is-expanded:not(.has-fixed-content-width) {
      .dropdown-menu {
        min-width: 100%;
      }
    }

    .dropdown-content {
      padding: 0;
    }

    .dropdown-menu {
      padding-top: 0;
      z-index: 45;
    }
  }
}
