@import './bal-navbar.vars.scss';
@import 'node_modules/bulma/sass/components/navbar';

bal-navbar {
  display: block;
  position: relative;
}

.navbar {
  &.is-info::after,
  &.is-info::before {
    opacity: 0 !important;
  }

  &.bal-track-line::after,
  &.bal-track-line::before {
    top: 0;
  }

  &.is-info .navbar-brand > a.navbar-item:focus,
  &.is-info .navbar-brand > a.navbar-item:hover {
    background: $blue !important;
  }

  &.is-white .navbar-brand > a.navbar-item:focus,
  &.is-white .navbar-brand > a.navbar-item:hover {
    background: $white !important;
  }

  .app-title {
    font-family: $family-primary;
    font-size: $size-3;
    color: $blue;
    text-decoration: none;
  }

  &.is-info .app-title {
    color: $white !important;
  }

  &.is-white .app-title {
    color: $blue !important;
  }

  .navbar-menu.is-active {
    .navbar-item {
      color: $blue;
    }
  }

  .navbar-burger {
    position: absolute;
    right: 0;
    top: 0;
  }

  .navbar-link:not(.is-arrowless)::after {
    width: 0.5em;
    height: 0.5em;
    border-width: 2px;
    border-radius: 1px;
    margin-top: -0.4em;
  }

  .navbar-dropdown {
    border-radius: 4px !important;
    z-index: 32 !important;
  }
}
