# Default to the system team
* @baopso

# Laurent Tauber is code owner for the Design parts
docs/* @Gagne87

# Gery Hirschfeld is code owner for the Technical parts
examples/* @hirsch88
packages/* @hirsch88

