@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;
@use '../../typography' as typography;
@use '../bal-button/bal-button-group/bal-button-group.mixin.scss' as button-group;

$card-use-host: false !default;
$card-name: card;
$card-css-selector: ('.card');
$card-host-selector: ('#card');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include hybrid.vars($card-css-selector, $card-use-host) {
  --card-color-background: var(--bal-card-color-base-background);
  --card-color-text: var(--bal-card-color-base-text);
  --card-color-border: var(--bal-card-color-base-border, transparent);
  --card-radius: var(--bal-card-radius-base);
  --card-border-width: var(--bal-border-width-base, 0);
  --card-border-style: var(--bal-border-style-base, dashed);
  --card-shadow: var(--bal-card-shadow-base);
  --card-gap: var(--bal-card-space-base-device);
  --card-padding: calc(var(--bal-card-space-base-device) - var(--card-border-width));
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@include hybrid.component($card-host-selector, $card-css-selector, $card-use-host) {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--card-color-text);
  background-color: var(--card-color-background);
  border-radius: var(--card-radius);
  border-color: var(--card-color-border);
  border-width: var(--card-border-width);
  border-style: var(--card-border-style);
  box-shadow: var(--card-shadow);
  gap: var(--card-gap);
  padding: var(--card-padding);
  text-decoration: none;

  // Picutre
  picture {
    &,
    > img {
      display: block;

      width: 100%;
      max-width: 100%;
      max-inline-size: 100%;

      height: auto;
      object-fit: cover;
      block-size: auto;

      border-radius: var(--card-radius);
    }
  }

  &:not(.is-dense):has(picture) {
    padding-top: 0;
  }

  &:not(.is-dense) picture {
    margin-top: calc(var(--card-border-width) * -1);
    margin-left: calc(var(--card-gap) * -1);
    width: calc(100% + var(--card-gap) * 2);
    max-width: calc(100% + var(--card-gap) * 2);
    max-inline-size: calc(100% + var(--card-gap) * 2);

    &,
    > img {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  // Tag Posioning
  > .tag:first-child,
  > bal-tag:first-child {
    --bal-tag-position: absolute;
    --bal-tag-top: 0;

    align-self: center;
    transform: translateY(-50%);
  }

  > .tag.is-left:first-child,
  > bal-tag[position='left']:first-child {
    align-self: flex-start;
  }

  > .tag.is-right:first-child,
  > bal-tag[position='right']:first-child {
    align-self: flex-end;
  }

  // Badge Positioning
  > .badge:first-child,
  > bal-badge:first-child {
    --bal-badge-position: absolute;
    --bal-badge-top: 0;
    transform: translate(calc(50% + var(--card-gap)), -50%);
    align-self: flex-end;
  }

  // Header
  .card-header {
    --bal-heading-line-height: 32px;

    gap: var(--card-gap);
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .title,
    .subtitle,
    .heading {
      margin: 0;
    }
  }

  // Content
  .card-content {
    @include typography.content();
  }

  // Actions as button group
  .card-actions {
    @include button-group.style();
  }

  // Allignment
  &.align-center {
    align-items: center;
    --bal-buttons-align-items: center;
    --bal-buttons-justify-content: center;
  }

  &.align-right {
    --bal-buttons-align-items: flex-end;
    --bal-buttons-justify-content: flex-end;
  }

  &.is-square {
    --card-radius: var(--bal-card-radius-square);
  }

  &.is-flat {
    --card-radius: var(--bal-card-radius-flat);
    --card-shadow: var(--bal-card-shadow-flat);
  }

  &.is-dense {
    --card-shadow: var(--bal-card-shadow-flat);
    --card-padding: 0;
  }

  &.is-outlined {
    --card-shadow: var(--bal-card-shadow-flat);
    --card-border-width: var(--bal-card-outline-width);
    --card-color-border: var(--bal-card-color-base-outline, transparent);
  }

  &.is-fullheight {
    height: 100%;

    .card-content,
    .card-content > .stack,
    .card-content > .flex,
    .card-content > .is-flex {
      height: 100%;
    }
  }
}

// Clickable Cards
a.card,
button.card {
  --bal-heading-color: var(--bal-text-color-primary);
  --bal-text-color: var(--bal-text-color-primary);
  color: var(--bal-text-color-primary);
  text-decoration: none;
  translate: 0 0;
  cursor: pointer;

  @include hover {
    &:hover,
    &.is-hovered {
      --bal-heading-color: var(--bal-text-color-primary-hover);
      --bal-text-color: var(--bal-text-color-primary-hover);
      --card-shadow: var(--bal-card-shadow-hover);
      color: var(--bal-text-color-primary-hover);
      background: color-mix(in srgb, var(--card-color-background), var(--bal-color-primary-6) 4%);
    }
  }

  &:active,
  &.is-pressed {
    --bal-heading-color: var(--bal-text-color-primary-active);
    --bal-text-color: var(--bal-text-color-primary-active);
    --card-shadow: var(--bal-card-shadow-hover);
    color: var(--bal-text-color-primary-active);
    background: color-mix(in srgb, var(--card-color-background), var(--bal-color-primary-6) 6%);
    translate: 0 0.5px;
  }

  &:focus-visible,
  &.is-focused {
    &:not(:active) {
      @include focus-shadow();
    }
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

// TODO: Create own component for image teaser to be able to use it outside of the card as well
.image-teaser {
  picture {
    &,
    > img {
      display: block;

      width: 100%;
      max-width: 100%;
      max-inline-size: 100%;

      height: auto;
      object-fit: cover;
      block-size: auto;

      border-radius: var(--bal-card-radius-base);
    }
  }

  .card {
    margin-top: calc(var(--card-gap) * -1 * 2);
    margin-left: calc(var(--card-gap));
    margin-right: calc(var(--card-gap));
    max-width: fit-content;
  }

  &.is-wide {
    @include tablet() {
      .card {
        width: 75%;
        margin-left: calc(var(--card-gap) * 2);
        margin-right: calc(var(--card-gap));
      }

      &.is-center {
        .card {
          margin-left: auto;
          margin-right: auto;
        }
      }

      &.is-right {
        .card {
          margin-left: auto;
          margin-right: calc(var(--card-gap) * 2);
        }
      }
    }

    @include desktop() {
      .card {
        width: 50%;
      }
    }
  }
}

a.image-link,
button.image-link {
  cursor: pointer;

  picture {
    overflow: hidden;
  }
  img {
    transition: all 0.4s ease-out;

    @include hover {
      &:hover,
      &.is-hovered {
        transform: scale(1.1);
      }
    }

    &:active,
    &.is-pressed {
      transform: scale(1.1);
    }
  }
}

a.image-teaser,
button.image-teaser {
  cursor: pointer;

  --bal-heading-color: var(--bal-text-color-primary);
  --bal-text-color: var(--bal-text-color-primary);
  color: var(--bal-text-color-primary);
  text-decoration: none;

  @include hover {
    &:hover,
    &.is-hovered {
      --bal-heading-color: var(--bal-text-color-primary-hover);
      --bal-text-color: var(--bal-text-color-primary-hover);
      --card-shadow: var(--bal-card-shadow-hover);
      color: var(--bal-text-color-primary-hover);
      background: color-mix(in srgb, var(--card-color-background), var(--bal-color-primary-6) 4%);
    }
  }
}

//
// Spacing Modifiers

@include hybrid.component($card-host-selector, $card-css-selector, $card-use-host) {
  &.has-space-sm {
    --card-padding: calc(var(--bal-card-space-sm-device) - var(--card-border-width));
    --card-gap: var(--bal-card-space-sm-device);
  }

  &.has-space-md {
    --card-padding: calc(var(--bal-card-space-md-device) - var(--card-border-width));
    --card-gap: var(--bal-card-space-md-device);
  }

  &.has-space-lg {
    --card-padding: calc(var(--bal-card-space-lg-device) - var(--card-border-width));
    --card-gap: var(--bal-card-space-lg-device);
  }
}

// Colors

$card-colors: (
  'white',
  'primary',
  'primary-light',
  'info',
  'success',
  'warning',
  'danger',
  'grey',
  'grey-light',
  'red',
  'red-light',
  'red-lighter',
  'green',
  'green-light',
  'green-lighter',
  'purple',
  'purple-light',
  'purple-lighter',
  'yellow',
  'yellow-light',
  'yellow-lighter'
);

@include hybrid.component($card-host-selector, $card-css-selector, $card-use-host) {
  @each $color in $card-colors {
    &.is-#{$color} {
      --card-color-background: var(--bal-card-color-#{$color}-background);
      --card-color-text: var(--bal-card-color-#{$color}-text);
      --card-color-border: var(--bal-card-color-#{$color}-border, transparent);

      &.is-outlined {
        --card-color-border: var(--bal-card-color-#{$color}-outline, transparent);
      }
    }
  }
}
