@use '@baloise/ds-styles/sass/mixins' as *;
@use './bal-card.vars' as *;

@mixin card-spacing($spacing: 1rem) {
  & > :not(bal-badge):not(bal-tag):first-child {
    padding-top: $spacing;
  }
  & > :not(bal-badge):not(bal-tag):last-child {
    padding-bottom: $spacing;
  }
  & > bal-badge + bal-card-title,
  & > bal-badge + bal-card-content,
  & > bal-tag + bal-card-title,
  & > bal-tag + bal-card-content,
  & > bal-card-title + bal-card-content,
  & > bal-card-subtitle + bal-card-content,
  & > bal-card-actions,
  & > bal-card-button {
    padding-top: $spacing;
  }
  & > .bal-accordion--card-v1 {
    padding-bottom: 0 !important;
  }
  & bal-card-title,
  & bal-card-subtitle,
  & bal-card-content,
  & bal-card-actions,
  & bal-card-button {
    padding-left: $spacing;
    padding-right: $spacing;
  }
}
@include block(card) {
  position: relative;
  display: block;
  background: var(--bal-card-background);
  box-shadow: var(--bal-shadow-normal);
  border-radius: var(--bal-card-radius);
  //
  // Colors
  @include modifier(is-white) {
    background: var(--bal-card-background-white);
  }
  @include modifier(is-blue) {
    background: var(--bal-card-background-blue);
  }
  @include modifier(is-primary) {
    background: var(--bal-card-background-primary);
  }
  @include modifier(is-info) {
    background: var(--bal-card-background-info);
  }
  @include modifier(is-success) {
    background: var(--bal-card-background-success);
  }
  @include modifier(is-warning) {
    background: var(--bal-card-background-warning);
  }
  @include modifier(is-danger) {
    background: var(--bal-card-background-danger);
  }
  @include modifier(is-grey) {
    background: var(--bal-card-background-grey);
  }
  @include modifier(is-red) {
    background: var(--bal-card-background-red);
  }
  @include modifier(is-yellow) {
    background: var(--bal-card-background-yellow);
  }
  @include modifier(is-purple) {
    background: var(--bal-card-background-purple);
  }
  @include modifier(is-green) {
    background: var(--bal-card-background-green);
  }
  @include modifier(is-red-light) {
    background: var(--bal-card-background-red-light);
  }
  @include modifier(is-yellow-light) {
    background: var(--bal-card-background-yellow-light);
  }
  @include modifier(is-purple-light) {
    background: var(--bal-card-background-purple-light);
  }
  @include modifier(is-green-light) {
    background: var(--bal-card-background-green-light);
  }
  @include modifier(is-grey-light) {
    background: var(--bal-card-background-grey-light);
  }
  @include modifier(is-purple-1) {
    background: var(--bal-card-background-purple-1);
  }
  @include modifier(is-purple-2) {
    background: var(--bal-card-background-purple-2);
  }
  @include modifier(is-purple-3) {
    background: var(--bal-card-background-purple-3);
  }
  @include modifier(is-green-1) {
    background: var(--bal-card-background-green-1);
  }
  @include modifier(is-green-2) {
    background: var(--bal-card-background-green-2);
  }
  @include modifier(is-green-3) {
    background: var(--bal-card-background-green-3);
  }
  @include modifier(is-red-1) {
    background: var(--bal-card-background-red-1);
  }
  @include modifier(is-red-2) {
    background: var(--bal-card-background-red-2);
  }
  @include modifier(is-red-3) {
    background: var(--bal-card-background-red-3);
  }
  @include modifier(is-yellow-1) {
    background: var(--bal-card-background-yellow-1);
  }
  @include modifier(is-yellow-2) {
    background: var(--bal-card-background-yellow-2);
  }
  @include modifier(is-yellow-3) {
    background: var(--bal-card-background-yellow-3);
  }  //
  // Modifier
  @include modifier(has-fullheight) {
    &,
    .bal-card-content,
    .bal-card-content > .is-flex {
      height: 100%;
    }
  }
  @include modifier(has-border) {
    border: var(--bal-card-border);
  }
  @include modifier(is-flat) {
    box-shadow: none;
  }
  @include modifier(is-square) {
    border-radius: var(--bal-card-square-radius);
  }
  @include modifier(is-selected) {
    background: var(--bal-card-selected-background);
  }
  @include modifier(is-clickable) {
    cursor: pointer;
    transition: transform 0.15s ease-in-out;
    &:active,
    &:hover {
      box-shadow: var(--bal-shadow-large);
      transform: translate3d(0, -2px, 0);
    }  //
  // Spacing
  }
  @include card-spacing;
  @include tablet {
    @include card-spacing(1.5rem);
  }
  @include modifier(is-small) {
    @include tablet {
      @include card-spacing;
    }
  }
  @include modifier(is-medium) {
    @include tablet {
      @include card-spacing(1.5rem);
    }
    @include desktop {
      @include card-spacing(2rem);
    }
  }
  @include modifier(is-large) {
    @include tablet {
      @include card-spacing(2rem);
    }
    @include desktop {
      @include card-spacing(4rem);
    }  //
  // tag placment
  }
  & > .bal-tag {
    position: absolute;
    left: 1rem;
    top: -1rem;

    @include desktop {
      left: 1.5rem;
    }
    @include modifier(is-left) {
      left: 1rem;
      @include desktop {
        left: 1.5rem;
      }
    }
    @include modifier(is-center) {
      left: 50%;
      transform: translateX(-50%);
      @include desktop {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}
@include block(card-title) {
  display: block;
  position: static;
  .title,
  .bal-heading__text {
    .bal-tag-group,
    .bal-button-group {
      margin-top: .5rem;
    }
  }
  @include tablet {
    .bal-heading h3 {
      display: flex;
      align-items: center;
    }
    .title,
    .bal-heading__text {
      display: flex;
      .bal-tag-group,
      .bal-button-group {
        margin-top: 0;
        margin-left: .5rem;
        display: inline-flex;
      }
      .bal-tag-group {
        .bal-tag {
          margin-top: .125rem;
        }
      }
      .bal-button-group {
        flex: 1;
      }
    }
  }
}
@include block(card-subtitle) {
  display: block;
  position: static;
  @include modifier(bold) {
    font-weight: var(--bal-font-weight-bold);
  }
  @include modifier(inverted) {
    color: var(--bal-color-white);
  }
  @include modifier(color-primary) {
    color: var(--bal-color-text-primary);
  }
  @include modifier(color-info) {
    color: var(--bal-color-text-info);
  }
  @include modifier(color-success) {
    color: var(--bal-color-text-success);
  }
  @include modifier(color-warning) {
    color: var(--bal-color-text-warning);
  }
  @include modifier(color-danger) {
    color: var(--bal-color-text-danger);
  }
  @include modifier(color-default) {
    color: var(--bal-color-text-default);
  }
  @include modifier(color-blue) {
    color: var(--bal-color-text-blue);
  }
  @include modifier(color-white) {
    color: var(--bal-color-text-white);
  }
}
@include block(card-content) {
  display: block;
  position: static;
  word-break: break-word;
  text-align: left;
  font-family: var(--bal-font-family-text);
  font-size: var(--bal-text-size-normal);
  line-height: var(--bal-line-height-normal);
  hyphens: auto;
}
@include block(card-actions) {
  display: block;
  position: static;
}
@include block(card-button) {
  display: block;
  position: static;
}
// @deprecated
// use the prop fullheight instead
.column bal-card.has-height-auto,
.column bal-card.has-height-auto bal-card-content,
.column bal-card.has-height-auto bal-card-content > .is-flex {
  height: 100%;
}