@import '~@baloise/design-system-next-css/scss/baloise-design-system.layout.sass'
@import 'global/all'

bal-app,
.bal-app
  position: relative
  display: block

  &.has-background
    background: $grey-1

@import 'components/_all'

.bal-modal-active
  overflow: hidden
