@import 'node_modules/@baloise/design-system-next-css/scss/baloise-design-system.utilities.sass'

.bal-doc-banner__inner
  background: $blue
  @media screen and (min-width: 1064px)
    border-bottom-left-radius: $radius-large
    border-bottom-right-radius: $radius-large
