@import '@baloise/design-system-css/sass/mixins'

.bal-doc-banner__inner
  border-bottom-left-radius: var(--bal-radius-large)
  border-bottom-right-radius: var(--bal-radius-large)

.bal-doc-banner__inner--primary
  background: var(--bal-color-primary)

.bal-doc-banner__inner--purple
  background: var(--bal-color-purple-2)

.bal-doc-banner__inner--green
  background: var(--bal-color-green-2)

.bal-doc-banner__inner--red
  background: var(--bal-color-red-2)

.bal-doc-banner__inner--yellow
  background: var(--bal-color-yellow-2)

.bal-doc-banner__inner--grey
  background: var(--bal-color-grey-2)
