.build/
.storybook/
dist/
dist-transpiled/
temp/
generated/
public/
storybook/
storybook-static/
rollup.config.js
ngcc.config.js
web-server.js
*.md
*.scss

packages/components/src/stories/contributors.md
packages/components/src/components.d.ts
packages/icons/src/icons.ts

packages/components/loader/
packages/components/www/
packages/components/components/
packages/components/.storybook/vue/generated/
packages/components/src/assets/fonts
packages/components/src/components/**/readme.md
packages/components/src/components/**/testing.md
packages/components/src/components/**/theming.md
packages/components/src/stories/utils
packages/components/components/
packages/components-angular/**/*d.ts

packages/components/public/assets/fonts/
packages/components/public/assets/data/
packages/components/public/assets/download/
packages/components/public/assets/css/design-system-table.css
packages/components/vscode-data.json
packages/components/components

packages/components-angular/common/**/*.d.ts
packages/components-angular/directives/**/*.d.ts
packages/components-angular/standalone/**/*.d.ts
packages/components-angular/legacy/**/*.d.ts
packages/components-angular/src/**/*.d.ts

packages/components-table/css
packages/components-vue/src/proxies
packages/components-vue/src/components.ts
packages/components-vue/src/vue-component-lib
packages/components-react/src/components.ts
packages/components-react/src/react-component-lib
packages/components-angular/src/directives/
packages/components-angular/src/overlays
packages/components-vue/src/proxies.ts
packages/components-vue/.build/template/utils.ts

packages/components-angular/**/*.d.ts
packages/components-angular/esm2020
packages/components-angular/fesm2015
packages/components-angular/fesm2020
