# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
.tmp
/out-tsc
www
generated
vite.config.ts.**.mjs
.env
.secrets

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
.npmrc

# System Files
.DS_Store
Thumbs.db

.turbo
.stencil

# Generated in packages and libs by pre-publish script
packages/*/README.md
packages/*/LICENSE
libs/*/README.md
libs/*/LICENSE

packages/core/docs
packages/core/icons
packages/core/playwright
packages/core/components
packages/core/loader
packages/core/wwww
packages/core/config/custom-elements/all.js
packages/core/config/custom-elements/all.d.ts

libs/output-targets-angular/CHANGELOG.md
libs/output-targets-react/CHANGELOG.md

docs/src/contributing/contributors.md
docs/src/development/00-guides/theming/theming.md
docs/public/assets/css/design-system.css
docs/public/assets/fonts/
docs/public/assets/data/
docs/public/assets/download/
docs/public/assets/css/design-system.min.css
docs/public/assets/css/design-system-table.css
docs/public/assets/css/design-system.min.css
docs/public/build/
docs/public/assets/images/map-markers
docs/public/assets/images/brand-icons
docs/public/assets/images/icons
docs/src/assets/data
docs/src/components/**/api.md
docs/src/components/**/theming.md
docs/src/components/**/testing.md
docs/dist
docs.old/

test/angular/*
!test/angular/base
!test/angular/build.sh
!test/angular/start.sh
playwright-report
playwright.visual.config.ts

test/react/*
!test/react/base
!test/react/build.sh
!test/react/start.sh

.angular

packages/**/CHANGELOG.md
libs/**/CHANGELOG.md
docs/CHANGELOG.md

vite.config.*.timestamp*
vitest.config.*.timestamp*

# Local generated screenshots on a MAC
*-darwin.png
test-results
playwright.visual.config.ts

.env
.worktrees
.superpowers
.claude/settings.local.json

docs/superpowers
