# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
.tmp
/out-tsc
www
generated
vite.config.ts.**.mjs
.env
.secrets
.playwright-mcp
Base.tokens.json.backup
debug.js
tsconfig.tsbuildinfo
*.tsbuildinfo

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings
debug-storybook.log

# System Files
.DS_Store
Thumbs.db

.turbo
.stencil

# Generated in packages and libs by pre-publish script
packages/*/README.md
packages/*/LICENSE
libs/*/README.md
libs/*/LICENSE

packages/core/docs
packages/core/icons
packages/core/playwright
packages/core/components
packages/core/components/**/readme.md
packages/core/loader
packages/core/wwww
packages/core/config/custom-elements/all.js
packages/core/config/custom-elements/all.d.ts

libs/output-targets-angular/CHANGELOG.md
libs/output-targets-react/CHANGELOG.md

apps/storybook/src/contributing/contributors.md
apps/storybook/src/development/00-guides/theming/theming.md
apps/storybook/public/assets/css/design-system.css
apps/storybook/public/assets/fonts/
apps/storybook/public/assets/data/
apps/storybook/public/assets/download/
apps/storybook/public/assets/css/design-system.min.css
apps/storybook/public/assets/css/design-system-table.css
apps/storybook/public/assets/css/design-system.min.css
apps/storybook/public/build/
apps/storybook/public/assets/images/map-markers
apps/storybook/public/assets/images/brand-icons
apps/storybook/public/assets/images/icons
apps/storybook/src/assets/data
apps/storybook/src/components/**/api.md
apps/storybook/src/components/**/theming.md
apps/storybook/src/components/**/testing.md
apps/storybook/dist
docs.old/

playwright-report
playwright.visual.config.mts

.angular

packages/**/CHANGELOG.md
libs/**/CHANGELOG.md
apps/storybook/CHANGELOG.md

vite.config.*.timestamp*
vitest.config.*.timestamp*

# Local generated screenshots on a MAC
*-darwin.png
*-win32.png
test-results
playwright.visual.config.ts

.env
.worktrees
.superpowers
.claude/settings.local.json

docs/superpowers
