{
  "singleQuote": true,
  "semi": false,
  "jsxBracketSameLine": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "quoteProps": "consistent",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false
}
