tsconfig.base.json

packages/brand-icons/src/icons.json
packages/brand-icons/src/index.ts
packages/icons/src/index.ts
packages/icons/src/assets/icons.json
packages/maps/src/lib/markers.ts
packages/maps/src/markers.json
packages/core/icons
packages/core/src/utils/constants/icons.constant.ts
packages/core/src/components.d.ts
packages/devkit/src/**/*.js
packages/devkit/src/**/*.d.ts

resources/data/tags.json

.changeset/
CHANGELOG.md
CHANGELOG_OLD.md
CHANGELOG_v12.md

/.nx/cache
.angular
generated

docs/public
docs/stories/assets
docs/stories/components/**/api.md
docs/stories/components/**/testing.md
docs/stories/components/**/theming.md

e2e/cypress/snapshots
e2e/cypress/videos
e2e/cypress/downloads

package-lock.json
*.svg
