*.png
*.svg
*.mdx

tsconfig.base.json
pnpm-lock.yaml

packages/tokens/tokens/Base.tokens.json
packages/core/src/global/constants/icons.constant.ts
packages/core/src/global/constants/tags.constant.ts
packages/core/src/components.d.ts

packages/assets/**/svg.json
packages/assets/**/svg.ts

.changeset
CHANGELOG.md

.angular
generated

docs/public
docs/src/assets
docs/plans
docs/specs
docs/.storybook/story-paths.json

CLAUDE.md
CODEOWNERS
