tsconfig.base.json

packages/assets/icons/svg
packages/assets/icons/svg.json
packages/assets/icons/svg.ts
packages/assets/brand-icons/svg
packages/assets/brand-icons/svg.json
packages/assets/brand-icons/svg.ts
packages/assets/maps/svg
packages/assets/maps/svg.json
packages/assets/maps/svg.ts

packages/tokens/tokens/Base.tokens.json
packages/core/src/utils/constants/icons.constant.ts
packages/core/src/components.d.ts
packages/core/src/tags-all.ts
packages/devkit/src/**/*.js
packages/devkit/src/**/*.d.ts

resources/data/tags.json

.changeset/
CHANGELOG.md
CHANGELOG_OLD.md
CHANGELOG_v12.md

/.nx/cache
.angular
generated

docs/public
docs/src/assets
docs/src/components/**/api.md
docs/src/components/**/testing.md
docs/src/components/**/theming.md

package-lock.json
*.svg
*.mdx
resources/data/components.json

/.nx/workspace-data
