:root {  // Default State
  --bal-checkbox-switch-label-background-before: var(--bal-color-primary-1);
  --bal-checkbox-switch-label-background-after: var(--bal-color-primary);
  --bal-checkbox-switch-label-background-hover-after: var(--bal-color-light-blue-5);
  --bal-checkbox-switch-label-background-active-after: var(--bal-color-primary-6);
  --bal-checkbox-switch-label-background-pressed-after: var(--bal-color-border-primary-pressed);

  // Checked State
  --bal-checkbox-switch-label-background-checked-before: var(--bal-color-success-4);
  --bal-checkbox-switch-label-background-checked-after: var(--bal-color-white);
  --bal-checkbox-switch-label-background-checked-hover-before: var(--bal-color-success-5);
  --bal-checkbox-switch-label-background-checked-active-before: var(--bal-color-success-6);

  // Invalid State
  --bal-checkbox-switch-label-background-invalid-before: var(--bal-color-danger-1);
  --bal-checkbox-switch-label-background-invalid-after: var(--bal-color-border-danger);
  --bal-checkbox-switch-label-background-invalid-hover-after: var(--bal-color-border-danger-hovered);
  --bal-checkbox-switch-label-background-invalid-active-after: var(--bal-color-border-danger);
  --bal-checkbox-switch-label-background-invalid-pressed-after: var(--bal-color-border-danger-pressed);

  // Invalid Checked State
  --bal-checkbox-switch-label-background-invalid-checked-before: var(--bal-color-danger-4);
  --bal-checkbox-switch-label-background-invalid-checked-after: var(--bal-color-white);
  --bal-checkbox-switch-label-background-invalid-checked-hover-before: var(--bal-color-danger-5);
  --bal-checkbox-switch-label-background-invalid-checked-active-before: var(--bal-color-danger-6);
  --bal-checkbox-switch-label-background-invalid-checked-hovered-before: var(--bal-color-border-danger-hovered);
  --bal-checkbox-switch-label-background-invalid-checked-pressed-before: var(--bal-color-border-danger-pressed);

  // Disabled State
  --bal-checkbox-switch-label-background-disabled-hover-active-before: var(--bal-color-grey-3);
  --bal-checkbox-switch-label-background-disabled-hover-active-after: var(--bal-color-border-grey-dark);
  --bal-checkbox-switch-label-background-disabled-checked-hover-active-before: var(--bal-color-border-grey-dark);
  --bal-checkbox-switch-label-background-disabled-checked-hover-active-after: var(--bal-color-white);
}