@use '@baloise/ds-styles/sass/mixins' as *;
@use './bal-switch.vars' as *;

.bal-switch {
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: 2.5rem;
  height: 1.5rem;
  padding: 0.25rem;
  border-radius: var(--bal-radius-rounded);
  overflow: hidden;
  // default color
  background: var(--bal-checkbox-switch-label-background-before);

  &--hovered,
  &:hover {
    @include hover {
      background: var(--bal-checkbox-switch-label-background-before);
      .bal-switch__toggle {
        background: var(--bal-checkbox-switch-label-background-hover-after);
      }
    }
  }
  &--pressed,
  &:active {
    background: var(--bal-checkbox-switch-label-background-before);

    .bal-switch__toggle {
      background: var(--bal-checkbox-switch-label-background-pressed-after);
    }  //
  // checked
  }
  &--checked {
    background: var(--bal-checkbox-switch-label-background-checked-before);

    .bal-switch__toggle {
      background: var(--bal-checkbox-switch-label-background-checked-after),;
    }
  }
  &--checked#{&}--hovered,
  &--checked:hover {
    @include hover {
      background: var(--bal-checkbox-switch-label-background-checked-hover-before);
      .bal-switch__toggle {
        background: var(--bal-checkbox-switch-label-background-checked-after);
      }
    }
  }
  &--checked#{&}--pressed,
  &--checked:active {
    background: var(--bal-checkbox-switch-label-background-checked-active-before);

    .bal-switch__toggle {
      background: var(--bal-checkbox-switch-label-background-checked-after);
    }  //
  // invalid
  }
  &--invalid {
    background: var(--bal-checkbox-switch-label-background-invalid-before);

    .bal-switch__toggle {
      background: var(--bal-checkbox-switch-label-background-invalid-after);
    }
  }
  &--invalid#{&}--hovered,
  &--invalid:hover {
    @include hover {
      background: var(--bal-checkbox-switch-label-background-invalid-before);
      .bal-switch__toggle {
        background: var(--bal-checkbox-switch-label-background-invalid-hover-after);
      }
    }
  }
  &--invalid#{&}--pressed,
  &--invalid:active {
    background: var(--bal-checkbox-switch-label-background-invalid-before);

    .bal-switch__toggle {
      background: var(--bal-checkbox-switch-label-background-invalid-pressed-after);
    }
  }
  &--invalid#{&}--checked#{&},
  &--invalid#{&}--checked {
    background: var(--bal-checkbox-switch-label-background-invalid-checked-before);

    .bal-switch__toggle {
      background: var(--bal-checkbox-switch-label-background-invalid-checked-after);
    }
  }
  &--invalid#{&}--checked#{&}--hovered,
  &--invalid#{&}--checked:hover {
    background: var(--bal-checkbox-switch-label-background-invalid-checked-hovered-before);

    .bal-switch__toggle {
      background: var(--bal-checkbox-switch-label-background-invalid-checked-after);
    }
  }
  &--invalid#{&}--checked#{&}--pressed,
  &--invalid#{&}--checked:active {
    background: var(--bal-checkbox-switch-label-background-invalid-checked-pressed-before);

    .bal-switch__toggle {
      background: var(--bal-checkbox-switch-label-background-invalid-checked-after);
    }
  //
  // disabled
  }
  &--disabled,
  &--disabled:hover,
  &--disabled:active {
    background: var(--bal-checkbox-switch-label-background-disabled-hover-active-before);

    .bal-switch__toggle {
      background: var(--bal-checkbox-switch-label-background-disabled-hover-active-after);
    }
  }
  &--disabled#{&}--checked,
  &--disabled#{&}--checked:hover,
  &--disabled#{&}--checked:active {
    background: var(--bal-checkbox-switch-label-background-disabled-checked-hover-active-before);

    .bal-switch__toggle {
      background: var(--bal-checkbox-switch-label-background-disabled-checked-hover-active-after);
    }
  }
}
.bal-switch__toggle {
  background: var(--bal-checkbox-switch-label-background-after);
  border-radius: 50%;
  position: absolute;
  top: 0.25rem;
  width: 1rem;
  height: 1rem;
  transition: transform 0.3s ease-in-out;
}
.bal-switch__toggle--checked {
  transform: translateX(100%);
  background: var(--bal-checkbox-switch-label-background-checked-after);
}
.bal-switch .bal-icon {
  position: absolute;

  .bal-switch__icon--checked {
    opacity: 1;
  }
  .bal-switch__icon {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
}