@import "../../scss/ui-library.globals";

$navbar-background-color: $white;
$navbar-box-shadow-size: 0 2px 0 0;
$navbar-box-shadow-color: $background;
$navbar-height: 5rem;
$navbar-padding-vertical: 0;
$navbar-padding-horizontal: 3.75rem;
$navbar-z: 30;
$navbar-fixed-z: 30;

$navbar-item-color: $white;
$navbar-item-hover-color: $link;
$navbar-item-hover-background-color: $scheme-main-bis;
$navbar-item-active-color: $scheme-invert;
$navbar-item-active-background-color: transparent;
$navbar-item-img-max-height: 3rem;

$navbar-burger-color: $navbar-item-color;

$navbar-tab-hover-background-color: transparent;
$navbar-tab-hover-border-bottom-color: $link;
$navbar-tab-active-color: $link;
$navbar-tab-active-background-color: transparent;
$navbar-tab-active-border-bottom-color: $link;
$navbar-tab-active-border-bottom-style: solid;
$navbar-tab-active-border-bottom-width: 3px;

$navbar-dropdown-background-color: $scheme-main;
$navbar-dropdown-border-top: 2px solid $border;
$navbar-dropdown-offset: -4px;
$navbar-dropdown-arrow: $link;
$navbar-dropdown-radius: $radius-large;
$navbar-dropdown-z: 20;

$navbar-dropdown-boxed-radius: $radius-large;
$navbar-dropdown-boxed-shadow: 0 8px 8px rgba($scheme-invert, 0.1), 0 0 0 1px rgba($scheme-invert, 0.1);

$navbar-dropdown-item-hover-color: $scheme-invert;
$navbar-dropdown-item-hover-background-color: $background;
$navbar-dropdown-item-active-color: $link;
$navbar-dropdown-item-active-background-color: $background;

$navbar-divider-background-color: $background;
$navbar-divider-height: 2px;

$navbar-bottom-box-shadow-size: 0 -2px 0 0;

$navbar-breakpoint: $desktop;

.navbar {

  &.is-info::after,
  &.is-info::before {
    opacity: 0 !important;
  }

  &.bal-track-line::after,
  &.bal-track-line::before {
    top: 0;
  }

  &.is-info .navbar-brand > a.navbar-item:focus,
  &.is-info .navbar-brand > a.navbar-item:hover {
    background: $blue !important;
  }

  .navbar-start {
    margin-left: 15px;
  }

  .app-title span {
    font-size: $size-3;
    color: $blue;
  }

  &.is-info .app-title span {
    color: $white;
  }

}


