@import '~@baloise/design-system-css/scss/baloise-design-system.utilities'

+block(file-upload)
  display: block
  position: static
  width: 100%
  .file-label
    word-break: break-word
    white-space: normal
