@import './bal-file-upload.vars.scss';

bal-file-upload {
  position: relative;
  display: inline-block;
  width: 100%;

  .file {
    label.file-label {
      flex: 1;
    }

    .file-cta {
      background: $white;
      border: 2px dashed $grey-2;
      border-radius: $radius;
      gap: 8px;
      padding: 24px !important;

      span.file-label {
        font-size: 16px;
        font-weight: $weight-bold;
      }
    }

    label.file-label:focus-within .file-cta,
    label.file-label:active .file-cta {
      border-color: $blue;
      background: $grey-1;
    }

    label.file-label:hover .file-cta {
      background: $grey-1;
    }
  }

  &:not(.is-disabled).is-invalid {
    .file-cta {
      background: $danger-1;
      border-color: $danger;
    }

    label.file-label:focus-within .file-cta,
    label.file-label:active .file-cta {
      border-color: $danger;
      background: $danger-1;
    }

    span.file-cta {
      height: 90px;
      justify-content: center;
      align-items: center;
      border-style: dashed;
      white-space: normal !important;
    }

    label.file-label:hover .file-cta {
      background: $danger-1;
    }
  }

  &.is-disabled {
    label.file-label,
    input {
      cursor: default !important;
      pointer-events: none !important;
      user-select: none !important;
    }

    .file-cta {
      background: $grey-2 !important;
      border-color: $grey-5 !important;

      span.file-label {
        color: $grey-5 !important;
      }

      svg {
        g,
        path,
        circle {
          fill: $grey-5 !important;
        }
      }
    }
  }
}
