@import '@baloise/design-system-css/scss/baloise-design-system.utilities'

+block(file-upload)
  position: static
  display: block
  width: 100%
  +element(input)
    @extend %hidden-input
  +element(label)
    display: block
    background: lime
    padding: 48px
    width: 100%



// .bal-file-upload
//   display: block
//   position: static
//   width: 100%
//   .file-label
//     word-break: break-word
//     white-space: normal

// .bal-file-upload__card
//   margin-top: var(--bal-space-normal)

// .bal-file-upload__list
//   padding: 0 !important
