@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../../vars' as vars;

@mixin style {
  @include vars.local(buttons-align-items, center);
  @include vars.local(buttons-justify-content, flex-start);
  @include vars.local(buttons-direction, row);
  @include vars.local(buttons-gap, 0.25rem);
  @include vars.local(buttons-wrap, wrap);

  display: flex;
  gap: var(--_buttons-gap);
  flex-direction: var(--_buttons-direction);
  align-items: var(--_buttons-align-items);
  justify-content: var(--_buttons-justify-content);
  flex-wrap: var(--_buttons-wrap);

  width: 100%;

  //
  // Mobile everything is strechtedˆ
  // --------------------------------
  @include mobile {
    ::slotted(.button:not(.is-square, .is-circle)),
    .button:not(.is-square, .is-circle) {
      flex: 1 1 auto;
    }

    ::slotted(bal-button:not(.is-square, .is-circle)),
    bal-button:not(.is-square, .is-circle) {
      flex: 1 1 auto;

      --button-width: 100%;
    }
  }

  //
  // Directions
  // --------------------------------
  &.as-col-reverse {
    --mod-buttons-direction: column-reverse;
  }

  &.as-row-reverse {
    --mod-buttons-direction: row-reverse;
  }

  &.as-row {
    --mod-buttons-direction: row;
  }

  &.as-col {
    --mod-buttons-direction: column;
  }

  //
  // Direction Column
  // --------------------------------
  &.as-col,
  &.as-col-reverse {
    @include mobile {
      ::slotted(.button),
      .button,
      ::slotted(bal-button),
      bal-button {
        width: 100%;
      }
    }

    @include tablet {
      &.is-center,
      &.is-centered {
        --mod-buttons-align-items: center;
      }

      &.is-left {
        --mod-buttons-align-items: flex-start;
      }

      &.is-right {
        --mod-buttons-align-items: flex-end;
      }
    }
  }

  //
  // Direction Row
  // --------------------------------
  @include tablet {
    &.as-row.is-center,
    &.as-row.is-centered,
    &.is-center:not(.as-col),
    &.is-centered:not(.as-col) {
      --mod-buttons-justify-content: center;
    }

    &.as-row.is-left,
    &.is-left:not(.as-col) {
      --mod-buttons-justify-content: flex-start;
    }

    &.as-row.is-right,
    &.is-right:not(.as-col) {
      --mod-buttons-justify-content: flex-end;
    }
  }

  //
  // Expanded
  // --------------------------------
  @include tablet {
    &.is-expanded {
      ::slotted(.button:not(.is-square, .is-circle)),
      .button:not(.is-square, .is-circle),
      ::slotted(bal-button:not(.is-square, .is-circle)),
      bal-button:not(.is-square, .is-circle) {
        flex: 1 1 auto;

        --button-width: 100%;
      }
    }
  }
}
