@import '../../styles/ui-library.utilities';
@import 'node_modules/bulma/sass/components/dropdown.sass';

:host {
  display: block;
  font-family: $family-primary !important;

  a.dropdown-item,
  button.dropdown-item {
    padding: 10px 20px 13px 20px;
    transition: padding-left 0.3s ease;
    border: 0;
    background: transparent;
    cursor: pointer;
    outline: none;

    &::-moz-focus-inner {
      border: 0;
    }

    .select-option__content {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
    }

    &.has-checkbox {
      span.checkbox {
        width: 35px;
      }
    }

    &.is-hidden {
      display: none;
    }

    span {
      font-family: $family-primary;
      font-size: $size-small;
    }

    span.label {
      font-weight: $weight-normal;
      font-size: $size-small;
    }

    &:hover,
    &:focus {
      background: $dropdown-item-hover-background-color;
    }

    &.is-selected {
      background: $dropdown-item-hover-background-color;

      span.label {
        font-weight: $weight-bold;
      }
    }

    &.is-focused {
      background: $dropdown-item-hover-background-color;
    }

    &.is-focused:not(.is-selected):not(.has-checkbox),
    &:focus:not(.is-selected):not(.has-checkbox),
    &:hover:not(.is-selected):not(.has-checkbox) {
      padding-left: 30px !important;
    }
  }
}
