@use '@baloise/ds-styles/sass/mixins' as *;

/**
  * Link State Mixin
  */

@mixin link-states($base-color, $hover-color, $active-color, $outline-shadow) {
  color: $base-color;

  @include fillSvg($base-color);

  @include hover {
    &:hover,
    &.is-hovered {
      color: $hover-color;

      @include fillSvg($hover-color);
    }
  }

  &:active,
  &.is-active {
    color: $active-color;

    @include fillSvg($active-color);
  }

  &:focus-visible,
  &.is-focused {
    &:not(:active) {
      box-shadow: $outline-shadow;
    }
  }
}

/**
  * Basic Style
  */
.content a:any-link:not(.button),
a.link:not(.button),
a.is-link:not(.button) {
  cursor: pointer;
  hyphens: auto;
  margin: 0;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--bal-link-font-family);
  font-weight: var(--bal-link-font-weight);
  line-height: var(--bal-link-line-height);
  text-decoration: var(--bal-link-text-decoration);
  text-underline-offset: var(--bal-link-text-underline-offset);
  text-decoration-thickness: var(--bal-link-text-decoration-thickness);
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

  strong {
    color: currentcolor;
  }

  &:not(.is-inverted) {
    @include link-states(
      var(--bal-link-color-text-primary-base),
      var(--bal-link-color-text-primary-hover),
      var(--bal-link-color-text-primary-active),
      var(--bal-link-shadow-outline-base)
    );
  }

  &.is-inverted {
    @include link-states(
      var(--bal-link-color-text-inverted-base),
      var(--bal-link-color-text-inverted-hover),
      var(--bal-link-color-text-inverted-active),
      var(--bal-link-shadow-outline-inverted)
    );
  }
}
