@import './bal-close.vars.scss';

bal-close {
  position: static;
  display: inline-block;
  cursor: pointer;
  flex-grow: 0;
  flex-shrink: 0;
  outline: 0;

  .delete:not(.has-background) {
    background: transparent;
  }

  .delete:not(.is-inverted) {
    &::before,
    &::after {
      background: $blue;
    }

    &:focus {
      background: transparent;
    }

    &:hover {
      background: $blue-1;
    }

    &:active {
      background: $blue-2;
    }
  }
}
