+block(close)
  position: static
  display: inline-block
  +element(button)
    +unselectable
    -moz-appearance: none
    -webkit-appearance: none
    background-color: transparent
    border: none
    border-radius: var(--bal-radius-rounded)
    cursor: pointer
    pointer-events: auto
    display: inline-block
    flex-grow: 0
    flex-shrink: 0
    font-size: 0
    outline: none
    position: relative
    vertical-align: top
    padding: 5px
    &:hover
      background: rgba($blue-dark, 0.1)
    &:focus-visible:not(:active)
      background: var(--bal-color-white)
      @extend %focus-shadow
    &:active
      background: rgba($blue-dark, 0.3)
    +modifier(inverted)
      &:hover
        background: rgba($white, 0.3)
      &:focus-visible:not(:active)
        background: var(--bal-color-white)
        @extend %focus-shadow
      &:active
        background: rgba($white, 0.5)
    //Sizes
    +modifier(size-small)
      padding: 4px
    +modifier(size-medium)
      padding: 8.5px

