@import '../../styles/ui-library.utilities';
@import '../bal-input/bal-input.scss';

:host {
  display: block;
  position: relative;

  .bal-select__slot {
    position: relative;
    align-items: center;
    display: flex;
    max-width: 100%;
    min-width: 0;
    width: 100%;
    padding-bottom: 0;
    border-bottom: 1px solid $blue-light-line;

    &:focus-within,
    &.is-focused {
      padding-bottom: 0;
      border-width: 2px;
      border-color: $blue;
      box-shadow: none;
    }

    .bal-select__selections {
      align-items: center;
      display: flex;
      flex: 1 1;
      flex-wrap: wrap;
      line-height: 18px;
      max-width: 100%;
      min-width: 0;
    }

    bal-tag {
      margin-right: 8px;
    }

    .input {
      border: none;
      box-shadow: none;
      padding: 0;
      height: 2.1em;
    }

    .value {
      margin: 7px 4px 7px 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      max-width: 90%;
    }
  }

  &.is-inverted {
    .bal-select__slot {
      border-color: $white;

      &:focus-within,
      &.is-focused {
        border-color: $white;
      }
    }
  }

  .bal-select__empty {
    padding: 10px 20px 13px 20px;
  }
}
