// Footer
// ------------------------------------------------
//
// A simple responsive footer which can include anything: lists, headings, columns, icons, buttons, etc.
// https://bulma.io/documentation/layout/footer/

@import 'bal-footer.vars.scss';
@import 'node_modules/bulma/sass/layout/footer.sass';

footer.footer {
  position: relative;
  font-family: $family-primary;

  &.has-track-line {
    padding-bottom: $footer-padding + 12px;
  }

  @include tablet() {
    &.has-track-line {
      padding-bottom: $footer-padding + 14px;
    }
  }
  @include desktop() {
    &.has-track-line {
      padding-bottom: $footer-padding + 18px;
    }
  }
}

bal-footer {
  display: block;
  position: static;

  footer > div.footer-links-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    div {
      &.legal-links {
        display: flex;
        flex-wrap: wrap;
      }

      a {
        white-space: nowrap;

        &.is-current {
          text-decoration: underline;
        }
      }
    }

    @include tablet() {
      flex-wrap: nowrap;
    }
  }
}
