@import 'bal-footer.vars.scss'

+block(footer)
    +unselectable
    display: block
    position: static

    +element(inner)
        position: relative
        font-family: var(--bal-family-primary)

        +element(links-container)
            display: flex
            justify-content: space-between
            flex-wrap: wrap

            +element(legal-links)
                display: flex
                flex-wrap: wrap

                & > a
                    white-space: nowrap
                    &.is-current
                        text-decoration: underline

            +element(language-links)
                & > a
                    white-space: nowrap
                    &.is-current
                        text-decoration: underline

            +tablet
                flex-wrap: nowrap
