@import '@baloise/design-system-css/sass/mixins'

+block(footer)
  +unselectable
  display: block
  position: static

  +element(inner)
    position: relative
    font-family: var(--bal-family-primary)
    background-color: var(--bal-color-primary)
    color: var(--bal-color-text-white)
    padding: var(--bal-space-large)
    +tablet
      padding: var(--bal-space-tablet-large)
    +desktop
      padding: var(--bal-space-desktop-large)

    &,
    p
      color: var(--bal-color-white)

    +element(links-container)
      display: flex
      justify-content: space-between
      flex-wrap: wrap

      +tablet
        flex-direction: column

      +desktop
        flex-direction: row

      +element(legal-links)
        display: flex
        flex-wrap: wrap
        padding-top: var(--bal-space-normal)
        gap: .75rem

        & > a
          white-space: nowrap
          &.is-current
            text-decoration: underline

      +element(language-links)
        padding-top: var(--bal-space-normal)
        gap: .75rem
        & > a
          white-space: nowrap
          &.is-current
            text-decoration: underline
            text-underline-offset: 4px
            text-decoration-thickness: 2px

      +tablet
        flex-wrap: nowrap
