// Footer
// ------------------------------------------------
//
// A simple responsive footer which can include anything: lists, headings, columns, icons, buttons, etc.
// https://bulma.io/documentation/layout/footer/

@import 'bal-footer.vars.scss';
@import 'node_modules/bulma/sass/layout/footer.sass';

footer.footer {
  position: relative;
  font-family: $family-primary;
}

bal-footer {
  display: block;
  position: static;

  footer > div.footer-links-container {
    display: flex;
    flex: 1;
    align-items: center;
    flex-wrap: wrap;
  }
}
