@import '../../styles/ui-library.utilities';

:host {
  position: relative;
  min-height: 26px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  input[type='checkbox'] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    outline: 0;
  }

  input[type='checkbox'] + label {
    cursor: pointer;
    padding-left: 34px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  label {
    padding-left: 34px;
    margin-top: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $blue;
  }

  label::before,
  label::after {
    display: inline-block;
    position: absolute;
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 24px 24px;
  }

  label::before {
    content: '';
    left: 0;
    top: 0;
    height: 24px;
    width: 24px;
    border: 1px solid $blue-line;
  }

  label::after {
    content: none;
    left: 9px;
    top: 6px;
    width: 6px;
    height: 10px;
    border-bottom: 2px solid $blue;
    border-right: 2px solid $blue;
    border-top: 0;
    border-left: 0;
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  input[type='checkbox']:disabled + label {
    cursor: not-allowed;
    opacity: 0.5;
  }

  input[type='checkbox']:checked + label::after {
    content: '';
  }

  input[type='checkbox']:focus + label::before {
    outline: 1px dashed $cyan !important;
  }

  &.is-inverted {
    label {
      color: $white;
    }
    label::before {
      border: 1px solid $blue-line;
    }
    label::after {
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
    }

    input[type='checkbox']:hover:not([disabled]) + label:before {
      border-color: $white;
    }
  }
}
