@import "../../scss/bal-ui-library.globals";

$button-family: $family-sans-serif;
$button-padding-horizontal: 30px;
$button-focus-box-shadow-size: 0 0 0 0;
$button-focus-box-shadow-color: transparent;
