@import "button.vars";
@import "node_modules/bulma/sass/elements/button.sass";

.button {
  transition: 0.2s ease-in-out;
  outline: none !important;
  user-select: none;
  min-height: 50px;

  &.is-small {
    min-height: 38px;
    min-width: 38px;
    padding: 17px 20px 19px 20px;
  }

  &.is-square {
    width: 38px;
    padding: 4px 0 0 0;
  }

  &.is-success, &.is-success:hover, &.is-success:focus,
  &.is-danger, &.is-danger:hover, &.is-danger:focus,
  &.is-warning, &.is-warning:hover, &.is-warning:focus {
    color: $white !important;
  }

  &.is-loading::after {
    display: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    &::before {
      position: absolute;
      content: "";
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      outline: 2px dashed $cyan;
    }
  }

  &:hover, &:active {
    &::before {
      outline: none;
    }
  }

  &.is-primary {
    &:focus,
    &.is-focused,
    &:active,
    &.is-active,
    &:hover,
    &.is-hovered {
      background: $blue;
    }
  }

  &.is-info {
    &:hover,
    &.is-hovered {
      background: $cyan;
    }
  }

  &.is-success {
    &:hover,
    &.is-hovered {
      background: darken($success, 10);
    }
  }

  &.is-warning {
    &:hover,
    &.is-hovered {
      background: darken($warning, 10);
    }
  }

  &.is-danger {
    &:hover,
    &.is-hovered {
      background: darken($danger, 10);
    }
  }

  &.is-success,
  &.is-warning,
  &.is-warning.is-outlined,
  &.is-success.is-outlined {
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $white;
    }
  }

  &.is-primary.is-inverted {
    background: $cyan;
    color: $white;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $blue;
      background: $white;
    }
  }

  &.is-info.is-outlined {
    border-color: $blue-line;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $blue;
      background: $blue-light-line;
      border-color: $blue-line;
    }
  }


  &.is-info.is-inverted.is-outlined {
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $white;
      background: darken($blue, 10);
    }
  }

  &.is-info.is-inverted {
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $white;
      background: $cyan;
    }
  }

  &.is-link {
    color: $cyan;
    background: transparent;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $blue;
      background: transparent;
      text-decoration: underline;
    }
  }

  &.is-primary.is-light {
    border: none;
    border-radius: 0;
    color: $blue;
    background: $blue-light;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $blue;
      background: $blue-light-hover;
    }
  }

  &.is-info.is-light {
    border: none;
    border-radius: 0;
    color: $blue;
    background: transparent;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $blue;
      background: transparent;
    }
  }

  &[disabled] {
    &.is-link {
      text-decoration: none;
      color: $cyan;
      background: transparent;
    }

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      &.is-primary {
        color: $white;
        background: $cyan;
      }

      &.is-info {
        color: $white;
        background: $blue;
      }

      &.is-warning {
        color: $white;
        background: $orange;
      }

      &.is-danger {
        color: $white;
        background: $red;
      }

      &.is-success {
        color: $white;
        background: $green;
      }

      &.is-link {
        text-decoration: none;
        color: $cyan;
        background: transparent;
      }
    }

  }

  span {
    line-height: 1.25rem;
    font-weight: 600;
  }

}
