@charset "utf-8";

//
// The order of the imports is important to override the variables of the css framework bulma
//

@import 'container.vars';
@import 'box.vars';
@import 'icon.vars';
@import 'button.vars';
@import 'notification.vars';
@import 'table.vars';
@import 'tag.vars';
@import 'title.vars';

@import 'node_modules/bulma/sass/elements/other.sass';
@import 'node_modules/bulma/sass/elements/image.sass';
@import 'node_modules/bulma/sass/elements/box.sass';
@import 'node_modules/bulma/sass/elements/content.sass';
@import 'node_modules/bulma/sass/elements/container.sass';
@import 'node_modules/bulma/sass/elements/icon.sass';
@import 'node_modules/bulma/sass/elements/table.sass';
@import 'node_modules/bulma/sass/elements/title.sass';
@import 'node_modules/bulma/sass/elements/button.sass';
@import 'node_modules/bulma/sass/elements/notification';
@import 'node_modules/bulma/sass/elements/tag';

@import 'box';
@import 'container';
@import 'title';
@import 'track-line';
@import 'notices';
@import 'table';
@import 'icon';
@import 'button';
@import 'buttons';
@import 'notification';
@import 'spinner';
@import 'tag';
