// https://bulma.io/documentation/elements/button/#variables

$button-family: $family-sans-serif;

$button-padding-horizontal: 24px;

$button-hover-color: $primary;
$button-hover-border-color: $primary;

$button-focus-box-shadow-size: 0 0 0 2px;
$button-focus-box-shadow-color: bulmaRgba($primary, 0.25);
$button-focus-box-shadow-color-invert: bulmaRgba($primary-invert, 0.5);

$button-active-color: $primary-9;
$button-active-border-color: $primary-9;

$button-disabled-background-color: $gray-2;
$button-disabled-border-color: $gray-2;
$button-disabled-shadow: none;
$button-disabled-opacity: 1;

$button-colors: mergeColorMaps(
  (
    'primary': (
      $primary,
      $primary-invert,
      $primary-9,
      // active
      $primary-8,
      // hover
      transparent,
      // not used
      $primary-1,
      // outlined active
      $primary-0,
      // outlined hover
    ),
    'link': (
      transparent,
      $link,
      $link,
      $link,
      transparent,
      $link,
      $link,
    ),
    'success': (
      $success,
      $success-invert,
      $success-9,
      $success-8,
      transparent,
      $success-1,
      $success-0,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-9,
      $warning-8,
      transparent,
      $warning-1,
      $warning-0,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-9,
      $danger-8,
      transparent,
      $danger-1,
      $danger-0,
    ),
  ),
  $custom-colors
);
