// https://bulma.io/documentation/elements/button/#variables

$button-family: $family-sans-serif;
$button-padding-horizontal: 32px;
$button-focus-box-shadow-size: 0 0 0 0;
$button-focus-box-shadow-color: transparent;
