// Button
// ------------------------------------------------
//
// The classic button, in different colors, sizes, and states
// https://bulma.io/documentation/elements/button/

.button {
  @include font-smoothing();
  @include margin(0);

  position: relative;
  width: 100%;
  contain: layout style;
  outline: none;
  cursor: pointer;
  z-index: 0;
  box-sizing: border-box;
  appearance: none;
  transition: background 0.1s ease, color 0.1s ease;
  text-decoration: none !important;
  padding: 12px 24px;
  min-height: 48px;
  justify-content: center !important;

  &::-moz-focus-inner {
    border: 0;
  }

  &.has-round-top-corners,
  &.has-round-top-corners button {
    border-top-left-radius: $radius-large !important;
    border-top-right-radius: $radius-large !important;
  }

  &.has-round-bottom-corners,
  &.has-round-bottom-corners button {
    border-bottom-left-radius: $radius-large !important;
    border-bottom-right-radius: $radius-large !important;
  }

  &.has-round-top-corners:not(.has-round-bottom-corners),
  &.has-round-top-corners:not(.has-round-bottom-corners) button {
    border-bottom-left-radius: $radius-none !important;
    border-bottom-right-radius: $radius-none !important;
  }

  &:focus span,
  &:active span,
  &:focus bal-text,
  &:active bal-text,
  &:focus bal-icon,
  &:active bal-icon,
  &:focus bal-spinner,
  &:active bal-spinner {
    position: relative;
    top: 0;
    left: 0;
  }

  .icon-left,
  .icon-right {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-top: -5px;
  }

  .icon-left {
    margin-left: -4px;
    margin-right: 8px;
  }

  .icon-right {
    margin-right: -4px;
    margin-left: 8px;
  }

  &.is-fullwidth {
    width: 100%;
  }

  &.is-square {
    width: 48px;
    padding: 0;

    .icon-left {
      @include margin(0);
    }
  }

  &.is-small {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;

    font-size: $size-small;
    line-height: 20px;

    &.is-square {
      width: 32px;
      padding: 0;
    }

    bal-icon {
      margin-top: -1px;
    }
  }

  &.is-outlined.is-inverted {
    &.is-success:hover {
      color: $success;
    }
    &.is-warning:hover {
      color: $warning;
    }
    &.is-danger:hover {
      color: $danger;
    }
  }

  &.is-loading::after {
    display: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus-visible {
    &::before {
      position: absolute;
      content: '';
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      outline: 2px dashed $cyan;
    }
  }

  &:focus {
    &.is-link {
      color: $cyan;
    }
    &.is-outlined.is-info {
      color: $blue;
    }
  }

  &:hover,
  &:active {
    &::before {
      outline: none;
    }
  }

  &.is-primary {
    &:hover,
    &.is-hovered {
      background: $blue;
    }
  }

  &.is-info {
    &:hover,
    &.is-hovered {
      background: $cyan;
    }
  }

  &.is-success {
    &:hover,
    &.is-hovered {
      background: darken($success, 10);
    }
  }

  &.is-warning {
    &:hover,
    &.is-hovered {
      background: darken($warning, 10);
    }
  }

  &.is-danger {
    &:hover,
    &.is-hovered {
      background: darken($danger, 10);
    }
  }

  &.is-success,
  &.is-warning,
  &.is-warning.is-outlined,
  &.is-success.is-outlined {
    &:hover,
    &.is-hovered {
      color: $white;
    }
  }

  &.is-primary.is-inverted {
    background: $cyan;
    color: $white;

    &:hover,
    &.is-hovered {
      color: $blue;
      background: $white;
    }
  }

  &.is-info.is-outlined:not(.is-inverted) {
    background: $white;
  }

  &.is-info.is-outlined {
    border-color: $info-3;

    &:not(.is-disabled) {
      &:hover,
      &.is-hovered {
        color: $blue;
        background: $info-2;
        border-color: $info-3;
      }
    }
  }

  &.is-info.is-inverted.is-outlined {
    &:hover,
    &.is-hovered {
      color: $white;
      background: darken($blue, 10);
    }
  }

  &.is-info.is-inverted {
    &:hover,
    &.is-hovered {
      color: $white;
      background: $cyan;
    }
  }

  &.is-link {
    color: $cyan;
    background: transparent;

    &:hover,
    &.is-hovered {
      color: $blue;
      background: transparent;
      text-decoration: underline;
    }
  }

  &.is-primary-light {
    border: none;
    border-radius: 0;
    color: $blue;
    background: $info-0;

    &:hover,
    &.is-hovered {
      color: $blue;
      background: $info-1;
    }
  }

  &.is-info-light {
    border: none;
    border-radius: 0;
    color: $blue;
    background: transparent;

    &:hover,
    &.is-hovered {
      color: $blue;
      background: transparent;
    }
  }

  &[disabled] {
    &.is-link {
      text-decoration: none;
      color: $cyan;
      background: transparent;
    }

    &:hover,
    &.is-hovered {
      &.is-primary {
        color: $white;
        background: $cyan;
      }

      &.is-info:not(.is-outlined) {
        color: $white;
        background: $blue;
      }

      &.is-warning {
        color: $white;
        background: $orange;
      }

      &.is-danger {
        color: $white;
        background: $red;
      }

      &.is-success {
        color: $white;
        background: $green;
      }

      &.is-link {
        text-decoration: none;
        color: $cyan;
        background: transparent;
      }
    }
  }
}
