@use 'sass:math';

// Container
// ------------------------------------------------
//
// A simple container to center your content horizontally
// https://bulma.io/documentation/layout/container/

.container {
  width: 100% !important;
  padding-left: math.div($container-offset, 2);
  padding-right: math.div($container-offset, 2);
}

@include tablet() {
  .container {
    padding-left: math.div($container-offset, 2);
    padding-right: math.div($container-offset, 2);
  }
}

@include desktop() {
  .container {
    padding-left: $container-offset;
    padding-right: $container-offset;
  }
}

.container.is-compact {
  max-width: calc($tablet - 1px + $container-offset + $container-offset) !important;
}
