// https://bulma.io/documentation/elements/notification/#variables

$notification-background-color: $white-bis; // was $background from bulma before
$notification-code-background-color: $scheme-main;
$notification-radius: 0;
$notification-padding: 16px;
