.notification {
  font-family: $family-primary;
  font-size: $size-normal;
  background: $white-bis;
  border: 1px solid $blue-light-line;
  color: $text;
  border-radius: $radius-large;
  padding: 22px 24px 26px 24px;

  &.is-primary {
    background: $blue-light;
    border: 1px solid $blue-light-line;
    color: $blue;
  }

  &.is-info {
    background: $blue;
    border: 1px solid $blue;
    color: $white;
  }

  &.is-link {
    background: $blue;
    color: $white;
    border: none;
  }

  &.is-warning {
    background: $yellow;
    color: $white;
    border: none;
  }

  &.is-danger {
    background: $red;
    color: $white;
    border: none;
  }

  &.is-success {
    background: $green;
    color: $white;
    border: none;
  }
}

@include desktop() {
  // .notification {
  //   padding: 40px;
  // }
}
