// https://bulma.io/documentation/elements/notification/#variables

$notification-background-color: $white-bis !default;
$notification-code-background-color: $scheme-main !default;
$notification-radius: 0 !default;
$notification-padding: 16px !default;
