// https://bulma.io/documentation/elements/table/#variables

$table-color: $text;
$table-background-color: $scheme-main;

$table-cell-border: 1px solid $info-2; //$border;
$table-cell-border-width: 0 0 1px;
$table-cell-padding: 0.5em 0.75em;
$table-cell-heading-color: $text-strong;

$table-head-cell-border-width: 0 0 1px;
$table-head-cell-color: $text-strong;
$table-foot-cell-border-width: 0 0 0;
$table-foot-cell-color: $text-strong;

$table-head-background-color: transparent;
$table-body-background-color: transparent;
$table-foot-background-color: transparent;

$table-row-hover-background-color: $info-1;

$table-row-active-background-color: $primary;
$table-row-active-color: $primary-invert;

$table-striped-row-even-background-color: $scheme-main-bis;
$table-striped-row-even-hover-background-color: $info-1;
