// https://bulma.io/documentation/elements/tag/#variables

$tag-background-color: $background !default;
$tag-color: $text !default;
$tag-radius: $radius-rounded !default;
$tag-delete-margin: 1px !default;
$tag-colors: $colors !default;
