// Title and Subtitle
// ------------------------------------------------
//
// Simple headings to add depth to your page
// https://bulma.io/documentation/elements/title/

h1,
h2,
h3,
h4,
h5 {
  @include padding(0);
  font-family: $title-family;
  font-family: $family-primary;
}

p,
a {
  font-family: $body-family;
  line-height: 24px;
  margin: 0;
  word-break: break-word;
}

bal-text a,
bal-text p {
  &::before {
    content: none !important;
  }
}

.is-size-1 {
  line-height: 52px;
}

.is-size-2 {
  line-height: 44px;
}

.is-size-3 {
  line-height: 36px;
}

.is-size-4 {
  line-height: 28px;
}

.is-size-5 {
  line-height: 20px;
}

.is-size-6 {
  line-height: 20px;
}

h1.subtitle,
h2.subtitle,
h3.subtitle,
h4.subtitle,
h5.subtitle {
  font-weight: $weight-normal;
}

p.is-small,
a.is-small {
  font-size: $size-small;
}

p.is-bold,
a.is-bold {
  font-weight: $weight-bold;
}

.title.is-size-3,
.title.is-size-4,
.title.is-size-5,
.title.is-size-6 {
  font-weight: $weight-bold;
  letter-spacing: -1%;
}

a.is-link:focus,
a.is-link:active,
a.is-link:hover,
a.is-link:visited,
a.is-link {
  color: $cyan;
  text-decoration: none;
}
