$title-weight: $weight-normal;
$subtitle-weight: $weight-normal;

@import 'node_modules/bulma/sass/elements/title.sass';

h1,
h2,
h3,
h4,
h5 {
  font-family: $title-family;
  padding: 0;
}

p,
a {
  font-family: $body-family;
  line-height: $bal_lineheight_20px;
}

h1.subtitle,
h2.subtitle,
h3.subtitle,
h4.subtitle,
h5.subtitle {
  font-weight: $weight-normal;
}

p,
a {
  margin: 0;
  word-break: break-word;
}

p.is-small,
a.is-small {
  font-size: $size-small;
  line-height: $bal_lineheight_15px;
}

p.is-bold,
a.is-bold,
.title.is-size-3,
.title.is-size-4,
.title.is-size-5 {
  font-weight: $weight-bold;
}

a.is-link:focus,
a.is-link:active,
a.is-link:hover,
a.is-link:visited,
a.is-link {
  color: $cyan;
  text-decoration: none;
}
