@use '@baloise/ds-styles/sass/mixins' as *;
@use './bal-field.vars' as *;

@include blocks((field, field-label, field-control, field-message, field-hint)) {
  display: block;
  position: relative;
  font-family: var(--bal-font-family-text);
}
@include block(field-label) {
  display: inline;
}
.bal-field-label ~ .bal-field-control {
  margin-top: 0.25rem;
}
@include block(field-hint) {
  display: inline-block;
  margin-left: 0.25rem;
  height: 1rem;
  width: 1rem;
  @include element(hint) {
    position: absolute;
    top: 2px;
    left: 0;
  }
}
@include block(field-message) {
  line-height: var(--bal-line-height-normal);
}
@include block(field-hidden) {
  @include hide-element;
}
@include block(field-control) {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 0.5rem;
  .bal-input {
    flex: 1;
  }
  @include modifier(expanded-on-mobile) {
    @include mobile {
      flex-direction: column;
      .bal-button {
        &,
        .button {
          width: 100%;
        }
      }
    }
  }
}
.bal-field-message {
  margin-top: 0 !important;
}
.bal-field-control + .bal-field-message {
  min-height: 1.375rem;
  line-height: 1.375rem;
}
.bal-field-control:not(:has(+ .bal-field-message)) {
  padding-bottom: 1.375rem;
}
.bal-field--horizontal {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--bal-field-label-column-gap);
  align-items: center;

  .bal-field-label {
    display: flex;
    align-items: center;
    min-width: var(--bal-field-label-horizontal-width);
    max-width: var(--bal-field-label-horizontal-width);
    justify-content: flex-end;
    text-align: right;
    margin-bottom: 0;
  }
  .bal-field-control {
    flex: 1;
    padding-bottom: 0;
    align-self: flex-end;
  }
  .bal-field-message {
    flex-basis: 100%;
    margin-top: 0 !important;
    margin-left: calc(var(--bal-field-label-horizontal-width) + var(--bal-field-label-column-gap));
  }
  .bal-field-hint {
    margin-left: 0;

    .bal-hint {
      top: 0;
    }
  }
  .bal-field-hint ~ .bal-field-message {
    margin-left: calc(var(--bal-field-label-horizontal-width) + (var(--bal-field-label-column-gap) * 2) + 1.125rem);
  }
  .bal-field-label ~ .bal-field-control {
    margin-top: 0;
  }
}
