@import 'bal-pagination.vars';
@import 'node_modules/bulma/sass/components/pagination';

:host {
  display: block;
}

nav.pagination {
  & > button {
    box-shadow: none !important;
    align-items: center;
    background: $white;

    &:disabled {
      background: $blue-light;
      border-color: $blue-light-line;
      color: $blue-light-text;
      cursor: not-allowed;
    }
  }

  bal-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;

    li > a:not(.is-current) {
      background: $white;
    }
  }

  button,
  a {
    cursor: pointer;
    font-family: $body-family;
    line-height: 1.125;
  }
}
