@import '@baloise/design-system-css/scss/baloise-design-system.utilities'

bal-spinner,
.bal-spinner
  text-align: center
  display: flex
  justify-content: center
  align-content: center
  svg
    transform: unset !important
