bal-accordion {
  display: block;
  border-radius: $radius-large;

  & > bal-button,
  & bal-button > button {
    border-radius: $radius-large;
  }

  span.trigger-label {
    display: flex;
    justify-content: center;
    align-items: center;

    span.label {
      font-size: $size-normal;
      line-height: $size-normal;
    }
  }

  bal-icon {
    margin-top: -3px;
    margin-right: 8px;
  }

  .accordion-content.is-info {
    border-top: 1px solid $blue-2;
  }

  .accordion-content {
    border-bottom-left-radius: $radius-large;
    border-bottom-right-radius: $radius-large;
  }

  &.bal-accordion-light {
    border-bottom: 2px solid $blue;
    border-radius: 0;

    button {
      padding-left: 0;
      padding-right: 0;
      border: none !important;

      span.button-label {
        flex: 1;
        text-align: left;
      }

      bal-icon.icon-right {
        margin-right: 0px !important;
      }
    }
  }
}
