@import '../../styles/global.utilities';

:host {
  display: block;
  border-radius: $radius-large;

  & > bal-button,
  & bal-button > button {
    border-radius: $radius-large;
  }

  span.trigger-label {
    display: flex;
    justify-content: center;
    align-items: center;

    span.label {
      font-size: $size-normal;
      line-height: $size-normal;
    }
  }

  bal-icon {
    margin-top: -3px;
    margin-right: 8px;
  }

  .accordion-content.is-info {
    border-top: 1px solid $blue-2;
  }

  .accordion-content {
    border-bottom-left-radius: $radius-large;
    border-bottom-right-radius: $radius-large;
  }
}
