@import '../../styles/global.utilities';

:host {
  &.bal-switch {
    input[type='checkbox'] {
      outline: 0;
      user-select: none;
      display: inline-block;
      position: absolute;
      opacity: 0;
      vertical-align: baseline;
    }

    input[type='checkbox'] + label {
      @include font-smoothing();
      @include margin(0);

      position: relative;
      padding-left: 56px;
      line-height: 22px;
      contain: layout style;

      display: flex;
      align-items: center;
      justify-content: start;
      text-align: left;

      min-height: 26px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: $blue;
      font-family: $body-family;
    }

    input[type='checkbox'] + label::before {
      border-radius: 24px;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 48px;
      height: 24px;
      border: 1.6px solid transparent;
      background: $blue-line;
      content: '';
      transition: all 0.25s ease-out;
    }

    input[type='checkbox'] + label::after {
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 3px;
      left: 3px;
      width: 24px - 3px;
      height: 24px - 3px;
      transform: translate3d(0, 0, 0);
      background: $white;
      transition: all 0.25s ease-out;
      content: '';
    }

    input[type='checkbox']:checked + label::before {
      background: $green;
    }

    input[type='checkbox']:checked + label::after {
      left: 26px;
    }

    &.is-disabled {
      input[type='checkbox'] + label {
        opacity: 0.5;
      }
    }
  }
}
