@import '../../styles/design-system-components.utilities';

:host {
  &.bal-switch {
    input[type='checkbox'] {
      outline: 0;
      user-select: none;
      display: inline-block;
      position: absolute;
      opacity: 0;
      vertical-align: baseline;
    }

    input[type='checkbox'] + label {
      position: relative;
      display: initial;
      font-size: 1rem;
      line-height: initial;
      padding-left: 3.5rem;
      padding-top: 0.2rem;
      cursor: pointer;
      min-height: 1.5rem + 0.2rem;
    }

    input[type='checkbox'] + label::before {
      border-radius: 24px;
      position: absolute;
      display: block;
      top: 0;
      left: 0;
      width: 3rem;
      height: 1.5rem;
      border: 0.1rem solid transparent;
      background: $blue-line;
      content: '';
      transition: all 0.25s ease-out;
    }

    input[type='checkbox'] + label::after {
      border-radius: 50%;
      display: block;
      position: absolute;
      top: 0.2rem;
      left: 0.2rem;
      width: 1.5rem - 0.2rem;
      height: 1.5rem - 0.2rem;
      transform: translate3d(0, 0, 0);
      background: $white;
      transition: all 0.25s ease-out;
      content: '';
    }

    input[type='checkbox']:checked + label::before {
      background: $green;
    }

    input[type='checkbox']:checked + label::after {
      left: 1.625rem;
    }

    &.is-disabled {
      input[type='checkbox'] + label {
        opacity: 0.5;
      }
    }
  }
}
