@import '../../styles/global.utilities';

:host {
  position: relative;
  display: inline-block;
  min-height: 26px;
  outline: none;

  &.bal-checkbox {
    input[type='checkbox'] {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
      outline: 0;
    }

    input[type='checkbox'] + label {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      outline: 0;
    }

    label {
      @include font-smoothing();
      @include margin(0);

      contain: layout style;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;

      min-height: 26px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: $primary;
      font-family: $body-family;

      bal-text {
        padding-left: 32px;
      }

      bal-text:empty {
        padding-left: 0;
      }
    }

    @include desktop() {
      label {
        font-size: $size-normal;
      }
    }

    label::before,
    label::after {
      display: inline-block;
      position: absolute;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 26px 26px;
    }

    label::before {
      content: '';
      left: 0;
      top: 0;
      height: 22px;
      width: 22px;
      border: 2px solid $primary;
      border-radius: $radius;
      transition: background 0.3s ease-in-out;
    }

    label::after {
      content: '';
      left: 12px;
      top: 10px;
      height: 0;
      width: 0;
      height: 10px;
      width: 6px;
      border-bottom: 0px solid transparent;
      border-right: 0px solid transparent;
      border-top: 0;
      border-left: 0;
      transform: rotate(45deg) scale(0);
      transition: all 0.3s ease-in-out;
    }

    input[type='checkbox']:checked + label::before {
      background: $primary;
    }

    input[type='checkbox']:checked + label::after {
      content: '';
      border-color: $primary-invert;
      transform: rotate(45deg) scale(1);
      border-width: 2px;
      left: 9px;
      top: 5px;
    }

    input[type='checkbox']:disabled + label {
      cursor: not-allowed;
      color: $input-disabled-color;

      &::before {
        border-color: $input-disabled-border-color;
      }
    }

    input[type='checkbox']:disabled:checked + label::before {
      background-color: $input-disabled-border-color;
    }

    input[type='checkbox']:focus-visible + label::before {
      box-shadow: $button-focus-box-shadow-size $button-focus-box-shadow-color;
    }
  }
}

@import './bal-switch';
