@import './bal-navbar.vars.scss';
@import 'node_modules/bulma/sass/components/navbar';

bal-navbar {
  display: block;
  position: relative;

  &.no-burger {
    .navbar-burger {
      display: none !important;
    }
  }

  .navbar-burger {
    span {
      color: $white !important;
    }
  }

  a,
  button {
    margin-bottom: 0 !important;
  }

  a.navbar-item {
    text-decoration: none !important;
  }

  bal-text {
    margin-bottom: 0 !important;
    color: $white !important;
  }

  .navbar {
    &.is-primary::after,
    &.is-primary::before {
      opacity: 0 !important;
    }

    &.is-primary .navbar-brand > a.navbar-item:focus,
    &.is-primary .navbar-brand > a.navbar-item:hover {
      background: $blue !important;
    }

    .app-title {
      text-decoration: none !important;

      bal-text {
        font-size: 24px !important;
        text-decoration: none !important;
      }
    }

    &.is-primary .app-title {
      color: $white !important;
    }

    .navbar-start > .navbar-item > .navbar-link::after {
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      transform: rotate(0deg);
      border-top: 5px solid $grey-2 !important;
      border-radius: 0;
      margin-top: -2px;
    }

    .navbar-start > .navbar-item:hover > .navbar-link::after {
      transform: rotate(180deg);
      margin-top: -7.5px;
    }

    .navbar-menu.is-active {
      .navbar-item {
        color: $blue;
      }
    }

    .navbar-burger {
      position: absolute;
      right: 0;
      top: 0;
    }

    .navbar-link:not(.is-arrowless)::after {
      width: 0.5em;
      height: 0.5em;
      border-width: 2px;
      border-radius: 1px;
      margin-top: -0.4em;
    }

    .is-active {
      .navbar-start,
      .navbar-end {
        a.navbar-item:hover,
        a.navbar-item:focus,
        a.navbar-link:hover,
        a.navbar-link:focus {
          background: $blue-4;
        }
      }
    }

    .navbar-dropdown {
      border-radius: $radius;
      border: none;
      z-index: 32 !important;
      min-width: 160px;

      bal-text,
      bal-text span {
        color: $blue !important;
      }

      .navbar-item {
        font-size: $size-small;
        padding: 10px 20px 13px 20px;
        border-radius: 0;

        &:hover {
          background: $blue-1;
          color: $blue;
        }
      }

      .navbar-divider {
        background-color: $grey-2;
        height: 2px;
      }
    }
  }

  @include desktop() {
    .navbar-dropdown {
      box-shadow: 0 0 16px 0 rgba(0, 33, 98, 0.15) !important;
    }
  }
}
