@import './bal-navbar.vars.scss';
@import 'node_modules/bulma/sass/components/navbar';

bal-navbar {
  display: block;
  position: relative;

  bal-logo {
    margin-top: 6px;
  }

  bal-logo + bal-text {
    padding-left: 32px;
  }

  &.no-burger {
    .navbar-burger {
      display: none !important;
    }
  }

  a.navbar-item {
    text-decoration: none !important;
  }

  .navbar {
    &.is-info::after,
    &.is-info::before {
      opacity: 0 !important;
    }

    &.bal-track-line::after,
    &.bal-track-line::before {
      top: 0;
    }

    &.is-info .navbar-brand > a.navbar-item:focus,
    &.is-info .navbar-brand > a.navbar-item:hover {
      background: $blue !important;
    }

    &.is-white .navbar-brand > a.navbar-item:focus,
    &.is-white .navbar-brand > a.navbar-item:hover {
      background: $white !important;
    }

    .app-title {
      text-decoration: none !important;

      bal-text {
        font-size: $size-medium !important;
        text-decoration: none !important;
      }
    }

    &.is-info .app-title {
      color: $white !important;
    }

    &.is-white .app-title {
      color: $blue !important;
    }

    &.is-white .navbar-start > .navbar-item:focus,
    &.is-white .navbar-start > .navbar-item:hover,
    &.is-white .navbar-start > .navbar-item:focus > .navbar-link,
    &.is-white .navbar-start > .navbar-item:hover > .navbar-link {
      background: $blue-0 !important;
      color: $blue !important;
    }

    .navbar-start > .navbar-item > .navbar-link::after {
      width: 0px;
      height: 0px;
      border-left: 5px solid transparent;
      border-right: 5px solid transparent;
      border-bottom: 5px solid transparent;
      transform: rotate(0deg);
      border-top: 5px solid $white !important;
      border-radius: 0;
      margin-top: -2px;
    }

    .navbar-start > .navbar-item:hover > .navbar-link::after {
      transform: rotate(180deg);
      margin-top: -7.5px;
    }

    &.is-white .navbar-start > .navbar-item > .navbar-link::after {
      border-top: 5px solid $black !important;
    }

    &.is-white .navbar-start > .navbar-item:hover > .navbar-link::after {
      border-top: 5px solid $blue !important;
    }

    .navbar-menu.is-active {
      .navbar-item {
        color: $blue;
      }
    }

    .navbar-burger {
      position: absolute;
      right: 0;
      top: 0;
    }

    .navbar-link:not(.is-arrowless)::after {
      width: 0.5em;
      height: 0.5em;
      border-width: 2px;
      border-radius: 1px;
      margin-top: -0.4em;
    }

    .is-active {
      .navbar-start,
      .navbar-end {
        a {
          transition: padding-left 0.3s ease;
        }

        a.navbar-item:hover,
        a.navbar-item:focus,
        a.navbar-link:hover,
        a.navbar-link:focus {
          background: $blue-0;
          padding-left: 22px;
        }
      }
    }

    .navbar-dropdown {
      border-radius: 0px !important;
      border: none;
      z-index: 32 !important;
      padding-top: 10px;
      padding-bottom: 10px;
      min-width: 160px;

      .navbar-item {
        font-size: $size-small;
        padding: 10px 20px 13px 20px;
        transition: padding-left 0.3s ease;

        &:hover {
          background: $blue-0;
          color: $blue;
          padding-left: 30px !important;
        }
      }

      .navbar-divider {
        background-color: $blue-2;
        height: 1px;
      }
    }
  }

  @include desktop() {
    .navbar-dropdown {
      box-shadow: 0 0 16px 0 rgba(0, 33, 98, 0.15) !important;
    }
  }
}
