@import '../../styles/global.utilities';

:host {
  display: inline-block;
  width: auto;
  font-family: $family-primary;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  pointer-events: auto;
  font-kerning: none;
  outline: none;

  &.bal-radio {
    min-height: 26px;
    min-width: 26px;
    display: inline-block;
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    padding-left: 24px;

    input[type='radio'] {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
      outline: 0;
    }

    input[type='radio'] + label {
      @include font-smoothing();
      @include margin(0);

      contain: layout style;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;

      min-height: 26px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: $primary;
      font-family: $body-family;
    }

    input[type='radio'] + label::before,
    input[type='radio'] + label::after {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      height: 22px;
      width: 22px;
      border-radius: 50%;
      border: 2px solid $primary-invert;
      transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
    }

    input[type='radio'] + label:before {
      content: '';
      border-color: $primary;
    }

    input[type='radio'] + label:after {
      content: '';
      background: $primary-invert;
      transform: scale(0.85);
      top: 0;
      left: 0;
    }

    input[type='radio']:disabled + label {
      cursor: not-allowed;
      opacity: 0.5;
    }

    input[type='radio']:checked + label::before {
      background-color: $primary;
    }

    input[type='radio']:checked + label::after {
      transform: scale(0.3);
    }

    input[type='radio']:hover:not([disabled]) + label:before {
      border-color: $primary;
    }

    &:focus-within {
      input[type='radio'] + label::before {
        box-shadow: $button-focus-box-shadow-size $button-focus-box-shadow-color;
      }
    }

    &.is-inverted {
      input[type='radio']:hover:not([disabled]) + label:before {
        border-color: $white;
      }

      input[type='radio'] + label:after {
        background: $white;
      }

      input[type='radio'] + label {
        color: $white;
      }
    }
  }

  &.bal-select-button {
    display: flex;
    flex: 1;

    input[type='radio'] {
      position: absolute;
      opacity: 0;
    }

    label {
      @include font-smoothing();
      @include margin(0);

      contain: layout style;
      display: flex;
      flex: 1 1 0;
      height: 48px;
      min-height: 48px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: $radius;
      background: $gray-2;
      color: $primary;
      padding: 0 16px !important;
      border-color: transparent;
      border-width: 2px;
      font-family: $body-family;
      font-size: $size-normal !important;
      text-align: center;
    }

    input:checked ~ label {
      border-color: $primary;
      background: $primary;
      color: $primary-invert;
    }

    input:disabled ~ label {
      cursor: not-allowed;
      color: $input-disabled-color;
      background-color: $input-disabled-background-color;
      border-color: $input-disabled-background-color;
    }
  }
}
