@import 'node_modules/@baloise/design-system-next-css/scss/baloise-design-system.utilities.sass';
@import 'node_modules/ag-grid-community/dist/styles/mixins/_ag-theme-params.scss';
@import 'node_modules/ag-grid-community/src/styles/ag-theme-alpine/sass/ag-theme-alpine-mixin.scss';
@import 'node_modules/ag-grid-community/src/styles/ag-grid.scss';

.ag-theme-alpine {
  @include ag-theme-alpine(
    (
      header-background-color: $grey-1,
      borders: false,
      borders-critical: true,
      border-color: $blue,
      header-foreground-color: $blue,
      header-column-separator: false,
      row-border-color: $grey-2,
      selected-row-background-color: $blue-1,
      odd-row-background-color: null,
      row-hover-color: $grey-1,
      range-selection-border-color: $primary,
      checkbox-border-radius: 4px,
      checkbox-checked-color: $blue,
      checkbox-unchecked-color: $grey-2,
    )
  );

  .ag-cell {
    font-family: $family-primary;

    .bal-table-cell-text > bal-icon,
    .bal-table-cell-text > bal-text {
      display: inline-block;
    }
    .bal-table-cell-text > bal-icon {
      vertical-align: sub;
      margin-top: -6px;
      margin-left: 0px;
      margin-right: 4px;

      svg {
        margin-bottom: 1px;
      }
    }

    .bal-table-cell-text {
      vertical-align: baseline;

      bal-text + bal-icon {
        margin-left: 4px;
        margin-right: 0px;
      }
    }

    > bal-tag {
      margin-top: -10px;
    }

    > bal-button:not(.is-fullwidth) {
      margin-top: -2px;
    }

    > bal-button.is-fullwidth {
      margin-top: 4px;
    }

    > bal-icon {
      display: inline-block;
      vertical-align: middle;
      margin-top: -6px;
      margin-left: 0px;
      margin-right: 4px;

      &.is-right {
        margin-left: 4px;
        margin-right: 0px;
      }
    }
  }

  .ag-row,
  .ag-header {
    border-width: 2px;
  }

  .ag-checkbox-input-wrapper {
    outline: none !important;
    box-shadow: none !important;
    font-size: 20px;
    line-height: 20px;
    width: 20px;
    height: 20px;

    &::before,
    &::after {
      display: inline-block;
      position: absolute;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 20px 20px;
    }

    &::before {
      content: '';
      left: 0;
      top: 0;
      height: 20px;
      width: 20px;
      border: 2px solid $grey-2;
      background: $white;
      border-radius: 4px;
    }

    &::after {
      content: none;
      left: 7px !important;
      top: 3px !important;
      width: 6px;
      height: 12px;
      border-bottom: 2px solid $white;
      border-right: 2px solid $white;
      border-top: 0;
      border-left: 0;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    &.ag-checked::after {
      content: '';
    }

    &.ag-checked::before {
      background: $blue;
      border-color: $blue;
    }
  }
}
