@forward '../../src/generated/typography';
@use '../../src/mixins/_all' as *;

.text-5xl:not(:last-child),
.text-xxxxx-large:not(:last-child) {
  margin-bottom: var(--ds-space-base-device);
}
.text-4xl:not(:last-child),
.text-xxxx-large:not(:last-child) {
  margin-bottom: var(--ds-space-xs-device);
}

.text-3xl:not(:last-child),
.text-xxx-large:not(:last-child) {
  margin-bottom: var(--ds-space-xs-device);
}

.text-2xl:not(:last-child),
.text-xx-large:not(:last-child) {
  margin-bottom: var(--ds-space-xs-device);
}

.text-xl:not(:last-child),
.text-x-large:not(:last-child) {
  margin-bottom: var(--ds-space-xs-device);
}

.text-lg:not(:last-child),
.text-large:not(:last-child) {
  margin-bottom: var(--ds-space-xs-device);
}

.text-md:not(:last-child),
.text-medium:not(:last-child) {
  margin-bottom: var(--ds-space-xs-device);
}

.text-base:not(:last-child),
.text-normal:not(:last-child) {
  margin-bottom: var(--ds-space-2xs-device);
}

.text-sm:not(:last-child),
.text-small:not(:last-child) {
  margin-bottom: var(--ds-space-2xs-device);
}

.text-xs:not(:last-child),
.text-x-small:not(:last-child) {
  margin-bottom: var(--ds-space-2xs-device);
}
