<bal-app>
  <h1>bubu</h1>
  <lib-angular-shared-lib></lib-angular-shared-lib>
</bal-app>
<!-- <bal-app background>
  <header>
    <bal-navbar no-burger>
      <bal-navbar-brand>
        <bal-icon name="logo" inverted size="large"></bal-icon>
        <bal-text class="ml-3" bold>Open X Day Demo</bal-text>
      </bal-navbar-brand>
    </bal-navbar>
    <div class="has-background-white">
      <div class="container">
        <bal-tabs>
          <bal-tab-item
            value="form"
            label="Form"
            routerLinkActive="form"
            (balNavigate)="navigateTo('form')"
            [active]="isTabActive('form')"
          ></bal-tab-item>
          <bal-tab-item
            value="table"
            label="Table"
            (balNavigate)="navigateTo('table')"
            [active]="isTabActive('table')"
          ></bal-tab-item>
          <bal-tab-item
            value="modal"
            label="Modal"
            (balNavigate)="navigateTo('modal')"
            [active]="isTabActive('modal')"
          ></bal-tab-item>
          <bal-tab-item
            value="pipes"
            label="Pipes"
            (balNavigate)="navigateTo('pipes')"
            [active]="isTabActive('pipes')"
          ></bal-tab-item>
          <bal-tab-item
            value="services"
            label="Services"
            (balNavigate)="navigateTo('services')"
            [active]="isTabActive('services')"
          ></bal-tab-item>
        </bal-tabs>
      </div>
    </div>
  </header>
  <main>
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </main>
  <bal-footer>
    <div class="container">
      <span class="mr-3">Baloise Group</span>
      <span class="mr-3">Legal notice</span>
      <span class="mr-3">Cookie policy</span>
      <span>Data protection</span>
    </div>
  </bal-footer>
</bal-app> -->
