<bal-navbar>
  <bal-navbar-brand>
    <bal-icon name="logo" inverted size="large"></bal-icon>
    <bal-text style="margin-left: 15px">Demo App</bal-text>
  </bal-navbar-brand>
</bal-navbar>

<nav class="has-background-white">
  <div class="container">
    <bal-tabs>
      <bal-tab-item
        *ngFor="let route of routes; let i = index"
        [value]="route.path"
        label="{{ capitalizeFirstLetter(route.path) }}"
        [active]="route.active"
        (balNavigate)="navigate(route)"
      ></bal-tab-item>
    </bal-tabs>
  </div>
</nav>

<main class="container">
  <bal-card style="margin-top: 40px">
    <div class="has-padding">
      <router-outlet></router-outlet>
    </div>
  </bal-card>
</main>
