bal-pagination {
  display: block;
}

nav.pagination {
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;

  .pagination-previous {
    order: 1;
  }

  .pagination-next {
    order: 3;
  }

  .pagination-list {
    order: 2;
    width: unset;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 4px;
  }

  @include tablet() {
    .pagination-list {
      gap: 8px;
    }
  }

  @include desktop() {
    .pagination-list {
      gap: 8px;
    }
  }
}
