@import 'bal-pagination.vars';
@import 'node_modules/bulma/sass/components/pagination';

:host {
  display: block;
}

nav.pagination {
  button,
  a {
    cursor: pointer;
    border-width: 2px;

    &:disabled,
    &.is-disabled {
      cursor: not-allowed;
      opacity: 1;
    }
  }
}
