+block(pagination)
  +unselectable
  display: block

  +element(nav)
    align-items: center
    display: flex
    justify-content: center
    text-align: center

    +element(previous)
      order: 1
    
    +element(next)
      order: 3

    +element(list)
      order: 2
      width: unset
      align-items: center
      display: flex
      justify-content: center
      text-align: center
      gap: 4px
      padding-left: 8px
      padding-right: 8px

      +tablet
        gap: 8px

      +desktop
        gap: 8px