@import '../../styles/global.utilities';

$pagination-color: $text-strong;
$pagination-border-color: $border;
$pagination-margin: -4px;
$pagination-min-width: $control-height;

$pagination-item-font-size: $size-normal;
$pagination-item-margin: 4px;
$pagination-item-padding-left: 4px;
$pagination-item-padding-right: 4px;

$pagination-nav-padding-left: 4px;
$pagination-nav-padding-right: 4px;

$pagination-hover-color: $primary-8;
$pagination-hover-border-color: $primary;

$pagination-focus-color: $primary-8;
$pagination-focus-border-color: $primary;

$pagination-active-color: $primary-8;
$pagination-active-border-color: $primary;

$pagination-disabled-color: $input-disabled-color;
$pagination-disabled-background-color: $input-disabled-background-color;
$pagination-disabled-border-color: $input-disabled-border-color;

$pagination-current-color: $primary-invert;
$pagination-current-background-color: $primary;
$pagination-current-border-color: $primary;

$pagination-ellipsis-color: $grey;

$pagination-shadow-inset: none;
