@import '../../styles/design-system-components.utilities';

$pagination-color: $text-strong;
$pagination-border-color: $border;
$pagination-margin: -0.25rem;
$pagination-min-width: $control-height;

$pagination-item-font-size: 1em;
$pagination-item-margin: 0.25rem;
$pagination-item-padding-left: 0.5em;
$pagination-item-padding-right: 0.5em;

$pagination-hover-color: $link-hover;
$pagination-hover-border-color: $link-hover-border;

$pagination-focus-color: $link-focus;
$pagination-focus-border-color: $link-focus-border;

$pagination-active-color: $link-active;
$pagination-active-border-color: $link-active-border;

$pagination-disabled-color: $text-light;
$pagination-disabled-background-color: $border;
$pagination-disabled-border-color: $border;

$pagination-current-color: $info-invert;
$pagination-current-background-color: $info;
$pagination-current-border-color: $info;

$pagination-ellipsis-color: $grey-light;

$pagination-shadow-inset: inset 0 1px 2px rgba($scheme-invert, 0.2);
