@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;

$tag-use-host: false !default;
$tag-name: tag;
$tag-css-selector: ('.tag:not(.token)');
$tag-host-selector: ('#tag');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include hybrid.vars($tag-css-selector, $tag-use-host) {
  --tag-min-height: 2rem;
  --tag-gap: 0.25rem;
  --tag-padding: var(--bal-tag-space-y) var(--bal-tag-space-x);
  --tag-radius: var(--bal-tag-radius-base);
  --tag-line-height: 1;
  --tag-color-text: var(--bal-tag-color-base-text);
  --tag-color-background: var(--bal-tag-color-base-background);
  --tag-font-family: var(--bal-tag-family);
  --tag-font-size: var(--bal-tag-size);
  --tag-font-weight: var(--bal-tag-weight);
  --tag-margin-right-close: calc(0.25rem * -1);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@include hybrid.component($tag-host-selector, $tag-css-selector, $tag-use-host) {
  @include unselectable;

  position: static;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  min-height: var(--tag-min-height);
  gap: var(--tag-gap);
  padding: var(--tag-padding);
  border-radius: var(--tag-radius);
  color: var(--tag-color-text);
  background-color: var(--tag-color-background);
  font-family: var(--tag-font-family);
  line-height: var(--tag-line-height);
  font-size: var(--tag-font-size);
  font-weight: var(--tag-font-weight);

  > .close,
  > bal-close {
    margin-right: var(--tag-margin-right-close);
  }

  > bal-icon {
    --icon-size: 0.875rem;
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

$tag-colors: (
  'primary',
  'grey',
  'success',
  'info',
  'warning',
  'danger',
  'purple',
  'red',
  'yellow',
  'green',
  'purple-dark',
  'red-dark',
  'yellow-dark',
  'green-dark',
  'purple-light',
  'red-light',
  'yellow-light',
  'green-light'
);

@mixin tag-colors($color) {
  --tag-color-text: var(--bal-tag-color-#{$color}-text);
  --tag-color-background: var(--bal-tag-color-#{$color}-background);
}

@include hybrid.component($tag-host-selector, $tag-css-selector, $tag-use-host) {
  //
  // Colors
  @each $color in $tag-colors {
    &.is-#{$color} {
      @include tag-colors($color);
    }
  }

  //
  // Shapes
  &.is-square {
    --tag-radius: var(--bal-tag-radius-square);
  }

  &.is-pill {
    --tag-radius: var(--bal-tag-radius-pill);
  }

  //
  // Sizes
  &.is-sm {
    --tag-min-height: 1.5rem;
    --tag-padding: var(--bal-tag-sm-space-y) var(--bal-tag-sm-space-x);
    --tag-font-size: var(--bal-tag-sm-size);
    --tag-font-weight: var(--bal-tag-sm-weight);
  }

  &.is-md {
    --tag-min-height: 2.5rem;
    --tag-padding: var(--bal-tag-md-space-y) var(--bal-tag-md-space-x);
    --tag-font-size: var(--bal-tag-md-size);
    --tag-font-weight: var(--bal-tag-md-weight);
  }

  &.is-lg {
    --tag-min-height: 3rem;
    --tag-padding: var(--bal-tag-lg-space-y) var(--bal-tag-lg-space-x);
    --tag-font-size: var(--bal-tag-lg-size);
    --tag-font-weight: var(--bal-tag-lg-weight);
  }
}

/**
  * Overrides child component styles
  * --------------------------------
  * Define here the styles to override child components inside the tag component.
  * Example: close inside tag
  */

@include hybrid.component($tag-host-selector, $tag-css-selector, $tag-use-host) {
  //
  // Sizes
  &.is-sm {
    > .close,
    > bal-close {
      --close-padding: 0.25rem;
      --close-size-icon: 10px;
    }
  }
  //
  // Colors
  &.is-grey,
  &.is-info,
  &.is-success,
  &.is-danger,
  &.is-purple-dark,
  &.is-red-dark,
  &.is-green-dark,
  &.is-yellow-dark,
  &.is-primary {
    > .close,
    > bal-close {
      --close-color-icon: var(--bal-close-color-icon-inverted);
      --close-color-background-hover: var(--bal-close-color-background-inverted-hover);
      --close-color-background-active: var(--bal-close-color-background-inverted-active);
      --close-shadow-focus: var(--bal-close-shadow-outline-inverted);
    }
    > bal-icon {
      --icon-color: var(--bal-close-color-icon-inverted);
    }
  }
}

/**
  * Tags container
  * --------------------------------
  * Define here the styles for tags container to be able to use a flex layout with gap.
  */

@include hybrid.styles-only($tag-use-host) {
  .tags {
    display: flex;
    gap: var(--bal-tag-space-x);
  }
}
