$font-path: '/assets/fonts' !default

$font-heading-bold-ttf: str-insert('/BaloiseCreateHeadline-bold.ttf', $font-path, 0)
$font-heading-bold-woff: str-insert('/BaloiseCreateHeadline-bold.woff', $font-path, 0)
$font-heading-bold-woff2: str-insert('/BaloiseCreateHeadline-bold.woff2', $font-path, 0)

@font-face
  font-family: BaloiseCreateHeadline
  font-style: normal
  font-weight: 700
  font-display: fallback
  src: local('BaloiseCreateHeadline')
  src: local('BaloiseCreateHeadline-bold')
  src: url("#{$font-heading-bold-ttf}") format('truetype')
  src: url("#{$font-heading-bold-woff2}") format('woff2')
  src: url("#{$font-heading-bold-woff}") format('woff')

$font-heading-light-ttf: str-insert('/BaloiseCreateHeadline-light.ttf', $font-path, 0)
$font-heading-light-woff: str-insert('/BaloiseCreateHeadline-light.woff', $font-path, 0)
$font-heading-light-woff2: str-insert('/BaloiseCreateHeadline-light.woff2', $font-path, 0)

@font-face
  font-family: BaloiseCreateHeadline
  font-style: normal
  font-weight: 300
  font-display: fallback
  src: local('BaloiseCreateHeadline-light')
  src: url("#{$font-heading-light-ttf}") format('truetype')
  src: url("#{$font-heading-light-woff2}") format('woff2')
  src: url("#{$font-heading-light-woff}") format('woff')

$font-text-bold-ttf: str-insert('/BaloiseCreateText-bold.ttf', $font-path, 0)
$font-text-bold-woff: str-insert('/BaloiseCreateText-bold.woff', $font-path, 0)
$font-text-bold-woff2: str-insert('/BaloiseCreateText-bold.woff2', $font-path, 0)

@font-face
  font-family: BaloiseCreateText
  font-style: normal
  font-weight: 700
  font-display: fallback
  src: local('BaloiseCreateText-bold')
  src: url("#{$font-text-bold-ttf}") format('truetype')
  src: url("#{$font-text-bold-woff2}") format('woff2')
  src: url("#{$font-text-bold-woff}") format('woff')

$font-text-regular-ttf: str-insert('/BaloiseCreateText-regular.ttf', $font-path, 0)
$font-text-regular-woff: str-insert('/BaloiseCreateText-regular.woff', $font-path, 0)
$font-text-regular-woff2: str-insert('/BaloiseCreateText-regular.woff2', $font-path, 0)

@font-face
  font-family: BaloiseCreateText
  font-style: normal
  font-weight: 400
  font-display: fallback
  src: local('BaloiseCreateText')
  src: local('BaloiseCreateText-regular')
  src: url("#{$font-text-regular-ttf}") format('truetype')
  src: url("#{$font-text-regular-woff2}") format('woff2')
  src: url("#{$font-text-regular-woff}") format('woff')
