+block(textarea)
  +unselectable
  display: block
  position: relative
  flex: 1
  width: 100%
  font-family: var(--bal-family-primary)
  white-space: pre-wrap
  box-sizing: border-box

  +element(native)
    @include margin(0)
    display: block
    width: 100%
    max-width: 100%
    max-height: 100%
    outline: none
    background: transparent
    box-sizing: border-box
    resize: none
    appearance: none
    &::placeholder
      @include padding(0)
      font-family: inherit