@import "../../scss/ui-library.globals";

bal-data {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  outline: none;
  text-decoration: none;
  overflow-wrap: break-word;
  white-space: normal;
}

@include tablet() {
  bal-data.is-horizontal {
    flex-direction: row;
  }
}
