@import "./tabs.vars";
@import "node_modules/bulma/sass/components/tabs.sass";

:host {
  display: block;
}

.tabs {
  border: none;

  & > ul > li {
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }

    & > a {
      border-radius: 50px;
      padding: 7.5px 20px 9.5px 20px;
      line-height: 1.2;
      font-size: $size-5;
    }

    &.is-active > a, & > a:hover {
      background: $blue;
      color: $white;
    }
  }

}
