@import "./tabs.vars";
@import "node_modules/bulma/sass/components/tabs.sass";

:host {
  display: block;
}

.tabs {
  margin: 0 !important;

  & > ul {
    margin: 0;
    padding: 0;
  }

  & > ul > li {
    position: relative;

    &.is-right{
      position: absolute;
      right: 40px;
    }

    span.bubble {
      background: $danger;
      height: 12px;
      width: 12px;
      border-radius: 50%;
      position: absolute;
      display: block;
      top: 35px;
      right: 5px;
    }

    & > a {
      padding: 32px 20px 32px 20px;
      line-height: 1.2;
      cursor: pointer;
      color: $blue-light-text;
      font-size: $size-3;
    }

    &.is-active > a {
      color: $blue;
      border-bottom: 2px solid $blue;
      padding-bottom: 30px;
    }

    & > a:hover {
      color: $blue;
    }

    &.is-disabled > a, &.is-disabled > a:hover {
      color: $blue-light-text;
      cursor: not-allowed;
      opacity: 50%;
    }

  }

}

.tabs.is-rounded {
  border: none;

  & > ul {
    padding: 0;
  }

  & > ul > li {
    padding-right: 10px;

    &:last-child {
      padding-right: 0;
    }

    & > a {
      border-radius: 50px;
      padding: 7.5px 20px 9.5px 20px;
      line-height: 1.2;
      cursor: pointer;
      color: $black;
      font-size: $size-5;
    }

    &.is-active > a, & > a:hover {
      background: $blue;
      color: $white;
      border-bottom: 0;
    }
  }

}
