@import '../../styles/global.utilities.scss';
// @import "../../scss/utilities/animations";

:host {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  flex-grow: 0 !important;

  .toast {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    animation-duration: 150ms;
    margin: 0 0 8px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    border-radius: $radius-large;
    padding: 16px (40px - 24px + 6px) 16px 40px;
    pointer-events: auto;
    max-width: 600px;
    flex-grow: 1;
    font-size: $size-normal;
    font-family: $family-primary;
    position: relative;
    background: $gray-2;
    color: $primary;

    &.has-background-primary {
      color: $primary-invert;
    }

    &.has-background-success {
      color: $success-invert;
    }

    &.has-background-warning {
      color: $warning-invert;
    }

    &.has-background-danger {
      color: $danger-invert;
    }

    .alert {
      & > span {
        flex: 1;
      }

      & .toast-icon {
        max-width: 48px;
        min-width: 48px;
        display: flex !important;
        justify-content: center !important;
        align-items: center !important;
      }
    }

    .close {
      width: 48px;
      min-height: 48px;
    }

    // .toast-message {
    //   display: flex;
    //   justify-content: flex-start;
    //   align-items: center;
    // }
  }
}
