@import '../../styles/global.utilities.scss';
// @import "../../scss/utilities/animations";

:host {
  display: inline-flex;
  position: relative;
  cursor: pointer;
  flex-grow: 0 !important;

  .toast {
    align-self: center;
    display: inline-flex;
    animation-duration: 150ms;
    margin: 0 0 8px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    border-radius: $radius-large;
    padding: 24px 40px 24px 40px;
    pointer-events: auto;
    max-width: 600px;
    flex-grow: 1;
    font-size: $size-normal;
    position: relative;
    background: $white;

    &.is-primary {
      background: $primary;
      color: $primary-invert;
    }

    &.is-info {
      background: $info;
      color: $info-invert;
    }

    &.is-success {
      background: $success;
      color: $white;
    }

    &.is-warning {
      background: $warning;
      color: $white;
    }

    &.is-danger {
      background: $danger;
      color: $white;
    }

    span.toast-message {
      margin-right: 48px;
    }

    .close {
      position: absolute;
      top: 50%;
      right: 40px;
      margin-top: -8px;
      margin-right: -8px;
    }
  }
}
