@use '@baloise/ds-styles/sass/mixins' as *;
@use './bal-check.vars' as *;

.bal-check {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
  width: var(--bal-check-size);
  max-width: var(--bal-check-size);
  height: var(--bal-check-size);
  max-height: var(--bal-check-size);
  border-radius: var(--bal-check-border-radius);
  overflow: hidden;
  //
  // default color
  border: var( --bal-check-border-width) solid var(--bal-check-border-color);
  background-color: var(--bal-check-background);
  &--hovered,
  &:hover {
    @include hover {
      background: var(--bal-check-background-hovered);
      border-color: var(--bal-check-border-color-hovered);
    }
  }
  &--pressed,
  &:active {
    background: var(--bal-check-background-pressed);
    border-color: var(--bal-check-border-color-pressed);
  }  //
  // checked
  bal-icon {
    opacity: 0;
  }
  &--checked {
    background-color: var(--bal-check-background-checked);
    border-color: var(--bal-check-border-color-checked);
    bal-icon {
      opacity: 1;
    }
  }
  &--checked#{&}--hovered,
  &--checked:hover {
    @include hover {
      background: var(--bal-check-background-checked-hovered);
      border-color: var(--bal-check-border-color-checked-hovered);
    }
  }
  &--checked#{&}--pressed,
  &--checked:active {
    background: var(--bal-check-background-checked-pressed);
    border-color: var(--bal-check-border-color-checked-pressed);
  }
  &--checked#{&}--inverted {
    border-color: var(--bal-check-color-inverted);
  }  //
  // invalid
  &--invalid {
    border-color: var(--bal-check-border-color-invalid);
    background-color: var(--bal-check-background-invalid);
  }
  &--invalid#{&}--hovered,
  &--invalid:hover {
    @include hover {
      background-color: var(--bal-check-background-invalid-hovered);
      border-color: var(--bal-check-border-color-invalid-hovered);
    }
  }
  &--invalid#{&}--pressed,
  &--invalid:active {
    background-color: var(--bal-check-background-invalid-pressed);
    border-color: var(--bal-check-border-color-invalid-pressed);
  }
  &--invalid#{&}--checked {
    border-color: var(--bal-check-border-color-invalid);
    background: var(--bal-check-background-invalid-checked);
  }
  &--invalid#{&}--checked#{&}--hovered,
  &--invalid#{&}--checked:hover {
    @include hover {
      background-color: var(--bal-check-background-invalid-checked-hovered);
      border-color: var(--bal-check-border-color-invalid-hovered);
    }
  }
  &--invalid#{&}--checked#{&}--pressed,
  &--invalid#{&}--checked:active {
    background-color: var(--bal-check-background-invalid-checked-pressed);
    border-color: var(--bal-check-border-color-invalid-pressed);
  }
  &--invalid#{&}--checked#{&}--inverted {
    border-color: var(--bal-check-color-inverted);
  }  //
  // disabled
  &--disabled {
    cursor: default !important;
    background: var(--bal-check-background-disabled) !important;
    border-color: var(--bal-check-border-color-disabled) !important;
  }
  &--disabled#{&}--checked {
    background-color: var(--bal-check-background-checked-disabled) !important;
    border-color: var(--bal-check-border-color-checked-disabled) !important;
  }
  &--disabled#{&}--checked#{&}--inverted {
    border-color: var(--bal-check-color-inverted) !important;
  }
}