@use '@baloise/ds-styles/sass/mixins' as *;

@include block(input-stepper) {
  @include unselectable;
  position: static;
  display: inline-block;

  @include element(inner) {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
    align-items: center;

    @include element(text) {
      min-width: 3rem;
      text-align: center;
      font-weight: 700;
      @include modifier('invalid') {
        color: var(--bal-color-text-danger);
      }
      @include modifier('disabled') {
        color: var(--bal-color-text-grey);
      }
    }
  }
  @include element(input) {
    position: absolute;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    outline: 0;
  }
}