@import "bal-variables";

/**
 * Colors
 */
$blue: #003399;
$cyan: #009ee7;
$green: #3fc889;
$yellow: #ff9900;
$orange: #ff8304;
$red: #ff668c;

$blue-darker: #002162;
$blue-dark: #002B82;
$blue-light-text: #7188b8;
$blue-line: #99add6;
$blue-light-line: #d3dbeb;
$blue-light-hover: $bal_bg_rollover_light_blue;
$blue-light: #f0fbff;

$black: #222222;
$black-bis: $blue-darker;
$black-ter: $blue-dark;

$grey-darkest: #444444;
$grey-darker: #7e7e7e;
$grey-dark: #cecfd0;
$grey: #d8d9d9;
$grey-light: #e2e3e3;
$grey-lighter: #ebecec;

$white: #ffffff;
$white-bis: #fafafa;
$white-ter: #f5f5f6;

$dark: $blue;
$light: $white-bis;
$primary: $cyan;
$info-light: $blue-light;
$info: $blue;
$info-dark: $blue-dark;
$link: $cyan;
$warning: $yellow;
$danger: $red;

$primary-invert: $white;
$success-invert: $white;

$text: $black;
$text-strong: $blue;

$shades: (
  "blue-darker": $blue-darker,
  "blue-dark": $blue-dark,
  "blue": $blue,
  "blue-light-text": $blue-light-text,
  "blue-line": $blue-line,
  "blue-light-line": $blue-light-line,
  "blue-light-hover": $blue-light-hover,
  "blue-light": $blue-light,
  "white-bis": $white-bis,
  "white-ter": $white-ter,
  "grey": $grey,
  "black": $black,
);

$form-background: $white-bis;

// General colors

$scheme-main: $white;
$scheme-main-bis: $white-bis;
$scheme-main-ter: $white-ter;
$scheme-invert: $black;
$scheme-invert-bis: $black-bis;
$scheme-invert-ter: $black-ter;

/**
 * Typography
 */
$family-sans-serif: MetaPro, Arial, sans-serif;
$family-primary: $family-sans-serif;
$title-family: $family-sans-serif;
$body-family: $family-sans-serif;

$weight-light: 300;
$weight-normal: 400;
$weight-medium: 400;
$weight-semibold: 700;
$weight-bold: 700;

$size-1: 2.75rem;
$size-2: 2rem;
$size-3: 1.375rem;
$size-4: 1.125rem;
$size-5: 0.9375rem;
$size-6: 0.8125rem;
$size-7: 0.8125rem;

$size-small: $size-6;
$size-normal: $size-5;
$size-medium: $size-4;
$size-large: $size-3;

$title-color: $blue;
$subtitle-color: $blue;

/**
 * Radius
 */
$radius-small: 4px;

/**
 * Link
 */
$link: $primary;
$link-invert: $blue;
$link-visited: $primary;
$link-hover: $blue;
$link-hover-border: $blue;
$link-focus: $blue;
$link-focus-border: $blue;
$link-active: $blue;
$link-active-border: $blue;

/**
 * Animation
 */
$easing: ease-out;

/**
 * Shadow
 */
$shadow: 0 0 10px 0 rgba($bal_tile_shadow_blue, 0.15);
$shadow-hover: 0 0 30px 0 rgba($bal_tile_shadow_blue, 0.15);

/**
 * Section
 */
$section-padding: 40px;
