<bal-card class="mt-6">
  <bal-card-content>
    <bal-heading space="bottom">Reactive Form</bal-heading>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="columns is-multiline mt-0">
      <bal-field class="column is-full py-0" expanded [disabled]="form.get('gender')?.disabled">
        <bal-field-control>
          <bal-radio-group
            interface="select-button"
            [formControlName]="formControlName"
            (balChange)="radioChange($event)"
          >
            <bal-radio *ngFor="let g of genders" [name]="formControlName" [value]="g.value">{{ g.label }}</bal-radio>
          </bal-radio-group>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="gender" error="isRequired">This field is required</bal-ng-error>
        </bal-field-message>
      </bal-field>

      <bal-field class="column is-half py-0" expanded required [disabled]="form.get('firstname')?.disabled">
        <bal-field-label required>Firstname</bal-field-label>
        <bal-field-control>
          <bal-input name="firstname" placeholder="Enter your firstname" formControlName="firstname"></bal-input>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="firstname" error="isRequired">This field is required</bal-ng-error>
          <bal-ng-error controlName="firstname" error="isMinLength">Min length is 4</bal-ng-error>
          <bal-ng-error controlName="firstname" error="isEmail">Not a valid email</bal-ng-error>
        </bal-field-message>
      </bal-field>

      <bal-field class="column is-half py-0" expanded required [disabled]="form.get('lastname')?.disabled">
        <bal-field-label required>Lastname</bal-field-label>
        <bal-field-control>
          <bal-input name="lastname" placeholder="Enter your lastname" formControlName="lastname"></bal-input>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="lastname" error="isRequired">This field is required</bal-ng-error>
        </bal-field-message>
      </bal-field>

      <bal-field class="column is-half py-0" expanded required [disabled]="form.get('street')?.disabled">
        <bal-field-label required>Street</bal-field-label>
        <bal-field-control>
          <bal-input name="street" placeholder="Enter your street" formControlName="street"></bal-input>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="street" error="isRequired">This field is required</bal-ng-error>
        </bal-field-message>
      </bal-field>

      <div class="column is-half pb-0">
        <div class="columns">
          <bal-field class="column is-one-third py-0" expanded [disabled]="form.get('postalCode')?.disabled">
            <bal-field-label>Postal Code</bal-field-label>
            <bal-field-control>
              <bal-input name="postalCode" placeholder="1234" formControlName="postalCode" number-keyboard></bal-input>
            </bal-field-control>
            <bal-field-message color="danger">
              <bal-ng-error controlName="postalCode" error="isRequired">This field is required</bal-ng-error>
            </bal-field-message>
          </bal-field>

          <bal-field class="column is-two-thirds py-0" expanded [disabled]="form.get('city')?.disabled">
            <bal-field-label>City</bal-field-label>
            <bal-field-control>
              <bal-input name="city" placeholder="Vevey" formControlName="city"></bal-input>
            </bal-field-control>
            <bal-field-message color="danger">
              <bal-ng-error controlName="city" error="isRequired">This field is required</bal-ng-error>
            </bal-field-message>
          </bal-field>
        </div>
      </div>

      <bal-field class="column is-half py-0" expanded [disabled]="form.get('canton')?.disabled">
        <bal-field-label>Canton</bal-field-label>
        <bal-field-control>
          <bal-select placeholder="select your canton" formControlName="canton" expanded>
            <bal-select-option *ngFor="let canton of cantons" [value]="canton.value" [label]="canton.label">
              {{ canton.label }}
            </bal-select-option>
          </bal-select>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="canton" error="isRequired">This field is required</bal-ng-error>
        </bal-field-message>
      </bal-field>

      <bal-field class="column is-half py-0" expanded [disabled]="form.get('birthdate')?.disabled">
        <bal-field-label>Birthdate</bal-field-label>
        <bal-field-control>
          <bal-datepicker placeholder="Select your birthdate" formControlName="birthdate" expanded></bal-datepicker>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="birthdate" error="isRequired">This field is required</bal-ng-error>
        </bal-field-message>
      </bal-field>

      <bal-field class="column is-full py-0" expanded required [disabled]="form.get('email')?.disabled">
        <bal-field-label required>Email</bal-field-label>
        <bal-field-control>
          <bal-input name="email" placeholder="Enter your email" formControlName="email"></bal-input>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="email" error="isRequired">This field is required</bal-ng-error>
          <bal-ng-error controlName="email" error="isMinLength">Min length is 4</bal-ng-error>
          <bal-ng-error controlName="email" error="isEmail">Not a valid email</bal-ng-error>
        </bal-field-message>
      </bal-field>

      <bal-field class="column is-full py-0" expanded [disabled]="form.get('checkbox')?.disabled">
        <bal-field-control>
          <bal-checkbox formControlName="checkbox">Checkbox</bal-checkbox>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="checkbox" error="isRequired">This field is required</bal-ng-error>
        </bal-field-message>
      </bal-field>
      <bal-field class="column is-full py-0" expanded [disabled]="form.get('comment')?.disabled">
        <bal-field-label>Comment</bal-field-label>
        <bal-field-control>
          <bal-textarea formControlName="comment" name="comment" placeholder="Enter your comment"></bal-textarea>
        </bal-field-control>
        <bal-field-message color="danger">
          <bal-ng-error controlName="comment" error="isRequired">This field is required</bal-ng-error>
        </bal-field-message>
      </bal-field>
    </form>
  </bal-card-content>
  <bal-card-actions right>
    <bal-button color="primary" id="submit" type="submit" [disabled]="form.invalid" (click)="onSubmit()"
      >Submit</bal-button
    >
    <bal-button color="info" outlined (click)="updateName()">Update Name</bal-button>
    <bal-button color="danger" outlined (click)="setCommentDisabled()">Disable Comment</bal-button>
  </bal-card-actions>
</bal-card>
