<bal-card class="mt-6">
  <bal-card-content>
    <bal-heading space="bottom">Reactive Form</bal-heading>
    <bal-heading level="h3" color="warning" space="bottom" subtitle>{{ form.status }}</bal-heading>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="columns is-multiline mt-0">
      <bal-field class="column is-full py-0" expanded [disabled]="form.get('gender')?.disabled">
        <bal-field-control>
          <bal-radio-group value="male" formControlName="gender">
            <bal-radio name="gender" value="male">Male</bal-radio>
            <bal-radio name="gender" value="female">Female</bal-radio>
          </bal-radio-group>
        </bal-field-control>
        <bal-field-message
          color="danger"
          *ngIf="form.get('gender')?.dirty && form.get('gender')?.errors && form.get('gender')?.hasError('required')"
          >Required Field</bal-field-message
        >
      </bal-field>

      <bal-field class="column is-half py-0" expanded required [disabled]="form.get('firstname')?.disabled">
        <bal-field-label required>Firstname</bal-field-label>
        <bal-field-control>
          <bal-input
            name="firstname"
            placeholder="Enter your firstname"
            formControlName="firstname"
            required
          ></bal-input>
        </bal-field-control>
        <bal-field-message
          color="danger"
          *ngIf="
            form.get('firstname')?.dirty && form.get('firstname')?.errors && form.get('firstname')?.hasError('required')
          "
          >Required Field</bal-field-message
        >
      </bal-field>

      <bal-field class="column is-half py-0" expanded required [disabled]="form.get('lastname')?.disabled">
        <bal-field-label required>Lastname</bal-field-label>
        <bal-field-control>
          <bal-input name="lastname" placeholder="Enter your lastname" formControlName="lastname" required></bal-input>
        </bal-field-control>
        <bal-field-message
          color="danger"
          *ngIf="
            form.get('lastname')?.dirty && form.get('lastname')?.errors && form.get('lastname')?.hasError('required')
          "
          >Required Field</bal-field-message
        >
      </bal-field>

      <bal-field class="column is-half py-0" expanded required [disabled]="form.get('street')?.disabled">
        <bal-field-label required>Street</bal-field-label>
        <bal-field-control>
          <bal-input name="street" placeholder="Enter your street" formControlName="street" required></bal-input>
        </bal-field-control>
        <bal-field-message
          color="danger"
          *ngIf="form.get('street')?.dirty && form.get('street')?.errors && form.get('street')?.hasError('required')"
          >Required Field</bal-field-message
        >
      </bal-field>

      <div class="column is-half pb-0">
        <div class="columns">
          <bal-field class="column is-one-third py-0" expanded [disabled]="form.get('postalCode')?.disabled">
            <bal-field-label>Postal Code</bal-field-label>
            <bal-field-control>
              <bal-input
                name="postalCode"
                placeholder="1234"
                formControlName="postalCode"
                number-keyboard
                required
              ></bal-input>
            </bal-field-control>
            <bal-field-message
              color="danger"
              *ngIf="
                form.get('postalCode')?.dirty &&
                form.get('postalCode')?.errors &&
                form.get('postalCode')?.hasError('required')
              "
              >Required Field</bal-field-message
            >
          </bal-field>

          <bal-field class="column is-two-thirds py-0" expanded [disabled]="form.get('city')?.disabled">
            <bal-field-label>City</bal-field-label>
            <bal-field-control>
              <bal-input name="city" placeholder="Vevey" formControlName="city" required></bal-input>
            </bal-field-control>
            <bal-field-message
              color="danger"
              *ngIf="form.get('city')?.dirty && form.get('city')?.errors && form.get('city')?.hasError('required')"
              >Required Field</bal-field-message
            >
          </bal-field>
        </div>
      </div>

      <bal-field class="column is-half py-0" expanded [disabled]="form.get('canton')?.disabled">
        <bal-field-label>Canton</bal-field-label>
        <bal-field-control>
          <bal-select placeholder="select your canton" formControlName="canton" expanded>
            <bal-select-option *ngFor="let canton of cantons" [value]="canton.value" [label]="canton.label">
              {{ canton.label }}
            </bal-select-option>
          </bal-select>
        </bal-field-control>
        <bal-field-message
          color="danger"
          *ngIf="form.get('canton')?.dirty && form.get('canton')?.errors && form.get('canton')?.hasError('required')"
          >Required Field</bal-field-message
        >
      </bal-field>

      <bal-field class="column is-half py-0" expanded [disabled]="form.get('birthdate')?.disabled">
        <bal-field-label>Birthdate</bal-field-label>
        <bal-field-control>
          <bal-datepicker placeholder="Select your birthdate" formControlName="birthdate" expanded></bal-datepicker>
        </bal-field-control>
        <bal-field-message
          color="danger"
          *ngIf="form.get('birthdate')?.errors && form.get('birthdate')?.hasError('required')"
          >Required Field</bal-field-message
        >
        <bal-field-message
          color="danger"
          *ngIf="
            form.get('birthdate')?.dirty && form.get('birthdate')?.errors && form.get('birthdate')?.hasError('isAfter')
          "
          >Date must be after of today</bal-field-message
        >
      </bal-field>

      <bal-field class="column is-full py-0" expanded [disabled]="form.get('checkbox')?.disabled">
        <bal-field-control>
          <bal-checkbox formControlName="checkbox">Checkbox</bal-checkbox>
        </bal-field-control>
        <bal-field-message
          color="danger"
          *ngIf="form.get('checkbox')?.errors && form.get('checkbox')?.hasError('required')"
          >Required Field</bal-field-message
        >
      </bal-field>
      <bal-field class="column is-full py-0" expanded [disabled]="form.get('comment')?.disabled">
        <bal-field-label>Comment</bal-field-label>
        <bal-field-control>
          <bal-textarea formControlName="comment" name="comment" placeholder="Enter your comment"></bal-textarea>
        </bal-field-control>
        <bal-field-message
          color="danger"
          *ngIf="form.get('comment')?.dirty && form.get('comment')?.errors && form.get('comment')?.hasError('required')"
          >Required Field</bal-field-message
        >
      </bal-field>
    </form>
  </bal-card-content>
  <bal-card-actions right>
    <bal-button color="primary" id="submit" type="submit" [disabled]="form.invalid" (click)="onSubmit()"
      >Submit</bal-button
    >
    <bal-button color="info" outlined (click)="updateName()">Update Name</bal-button>
    <bal-button color="danger" outlined (click)="setCommentDisabled()">Disable Comment</bal-button>
  </bal-card-actions>
</bal-card>
