@import '../../styles/ui-library.utilities';

:host {
  display: inline-block;
  position: relative;
}

bal-icon[role='button'] {
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $blue-dark;
  }
}

.bal-hint-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $blue;
  color: $white;
  padding: 30px;
  min-width: 280px;
  border-radius: $radius-large;

  .title {
    color: $white;
  }

  .buttons {
    margin-top: 30px;
  }
}

@include tablet() {
  .bal-hint-content {
    position: absolute;
    margin-left: 40px;
    top: -20px;
    bottom: initial;
    left: initial;
    right: initial;
    box-shadow: $shadow;
  }
}
