bal-timeinput {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  .stepper {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    .stepper-btn {
      border: none;
      outline: 0;
      padding: 5px 0 5px 0;
      background-color: transparent;
      cursor: pointer;
    }
    .stepper-btn:disabled {
      cursor: default;
      * {
        color: $blue-3;
        stroke: $blue-3;
      }
    }
    .time-box {
      appearance: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-width: 1px;
      border-radius: 0;
      box-shadow: none;
      padding-left: 5px;
      padding-right: 5px;
      font-size: $size-normal;
      outline: none;
      color: $text;
      min-height: 45px;

      &:focus,
      &.is-focused {
        border-width: 2px;
        border-color: $blue;
        box-shadow: none;
      }

      &:disabled {
        background-color: $blue-1;
        cursor: default;
      }
    }
  }
  .time-divider {
    align-items: stretch;
    display: inline-flex;
    flex-direction: column;
    height: 100%;
    &:after,
    &:before {
      content: '';
      width: 0.3em;
      height: 0.3em;
      margin-top: 0.15em;
      margin-bottom: 0.15em;
      margin-left: 0.35em;
      margin-right: 0.35em;
      border-radius: 50%;
      background-color: $blue;
    }
  }
  .is-inverted {
    &:after,
    &:before {
      background-color: $white;
    }

    select {
      background-color: $white;
    }
  }
}
