@import "../../scss/bal-ui-library.globals";

:host {
  display: inline-flex;
  position: relative;
  align-self: center;
  cursor: pointer;

  .toast {
    align-self: center;
    display: inline-flex;
    animation-duration: 150ms;
    margin: .5em 0;
    text-align: center;
    box-shadow: 0 1px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-radius: 2em;
    padding: .75em 1.5em;
    pointer-events: auto;
    opacity: .92;

    &.is-primary {
      background: $primary;
      color: $primary-invert;
    }

    &.is-info {
      background: $info;
      color: $info-invert;
    }

    &.is-success {
      background: $success;
      color: $success-invert;
    }

    &.is-warning {
      background: $warning;
      color: $warning-invert;
    }

    &.is-danger {
      background: $danger;
      color: $danger-invert;
    }
  }
}


