@import '../../styles/global.utilities';

.bal-app {
  .bal-data {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    width: 100%;
    outline: none;
    text-decoration: none;
    overflow-wrap: break-word;
    white-space: normal;

    .bal-data-item {
      display: flex;
      flex: 1 1;
      min-height: 48px;
      justify-content: flex-start;
      align-items: center;
      flex-wrap: wrap;
      padding: 0;

      .bal-data-label {
        position: relative;
        display: block;
        color: $blue;
        flex: 1 1;
        flex-basis: 100%;
        padding: 4px 0;

        font-family: $family-primary;
        font-weight: $weight-bold;
        font-size: $size-small;
        line-height: $size-normal;

        bal-hint {
          margin-left: 8px;
          position: absolute;
          top: -3px;
        }
      }

      .bal-data-value {
        display: block;
        flex: 1 1;
        flex-basis: 100%;
        margin-top: 10px;
        padding: 4px 0;

        font-family: $family-primary;
        font-weight: $weight-normal;
        font-size: $size-normal;
        line-height: $size-normal;

        .bal-data-value-btn {
          display: none;
        }
      }

      &.is-disabled .bal-data-label,
      &.is-disabled .bal-data-value {
        color: $disabled-color;
      }
    }
  }

  .bal-data:not(.is-horizontal) {
    .bal-data-value {
      display: flex;
      justify-content: center;
      align-items: center;

      & > div {
        flex: 1;
      }

      & > div > bal-input input.input {
        flex: 1;
        min-height: 40px;
        height: 40px;
      }

      &.is-editable {
        .bal-data-value-btn {
          display: block;
        }
      }

      & > bal-button {
        margin-left: 8px;
      }
    }
  }

  @include tablet() {
    .bal-data {
      .bal-data-item {
        flex-wrap: no-wrap;

        .bal-data-label {
          flex-basis: 0;
        }

        .bal-data-value {
          flex-basis: 0;
        }
      }

      &:not(.is-horizontal) {
        .bal-data-item {
          border-bottom: 1px solid $border;
        }

        .bal-data-label {
          font-size: $size-normal;
        }
        .bal-data-value {
          margin-top: 2px;
        }
      }

      &.is-horizontal {
        flex-direction: row;

        & > .bal-data-item {
          flex-wrap: wrap;

          & > .bal-data-label,
          & > .bal-data-value {
            flex-basis: 100%;
            width: 100%;
          }
        }
      }
    }
  }
}
