+block(data)
  position: relative
  display: flex
  flex-direction: column
  max-width: 100%
  width: 100%
  outline: none
  text-decoration: none
  overflow-wrap: break-word
  white-space: normal

  // angular fix - we need it !
  & > *
    display: flex
    flex: 1 1
    flex-wrap: wrap

  +element(data-item)
    +modifier(has-border)
        border-bottom: 2px solid var(--bal-color-grey-2)

  // Do we really want to do this?
  //+modifier(has-border)
  //  +block(data)
  //    +element(data-item)
  //      border-bottom: 23px solid var(--bal-color-grey-2)
    //.bal-data__data-item
    +element(data-item)
      +modifier(has-border)
        border-bottom: 23px solid var(--bal-color-grey-2)
  +element(data-item)
    display: flex
    flex: 1 1
    min-height: 48px
    justify-content: flex-start
    align-items: center
    flex-wrap: wrap
    padding: 16px 0


    +element(data-label)
      position: relative
      display: block
      color: $blue
      flex: 1 1
      flex-basis: 100%

      font-family: var(--bal-family-primary)
      font-weight: $weight-bold
      font-size: var(--bal-size-small)
      line-height: var(--bal-size-normal)
      +element(hint)
        margin-left: 8px
        position: absolute
        top: -3px



  +element(data-value)
    display: block
    flex: 1 1
    flex-basis: 100%
    margin-top: 4px
    min-height: 24px

    font-family: var(--bal-family-primary)
    font-weight: $weight-bold
    font-size: var(--bal-size-small)
    line-height: var(--bal-size-normal)

