.bal-data {
  position: relative;
  display: flex;
  flex-direction: column;
  max-width: 100%;
  width: 100%;
  outline: none;
  text-decoration: none;
  overflow-wrap: break-word;
  white-space: normal;

  & > * {
    display: flex;
    flex: 1 1;
    flex-wrap: wrap;
  }

  .bal-data-item {
    display: flex;
    flex: 1 1;
    min-height: 48px;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    padding: 16px 0;

    .bal-data-label {
      position: relative;
      display: block;
      color: $blue;
      flex: 1 1;
      flex-basis: 100%;

      font-family: $family-primary;
      font-weight: $weight-bold;
      font-size: $size-small;
      line-height: $size-normal;

      bal-hint {
        margin-left: 8px;
        position: absolute;
        top: -3px;
      }
    }

    .bal-data-value {
      display: block;
      flex: 1 1;
      flex-basis: 100%;
      margin-top: 4px;
      min-height: 24px;

      font-family: $family-primary;
      font-weight: $weight-normal;
      font-size: $size-normal;
      line-height: $size-normal;

      &,
      & > div {
        font-family: $family-primary;
        font-weight: $weight-normal;
        font-size: $size-normal;
        line-height: 1.25rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        min-width: 0;
        padding-bottom: 2px;
      }

      &.is-multiline {
        &,
        & > div {
          white-space: normal;
        }
      }

      .bal-data-value-btn {
        display: none;
      }
    }

    &.is-disabled .bal-data-label,
    &.is-disabled .bal-data-value {
      color: $text-light;
    }
  }

  &.has-border .bal-data-item {
    border-bottom: 1px solid $blue-2;
  }
}

.bal-data:not(.is-horizontal) {
  .bal-data-value {
    display: flex;
    justify-content: center;
    align-items: center;

    & > div {
      flex: 1;
    }

    & > div > bal-input input.input {
      padding-left: 4px;
      padding-right: 4px;
      background: $grey-2;
      flex: 1;
    }

    &.is-editable {
      .bal-data-value-btn {
        display: block;
      }
    }

    & > bal-button {
      margin-left: 8px;
    }
  }
}

@include tablet() {
  .bal-data {
    & > * {
      flex-wrap: no-wrap;
    }

    .bal-data-item {
      flex-wrap: no-wrap;
      padding: 8px 0;

      .bal-data-label {
        flex-basis: 0;
      }

      .bal-data-value {
        flex-basis: 0;
      }
    }

    &:not(.is-horizontal) {
      .bal-data-label {
        font-size: $size-normal;
      }
      .bal-data-value {
        margin-top: 2px;
      }
    }

    &.is-horizontal {
      flex-direction: row;
      gap: 8px;

      &.has-border {
        border-bottom: 1px solid $blue-2;
      }

      & > * {
        flex-wrap: wrap;
      }

      & .bal-data-item {
        flex-wrap: wrap;
        min-width: 80px;
        align-items: flex-start;
        border-bottom: none;

        & .bal-data-value {
          min-height: 100%;
        }

        & .bal-data-label,
        & .bal-data-value {
          flex-basis: 100%;
          width: 100%;
          align-self: flex-start;
        }
      }
    }
  }
}
