@import '../../styles/global.utilities';

:host {
  display: inline-block;
  position: relative;
  display: flex;
  flex: 1;
  border: 1px solid $blue-light-line;
  border-radius: 100px;
  padding: 4px;
}
