@import '../../styles/global.utilities';

:host {
  display: inline-block;
  position: relative;
  width: 100%;

  &.bal-select-button {
    display: flex;
    flex: 1;
    border: 1px solid $bal_line_blue;
    border-radius: 100px;
    padding: 4px;
  }
}
