@import '../../styles/design-system-components.utilities';

:host {
  display: inline-block;
  position: relative;
  display: flex;
  flex: 1;
  border: 1px solid $bal_line_blue;
  border-radius: 100px;
  padding: 5px;
}
