/**
 * @prop --bal-nav-link-text-color: TBD
 * @prop --bal-nav-link-text-color-hover: TBD
 * @prop --bal-nav-link-text-color-active: TBD
 */

:root {
  --bal-nav-link-text-color: var(--bal-link-color-text-primary-base);
  --bal-nav-link-text-color-hover: var(--bal-link-color-text-primary-hover);
  --bal-nav-link-text-color-active: var(--bal-link-color-text-primary-active);
}
