@use '@baloise/ds-styles/sass/mixins' as *
@use './bal-option-list.vars' as *

// Option List
// --------------------------------------------------
.bal-option-list
  display: block
  position: relative
  width: 100%
  list-style: none
  margin: 0
  outline: 0
  max-height: var(--bal-option-list-max-height)
  border-radius: var(--bal-radius-normal)
  overflow: hidden auto

.bal-option-list__no-options
  color: var(--bal-color-text-primary-light)
  display: flex
  justify-content: flex-start
  align-items: center
  min-height: 2.5rem
  padding-left: var(--bal-option-padding-x)
  padding-right: calc(var(--bal-option-padding-x) + var(--bal-option-padding-x))
  user-select: none
