.bal-stage
  position: relative

  .bal-stage-content
    position: relative
    display: block
    overflow: hidden

    .bal-stage-body
      display: flex
      align-items: center
      padding: 4rem 0
      +desktop
        min-height: 400px
        align-items: flex-end
        padding: 6rem 0

      .container > *
        max-width: calc(100% - 66px)
        +tablet
          max-width: calc(100% - 120px)
        +desktop
          max-width: calc(100% - 198px)
    +modifier(is-blue)
      .bal-stage-body
        background: var(--bal-color-primary-5)
    +modifier(is-purple)
      .bal-stage-body
        background: var(--bal-color-purple-3)
    +modifier(is-green)
      .bal-stage-body
        background: var(--bal-color-green-3)
    +modifier(is-red)
      .bal-stage-body
        background: var(--bal-color-red-3)
    +modifier(is-yellow)
      .bal-stage-body
        background: var(--bal-color-yellow-3)
    +modifier(is-inverted)
      .bal-stage-body
        h1
          color: var(--bal-color-white)
        h2
          color: var(--bal-color-white)
        a
          color: var(--bal-color-white)
          +fillSvg(var(--bal-color-white))

    .bal-stage-back-link a
      display: inline-flex
      align-items: center
      font-family: var(--bal-font-family-title)
      font-weight: 700
      opacity: 1
      transition: opacity .2s ease-in
      &:hover
        opacity: .5

  // !! Placeholder Styling - will be replaced when shape is implemented !! //
  .bal-stage-shape
    bal-shape
      position: absolute
      bottom: 0
      right: 1rem
      +desktop
        right: 2rem

.has-background-image
  .bal-stage-body
    background: no-repeat center/cover var(--bal-background-image)

.has-shape
  section
    margin-bottom: 22px
    +tablet
      margin-bottom: 40px
    +desktop
      margin-bottom: 66px
