// define variables for your component here with !default.

$hero-body-padding: 3rem 0;
$hero-body-padding-tablet: 3rem 0;
$hero-body-padding-small: 1.5rem 0;
$hero-body-padding-medium: 9rem 0;
$hero-body-padding-large: 18rem, 0;
