@import 'bal-heading.vars.scss';
@import 'node_modules/bulma/sass/elements/title.sass';

bal-heading {
  @include margin(0);
  @include padding(0);
  @include lhCrop(1.2);
  @include font-smoothing();

  display: block;
  position: static;
  word-break: break-word;
}

// Title and Subtitle
// ------------------------------------------------
//
// Simple headings to add depth to your page
// https://bulma.io/documentation/elements/title/

h1,
h2,
h3,
h4,
h5 {
  @include padding(0);
  font-family: $family-primary;
  color: $blue;
}

// TODO: Define spacing between
h1 {
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
}

h2 {
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
}

h3 {
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h4 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

h5 {
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
}

p,
a {
  font-family: $family-primary;
  line-height: 24px;
  margin: 0;
  word-break: break-word;
}

bal-text a,
bal-text p {
  &::before {
    content: none !important;
  }
}

.is-size-1 {
  line-height: 56px;
}

.is-size-2 {
  line-height: 48px;
}

.is-size-3 {
  line-height: 40px;
}

.is-size-4 {
  line-height: 32px;
}

.is-size-5 {
  line-height: 24px;
}

.is-size-6 {
  line-height: 20px;
}

h1.subtitle,
h2.subtitle,
h3.subtitle,
h4.subtitle,
h5.subtitle {
  font-weight: $weight-normal;
}

span.is-small,
p.is-small,
a.is-small {
  font-size: $size-small;
  line-height: 16px;
}

.is-bold,
span.is-bold,
p.is-bold,
a.is-bold {
  font-weight: $weight-bold;
}

.title.is-size-3,
.title.is-size-4,
.title.is-size-5,
.title.is-size-6 {
  font-weight: $weight-bold;
  letter-spacing: -1%;
}

a.is-link {
  color: $cyan;
  text-decoration: none;
}

a.is-link.is-inverted {
  color: $white;
}

a.is-link:focus,
a.is-link:active,
a.is-link:hover,
a.is-link:visited {
  text-decoration: underline;
}
