@import 'initial-variables';
@import 'functions';

$light: $white-bis !default;
$dark: $blue !default;

// Invert colors
$grey-invert: $white !default;
$blue-invert: $white !default;
$light-blue-invert: $white !default;
$green-invert: $white !default;
$purple-invert: $white !default;
$red-invert: $white !default;
$yellow-invert: $white !default;
$primary-invert: $white !default;
$info-invert: $white !default;
$success-invert: $white !default;
$warning-invert: $white !default;
$danger-invert: $white !default;
$light-invert: $white !default;
$dark-invert: $white !default;

// General colors

$scheme-main: $white !default;
$scheme-main-bis: $white-bis !default;
$scheme-main-ter: $white-ter !default;
$scheme-invert: $black !default;
$scheme-invert-bis: $black-bis !default;
$scheme-invert-ter: $black-ter !default;

$background: $white-ter !default;

$border: $grey-3 !default;
$border-hover: $grey-3 !default;
$border-focused: $blue !default;
$border-light: $grey-3 !default;
$border-light-hover: $grey-3 !default;

// Text colors

$text: $blue !default;
$text-invert: $white !default;
$text-light: $blue-text-light !default;
$text-strong: $blue !default;

// Code colors

$code: darken($red, 15%) !default;
$code-background: $background !default;

$pre: $text !default;
$pre-background: $background !default;

// Link colors

$link: $blue !default;
$link-invert: $white !default;
$link-light: $blue-1 !default;
$link-dark: $blue-5 !default;
$link-visited: $blue !default;

$link-hover: $blue !default;
$link-hover-border: $blue !default;

$link-focus: $blue !default;
$link-focus-border: $blue !default;

$link-active: $blue !default;
$link-active-border: $blue !default;

// Typography

$family-primary: $family-sans-serif !default;
$family-secondary: $family-sans-serif !default;
$family-code: $family-monospace !default;

$size-large: $size-3 !default;
$size-medium: $size-4 !default;
$size-normal: $size-5 !default;
$size-small: $size-7 !default;

// Effects

$shadow: 0 0 10px 0 rgba(transparentize($blue-6, 0.85), 0.15) !default;
$shadow-hover: 0 0 30px 0 rgba(transparentize($blue-6, 0.85), 0.15) !default;

// Lists and maps
$custom-colors: null !default;
$custom-shades: null !default;

$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
    'grey': (
      $grey,
      $grey-invert,
      $grey-light,
      $grey-dark,
    ),
    'blue': (
      $blue,
      $blue-invert,
      $blue-light,
      $blue-dark,
    ),
    'light-blue': (
      $light-blue,
      $light-blue-invert,
      $light-blue-light,
      $light-blue-dark,
    ),
    'purple': (
      $purple,
      $purple-invert,
      $purple-light,
      $purple-dark,
    ),
    'red': (
      $red,
      $red-invert,
      $red-light,
      $red-dark,
    ),
    'green': (
      $green,
      $green-invert,
      $green-light,
      $green-dark,
    ),
    'yellow': (
      $yellow,
      $yellow-invert,
      $yellow-light,
      $yellow-dark,
    ),
  ),
  $custom-colors
) !default;

$shades: mergeColorMaps(
  (
    'black-bis': $black-bis,
    'black-ter': $black-ter,
    'white-ter': $white-ter,
    'white-bis': $white-bis,
    'blue-text': $blue-text,
    'blue-text-light': $blue-text-light,
    'blue-0': $blue-0,
    'blue-1': $blue-1,
    'blue-2': $blue-2,
    'blue-3': $blue-3,
    'blue-4': $blue-4,
    'blue-5': $blue-5,
    'blue-6': $blue-6,
    'blue-7': $blue-7,
    'blue-8': $blue-8,
    'blue-9': $blue-9,
    'light-blue-0': $light-blue-0,
    'light-blue-1': $light-blue-1,
    'light-blue-2': $light-blue-2,
    'light-blue-3': $light-blue-3,
    'light-blue-4': $light-blue-4,
    'light-blue-5': $light-blue-5,
    'light-blue-6': $light-blue-6,
    'light-blue-7': $light-blue-7,
    'light-blue-8': $light-blue-8,
    'light-blue-9': $light-blue-9,
    'grey-0': $grey-0,
    'grey-1': $grey-1,
    'grey-2': $grey-2,
    'grey-3': $grey-3,
    'grey-4': $grey-4,
    'grey-5': $grey-5,
    'grey-6': $grey-6,
    'grey-7': $grey-7,
    'grey-8': $grey-8,
    'grey-9': $grey-9,
    'purple-0': $purple-0,
    'purple-1': $purple-1,
    'purple-2': $purple-2,
    'purple-3': $purple-3,
    'purple-4': $purple-4,
    'purple-5': $purple-5,
    'purple-6': $purple-6,
    'purple-7': $purple-7,
    'purple-8': $purple-8,
    'purple-9': $purple-9,
    'green-0': $green-0,
    'green-1': $green-1,
    'green-2': $green-2,
    'green-3': $green-3,
    'green-4': $green-4,
    'green-5': $green-5,
    'green-6': $green-6,
    'green-7': $green-7,
    'green-8': $green-8,
    'green-9': $green-9,
    'red-0': $red-0,
    'red-1': $red-1,
    'red-2': $red-2,
    'red-3': $red-3,
    'red-4': $red-4,
    'red-5': $red-5,
    'red-6': $red-6,
    'red-7': $red-7,
    'red-8': $red-8,
    'red-9': $red-9,
    'yellow-0': $yellow-0,
    'yellow-1': $yellow-1,
    'yellow-2': $yellow-2,
    'yellow-3': $yellow-3,
    'yellow-4': $yellow-4,
    'yellow-5': $yellow-5,
    'yellow-6': $yellow-6,
    'yellow-7': $yellow-7,
    'yellow-8': $yellow-8,
    'yellow-9': $yellow-9,
    'success-0': $success-0,
    'success-1': $success-1,
    'success-2': $success-2,
    'success-3': $success-3,
    'success-4': $success-4,
    'success-5': $success-5,
    'success-6': $success-6,
    'success-7': $success-7,
    'success-8': $success-8,
    'success-9': $success-9,
    'info-0': $info-0,
    'info-1': $info-1,
    'info-2': $info-2,
    'info-3': $info-3,
    'info-4': $info-4,
    'info-5': $info-5,
    'info-6': $info-6,
    'info-7': $info-7,
    'info-8': $info-8,
    'info-9': $info-9,
    'primary-0': $primary-0,
    'primary-1': $primary-1,
    'primary-2': $primary-2,
    'primary-3': $primary-3,
    'primary-4': $primary-4,
    'primary-5': $primary-5,
    'primary-6': $primary-6,
    'primary-7': $primary-7,
    'primary-8': $primary-8,
    'primary-9': $primary-9,
    'warning-0': $warning-0,
    'warning-1': $warning-1,
    'warning-2': $warning-2,
    'warning-3': $warning-3,
    'warning-4': $warning-4,
    'warning-5': $warning-5,
    'warning-6': $warning-6,
    'warning-7': $warning-7,
    'warning-8': $warning-8,
    'warning-9': $warning-9,
    'danger-0': $danger-0,
    'danger-1': $danger-1,
    'danger-2': $danger-2,
    'danger-3': $danger-3,
    'danger-4': $danger-4,
    'danger-5': $danger-5,
    'danger-6': $danger-6,
    'danger-7': $danger-7,
    'danger-8': $danger-8,
    'danger-9': $danger-9,
    'info-text': $info-text,
    'success-text': $success-text,
    'warning-text': $warning-text,
    'danger-text': $danger-text,
    'purple-text': $purple-text,
    'green-text': $green-text,
    'yellow-text': $yellow-text,
    'red-text': $red-text,
  ),
  $custom-shades
) !default;

$sizes: $size-1 $size-2 $size-3 $size-4 $size-5 $size-6 $size-7 !default;
