@import 'node_modules/bulma/sass/helpers/_all.sass';

.has-no-border {
  border: none !important;
}

.is-full-width {
  width: 100% !important;
}

.is-row-reverse {
  flex-direction: row-reverse !important;
}

.has-background-light {
  background: $white-bis;
}

.has-border-blue {
  border: 1px solid $info-3;
}

.has-border-blue-dark {
  border: 1px solid $info-8;
}

.has-border-success {
  border: 1px solid $success;
}

.has-border-danger {
  border: 1px solid $danger;
}

.has-border-warning {
  border: 1px solid $danger;
}

.has-border-bold {
  border-width: 2px;
}

.has-border-blue-light {
  border: 1px solid $info-2;
}

.has-border-blue-inverted {
  border: 1px solid $info-5;
}

.has-border-grey {
  border: 1px solid $grey;
}

.has-border-radius {
  border-radius: $radius;
}

.clickable {
  cursor: pointer !important;
  pointer-events: visible !important;
}

strong,
b {
  font-weight: 700;
}

.is-display-block {
  display: block !important;
}

.is-display-inline-block {
  display: inline-block !important;
}

.is-display-flex {
  display: flex !important;
}

$space-vertical-small: 16px;
$space-horizontal-small: 16px;

$space-vertical-normal: 32px;
$space-horizontal-normal: 32px;

$space-vertical-large: 64px;
$space-horizontal-large: 64px;

hr {
  border: none;
  border-top: 1px solid $info-2;
  margin: 0;
  padding: 0;
}

.has-margin-top,
.has-large-margin-top {
  margin-top: $space-vertical-small !important;
}

.has-margin-bottom,
.has-large-margin-bottom {
  margin-bottom: $space-vertical-small !important;
}

.has-padding-top,
.has-large-padding-top {
  padding-top: $space-vertical-small !important;
}

.has-padding-bottom,
.has-large-padding-bottom {
  padding-bottom: $space-vertical-small !important;
}

.is-padded, // @deprecated
.has-large-padding,
.has-padding {
  padding-left: $space-horizontal-small !important;
  padding-right: $space-horizontal-small !important;
}

@include tablet() {
  .has-large-padding,
  .has-padding {
    padding-left: $space-horizontal-normal !important;
    padding-right: $space-horizontal-normal !important;
  }

  .has-margin-top,
  .has-large-margin-top {
    margin-top: $space-vertical-normal !important;
  }

  .has-margin-bottom,
  .has-large-margin-bottom {
    margin-bottom: $space-vertical-normal !important;
  }

  .has-padding-top,
  .has-large-padding-top {
    padding-top: $space-vertical-normal !important;
  }

  .has-padding-bottom,
  .has-large-padding-bottom {
    padding-bottom: $space-vertical-normal !important;
  }
}

@include desktop() {
  .has-large-padding {
    padding-left: $space-horizontal-large !important;
    padding-right: $space-horizontal-large !important;
  }

  .has-large-margin-top {
    margin-top: $space-vertical-large !important;
  }

  .has-large-margin-bottom {
    margin-bottom: $space-vertical-large !important;
  }

  .has-large-padding-top {
    padding-top: $space-vertical-large !important;
  }

  .has-large-padding-bottom {
    padding-bottom: $space-vertical-large !important;
  }
}

.has-no-margin {
  margin: 0 !important;
}

.has-no-margin-top {
  margin-top: 0 !important;
}

.has-no-margin-bottom {
  margin-bottom: 0 !important;
}

.has-no-padding {
  padding: 0 !important;
}

.has-no-padding-top {
  padding-top: 0 !important;
}

.has-no-padding-bottom {
  padding-bottom: 0 !important;
}
