@import 'variables/all';

// Colors

$black-bis: $grey-6 !default;
$black-ter: $grey-5 !default;
$white-ter: $grey-2 !default;
$white-bis: $grey-1 !default;

// deprecated
$blue-darker: $blue-6 !default;
$blue-dark: $blue-6 !default;
$blue-light-text: $blue-4 !default;
$blue-lighter-text: $blue-3 !default;
$blue-line: $blue-lighter-text !default;
$blue-light-line: $blue-2 !default;
$blue-line-inverted: $blue-5 !default;
$blue-light-hover: $blue-1 !default;
$blue-light: $blue-1 !default;

// Typography

$family-sans-serif: BaloiseCreateText, monospace, Arial, sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$size-display-1: 5rem !default;
$line-height-display-1: 6rem !default;

$size-display-2: 3.5rem !default;
$line-height-display-2: 4rem !default;

$size-1: 3rem !default;
$line-height-1: 3.5rem !default;

$size-2: 2.5rem !default;
$line-height-2: 3rem !default;

$size-3: 2rem !default;
$line-height-3: 2.5rem !default;

$size-4: 1.5rem !default;
$line-height-4: 2rem !default;

$size-5: 1rem !default;
$line-height-5: 1.5rem !default;

$size-6: 0.875rem !default;
$line-height-6: 1rem !default;

$size-7: 0.75rem !default;
$line-height-7: 1rem !default;

$weight-light: 300 !default;
$weight-normal: 400 !default;
$weight-medium: 400 !default;
$weight-semibold: 700 !default;
$weight-bold: 700 !default;

// Spacing

$block-spacing: 1.5rem !default;

// Responsiveness

$gap: 16px !default;
$tablet: 769px !default;
$desktop: 1024px !default;
$widescreen: 1216px !default;
$widescreen-enabled: true !default;
$fullhd: 1408px !default;
$fullhd-enabled: true !default;

// Miscellaneous

$easing: ease-out !default;
$radius-none: 0 !default;
$radius-small: 4px !default;
$radius: 4px !default;
$radius-large: 12px !default;
$radius-rounded: 9999px !default;
$speed: 86ms !default;

// Flags

$variable-columns: true !default;
$rtl: false !default;
