@import 'variables/all';

// Colors

$black-bis: $grey-6 !default;
$black-ter: $grey-5 !default;
$white-ter: $grey-2 !default;
$white-bis: $grey-1 !default;

// deprecated
$blue-darker: $blue-6 !default;
$blue-dark: $blue-6 !default;
$blue-light-text: $blue-4 !default;
$blue-lighter-text: $blue-3 !default;
$blue-line: $blue-lighter-text !default;
$blue-light-line: $blue-2 !default;
$blue-line-inverted: $blue-5 !default;
$blue-light-hover: $blue-1 !default;
$blue-light: $blue-1 !default;

// Typography

$family-sans-serif: MetaPro, Arial, sans-serif !default;
$family-monospace: monospace !default;
$render-mode: optimizeLegibility !default;

$size-1: 48px !default;
$size-2: 40px !default;
$size-3: 32px !default;
$size-4: 24px !default;
$size-5: 16px !default;
$size-6: 14px !default;
$size-7: 12px !default;

$weight-light: 400 !default;
$weight-normal: 400 !default;
$weight-medium: 700 !default;
$weight-semibold: 700 !default;
$weight-bold: 700 !default;

// Spacing

$block-spacing: 1.5rem !default;

// Responsiveness

$gap: 16px !default;
$tablet: 769px !default;
$desktop: 1024px !default;
$widescreen: 1216px !default;
$widescreen-enabled: true !default;
$fullhd: 1408px !default;
$fullhd-enabled: true !default;

// Miscellaneous

$easing: ease-out !default;
$radius-none: 0 !default;
$radius-small: 4px !default;
$radius: 4px !default;
$radius-large: 12px !default;
$radius-rounded: 9999px !default;
$speed: 86ms !default;

// Flags

$variable-columns: true !default;
$rtl: false !default;
