@import 'node_modules/bulma/sass/utilities/derived-variables.sass';
@import 'colors.scss';

/**
 * Colors
 */
$cyan: #1c77d2;

$text: $primary;
$hint: $primary-3;
$text-inverted: $primary-invert;
$text-strong: $primary;
$text-inverted-strong: $primary-invert;

$opacity-disabled: 64px;
$opacity-placeholder: 40px;

$placeholder: $primary-4;
$hint: $primary-3;
$focus-outline: $primary-2;

$hover-color: $text;
$hover-background: $gray-0;

$hover-invert-color: $text-inverted;
$hover-invert-background: $primary-8;

$focus-color: $text;
$focus-background: $gray-1;

$focus-invert-color: $text-inverted;
$focus-invert-background: lime;

$active-color: $primary-9;
$active-background: $gray-2;

$active-invert-color: $text-inverted;
$active-invert-background: $primary-8;

$select-color: $primary-9;
$select-background: $primary-1;

$select-invert-color: $text-inverted;
$select-invert-background: $primary-9;

$disabled-color: $gray;
$disabled-background-color: $white-bis;
$disabled-border-color: $border;
$disabled-placeholder-color: $gray-5;

$border: $gray-3;
$form-background: $white;

$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
    'hint': (
      $hint,
      $hint,
    ),
  ),
  $custom-colors
);

// General colors

$scheme-main: $white;
$scheme-main-bis: $white-bis;
$scheme-main-ter: $white-ter;
$scheme-invert: $black;
$scheme-invert-bis: $black-bis;
$scheme-invert-ter: $black-ter;

/**
 * Typography
 */
$height-large: 56px;
$height-medium: 48px;
$height-small: 32px;

/**
 * Typography
 */
$font-path: '/assets/fonts' !default;
$family-sans-serif: 'Biennale', Arial, sans-serif;
$family-primary: $family-sans-serif;
$title-family: $family-sans-serif;
$subtitle-family: $family-sans-serif;
$body-family: $family-sans-serif;

$weight-light: 400;
$weight-normal: 400;
$weight-medium: 700;
$weight-semibold: 700;
$weight-bold: 700;

$size-1: 56px;
$size-2: 48px;
$size-3: 40px;
$size-4: 32px;
$size-5: 24px;
$size-6: 16px;
$size-7: 12px;

$size-large: $size-4;
$size-medium: $size-5;
$size-normal: $size-6;
$size-small: $size-7;

/**
 * Spacing
 */
$column-gap: 16px;
$spacing-shortcuts: (
  'margin': 'm',
  'padding': 'p',
);
$spacing-directions: (
  'top': 't',
  'right': 'r',
  'bottom': 'b',
  'left': 'l',
);
$spacing-horizontal: 'x';
$spacing-vertical: 'y';
$spacing-values: (
  '0': 0,
  '1': 4px,
  '2': 8px,
  '3': 16px,
  '4': 24px,
  '5': 32px,
  '6': 40px,
  '7': 48px,
  '8': 56px,
  '9': 64px,
  '10': 72px,
  '11': 80px,
  '12': 88px,
  '13': 96px,
  '14': 104px,
  '15': 112px,
  '16': 120px,
  'auto': auto,
);

/**
 * Radius
 */
$radius-small: 4px;
$radius: 4px;
$radius-large: 4px;
$radius-none: 0;
$radius-rounded: 100%;
$tag-radius: 100px;

/**
 * Link
 */
$link: $primary;
$link-invert: $primary-invert;
$link-visited: $primary-9;
$link-hover: $primary-7;
$link-hover-border: transparent;
$link-focus: $primary-7;
$link-focus-border: $primary-3;
$link-active: $primary-7;
$link-active-border: transparent;

/**
 * Animation
 */
$easing: ease-out;

/**
 * Shadow
 */
$shadow: 0 0 10px 0 rgba(transparentize($primary, 0.85), 0.15);
$shadow-hover: 0 0 30px 0 rgba(transparentize($primary, 0.85), 0.15);

/**
 * Section
 */
$section-padding: 40px;

/**
 * Breakpoints
 */
$tablet: 720px;
$desktop: 960px;
$widescreen: 1200px;
$fullhd: 1200px;
