@import 'node_modules/bulma/sass/utilities/derived-variables.sass';

/**
 * Colors
 */
$blue: #000d6e;
$blue-light: #8386b7;

$black: #000000;
$white: #ffffff;

$gray-lighter: #f6f6f6;
$gray-light: #e8e8e8;
$gray: #ccc;

$green: #1b5951;
$green-lightest: #eaefee;

$pink: #d9304c;

$red: $pink;
$red-lightest: #fcebee;

$rust: #b24a00;
$orange: #fa9319;
$yellow: #fae052;
$cyan: #1c77d2;

$blue-darker: #010102;
$blue-dark: #002162;
$blue-light-text: #7188b8;
$blue-lighter-text: #95adda;
$blue-line: $blue-lighter-text;
$blue-light-line: #d1dbed;
$blue-line-inverted: #204c9d;
$blue-light-hover: #ebf6fa;
// $blue-light: #f0fbff;

// $black: #222222;
// $black-bis: $blue-darker;
// $black-ter: $blue-dark;

// $gray-darkest: #444444;
// $gray-darker: #7e7e7e;
// $gray-dark: #cecfd0;
// $gray: #d8d9d9;
// $gray-light: #e2e3e3;
// $gray-lighter: #ebecec;
// $gray-lightest: #f1f3f5;

// $white-ter: #f5f5f6;
// $white-bis: #fafafa;
// $white: #ffffff;

$black: #000;
$black-bis: #212529;
$black-ter: #212529;

$gray-darkest: #343a40;
$gray-darker: #495057;
$gray-dark: #868e96;
$gray: #adb5bd;
$gray-light: #ced4da;
$gray-lighter: #dee2e6;
$gray-lightest: #e9ecef;

$white-ter: #f1f3f5;
$white-bis: #f8f9fa;
$white: #ffffff;

$primary: $blue;
$info: $cyan;
$link: $blue;
$warning: $rust;
$danger: $red;
$success: $green;
$success-lightest: $green-lightest;
$danger: $red;
$danger-lightest: $red-lightest;

$dark: $blue;
$light: $white-bis;
$info-light: $blue-light;
$info-dark: $blue-dark;
$warning-invert: $white;
$hint: $blue-light-text;
$primary-invert: $white;
$success-invert: $white;

$text: $primary;
$text-inverted: $primary-invert;
$text-strong: $primary;
$text-inverted-strong: $primary-invert;

$opacity-disabled: 64px;
$opacity-placeholder: 40px;

$border-color: $gray-lightest;
$hover-color: $text;
$hover-background: $gray-lighter;
$focus-color: $text;
$focus-background: $gray-lighter;
$active-color: $text;
$active-background: $gray-lighter;

$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
    'hint': (
      $hint,
      $hint,
    ),
  ),
  $custom-colors
);

$shades: (
  'white': $white,
  'white-bis': $white-bis,
  'white-ter': $white-ter,
  'gray-lightest': $gray-lightest,
  'gray-lighter': $gray-lighter,
  'gray-light': $gray-light,
  'gray': $gray,
  'gray-dark': $gray-dark,
  'gray-darker': $gray-darker,
  'gray-darkest': $gray-darkest,
  'black': $black,
);

$border: $blue-light-line;
$form-background: $white-bis;

// General colors

$scheme-main: $white;
$scheme-main-bis: $white-bis;
$scheme-main-ter: $white-ter;
$scheme-invert: $black;
$scheme-invert-bis: $black-bis;
$scheme-invert-ter: $black-ter;

/**
 * Typography
 */
$font-path: '/assets/fonts' !default;
$family-sans-serif: 'Biennale', Arial, sans-serif;
$family-primary: $family-sans-serif;
$title-family: $family-sans-serif;
$body-family: $family-sans-serif;

$weight-light: 400;
$weight-normal: 400;
$weight-medium: 700;
$weight-semibold: 700;
$weight-bold: 700;

$size-1: 44px;
$size-2: 36px;
$size-3: 28px;
$size-4: 20px;
$size-5: 16px;
$size-6: 14px;
$size-7: 12px;

$size-large: $size-3;
$size-medium: $size-4;
$size-normal: $size-5;
$size-small: $size-6;

$title-color: $blue;
$subtitle-color: $blue;

/**
 * Spacing
 */
$column-gap: 16px;
$spacing-shortcuts: (
  'margin': 'm',
  'padding': 'p',
);
$spacing-directions: (
  'top': 't',
  'right': 'r',
  'bottom': 'b',
  'left': 'l',
);
$spacing-horizontal: 'x';
$spacing-vertical: 'y';
$spacing-values: (
  '0': 0,
  '1': 4px,
  '2': 8px,
  '3': 16px,
  '4': 24px,
  '5': 32px,
  '6': 40px,
  '7': 48px,
  '8': 56px,
  '9': 64px,
  '10': 72px,
  '11': 80px,
  '12': 88px,
  '13': 96px,
  '14': 104px,
  '15': 112px,
  '16': 120px,
  'auto': auto,
);

/**
 * Radius
 */
$radius-small: 4px;
$radius: 4px;
$radius-large: 4px;
$radius-none: 0;
$radius-rounded: 100%;
$tag-radius: 100px;

/**
 * Link
 */
$link: $primary;
$link-invert: $blue;
$link-visited: $primary;
$link-hover: $blue;
$link-hover-border: $blue;
$link-focus: $blue;
$link-focus-border: $blue;
$link-active: $blue;
$link-active-border: $blue;

/**
 * Animation
 */
$easing: ease-out;

/**
 * Shadow
 */
$shadow: 0 0 10px 0 rgba(transparentize(#002162, 0.85), 0.15);
$shadow-hover: 0 0 30px 0 rgba(transparentize(#002162, 0.85), 0.15);

/**
 * Section
 */
$section-padding: 40px;

/**
 * Breakpoints
 */
$tablet: 720px;
$desktop: 960px;
$widescreen: 1200px;
$fullhd: 1200px;
