@import 'node_modules/bulma/sass/utilities/derived-variables.sass';
@import 'colors.scss';

/**
 * Colors
 */
$blue-darker: $info-9;
$blue-dark: $info-8;
$blue-light-text: $info-4;
$blue-lighter-text: $info-3;
$blue-line: $blue-lighter-text;
$blue-light-line: $info-2;
$blue-line-inverted: $info-5;
$blue-light-hover: $info-1;
$blue-light: $info-0;

$black-bis: $info-9;
$black-ter: $info-8;

$grey-darkest: $gray-8;
$grey-darker: $gray-7;
$grey-dark: $gray-6;
$grey: $gray-5;
$grey-light: $gray-4;
$grey-lighter: $gray-3;
$grey-lightest: $gray-2;

$dark: $info;
$light: $white-bis;
$info-light: $info-0;
$info-dark: $info-8;
$link: $cyan;
$hint: $blue-light-text;

$text: $black;
$text-strong: $blue;

$colors: mergeColorMaps(
  (
    'white': (
      $white,
      $black,
    ),
    'black': (
      $black,
      $white,
    ),
    'light': (
      $light,
      $light-invert,
    ),
    'dark': (
      $dark,
      $dark-invert,
    ),
    'primary': (
      $primary,
      $primary-invert,
      $primary-light,
      $primary-dark,
    ),
    'link': (
      $link,
      $link-invert,
      $link-light,
      $link-dark,
    ),
    'info': (
      $info,
      $info-invert,
      $info-light,
      $info-dark,
    ),
    'success': (
      $success,
      $success-invert,
      $success-light,
      $success-dark,
    ),
    'warning': (
      $warning,
      $warning-invert,
      $warning-light,
      $warning-dark,
    ),
    'danger': (
      $danger,
      $danger-invert,
      $danger-light,
      $danger-dark,
    ),
    'hint': (
      $hint,
      $hint,
    ),
  ),
  $custom-colors
);

$shades: (
  'blue-darker': $blue-darker,
  'blue-dark': $blue-dark,
  'blue': $blue,
  'blue-line-inverted': $blue-line-inverted,
  'blue-light-text': $blue-light-text,
  'blue-lighter-text': $blue-lighter-text,
  'blue-line': $blue-line,
  'blue-light-line': $blue-light-line,
  'blue-light-hover': $blue-light-hover,
  'blue-light': $blue-light,
  'white-bis': $white-bis,
  'white-ter': $white-ter,
  'cyan': $cyan,
  'black': $black,
  'grey': $grey,
  'grey-light': $grey-light,
  'grey-lighter': $grey-lighter,
  'grey-lightest': $grey-lightest,
);

$border: $blue-light-line;
$form-background: $white-bis;

// General colors

$scheme-main: $white;
$scheme-main-bis: $white-bis;
$scheme-main-ter: $white-ter;
$scheme-invert: $black;
$scheme-invert-bis: $black-bis;
$scheme-invert-ter: $black-ter;

/**
 * Typography
 */
$font-path: '/assets/fonts' !default;
$family-sans-serif: MetaPro, Arial, sans-serif;
$family-primary: $family-sans-serif;
$title-family: $family-sans-serif;
$body-family: $family-sans-serif;

$weight-light: 400;
$weight-normal: 400;
$weight-medium: 700;
$weight-semibold: 700;
$weight-bold: 700;

$size-1: 44px;
$size-2: 36px;
$size-3: 28px;
$size-4: 20px;
$size-5: 16px;
$size-6: 14px;
$size-7: 12px;

$size-large: $size-3;
$size-medium: $size-4;
$size-normal: $size-5;
$size-small: $size-6;

$title-color: $blue;
$subtitle-color: $blue;

/**
 * Spacing
 */
$column-gap: 16px;
$spacing-shortcuts: (
  'margin': 'm',
  'padding': 'p',
);
$spacing-directions: (
  'top': 't',
  'right': 'r',
  'bottom': 'b',
  'left': 'l',
);
$spacing-horizontal: 'x';
$spacing-vertical: 'y';
$spacing-values: (
  '0': 0,
  '1': 4px,
  '2': 8px,
  '3': 16px,
  '4': 24px,
  '5': 32px,
  '6': 40px,
  '7': 48px,
  '8': 56px,
  '9': 64px,
  '10': 72px,
  '11': 80px,
  '12': 88px,
  '13': 96px,
  '14': 104px,
  '15': 112px,
  '16': 120px,
  'auto': auto,
);

/**
 * Radius
 */
$radius-small: 4px;
$radius: 4px;
$radius-large: 4px;
$radius-none: 0;
$radius-rounded: 100%;
$tag-radius: 100px;

/**
 * Link
 */
$link: $primary;
$link-invert: $blue;
$link-visited: $primary;
$link-hover: $blue;
$link-hover-border: $blue;
$link-focus: $blue;
$link-focus-border: $blue;
$link-active: $blue;
$link-active-border: $blue;

/**
 * Animation
 */
$easing: ease-out;

/**
 * Shadow
 */
$shadow: 0 0 10px 0 rgba(transparentize(#002162, 0.85), 0.15);
$shadow-hover: 0 0 30px 0 rgba(transparentize(#002162, 0.85), 0.15);

/**
 * Section
 */
$section-padding: 40px;

/**
 * Breakpoints
 */
$tablet: 720px;
$desktop: 960px;
$widescreen: 1200px;
$fullhd: 1200px;
