$file-border-color: $border;
$file-radius: $radius;

$file-cta-background-color: $white;
$file-cta-color: $text;
$file-cta-hover-color: $text-strong;
$file-cta-active-color: $text-strong;

$file-name-border-color: $border;
$file-name-border-style: dashed;
$file-name-border-width: 2px;
