// Form elements
// ------------------------------------------------
//
// All generic form controls, designed for consistency
// https://bulma.io/documentation/form/general/

input.input,
textarea.textarea {
  border-width: 2px;
  border-radius: $radius;
  font-size: $size-normal;
  font-family: $family-primary;
  color: $text;
  outline: none;
  box-shadow: none;

  &.is-danger {
    color: $invalid-dark;
    background: $invalid-light;
  }

  &.is-success {
    color: $success-dark;
    background: $success-light;
  }

  &.is-warning {
    color: $warning-dark;
    background: $warning-light;
  }
}

input.input {
  min-height: 48px;
}

.input,
.textarea,
input.input,
textarea.textarea {
  &.is-disabled {
    color: $input-disabled-color;
    background: $input-disabled-background-color;
    border-color: $input-disabled-border-color;

    @include placeholder {
      color: $input-disabled-placeholder-color;
    }
  }
}
