$input-color: $text !default !default;
$input-radius: 0 !default;
$input-border-color: $blue-2 !default;
$input-shadow: none !default;
$input-placeholder-color: $grey-6 !default;
$input-background-color: transparent !default;
$input-height: 38px !default;
$input-hover-color: transparent !default;
$input-hover-border-color: $blue-2 !default;
$input-focus-box-shadow-size: 0 !default;
$input-focus-box-shadow-color: none !default;
$input-focus-border-color: $blue !default;
$input-disabled-color: $text-light !default;
$input-disabled-background-color: $blue-1 !default;
$input-disabled-border-color: $blue-2 !default;
$input-disabled-placeholder-color: $text-light !default;
