$input-color: $text;
$input-radius: 0;
$input-border-color: $blue-light-line;
$input-shadow: none;
$input-placeholder-color: $grey-darker;
$input-background-color: transparent;
$input-height: 38px;
$input-hover-color: transparent;
$input-hover-border-color: $blue-light-line;
$input-focus-box-shadow-size: 0;
$input-focus-box-shadow-color: none;
$input-focus-border-color: $blue;
$input-disabled-color: $blue-light-text;
$input-disabled-background-color: $blue-light;
$input-disabled-border-color: $blue-light-line;
$input-disabled-placeholder-color: $blue-light-text;
