$input-color: $text !default !default;
$input-radius: 0 !default;
$input-border-color: $grey-2 !default;
$input-shadow: none !default;
$input-placeholder-color: $blue-5 !default;
$input-background-color: $white !default;
$input-height: 48px !default;
$input-hover-color: $grey-1 !default;
$input-hover-border-color: $grey-2 !default;
$input-focus-box-shadow-size: 0 !default;
$input-focus-box-shadow-color: none !default;
$input-focus-border-color: $blue !default;
$input-disabled-color: $grey-7 !default;
$input-disabled-background-color: $grey-2 !default;
$input-disabled-border-color: $grey-5 !default;
$input-disabled-placeholder-color: $grey-6 !default;
