// Form elements
// ------------------------------------------------
//
// All generic form controls, designed for consistency
// https://bulma.io/documentation/form/general/

input.input,
textarea.textarea {
  border-width: 2px;
  font-family: $family-primary;
  color: $primary;
  min-height: $input-height;
  height: $input-height;
  display: inline-block;

  &::placeholder {
    font-family: $family-primary !important;
    opacity: $opacity-placeholder;
  }

  &:hover,
  &.is-hoverd {
    &:not(:focus) {
      background-color: $gray-0;
    }
  }

  &.is-focused.is-success {
    border-color: $success;
    background: $success-1;
  }

  &.is-focused.is-danger {
    border-color: $danger;
    background: $danger-1;
  }
}
