// Dropdown
// ------------------------------------------------
//
// An interactive dropdown menu for discoverable content
// https://bulma.io/documentation/components/dropdown/

@import 'bal-dropdown.vars';
@import 'node_modules/bulma/sass/components/dropdown.sass';

.bal-dropdown {
  display: inline-block;

  .dropdown {
    &.is-active {
      border-bottom: 0;
    }

    .dropdown-content {
      padding: 0;
    }

    .dropdown-menu {
      padding-top: 0;
    }
  }

  &.is-expanded {
    width: 100%;

    .dropdown,
    .dropdown-trigger {
      width: 100%;
    }
  }

  @include mobile() {
    .dropdown-menu {
      min-width: 100%;
    }
  }
}

bal-select-option {
  display: none;
}
