// https://bulma.io/documentation/components/dropdown/#variables

$dropdown-menu-min-width: 264px !default;
$dropdown-content-radius: 0px !default;
$dropdown-content-padding-bottom: 0 !default;
$dropdown-content-padding-top: 0 !default;
$dropdown-content-shadow: 0 0 16px 0 rgba(transparentize($blue-8, 0.85), 0.15) !default;

$dropdown-item-color: $blue !default;
$dropdown-item-hover-color: $blue !default;
$dropdown-item-hover-background-color: $grey-2 !default;
$dropdown-item-active-color: $blue !default;
$dropdown-item-active-background-color: $blue-0 !default;
$dropdown-divider-background-color: $blue-3 !default;
