/**
 * @prop --bal-hint-content-background: Background of the hint content
 */

:root {  //
  // background colors
  --bal-hint-content-background: var(--bal-color-grey-2);
  --bal-hint-content-border-color: var(--bal-color-grey-2);
  --bal-hint-icon-color-hover: var(--bal-color-light-blue-5);
}