@use '@baloise/ds-css/dist/scss/mixins' as *;
@use '../../vars' as vars;

/**
 * General Mixins
 * --------------------------------
 */

@mixin placeholder {
  &::placeholder {
    @content;
  }

  $placeholders: ':-moz' ':-webkit-input' '-moz' '-ms-input';
  @each $placeholder in $placeholders {
    &:#{$placeholder}-placeholder {
      @content;
    }
  }
}

/**
 * Control Mixins
 * --------------------------------
 */

@mixin vars($prefix) {
  @include vars.local(#{$prefix}-family, var(--ds-form-control-family));
  @include vars.local(#{$prefix}-weight, var(--ds-form-control-weight));
  @include vars.local(#{$prefix}-line-height, var(--ds-form-control-line-height));
  @include vars.local(#{$prefix}-size, var(--ds-form-control-size-device));

  @include vars.local(#{$prefix}-color, var(--ds-form-control-color-value-base));
  @include vars.local(#{$prefix}-placeholder, var(--ds-form-control-color-placeholder-base));
}

@mixin style($prefix, $selector: '#input') {
  #{$selector} {
    border: none;
    outline: none;
    box-shadow: none;
    position: relative;
    background: inherit;

    flex: 1;

    color: var(--_#{$prefix}-color);
    font-family: var(--_#{$prefix}-family);
    font-weight: var(--_#{$prefix}-weight);
    font-size: var(--_#{$prefix}-size);
    line-height: var(--_#{$prefix}-line-height);

    border-radius: var(--_#{$prefix}-container-radius);

    @include placeholder {
      color: var(--_#{$prefix}-placeholder);
    }
  }
}
