@use '@baloise/ds-css/dist/scss/mixins' as *;
@use '../../hybrid' as hybrid;
@use './input.mixin' as input;

$use-host: false !default;
$name: input;
$css-selector: ('.input');
$host-selector: ('#input');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

.input {
  @include input.vars('input');
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@include input.style('input', '.input');
