.bal-doc-stackblitz--angular svg path
  fill: white !important

.bal-doc-stackblitz--react svg
  fill: white !important

.bal-doc-stackblitz--react ellipse
  fill: transparent !important

.bal-doc-stackblitz--react circle
  fill: rgb(97, 218, 251) !important
