/**
 * @prop --ds-form-field-control-font-size: TBD
 * @prop --ds-form-field-control-font-family: TBD
 * @prop --ds-form-field-control-color: TBD
 * @prop --ds-form-field-control-placeholder-color: TBD
 * @prop --ds-form-field-control-radius: TBD
 * @prop --ds-form-field-control-background: TBD
 * @prop --ds-form-field-control-background-hover: TBD
 * @prop --ds-form-field-control-background-active: TBD
 * @prop --ds-form-field-control-border-width: TBD
 * @prop --ds-form-field-control-border-style: TBD
 * @prop --ds-form-field-control-border-color: TBD
 * @prop --ds-form-field-control-border-color-hover: TBD
 * @prop --ds-form-field-control-border-color-active: TBD
 * @prop --ds-form-field-control-success-background: TBD
 * @prop --ds-form-field-control-success-background-hover: TBD
 * @prop --ds-form-field-control-success-background-active: TBD
 * @prop --ds-form-field-control-success-border-color: TBD
 * @prop --ds-form-field-control-success-border-color-hover: TBD
 * @prop --ds-form-field-control-success-border-color-active: TBD
 * @prop --ds-form-field-control-danger-background: TBD
 * @prop --ds-form-field-control-danger-background-hover: TBD
 * @prop --ds-form-field-control-danger-background-active: TBD
 * @prop --ds-form-field-control-danger-border-color: TBD
 * @prop --ds-form-field-control-danger-border-color-hover: TBD
 * @prop --ds-form-field-control-danger-border-color-active: TBD
 * @prop --ds-form-field-control-disabled-color: TBD
 * @prop --ds-form-field-control-disabled-background: TBD
 * @prop --ds-form-field-control-disabled-border-color: TBD
 * @prop --ds-form-field-label-font-size: TBD
 * @prop --ds-form-field-label-line-height: TBD
 * @prop --ds-form-field-label-font-weight: TBD
 * @prop --ds-form-field-label-font-family: TBD
 * @prop --ds-form-field-label-margin-bottom: TBD
 * @prop --ds-form-field-label-color-hover: TBD
 * @prop --ds-form-field-label-color-active: TBD
 * @prop --ds-form-field-label-success-color: TBD
 * @prop --ds-form-field-label-danger-color: TBD
 * @prop --ds-form-field-label-danger-color-hover: TBD
 * @prop --ds-form-field-label-danger-color-active: TBD
 * @prop --ds-form-field-label-disabled-color TBD
 * @prop --ds-form-field-message-font-size: TBD
 * @prop --ds-form-field-message-font-weight: TBD
 * @prop --ds-form-field-message-color: TBD
 * @prop --ds-form-field-message-color-hover: TBD
 * @prop --ds-form-field-message-color-active: TBD
 * @prop --ds-form-field-message-font-weight: TBD
 * @prop --ds-form-field-message-success-color: TBD
 * @prop --ds-form-field-message-danger-color: TBD
 * @prop --ds-form-field-message-disabled-color: TBD
 * @prop --ds-form-field-icon-color: TBD
 * @prop --ds-form-field-icon-color-hover: TBD
 * @prop --ds-form-field-icon-color-active: TBD
 * @prop --ds-form-field-icon-success-color: TBD
 * @prop --ds-form-field-icon-danger-color: TBD
 * @prop --ds-form-field-icon-disabled-color: TBD
 * @prop --ds-file-label-color: TBD
 * @prop --ds-file-label-color-hover: TBD
 * @prop --ds-file-label-color-active: TBD
 * @prop --ds-file-border-style: TBD
 * @prop --ds-file-label-disabled-color: TBD
 */

:root {
  //
  // form control
  --ds-form-field-control-font-size: var(--ds-text-size-base);
  --ds-form-field-control-font-family: var(--ds-font-family-text);
  --ds-form-field-control-color: var(--ds-color-text-primary);
  --ds-form-field-control-placeholder-color: var(--ds-color-text-primary-light);
  --ds-form-field-control-radius: var(--ds-radius-base);
  --ds-form-field-control-background: var(--ds-color-white);
  --ds-form-field-control-background-hover: var(--ds-color-grey-1);
  --ds-form-field-control-background-active: var(--ds-color-grey-1);
  --ds-form-field-control-border-width: var(--ds-border-width-base);
  --ds-form-field-control-border-style: solid;
  --ds-form-field-control-border-color: var(--ds-color-border-base);
  --ds-form-field-control-border-color-hover: var(--ds-form-field-control-border-color);
  --ds-form-field-control-border-color-active: var(--ds-color-border-primary-base);
  // success
  --ds-form-field-control-success-background: var(--ds-color-success-1);
  --ds-form-field-control-success-background-hover: var(--ds-color-success-1);
  --ds-form-field-control-success-background-active: var(--ds-color-success-1);
  --ds-form-field-control-success-border-color: var(--ds-color-border-success-base);
  --ds-form-field-control-success-border-color-hover: var(--ds-form-field-control-border-color);
  --ds-form-field-control-success-border-color-active: var(--ds-color-border-primary-base);
  // danger
  --ds-form-field-control-danger-background: var(--ds-color-danger-1);
  --ds-form-field-control-danger-background-hover: var(--ds-color-danger-1);
  --ds-form-field-control-danger-background-active: var(--ds-color-danger-1);
  --ds-form-field-control-danger-border-color: var(--ds-color-border-danger-base);
  --ds-form-field-control-danger-border-color-hover: var(--ds-form-field-control-border-color);
  --ds-form-field-control-danger-border-color-active: var(--ds-color-border-primary-base);
  // disabled
  --ds-form-field-control-disabled-color: var(--ds-color-text-grey-dark);
  --ds-form-field-control-disabled-background: var(--ds-color-grey-2);
  --ds-form-field-control-disabled-border-color: var(--ds-color-border-grey-dark);
  //
  // field label
  --ds-form-field-label-font-size: var(--ds-text-size-sm);
  --ds-form-field-label-line-height: var(--ds-line-height-small);
  --ds-form-field-label-font-weight: var(--ds-text-weight-bold);
  --ds-form-field-label-font-family: var(--ds-font-family-text);
  --ds-form-field-label-margin-bottom: 0.25rem;
  --ds-form-field-label-color-hover: var(--ds-link-color-text-primary-hover);
  --ds-form-field-label-color-active: var(--ds-link-color-text-primary-active);
  --ds-form-field-label-success-color: var(--ds-color-text-success);
  --ds-form-field-label-danger-color: var(--ds-color-text-danger);
  --ds-form-field-label-danger-color-hover: var(--ds-color-text-danger-hover);
  --ds-form-field-label-danger-color-active: var(--ds-color-text-danger-active);
  --ds-form-field-label-disabled-color: var(--ds-color-text-grey);
  //
  // field message
  --ds-form-field-message-font-size: var(--ds-text-size-xs);
  --ds-form-field-message-font-weight: var(--ds-text-weight-regular);
  --ds-form-field-message-color: var(--ds-color-text-primary-light);
  --ds-form-field-message-color-hover: var(--ds-link-color-text-primary-hover);
  --ds-form-field-message-color-active: var(--ds-link-color-text-primary-active);
  --ds-form-field-message-font-weight: var(--ds-text-weight-regular);
  --ds-form-field-message-success-color: var(--ds-color-text-success);
  --ds-form-field-message-danger-color: var(--ds-color-text-danger);
  --ds-form-field-message-disabled-color: var(--ds-color-text-grey);
  //
  // field icon
  --ds-form-field-icon-color: var(--ds-link-color-text-primary-base);
  --ds-form-field-icon-color-hover: var(--ds-link-color-text-primary-hover);
  --ds-form-field-icon-color-active: var(--ds-link-color-text-primary-active);
  --ds-form-field-icon-success-color: var(--ds-color-text-success);
  --ds-form-field-icon-danger-color: var(--ds-color-text-danger);
  --ds-form-field-icon-disabled-color: var(--ds-color-text-grey);
  //
  // file upload
  --ds-file-label-color: var(--ds-link-color-text-primary-base);
  --ds-file-label-color-hover: var(--ds-link-color-text-primary-hover);
  --ds-file-label-color-active: var(--ds-link-color-text-primary-active);
  --ds-file-border-style: dashed;
  --ds-file-label-disabled-color: var(--ds-color-text-grey-dark);
}
