/**
 * @prop --bal-list-marker-color: Color of the list marker symbol
 * @prop --bal-list-marker-inverted-color: Color of the list marker symbol on a dark background
 * @prop --bal-list-bullet-radius: Radius of the custom bullet
 * @prop --bal-list-bullet-background: Background color of the custom bullet
 * @prop --bal-list-bullet-background-green: Green background color of the custom bullet
 * @prop --bal-list-bullet-background-red: Red background color of the custom bullet
 * @prop --bal-list-bullet-background-yellow: Yellow background color of the custom bullet
 * @prop --bal-list-bullet-background-purple: Purple background color of the custom bullet
 */

:root
  --bal-list-marker-color: var(--bal-color-primary)
  --bal-list-marker-inverted-color: var(--bal-color-white)
  --bal-list-bullet-radius: var(--bal-radius-rounded)
  --bal-list-bullet-background: var(--bal-color-green-3)
  --bal-list-bullet-background-green: var(--bal-color-green-3)
  --bal-list-bullet-background-red: var(--bal-color-red-3)
  --bal-list-bullet-background-yellow: var(--bal-color-yellow-3)
  --bal-list-bullet-background-purple: var(--bal-color-purple-3)
