/**
 * @prop --ds-table-color: Tables default font color
 * @prop --ds-table-background-color: Tables default background color
 * @prop --ds-table-body-background-color: Table body background
 * @prop --ds-table-cell-border: Table cell border
 * @prop --ds-table-cell-border-width: Table cell border width
 * @prop --ds-table-cell-padding: Table cell padding
 * @prop --ds-table-cell-heading-color: Table cell heading color
 * @prop --ds-table-head-cell-border-width: Table head cell border width
 * @prop --ds-table-head-cell-border-color: Table head cell border color
 * @prop --ds-table-head-cell-color: Table head cell color
 * @prop --ds-table-head-background-color: Table head cell background
 * @prop --ds-table-head-font-size:  Table head cell font size backgound
 * @prop --ds-table-head-font-family: Table head cell font family
 * @prop --ds-table-foot-cell-border-width: Table foot cell border width
 * @prop --ds-table-foot-cell-color: Table foot cell color
 * @prop --ds-table-foot-background-color: Table foot cell background
 * @prop --ds-table-row-background-color-hover: Table row hover background
 * @prop --ds-table-row-background-color-active: Table row pressed background
 * @prop --ds-table-row-color-active: Table row pressed font color
 * @prop --ds-table-striped-row-even-background-color: Table row striped background
 * @prop --ds-table-striped-row-even-background-color-hover: Table row striped background on hover
 */

:root {
  --ds-table-color: var(--ds-color-primary-5);
  --ds-table-background-color: var(--ds-color-white);
  --ds-table-body-background-color: transparent;
  //
  // cell
  --ds-table-cell-border-color: var(--ds-border-color-base);
  --ds-table-cell-border: 2px solid var(--ds-table-cell-border-color);
  --ds-table-cell-border-width: 0 0 2px;
  --ds-table-cell-padding: 0.5em 0.75em;
  --ds-table-cell-heading-color: var(--ds-color-primary-5);
  //
  // head
  --ds-table-head-cell-border-width: 0 0 1px;
  --ds-table-head-cell-border-color: var(--ds-color-primary-5);
  --ds-table-head-cell-color: var(--ds-color-primary-5);
  --ds-table-head-background-color: transparent;
  --ds-table-head-font-size: var(--ds-text-size-base);
  --ds-table-head-font-family: var(--ds-font-family-heading);
  //
  // foot
  --ds-table-foot-cell-border-width: 0 0 0;
  --ds-table-foot-cell-color: var(--ds-color-primary-5);
  --ds-table-foot-background-color: transparent;
  //
  // row
  --ds-table-row-background-color-hover: var(--ds-color-grey-2);
  --ds-table-row-background-color-active: var(--ds-color-primary-1);
  --ds-table-row-color-active: var(--ds-color-primary-5);
  --ds-table-striped-row-even-background-color: var(--ds-color-grey-1);
  --ds-table-striped-row-even-background-color-hover: var(--ds-color-grey-2);
}
