@import "../../scss/bal-ui-library.globals";

// Colours
$pd-text-color: $blue;
$pd-title-color: $blue;
$pd-title-bg: $white;
$pd-picker-bg: $white;
$pd-picker-border: $white;
$pd-picker-border-bottom: $white;
$pd-th-color: $light-text-blue;
$pd-day-color: $blue;
$pd-day-bg: $white;
$pd-day-hover-color: $blue;
$pd-day-hover-bg: $white;
$pd-day-today-color: $blue;
$pd-day-selected-color: $white;
$pd-day-selected-bg: $blue;
$pd-day-selected-shadow: none;
$pd-day-disabled-color:  $light-text-blue;
$pd-week-color: $light-text-blue;

// Font
$pd-font-family: $family-primary;
