.bal-notices {
  @import 'node_modules/bulma/sass/elements/container';

  position: fixed;
  display: flex;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  z-index: 1000;
  pointer-events: none;
  flex-direction: column;

  .container {
    width: 100%;
  }

  &.has-snackbar {
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column-reverse;
    margin: 0.5em;

    bal-snackbar {
      justify-content: flex-end;
      align-self: flex-end;
    }
  }

  &.has-toast {
    justify-content: flex-start;
    align-items: center;
    margin: 0.5em;

    bal-toast {
      justify-content: center;
      align-self: center;
    }
  }
}
