.bal-notices
  position: fixed !important
  display: flex !important
  top: 0 !important
  bottom: 0 !important
  left: 0 !important
  right: 0 !important
  padding: 16px !important
  margin: 0 !important
  overflow: hidden !important
  z-index: 1000 !important
  pointer-events: none !important
  flex-direction: column !important

  .container
    width: 100% !important

  &.has-snackbar
    justify-content: flex-end
    align-items: flex-end
    flex-direction: column-reverse
    margin: 0.5em

    .bal-snackbar
      justify-content: flex-end
      align-self: flex-end

  &.has-toast
    justify-content: flex-start
    align-items: center
    margin: 0.5em

    .bal-toast
      justify-content: center
      align-self: center
