+block(badge)
  +unselectable
  position: static
  display: flex
  justify-content: center
  align-items: center
  background: var(--bal-color-danger)
  border-radius: var(--bal-radius-rounded)
  width: 1.5rem
  height: 1.5rem
  +modifier(has-size-small)
    width: .75rem
    height: .75rem
  +modifier(has-size-large)
    width: 2rem
    height: 2rem
  // colors
  +modifier(has-background-danger)
    background: var(--bal-color-danger)
  +modifier(has-background-warning)
    background: var(--bal-color-warning)
  +modifier(has-background-success)
    background: var(--bal-color-success)
  // position
  +modifiers(has-position-card, has-position-button)
    position: absolute
    right: -0.5rem
    top: -0.5rem
  +modifier(has-position-tabs)
    margin-top: -4px
    position: absolute
    right: -26px
    &.bal-badge--has-size-small
      right: -16px

  // label
  +element(label)
    font-weight: $weight-bold !important
    font-family: var(--bal-font-family-text) !important
    font-size: var(--bal-size-small) !important
    color: var(--bal-color-white)
    line-height: 1.5rem !important
