@import '@baloise/design-system-css/sass/mixins'
@import './bal-badge.vars'

// Badge
// --------------------------------------------------

+block(badge)
  +unselectable
  position: static
  display: flex
  justify-content: center
  align-items: center
  background: var(--bal-badge-background)
  border-radius: var(--bal-badge-radius)
  width: 1.5rem
  height: 1.5rem
  +modifier(has-size-small)
    width: .75rem
    height: .75rem
  +modifier(has-size-large)
    width: 2rem
    height: 2rem
  //
  // colors
  +modifier(has-background-danger)
    background: var(--bal-badge-background-danger)
  +modifier(has-background-warning)
    background: var(--bal-badge-background-warning)
  +modifier(has-background-success)
    background: var(--bal-badge-background-success)
  //
  // position
  +modifiers(has-position-card, has-position-button)
    position: absolute
    right: -0.5rem
    top: -0.5rem
  +modifier(has-position-tabs)
    margin-top: -4px
    position: absolute
    right: -26px
    &.bal-badge--has-size-small
      right: -16px
  //
  // label
  +element(label)
    font-weight: var(--bal-weight-bold) !important
    font-family: var(--bal-font-family-text) !important
    font-size: var(--bal-size-small) !important
    color: var(--bal-badge-text-color)
    line-height: 1.5rem !important
    hyphens: auto
    +modifier(is-hidden)
      display: none !important
    +modifier(has-color-danger)
      color: var(--bal-badge-text-color-danger)
    +modifier(has-color-warning)
      color: var(--bal-badge-text-color-warning)
    +modifier(has-color-success)
      color: var(--bal-badge-text-color-success)
  //
  // icon
  +element(icon)
    +modifier(is-hidden)
      display: none !important
