@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;
@use '../../vars' as vars;
@use '../../host' as host;

$name: notification;
$use-host: false !default;
$css-selector: ('.notification');
$host-selector: ('#notification');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include vars.hybrid($name, $css-selector, $use-host) {
  @include vars.local(notification-radius, var(--ds-notification-radius));
  @include vars.local(notification-color-background, var(--ds-notification-color-base-background));
  @include vars.local(notification-color-border, var(--ds-notification-color-base-border));
  @include vars.local(notification-color-text, var(--ds-notification-color-base-text));

  @include vars.local(notification-heading-family, var(--ds-text-family-heading));
  @include vars.local(notification-heading-weight, var(--ds-text-weight-bold));
  @include vars.local(notification-heading-size, var(--ds-text-size-lg-device));
  @include vars.local(notification-heading-line-height, var(--ds-text-line-height-heading));

  @include vars.local(notification-content-family, var(--ds-text-family-body));
  @include vars.local(notification-content-weight, inherit);
  @include vars.local(notification-content-size, var(--ds-text-size-base-device));
  @include vars.local(notification-content-line-height, var(--ds-text-line-height-body));

  @include vars.local(notification-icon, var(--ds-notification-color-base-icon));
  @include vars.local(notification-icon-display, block);

  @include vars.local(notification-space, var(--ds-card-space-base-device, 1.5rem));
  @include vars.local(notification-icon-space, 1.5rem);

  @include vars.local(notification-close-offset, 2rem); // extra space reserved when a close button is present
  @include vars.local(notification-gap, 0.125rem);

  // Close
  @include vars.local(notification-close-position, absolute);
  @include vars.local(notification-close-right, var(--_notification-space));
  @include vars.local(notification-close-top, var(--_notification-space));

  // Animation
  @include vars.local(notification-animation-start-opacity, 1);
  @include vars.local(notification-animation-start-transform, none);

  @include vars.local(notification-animation-transition, none);

  @include vars.local(notification-animation-end-opacity, 1);
  @include vars.local(notification-animation-end-transform, none);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@include hybrid.component($host-selector, $css-selector, $use-host) {
  @include font-smoothing();

  flex: 1;
  position: relative;
  hyphens: auto;

  border: var(--ds-border-width-base) solid var(--_notification-color-border);
  border-radius: var(--_notification-radius);
  background: var(--_notification-color-background);
  color: var(--_notification-color-text);

  padding-top: var(--_notification-space);
  padding-right: var(--_notification-space);
  padding-bottom: var(--_notification-space);
  padding-left: calc(var(--_notification-space) + var(--_notification-icon-space));

  display: flex;
  flex-direction: column;
  gap: var(--_notification-gap);

  //
  // Close
  // --------------------------------
  ds-close,
  .close {
    position: var(--_notification-close-position);
    top: var(--_notification-close-top);
    right: var(--_notification-close-right);
  }

  //
  // Heading
  // --------------------------------
  & > h2 {
    font-family: var(--_notification-heading-family);
    font-weight: var(--_notification-heading-weight);
    line-height: var(--_notification-heading-line-height);
    font-size: var(--_notification-heading-size);
    margin: 0 !important;
  }

  &:has(.close) > h2::before,
  &:has(ds-close) > h2::before {
    content: '';
    float: right;
    width: 24px;
    height: calc(var(--_notification-heading-line-height) * 16px); /* height of one line */
  }

  //
  // Content
  // --------------------------------
  & > span,
  & > p {
    font-family: var(--_notification-content-family);
    font-size: var(--_notification-content-size);
    font-weight: var(--_notification-content-weight);
    line-height: var(--_notification-content-line-height);
    margin: 0 !important;
  }

  //
  // Icon
  // --------------------------------
  &::before {
    display: var(--_notification-icon-display);
    background-color: currentColor;
    color: currentColor;
    forced-color-adjust: preserve-parent-color;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    left: -0.25rem;
    top: calc((var(--_notification-space)));
    transform: translateX(var(--_notification-space));
    content: '';
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;

    mask-image: var(--_notification-icon);
    -webkit-mask-image: var(--_notification-icon);
  }
}

/**
  * Variants
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

//
// No Icon
// --------------------------------
@mixin noIcon() {
  --mod-notification-icon-display: none;
  --mod-notification-icon-space: 0rem;
}

@include hybrid.host($use-host) {
  :host(.has-no-icon) {
    @include noIcon();
  }
}

@include hybrid.styles($css-selector, $use-host) {
  &.has-no-icon {
    @include noIcon();
  }
}

//
// Colors
// --------------------------------
$colors: (
  'info',
  'success',
  'warning',
  'danger',
  'outline-base',
  'outline-purple',
  'outline-green',
  'outline-yellow',
  'outline-red'
);

@mixin notification-colors($color) {
  --mod-notification-color-text: var(--ds-notification-color-#{$color}-text);
  --mod-notification-color-border: var(--ds-notification-color-#{$color}-border);
  --mod-notification-color-background: var(--ds-notification-color-#{$color}-background);
  --mod-notification-icon: var(--ds-notification-color-#{$color}-icon);
}

@include hybrid.styles($css-selector, $use-host) {
  @each $color in $colors {
    &.is-#{$color} {
      @include notification-colors($color);
    }
  }
}

@include hybrid.host($use-host) {
  @each $color in $colors {
    :host(.is-#{$color}) {
      @include notification-colors($color);
    }
  }
}

//
// Sizes
// --------------------------------

$sizes: ('sm', 'md', 'lg');

@mixin notification-sizes($size) {
  --mod-notification-space: var(--ds-card-space-#{$size}-device);
}

@include hybrid.styles($css-selector, $use-host) {
  @each $size in $sizes {
    &.is-#{$size} {
      @include notification-sizes($size);
    }
  }
}

@include hybrid.host($use-host) {
  @each $size in $sizes {
    :host(.is-#{$size}) {
      @include notification-sizes($size);
    }
  }
}
