@import 'bal-button.vars';
@import 'node_modules/bulma/sass/elements/button.sass';

:host {
  display: inline-flex;
  position: static;

  &.is-fullwidth {
    display: flex;
    width: 100%;
  }

  .button {
    margin: 0;
    transition: 0.2s ease-in-out;
    outline: none !important;
    user-select: none;
    min-height: 50px;

    &:focus span,
    &:active span,
    &:focus bal-text,
    &:active bal-text,
    &:focus bal-icon,
    &:active bal-icon,
    &:focus bal-spinner,
    &:active bal-spinner {
      position: relative;
      top: 0;
      left: 0;
    }

    .icon-left,
    .icon-right {
      align-items: center;
      display: inline-flex;
      justify-content: center;
      // height: 1.5rem;
      // width: 1.5rem;
    }

    .icon-left {
      margin-left: -18px;
      margin-right: 6px;
    }

    .icon-right {
      margin-right: -18px;
      margin-left: 6px;
    }

    &.is-fullwidth {
      width: 100%;
    }

    &.has-round-bottom-corners {
      border-bottom-left-radius: $radius !important;
      border-bottom-right-radius: $radius !important;
    }

    &.is-square {
      width: 50px;
      padding: 0;
    }

    &.is-small {
      min-height: 38px;
      min-width: 38px;
      padding: 18px 20px 18px 20px;

      bal-text {
        min-height: 19px;
      }

      &.is-square {
        width: 38px;
        padding: 0;
      }
    }



    &.is-success,
    &.is-success:hover,
    &.is-success:focus,
    &.is-danger,
    &.is-danger:hover,
    &.is-danger:focus,
    &.is-warning,
    &.is-warning:hover,
    &.is-warning:focus {
      color: $white !important;
    }

    &.is-loading::after {
      display: none;
    }

    &::-moz-focus-inner {
      border: 0;
    }

    &:focus {
      &::before {
        position: absolute;
        content: '';
        top: 2px;
        left: 2px;
        right: 2px;
        bottom: 2px;
        outline: 2px dashed $cyan;
      }
    }

    &:hover,
    &:active {
      &::before {
        outline: none;
      }
    }

    &.is-primary {
      &:focus,
      &.is-focused,
      &:active,
      &.is-active,
      &:hover,
      &.is-hovered {
        background: $blue;
      }
    }

    &.is-info {
      &:hover,
      &.is-hovered {
        background: $cyan;
      }
    }

    &.is-success {
      &:hover,
      &.is-hovered {
        background: darken($success, 10);
      }
    }

    &.is-warning {
      &:hover,
      &.is-hovered {
        background: darken($warning, 10);
      }
    }

    &.is-danger {
      &:hover,
      &.is-hovered {
        background: darken($danger, 10);
      }
    }

    &.is-success,
    &.is-warning,
    &.is-warning.is-outlined,
    &.is-success.is-outlined {
      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused,
      &:active,
      &.is-active {
        color: $white;
      }
    }

    &.is-primary.is-inverted {
      background: $cyan;
      color: $white;

      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused,
      &:active,
      &.is-active {
        color: $blue;
        background: $white;
      }
    }

    &.is-info.is-outlined {
      border-color: $blue-line;

      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused,
      &:active,
      &.is-active {
        color: $blue;
        background: $blue-light-line;
        border-color: $blue-line;
      }
    }

    &.is-info.is-inverted.is-outlined {
      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused,
      &:active,
      &.is-active {
        color: $white;
        background: darken($blue, 10);
      }
    }

    &.is-info.is-inverted {
      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused,
      &:active,
      &.is-active {
        color: $white;
        background: $cyan;
      }
    }

    &.is-link {
      color: $cyan;
      background: transparent;

      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused,
      &:active,
      &.is-active {
        color: $blue;
        background: transparent;
        text-decoration: underline;
      }
    }

    &.is-primary-light {
      border: none;
      border-radius: 0;
      color: $blue;
      background: $blue-light;

      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused,
      &:active,
      &.is-active {
        color: $blue;
        background: $blue-light-hover;
      }
    }

    &.is-info-light {
      border: none;
      border-radius: 0;
      color: $blue;
      background: transparent;

      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused,
      &:active,
      &.is-active {
        color: $blue;
        background: transparent;
      }
    }

    &[disabled] {
      &.is-link {
        text-decoration: none;
        color: $cyan;
        background: transparent;
      }

      &:hover,
      &.is-hovered,
      &:focus,
      &.is-focused,
      &:active,
      &.is-active {
        &.is-primary {
          color: $white;
          background: $cyan;
        }

        &.is-info {
          color: $white;
          background: $blue;
        }

        &.is-warning {
          color: $white;
          background: $orange;
        }

        &.is-danger {
          color: $white;
          background: $red;
        }

        &.is-success {
          color: $white;
          background: $green;
        }

        &.is-link {
          text-decoration: none;
          color: $cyan;
          background: transparent;
        }
      }
    }

    &.is-dense {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}
