@import 'native-list.scss';

.bal-list,
.bal-list-item,
.bal-list-item a,
.bal-list-item button,
.bal-list-item-icon,
.bal-list-item-title,
.bal-list-item-link,
.bal-list-item-subtitle,
.bal-list-item-content {
  position: static;
  display: flex;
}

.bal-list,
.bal-list-item-content {
  flex-direction: column;
}

.bal-list,
.bal-list-item,
.bal-list-item a,
.bal-list-item button {
  width: 100%;
}

.bal-list-item,
.bal-list-item a,
.bal-list-item button {
  align-items: center;
  gap: 16px;
  min-height: 48px;
}

.bal-list-item a,
.bal-list-item button {
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: $radius;
}

.bal-list-item {
  position: relative;
}

.bal-list-item a {
  text-decoration: none;
}

.bal-list-item button {
  background: transparent;
  border: none;
}

.bal-list-item,
.bal-list-item a,
.bal-list-item button,
.bal-list-item-content {
  flex: 1;
}

.bal-list-item-content {
  justify-content: center;
}

.bal-list-item-icon {
  min-width: 48px;
  min-height: 48px;
  justify-content: center;
  align-items: center;
}

.bal-list.has-size-large {
  .bal-list-item,
  .bal-list-item a,
  .bal-list-item button {
    min-height: 72px;
  }
}

.bal-list-item.is-clickable {
  a,
  button {
    cursor: pointer;
  }
}

.bal-list:not(.is-disabled):not(.is-inverted) .bal-list-item.is-clickable {
  a,
  button {
    &:hover {
      h6,
      p {
        color: $light-blue-dark !important;
      }

      svg,
      svg g,
      svg path,
      svg circle {
        fill: $light-blue-dark !important;
      }
    }

    &:active {
      h6,
      p {
        color: $blue-dark !important;
      }

      svg,
      svg g,
      svg path,
      svg circle {
        fill: $blue-dark !important;
      }
    }

    &:focus-visible {
      box-shadow: $white 0 0 0 2px, $purple-dark 0 0 0 5px !important;
    }
  }
}

.bal-list:not(.is-disabled).is-inverted .bal-list-item.is-clickable {
  a,
  button {
    &:focus-visible {
      box-shadow: $white 0 0 0 2px, $yellow-3 0 0 0 5px !important;
    }
  }
}

.bal-list.is-inverted {
  h6,
  p {
    color: $white;
  }

  svg,
  svg g,
  svg path,
  svg circle {
    fill: $white;
  }
}

.bal-list.is-disabled {
  &,
  .bal-list-item,
  .bal-list-item a,
  .bal-list-item button {
    cursor: default !important;
    pointer-events: none !important;
    user-select: none !important;
  }
}

.bal-list.has-border .bal-list-item {
  padding-bottom: 2px;

  &:not(:focus-within) {
    &:after {
      content: '';
      height: 2px;
      width: 100%;
      border-radius: $radius;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }
}

.bal-list:not(.is-inverted).has-border .bal-list-item {
  &:after {
    background: $grey-2;
  }
}

.bal-list.is-inverted.has-border .bal-list-item {
  &:after {
    background: $blue-4;
  }
}

.bal-list:not(.is-disabled):not(.is-inverted).has-border .bal-list-item {
  &.is-clickable {
    &:hover {
      &:after {
        background: $light-blue-dark;
      }
    }

    &:active {
      &:after {
        background: $blue-dark;
      }
    }
  }
}

.bal-list:not(.is-disabled).is-inverted.has-border .bal-list-item {
  &.is-clickable {
    &:hover,
    &:active {
      &:after {
        background: $white;
      }
    }
  }
}

.bal-list-item.is-disabled {
  &,
  a,
  button {
    cursor: default !important;
    pointer-events: none !important;
    user-select: none !important;
  }
}

.bal-list:not(.is-inverted) .bal-list-item.is-disabled {
  &:after {
    background: $grey-2 !important;
  }
}

.bal-list:not(.is-inverted) .bal-list-item.is-disabled {
  &,
  a,
  button {
    h6,
    p {
      color: $grey-7 !important;
    }

    svg,
    svg g,
    svg path,
    svg circle {
      fill: $grey-7 !important;
    }
  }
}

.bal-list:not(.is-disabled):not(.is-inverted) .bal-list-item.is-disabled {
  &,
  a,
  button {
    &,
    &:hover,
    &:active {
      h6,
      p {
        color: $grey-7 !important;
      }

      svg,
      svg g,
      svg path,
      svg circle {
        fill: $grey-7 !important;
      }
    }
  }
}

.bal-list.is-inverted .bal-list-item.is-disabled {
  &:after {
    background: $blue-4 !important;
  }
}

.bal-list:not(.is-disabled).is-inverted .bal-list-item.is-disabled {
  &,
  a,
  button {
    &,
    &:hover,
    &:active {
      h6,
      p {
        color: $blue-4 !important;
      }

      svg,
      svg g,
      svg path,
      svg circle {
        fill: $blue-4 !important;
      }
    }
  }
}
