.bal-list,
.bal-list-item,
.bal-list-item > a,
.bal-list-item > button,
.bal-list-item > div,
.bal-list-item-icon,
.bal-list-item-title,
.bal-list-item-link,
.bal-list-item-subtitle,
.bal-list-item-content {
  position: static;
  display: flex;
}

.bal-list,
.bal-list-item-content {
  flex-direction: column;
}

.bal-list,
.bal-list-item,
.bal-list-item > div,
.bal-list-item > a,
.bal-list-item > button {
  width: 100%;
}

.bal-list-item,
.bal-list-item > a,
.bal-list-item > div,
.bal-list-item > button {
  align-items: center;
  column-gap: 16px;
  min-height: 48px;
}

.bal-list-item > a,
.bal-list-item > div,
.bal-list-item > button {
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: $radius;
}

.bal-list-item {
  position: relative;
}

.bal-list:not(.is-in-main-nav) .bal-list-item {
  & > a,
  & > div,
  & > button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.bal-list-item a {
  text-decoration: none;
}

.bal-list-item button {
  background: transparent;
  border: none;
}

.bal-list-item,
.bal-list-item > a,
.bal-list-item > div,
.bal-list-item > button,
.bal-list-item-content {
  flex: 1;
}

.bal-list.is-in-main-nav bal-list-item {
  @include touch() {
    padding: 1rem 0;
    &.is-sub-accordion-item {
      padding: 0 1rem 1rem;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.bal-list-item-content {
  justify-content: center;
}

.bal-list-item-icon {
  min-width: 24px;
  min-height: 48px;
  justify-content: center;
  align-items: center;
}

.bal-list.has-size-small {
  .bal-list-item,
  .bal-list-item > a,
  .bal-list-item > div,
  .bal-list-item > button,
  .bal-list-item-icon {
    min-height: 1.5rem;
  }
}

.bal-list.has-size-large {
  .bal-list-item > a,
  .bal-list-item > div,
  .bal-list-item > button {
    min-height: 72px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.bal-list-item.is-list-item-clickable {
  bal-list-item-accordion-head,
  a:not(.is-link),
  button:not(.button) {
    cursor: pointer;
    pointer-events: inherit;
  }
}

.bal-list:not(.is-disabled):not(.is-on-background-dark) .bal-list-item.is-list-item-clickable {
  bal-list-item-accordion-head,
  a:not(.is-link),
  button:not(.button) {
    &:hover {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $light-blue-dark !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $light-blue-dark !important;
        }
      }
    }

    &:active {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $blue-dark !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $blue-dark !important;
        }
      }
    }

    &:focus-visible {
      box-shadow: $white 0 0 0 2px, $purple-dark 0 0 0 5px !important;
      &:after {
        content: none !important;
      }
    }
  }
}

.bal-list.is-on-background-dark {
  .bal-list-item {
    .bal-list-item-title .title,
    .bal-list-item-subtitle p {
      color: $white;
    }
  }

  .bal-list-item-icon {
    svg,
    svg g,
    svg path,
    svg circle {
      fill: $white;
    }
  }
}

.bal-list:not(.is-disabled).is-on-background-dark .bal-list-item.is-list-item-clickable {
  bal-list-item-accordion-head,
  a:not(.is-link),
  button:not(.button) {
    &:hover {
      .bal-list-item-title .title,
      .bal-list-item-subtitle p {
        color: $light-blue-2 !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $light-blue-2 !important;
        }
      }
    }

    &:active {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $light-blue-4 !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $light-blue-4 !important;
        }
      }
    }

    &:focus-visible {
      box-shadow: $white 0 0 0 2px, $yellow-3 0 0 0 5px !important;
      &:after {
        content: none !important;
      }
    }
  }
}

.bal-list.is-disabled {
  &,
  .bal-list-item,
  .bal-list-item a:not(.is-link),
  .bal-list-item button:not(.button) {
    cursor: default !important;
    pointer-events: none !important;
    user-select: none !important;
  }
}

.bal-list.has-border .bal-list-item:not(.is-sub-accordion-item) {
  & > div:after,
  a:not(.is-link):after,
  button:not(.button):not([type='button']):after {
    content: '';
    height: 2px;
    border-radius: $radius;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.bal-list.has-border.is-in-main-nav .bal-list-item:not(.is-sub-accordion-item) {
  & > div:after,
  a:not(.is-link):after,
  button:not(.button):not([type='button']):after {
    background: var(--bal-color-grey);
    height: 1px;
  }
}

bal-list.has-border.is-in-main-nav .bal-list-item {
  &:last-child {
    & > div:after,
    a:after,
    button:after {
      display: none;
    }
  }
}

.bal-list.has-border {
  .bal-list-item,
  .bal-list-item.is-disabled {
    & > div:after,
    a:not(.is-link):after,
    button:not(.button):not([type='button']):after {
      background: $grey-2;
    }
  }

  .bal-list-item:not(.is-disabled).is-list-item-clickable {
    & > div,
    a:not(.is-link),
    button:not(.button) {
      @include hover() {
        &:hover:after {
          background: var(--bal-color-blue-5);
        }
      }
    }

    & > div:active:after,
    a:not(.is-link):active:after,
    button:not(.button):active:after {
      @include desktop() {
        background: var(--bal-color-blue-5);
      }
    }
  }

  &.is-on-background-color {
    .bal-list-item {
      & > div:after,
      a:not(.is-link):after,
      button:not(.button):after {
        background: $blue;
      }
    }

    .bal-list-item.is-disabled {
      & > div:after,
      a:not(.is-link):after,
      button:not(.button):after {
        background: $blue-4;
      }
    }
  }

  &.is-on-background-dark {
    .bal-list-item {
      & > div:after,
      a:not(.is-link):after,
      button:not(.button):after {
        background: $blue-4;
      }
    }

    .bal-list-item.is-disabled {
      & > div:after,
      a:not(.is-link):after,
      button:not(.button):after {
        background: $blue-4;
      }
    }

    .bal-list-item:not(.is-disabled).is-list-item-clickable {
      & > div:hover:after,
      a:not(.is-link):hover:after,
      button:not(.button):hover:after {
        background: $light-blue-2;
      }
      & > div:active:after,
      a:not(.is-link):active:after,
      button:not(.button):active:after {
        background: $light-blue-4;
      }
    }
  }
}

.bal-list:not(.is-on-background-dark) .bal-list-item.is-disabled {
  &,
  a:not(.is-link),
  button:not(.button) {
    .bal-list-item-title h5,
    .bal-list-item-subtitle p {
      color: $grey-5 !important;
    }

    .bal-list-item-icon {
      svg,
      svg g,
      svg path,
      svg circle {
        fill: $grey-5 !important;
      }
    }
  }
}

.bal-list:not(.is-disabled):not(.is-on-background-dark) .bal-list-item.is-disabled {
  &,
  a:not(.is-link),
  button:not(.button) {
    &,
    &:hover,
    &:active {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $grey-5 !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $grey-5 !important;
        }
      }
    }
  }
}

.bal-list:not(.is-disabled).is-on-background-color .bal-list-item.is-disabled,
.bal-list:not(.is-disabled).is-on-background-dark .bal-list-item.is-disabled {
  &,
  a:not(.is-link),
  button:not(.button) {
    &,
    &:hover,
    &:active {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $blue-4 !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $blue-4 !important;
        }
      }
    }
  }
}

bal-card > bal-list.p-0 {
  bal-list-item:last-child {
    &:after {
      content: none !important;
    }
  }
}

.bal-list-item.is-accordion > div {
  flex-direction: column;
}

.bal-list-item-accordion-head {
  bal-icon.trigger-icon {
    transition: transform 0.3s ease-in-out;
  }

  &.is-open bal-icon.trigger-icon {
    bal-list:not(.is-in-main-nav) & {
      transform: rotate(45deg);
    }
  }
}

.bal-list-item-accordion-body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 0 !important;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.bal-list.is-on-background-dark bal-list-item-accordion-body bal-list-item-content > p {
  color: $white;
}

.bal-list-item.is-sub-accordion-item {
  .bal-list-item-accordion-body {
    &:after {
      content: '';
      background: var(--bal-color-grey);
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &:last-child {
    .bal-list-item-accordion-body {
      padding-top: 0;

      &:after {
        display: none;
      }
    }
  }
}
