.bal-list,
.bal-list__item,
.bal-list__item > a,
.bal-list__item > button,
.bal-list__item > div,
.bal-list__item__icon,
.bal-list__item__title,
.bal-list__item__link,
.bal-list__item__subtitle,
.bal-list__item__content {
  position: static;
  display: flex;
}

.bal-list,
.bal-list__item__content {
  flex-direction: column;
}

.bal-list,
.bal-list__item,
.bal-list__item > div,
.bal-list__item > a,
.bal-list__item > button {
  width: 100%;
}

.bal-list__item,
.bal-list__item > a,
.bal-list__item > div,
.bal-list__item > button {
  align-items: center;
  column-gap: 16px;
  min-height: 48px;
}

.bal-list__item > a,
.bal-list__item > div,
.bal-list__item > button {
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: $radius;
}

.bal-list__item {
  position: relative;
}

.bal-list:not(.bal-list--context-main-nav) .bal-list__item {
  & > a,
  & > div,
  & > button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.bal-list__item a {
  text-decoration: none;
}

.bal-list__item button {
  background: transparent;
  border: none;
}

.bal-list__item,
.bal-list__item > a,
.bal-list__item > div,
.bal-list__item > button,
.bal-list__item__content {
  flex: 1;
}

.bal-list.bal-list--context-main-nav .bal-list__item {
  @include touch() {
    padding: 1rem 0;
    &.bal-list__item--sub-accordion {
      padding: 0 1rem 1rem;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

.bal-list__item__content {
  justify-content: center;
}

.bal-list__item__icon {
  min-width: 24px;
  min-height: 48px;
  justify-content: center;
  align-items: center;
}

.bal-list--size-small {
  .bal-list__item,
  .bal-list__item > a,
  .bal-list__item > div,
  .bal-list__item > button,
  .bal-list__item__icon {
    min-height: 1.5rem;
  }
}

.bal-list--size-large {
  .bal-list__item > a,
  .bal-list__item > div,
  .bal-list__item > button {
    min-height: 72px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.bal-list__item--clickable {
  .bal-list__item__accordion-head,
  a:not(.is-link),
  button:not(.button) {
    cursor: pointer;
    pointer-events: inherit;
  }
}

.bal-list:not(.is-disabled):not(.bal-list--background-dark) .bal-list__item--clickable {
  .bal-list__item__accordion-head,
  a:not(.is-link),
  button:not(.button) {
    @include hover() {
      &:hover {
        .bal-list__item__title h5,
        .bal-list__item__subtitle p {
          color: $light-blue-dark !important;
        }

        .bal-list__item__icon {
          svg,
          svg g,
          svg path,
          svg circle {
            fill: $light-blue-dark !important;
          }
        }
      }
    }

    &:active {
      .bal-list__item__title h5,
      .bal-list__item__subtitle p {
        @include desktop() {
          color: $blue-dark !important;
        }
      }

      .bal-list__item__icon {
        svg,
        svg g,
        svg path,
        svg circle {
          @include desktop() {
            fill: $blue-dark !important;
          }
        }
      }
    }

    &:focus-visible {
      box-shadow: $white 0 0 0 2px, $purple-dark 0 0 0 5px !important;
      &:after {
        content: none !important;
      }
    }
  }
}

.bal-list--background-dark {
  .bal-list__item {
    .bal-list__item__title .title,
    .bal-list__item__subtitle p {
      color: $white;
    }
  }

  .bal-list__item__icon {
    svg,
    svg g,
    svg path,
    svg circle {
      fill: $white;
    }
  }
}

.bal-list:not(.bal-list--disabled).bal-list--background-dark .bal-list__item--clickable {
  .bal-list__item__accordion-head,
  a:not(.is-link),
  button:not(.button) {
    @include hover() {
      &:hover {
        .bal-list__item__title .title,
        .bal-list__item__subtitle p {
          color: $light-blue-2 !important;
        }

        .bal-list__item__icon {
          svg,
          svg g,
          svg path,
          svg circle {
            fill: $light-blue-2 !important;
          }
        }
      }
    }

    &:active {
      .bal-list__item__title h5,
      .bal-list__item__subtitle p {
        @include desktop() {
          color: $light-blue-4 !important;
        }
      }

      .bal-list__item__icon {
        svg,
        svg g,
        svg path,
        svg circle {
          @include desktop() {
            fill: $light-blue-4 !important;
          }
        }
      }
    }

    &:focus-visible {
      box-shadow: $white 0 0 0 2px, $yellow-3 0 0 0 5px !important;
      &:after {
        content: none !important;
      }
    }
  }
}

.bal-list--disabled {
  &,
  .bal-list__item,
  .bal-list__item a:not(.is-link),
  .bal-list__item button:not(.button) {
    cursor: default !important;
    pointer-events: none !important;
    user-select: none !important;
  }
}

.bal-list--border .bal-list__item:not(.bal-list__item--sub-accordion) {
  & > div:after,
  a:not(.is-link):after,
  button:not(.button):not([type='button']):after {
    content: '';
    height: 2px;
    border-radius: $radius;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.bal-list--border.bal-list--context-main-nav .bal-list__item:not(.bal-list__item--sub-accordion) {
  & > div:after,
  a:not(.is-link):after,
  button:not(.button):not([type='button']):after {
    background: var(--bal-color-grey);
    height: 1px;
  }
}

.bal-list--border.bal-list--context-main-nav .bal-list__item {
  &:last-child {
    & > div:after,
    a:after,
    button:after {
      display: none;
    }
  }
}

.bal-list--border {
  .bal-list__item,
  .bal-list__item--disabled {
    & > div:after,
    a:not(.is-link):after,
    button:not(.button):not([type='button']):after {
      background: $grey-2;
    }
  }

  .bal-list__item:not(.bal-list__item--disabled).bal-list__item--clickable {
    & > div,
    a:not(.is-link),
    button:not(.button) {
      @include hover() {
        &:hover:after {
          background: var(--bal-color-blue-5);
        }
      }
    }

    & > div:active:after,
    a:not(.is-link):active:after,
    button:not(.button):active:after {
      @include desktop() {
        background: var(--bal-color-blue-5);
      }
    }
  }

  &.bal-list--background-color {
    .bal-list__item {
      & > div:after,
      a:not(.is-link):after,
      button:not(.button):after {
        background: $blue;
      }
    }

    .bal-list__item--disabled {
      & > div:after,
      a:not(.is-link):after,
      button:not(.button):after {
        background: $blue-4;
      }
    }
  }

  &.bal-list--background-dark {
    .bal-list__item {
      & > div:after,
      a:not(.is-link):after,
      button:not(.button):after {
        background: $blue-4;
      }
    }

    .bal-list__item--disabled {
      & > div:after,
      a:not(.is-link):after,
      button:not(.button):after {
        background: $blue-4;
      }
    }

    .bal-list__item:not(.bal-list__item--disabled).bal-list__item--clickable {
      & > div:hover:after,
      a:not(.is-link):hover:after,
      button:not(.button):hover:after {
        background: $light-blue-2;
      }
      & > div:active:after,
      a:not(.is-link):active:after,
      button:not(.button):active:after {
        background: $light-blue-4;
      }
    }
  }
}

.bal-list:not(.bal-list--background-dark) .bal-list__item--disabled {
  &,
  a:not(.is-link),
  button:not(.button) {
    .bal-list__item__title h5,
    .bal-list__item__subtitle p {
      color: $grey-5 !important;
    }

    .bal-list__item__icon {
      svg,
      svg g,
      svg path,
      svg circle {
        fill: $grey-5 !important;
      }
    }
  }
}

.bal-list:not(.bal-list--disabled):not(.bal-list--background-dark) .bal-list__item.is-disabled {
  &,
  a:not(.is-link),
  button:not(.button) {
    &,
    &:hover,
    &:active {
      .bal-list__item__title h5,
      .bal-list__item__subtitle p {
        color: $grey-5 !important;
      }

      .bal-list__item__icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $grey-5 !important;
        }
      }
    }
  }
}

.bal-list:not(.bal-lis--disabled).bal-lis--background-color .bal-list__item--disabled,
.bal-list:not(.bal-lis--disabled).bal-lis--background-dark .bal-list__item--disabled {
  &,
  a:not(.is-link),
  button:not(.button) {
    &,
    &:hover,
    &:active {
      .bal-list__item__title h5,
      .bal-list__item__subtitle p {
        color: $blue-4 !important;
      }

      .bal-list__item__icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $blue-4 !important;
        }
      }
    }
  }
}

.bal-card > .bal-list.p-0 {
  .bal-list__item:last-child {
    &:after {
      content: none !important;
    }
  }
}

.bal-list__item--accordion > div {
  flex-direction: column;
}

.bal-list__item__accordion-head {
  .bal-list__item__accordion__head__icon {
    transition: transform 0.3s ease-in-out;
  }
}

.bal-list__item__accordion-head--open .bal-list__item__accordion__head__icon {
  .bal-list:not(.bal-list--context-main-nav) & {
    transform: rotate(45deg);
  }
}

.bal-list__item__accordion-body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 0 !important;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.bal-list--background-dark .bal-list__item__accordion-body .bal-list__item__content > p {
  color: $white;
}

.bal-list__item.is-sub-accordion-item {
  .bal-list__item__accordion-body {
    &:after {
      content: '';
      background: var(--bal-color-grey);
      height: 1px;
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
    }
  }

  &:last-child {
    .bal-list__item__accordion-body {
      padding-top: 0;

      &:after {
        display: none;
      }
    }
  }
}
