@import 'native-list.scss';

.bal-list,
.bal-list-item,
.bal-list-item > a,
.bal-list-item > button,
.bal-list-item > div,
.bal-list-item-icon,
.bal-list-item-title,
.bal-list-item-link,
.bal-list-item-subtitle,
.bal-list-item-content {
  position: static;
  display: flex;
}

.bal-list,
.bal-list-item-content {
  flex-direction: column;
}

.bal-list,
.bal-list-item,
.bal-list-item > div,
.bal-list-item > a,
.bal-list-item > button {
  width: 100%;
}

.bal-list-item,
.bal-list-item > a,
.bal-list-item > div,
.bal-list-item > button {
  align-items: center;
  column-gap: 16px;
  min-height: 48px;
}

.bal-list-item > a,
.bal-list-item > div,
.bal-list-item > button {
  padding: 0;
  margin: 0;
  outline: none;
  border-radius: $radius;
}

.bal-list-item {
  position: relative;
  & > a,
  & > div,
  & > button {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
}

.bal-list-item a {
  text-decoration: none;
}

.bal-list-item button {
  background: transparent;
  border: none;
}

.bal-list-item,
.bal-list-item > a,
.bal-list-item > div,
.bal-list-item > button,
.bal-list-item-content {
  flex: 1;
}

.bal-list-item-content {
  justify-content: center;
}

.bal-list-item-icon {
  min-width: 24px;
  min-height: 48px;
  justify-content: center;
  align-items: center;
}

.bal-list.has-size-large {
  .bal-list-item > a,
  .bal-list-item > div,
  .bal-list-item > button {
    min-height: 72px;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.bal-list-item.is-list-item-clickable {
  bal-list-item-accordion-head,
  a,
  button {
    cursor: pointer;
    pointer-events: inherit;
  }
}

.bal-list:not(.is-disabled):not(.is-on-background-dark) .bal-list-item.is-list-item-clickable {
  bal-list-item-accordion-head,
  a,
  button {
    &:hover {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $light-blue-dark !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $light-blue-dark !important;
        }
      }
    }

    &:active {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $blue-dark !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $blue-dark !important;
        }
      }
    }

    &:focus-visible {
      box-shadow: $white 0 0 0 2px, $purple-dark 0 0 0 5px !important;
      &:after {
        content: none !important;
      }
    }
  }
}

.bal-list.is-on-background-dark {
  .bal-list-item-title h5,
  .bal-list-item-subtitle p {
    color: $white;
  }

  .bal-list-item-icon {
    svg,
    svg g,
    svg path,
    svg circle {
      fill: $white;
    }
  }
}

.bal-list:not(.is-disabled).is-on-background-dark .bal-list-item.is-list-item-clickable {
  bal-list-item-accordion-head,
  a,
  button {
    &:hover {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $light-blue-2 !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $light-blue-2 !important;
        }
      }
    }

    &:active {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $light-blue-4 !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $light-blue-4 !important;
        }
      }
    }

    &:focus-visible {
      box-shadow: $white 0 0 0 2px, $yellow-3 0 0 0 5px !important;
      &:after {
        content: none !important;
      }
    }
  }
}

.bal-list.is-disabled {
  &,
  .bal-list-item,
  .bal-list-item a,
  .bal-list-item button {
    cursor: default !important;
    pointer-events: none !important;
    user-select: none !important;
  }
}

.bal-list.has-border .bal-list-item {
  padding-bottom: 2px;

  & > div:after,
  a:after,
  button:after {
    content: '';
    height: 2px;
    width: 100%;
    border-radius: $radius;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.bal-list.has-border {
  .bal-list-item,
  .bal-list-item.is-disabled {
    & > div:after,
    a:after,
    button:after {
      background: $grey-2;
    }
  }

  .bal-list-item:not(.is-disabled).is-list-item-clickable {
    & > div:hover:after,
    a:hover:after,
    button:hover:after {
      background: $blue-6;
    }
    & > div:active:after,
    a:active:after,
    button:active:after {
      background: $blue-6;
    }
  }

  &.is-on-background-color {
    .bal-list-item {
      & > div:after,
      a:after,
      button:after {
        background: $blue;
      }
    }

    .bal-list-item.is-disabled {
      & > div:after,
      a:after,
      button:after {
        background: $blue-4;
      }
    }
  }

  &.is-on-background-dark {
    .bal-list-item {
      & > div:after,
      a:after,
      button:after {
        background: $blue-4;
      }
    }

    .bal-list-item.is-disabled {
      & > div:after,
      a:after,
      button:after {
        background: $blue-4;
      }
    }

    .bal-list-item:not(.is-disabled).is-list-item-clickable {
      & > div:hover:after,
      a:hover:after,
      button:hover:after {
        background: $light-blue-2;
      }
      & > div:active:after,
      a:active:after,
      button:active:after {
        background: $light-blue-4;
      }
    }
  }
}

.bal-list:not(.is-on-background-dark) .bal-list-item.is-disabled {
  &,
  a,
  button {
    .bal-list-item-title h5,
    .bal-list-item-subtitle p {
      color: $grey-5 !important;
    }

    .bal-list-item-icon {
      svg,
      svg g,
      svg path,
      svg circle {
        fill: $grey-5 !important;
      }
    }
  }
}

.bal-list:not(.is-disabled):not(.is-on-background-dark) .bal-list-item.is-disabled {
  &,
  a,
  button {
    &,
    &:hover,
    &:active {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $grey-5 !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $grey-5 !important;
        }
      }
    }
  }
}

.bal-list:not(.is-disabled).is-on-background-color .bal-list-item.is-disabled,
.bal-list:not(.is-disabled).is-on-background-dark .bal-list-item.is-disabled {
  &,
  a,
  button {
    &,
    &:hover,
    &:active {
      .bal-list-item-title h5,
      .bal-list-item-subtitle p {
        color: $blue-4 !important;
      }

      .bal-list-item-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $blue-4 !important;
        }
      }
    }
  }
}

bal-card > bal-list.p-0 {
  bal-list-item:last-child {
    &:after {
      content: none !important;
    }
  }
}

.bal-list-item.is-accordion > div {
  flex-direction: column;
}

.bal-list-item-accordion-head {
  bal-icon.trigger-icon {
    transition: transform 0.3s ease-in-out;
  }

  &.is-open bal-icon.trigger-icon {
    transform: rotate(45deg);
  }
}

.bal-list-item-accordion-body {
  margin: 0 !important;
  padding: 0 !important;
  min-height: 0 !important;

  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.bal-list.is-on-background-dark bal-list-item-accordion-body bal-list-item-content > p {
  color: $white;
}
