@charset "utf-8";

//
// The order of the imports is important to override the variables of the css framework bulma
//

@import 'node_modules/bulma/sass/layout/section.sass';
@import 'node_modules/bulma/sass/layout/footer.sass';

@import 'footer.scss';
@import 'gird.scss';
