@import '../../../styles/global.utilities';

:host {
  position: relative;
  display: inline-block;
  min-height: 24px;
  outline: none;

  &.bal-checkbox {
    input[type='checkbox'] {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
      outline: 0;
    }

    input[type='checkbox'] + label {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    label {
      @include font-smoothing();
      @include margin(0);

      line-height: 22px;
      contain: layout style;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;

      min-height: 26px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: $blue;
      font-family: $family-primary;

      bal-text {
        padding-left: 32px;
      }

      bal-text:empty {
        padding-left: 0;
      }
    }

    @include desktop() {
      label {
        font-size: $size-normal;
      }
    }

    label::before,
    label::after {
      display: inline-block;
      position: absolute;
      background-color: transparent;
      background-position: center;
      background-repeat: no-repeat;
      background-size: 24px 24px;
    }

    label::before {
      content: '';
      left: 0;
      top: 0;
      height: 24px;
      width: 24px;
      border: 1px solid $blue-3;
    }

    label::after {
      content: none;
      left: 9px;
      top: 6px;
      width: 6px;
      height: 10px;
      border-bottom: 2px solid $blue;
      border-right: 2px solid $blue;
      border-top: 0;
      border-left: 0;
      -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }

    input[type='checkbox']:disabled + label {
      cursor: not-allowed;
      opacity: 0.5;
    }

    input[type='checkbox']:checked + label::after {
      content: '';
    }

    input[type='checkbox']:focus-visible + label::before {
      outline: 1px dashed $cyan !important;
    }

    &.is-inverted {
      label {
        color: $white;
      }
      label::before {
        border: 1px solid $blue-3;
      }
      label::after {
        border-bottom: 2px solid $white;
        border-right: 2px solid $white;
      }

      input[type='checkbox']:hover:not([disabled]) + label:before {
        border-color: $white;
      }
    }
  }
}

@import './bal-switch';
