+block(switch)
  +unselectable
  input[type='checkbox']
    outline: 0
    user-select: none
    display: inline-block
    position: absolute
    opacity: 0
    vertical-align: baseline

  input[type='checkbox'] + label
    @include font-smoothing()
    @include margin(0)

    position: relative
    padding-left: 48px
    line-height: 24px
    contain: layout style

    display: flex
    align-items: center
    justify-content: flex-start
    text-align: left

    min-height: 24px
    cursor: pointer
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    color: var(--bal-color-primary)
    font-family: var(--bal-family-primary)

  input[type='checkbox'] + label::before
    border-radius: 24px
    position: absolute
    display: block
    top: 0
    left: 0
    width: 40px
    height: 24px
    border: 1.6px solid transparent
    background: var(--bal-color-blue-light)
    content: ''
    transition: all 0.25s ease-out

  input[type='checkbox'] + label::after
    border-radius: 50%
    display: block
    position: absolute
    top: 4px
    left: 4px
    width: 16px
    height: 16px
    transform: translate3d(0, 0, 0)
    background: var(--bal-color-primary)
    transition: all 0.25s ease-out
    content: ''

  input[type='checkbox'] + label:hover::after
    background: var(--bal-color-light-blue-dark)

  input[type='checkbox']:checked + label::before
    background: var(--bal-color-success-6)

  input[type='checkbox']:checked + label::after
    left: 20px
    background: var(--bal-color-white)

  input[type='checkbox']:checked + label:hover::before
    background: var(--bal-color-success-5)

  input[type='checkbox'] + label.bal-switch__label--is-disabled::before
    background: var(--bal-color-grey-2)

  input[type='checkbox'] + label.bal-switch__label--is-disabled::after
    background: var(--bal-color-grey-5)
  
  input[type='checkbox'].bal-switch__input--is-invalid + label:before
    background: var(--bal-color-red-2)

  input[type='checkbox'].bal-switch__input--is-invalid + label:after
    background: var(--bal-color-danger-4)

  input[type='checkbox'].bal-switch__input--is-invalid + label:hover:before
    background: var(--bal-color-red-2)