@import './bal-checkbox-group/bal-checkbox-group'

+block(switch)
  +unselectable
  position: relative
  display: inline-flex
  justify-content: flex-start
  align-items: center
  outline: none
  min-width: 24px
  min-height: 48px

  +modifier(is-flat)
    min-height: 1.5rem

+block(checkbox)
  +unselectable
  position: relative
  display: inline-flex
  justify-content: flex-start
  align-items: center
  outline: none
  min-width: 1.5rem
  min-height: 3rem

  //
  // set cursor
  &:not(#{&}--disabled)
    &,
    input[type='checkbox'],
    input[type='checkbox'] + label,
    input[type='checkbox'] + label > span
      cursor: pointer

  +modifier(is-flat)
    min-height: 1.5rem

  &__input
    position: absolute
    left: 6px
    top: 24px
    margin: 0
    padding: 0
    opacity: 0
    outline: 0

  &__input + &__label
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none

  +element(label)
    +font-smoothing()
    +margin(0)

    line-height: 1.5rem
    contain: layout style
    display: flex
    align-items: center
    justify-content: flex-start
    text-align: left
    min-height: 1.5rem
    -webkit-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    color: var(--bal-color-primary)
    font-family: var(--bal-family-primary)

    +element(text)
      padding-left: 2rem

    bal-text: empty
      padding-left: 0

    +desktop
      font-size: var(--bal-size-normal)

  // &__label::before,
  // &__label::after
  //   display: inline-block
  //   position: absolute
  //   background-color: transparent
  //   background-position: center
  //   background-repeat: no-repeat
  //   background-size: 1.5rem 1.5rem

  // &__label::before
  //   content: ''
  //   left: 0
  //   height: 1.5rem
  //   width: 1.5rem
  //   border: 2px solid var(--bal-color-primary)
  //   border-radius: var(--bal-radius-small)

  // &__label::after
  //   content: none
  //   left: 9px
  //   width: 7px
  //   height: 13px
  //   margin-top: -4px
  //   border-bottom: 2px solid var(--bal-color-white)
  //   border-right: 2px solid var(--bal-color-white)
  //   border-radius: 1px
  //   border-top: 0
  //   border-left: 0
  //   -moz-transform: rotate(45deg)
  //   -ms-transform: rotate(45deg)
  //   -o-transform: rotate(45deg)
  //   -webkit-transform: rotate(45deg)
  //   transform: rotate(45deg)

  // &__input:focus-visible + &__label::before
  //   @extend %focus-shadow

  // not checked default styles
  &__input + &__label:hover
    color: var(--bal-color-light-blue-dark)
    &::before
      background: var(--bal-color-grey-2)
      border-color: var(--bal-color-light-blue-dark)
  &__input + &__label:active
    color: var(--bal-color-blue-dark)
    &::before
      border-color: var(--bal-color-blue-dark)

  // checked default styles
  &__input:checked + &__label:hover
    &::before
      border-color: var(--bal-color-light-blue-dark)
      background: var(--bal-color-light-blue-dark)
  &__input:checked + &__label:active
    &::before
      border-color: var(--bal-color-blue-dark)
      background: var(--bal-color-blue-dark)

  // check sign
  &__input:checked + &__label::before
    background: var(--bal-color-primary)
  &__input:checked + &__label::after
    content: ''

  &--invalid
    .bal-checkbox__label
      color: var(--bal-color-border-invalid)
      &:before
        background: var(--bal-color-invalid)
        border-color: var(--bal-color-border-invalid)
    .bal-checkbox__input + .bal-checkbox__label:hover
      color: var(--bal-color-danger-5)
      &:before
        background: var(--bal-color-invalid)
        border-color: var(--bal-color-danger-5)
    .bal-checkbox__input + .bal-checkbox__label:active
      color: var(--bal-color-danger-6)
      &:before
        background: var(--bal-color-invalid)
        border-color: var(--bal-color-danger-6)

  &--invalid#{&}--checked
    .bal-checkbox__label
      &:before
        background: var(--bal-color-border-invalid)
    .bal-checkbox__input + .bal-checkbox__label:hover
      &:before
        background: var(--bal-color-danger-5)
    .bal-checkbox__input + .bal-checkbox__label:active
      &:before
        background: var(--bal-color-danger-6)

  &--disabled
    .bal-checkbox__label
      color: var(--bal-color-text-disabled)
      &:before
        background: var(--bal-color-disabled)
        border-color: var(--bal-color-border-disabled)
    .bal-checkbox__input + .bal-checkbox__label:hover
      color: var(--bal-color-text-disabled)
      &:before
        background: var(--bal-color-disabled)
        border-color: var(--bal-color-border-disabled)
    .bal-checkbox__input + .bal-checkbox__label:active
      color: var(--bal-color-text-disabled)
      &:before
        background: var(--bal-color-disabled)
        border-color: var(--bal-color-border-disabled)

  &--disabled#{&}--checked
    .bal-checkbox__label
      color: var(--bal-color-text-disabled)
      &:before
        background: var(--bal-color-border-disabled)
    .bal-checkbox__input + .bal-checkbox__label:hover
      &:before
        background: var(--bal-color-border-disabled)
    .bal-checkbox__input + .bal-checkbox__label:active
      &:before
        background: var(--bal-color-border-disabled)

@import './bal-switch'
