@font-face {
  font-family: 'BaloiseCreateHeadline';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('BaloiseCreateHeadline'), local('BaloiseCreateHeadline-bold'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateHeadline-bold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateHeadline-bold.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateHeadline-bold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'BaloiseCreateHeadline';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local('BaloiseCreateHeadline'), local('BaloiseCreateHeadline-light'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateHeadline-light.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateHeadline-light.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateHeadline-light.ttf')
      format('truetype');
}

@font-face {
  font-family: 'BaloiseCreateText';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('BaloiseCreateText'), local('BaloiseCreateText-bold'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateText-bold.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateText-bold.woff') format('woff'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateText-bold.ttf')
      format('truetype');
}

@font-face {
  font-family: 'BaloiseCreateText';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('BaloiseCreateText'), local('BaloiseCreateText-regular'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateText-regular.woff2')
      format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateText-regular.woff')
      format('woff'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-next-fonts/lib/BaloiseCreateText-regular.ttf')
      format('truetype');
}
