@import 'bal-tag.vars';
@import 'node_modules/bulma/sass/elements/tag';

:host {
  display: inline-block;
  width: auto;
  font-family: $family-primary;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  pointer-events: auto;
  font-kerning: none;

  .tag {
    @include font-smoothing();
    @include margin(0);

    width: 100%;
    line-height: 1;
    contain: layout style;
    outline: none;
    z-index: 0;
    box-sizing: border-box;
    appearance: none;
    font-weight: $weight-bold;
    padding-top: 0px;
    padding-bottom: 2px;
    padding-left: 20px;
    padding-right: 20px;
    height: auto;
    min-height: 22px;

    &.default {
      background-color: $grey;
    }
  }
}
