@import "../../scss/ui-library.globals";
@import "../../scss/elements/checkbox.scss";

:host {
  display: inline-flex;
}

.filter-button-inner {
  display: flex;
  justify-content: center;
  align-content: center;
}

div.bal-checkbox {
  padding: 0;

  label {
    padding-left: 30px !important;
    line-height: 1.25rem !important;
    font-weight: 600 !important;

    &::before {
      top: 1px;
      width: 18px;
      height: 18px;
    }

    &::after {
      left: 7px;
      top: 5px;
      width: 4px;
      height: 8px;
    }
  }
}
