$bal_brand_blue: #003399;
$bal_rollover_blue: #002b82;
$bal_link-cta_blue: #009ee7;
$bal_rollover_link-cta_blue: #0290d0;
$bal_bg_light_blue: #f0fbff;
$bal_bg_rollover_light_blue: #ebf6fa;
$bal_bg_grey: #fafafa;
$bal_bg_white: #ffffff;
$bal_line_blue: #d3dbeb;
$bal_tile_shadow_blue: transparentize(#002162, 0.85);
$bal_text_darkgrey: #222222;
$bal_text_white: #ffffff;
$bal_text_light_blue: #7188b8;
$bal_light_text_neg: #99add6;
$bal_success_green: #67d3a1;
$bal_notification_orange: #ff9900;
$bal_error_red: #ff3366;
$bal_info_blue: $bal_link-cta_blue;
$PAGE-MAX-WIDTH: 1200px;
$bal_padding: 40px;
$bal_border_radius: 4px;
$bal_header_height: 80px;
$bal_track_line_height: 10px;
$bal_font_size_44px: 2.75rem;
$bal_font_size_32px: 2rem;
$bal_font_size_22px: 1.375rem;
$bal_font_size_18px: 1.125rem;
$bal_font_size_15px: 0.9375rem;
$bal_font_size_13px: 0.8125rem;
$bal_lineheight_50px: 3.125rem;
$bal_lineheight_40px: 2.5rem;
$bal_lineheight_28px: 1.75rem;
$bal_lineheight_26px: 1.625rem;
$bal_lineheight_20px: 1.25rem;
$bal_lineheight_15px: 1.025rem;
$bal_font_weight_normal: 400;
$bal_font_weight_bold: 700;
/**
 *  !!! COPY-PASTED FROM APERTO !!!
 */
/* ===================================================
BREAKPOINT SETTINGS
=================================================== */
// Breakpoints
$bp-min-s: 540px;
$bp-min-m: 720px;
$bp-min-l: 960px;
$bp-min-xl: 1200px;
// Breakpoints Map
$breakpoints: (
  's': $bp-min-s,
  'm': $bp-min-m,
  'l': $bp-min-l,
  'xl': $bp-min-xl,
);
/* ---------------------------------------------------
Transitions
--------------------------------------------------- */
$transition-fast: 100ms;
$transition-default: 200ms;
$transition-slow: 300ms;
$transition-slower: 400ms;
$transition-slowest: 650ms;
$transition-tardy: 750ms;
$transition-timing-default: ease-in-out;
$transition-text-props-duration: 500ms;
$transition-text-props-easing: ease-in;
$transition-text-props-easing-out: ease-out;
