@import 'node_modules/bulma/sass/helpers/_all.sass';

.is-full-width {
  width: 100% !important;
}

.has-no-margin {
  margin: 0 !important;
}

.has-no-margin-top {
  margin-top: 0 !important;
}

.has-no-margin-bottom {
  margin-bottom: 0 !important;
}

.is-row-reverse {
  flex-direction: row-reverse !important;
}

.has-background-light {
  background: $white-bis;
}

.clickable {
  cursor: pointer !important;
  pointer-events: visible !important;
}

strong,
b {
  font-weight: 700;
}

.is-display-block {
  display: block !important;
}

.is-display-inline-block {
  display: inline-block !important;
}

.is-display-flex {
  display: flex !important;
}

.is-padded, // @deprecated
.has-large-padding,
.has-padding {
  padding: 20px !important;
}

@include tablet() {
  .has-large-padding,
  .has-padding {
    padding: 32px 40px !important;
  }
}

@include desktop() {
  .has-large-padding {
    padding: 64px 120px !important;
  }
}
