@import 'node_modules/bulma/sass/helpers/_all.sass';

.is-full-width {
  width: 100% !important;
}

.is-row-reverse {
  flex-direction: row-reverse !important;
}

.has-background-light {
  background: $white-bis;
}

.clickable {
  cursor: pointer !important;
  pointer-events: visible !important;
}

strong,
b {
  font-weight: 700;
}

.is-display-block {
  display: block !important;
}

.is-display-inline-block {
  display: inline-block !important;
}

.is-display-flex {
  display: flex !important;
}

$space-vertical-small: 16px;
$space-horizontal-small: 16px;

$space-vertical-normal: 32px;
$space-horizontal-normal: 40px;

$space-vertical-large: 64px;
$space-horizontal-large: 120px;

hr {
  border: none;
  border-top: 1px solid $blue-light-line;
  margin: 0;
  padding: 0;
}

.has-margin-top,
.has-large-margin-top {
  margin-top: $space-vertical-small !important;
}

.has-margin-bottom,
.has-large-margin-bottom {
  margin-bottom: $space-vertical-small !important;
}

.is-padded, // @deprecated
.has-large-padding,
.has-padding {
  padding: $space-vertical-small $space-horizontal-small !important;
}

@include tablet() {
  .has-large-padding,
  .has-padding {
    padding: $space-vertical-normal $space-horizontal-normal !important;
  }

  .has-margin-top,
  .has-large-margin-top {
    margin-top: $space-vertical-normal !important;
  }

  .has-margin-bottom,
  .has-large-margin-bottom {
    margin-bottom: $space-vertical-normal !important;
  }
}

@include desktop() {
  .has-large-padding {
    padding: $space-vertical-large $space-horizontal-large !important;
  }

  .has-large-margin-top {
    margin-top: $space-vertical-large !important;
  }

  .has-large-margin-bottom {
    margin-bottom: $space-vertical-large !important;
  }
}

.has-no-margin {
  margin: 0 !important;
}

.has-no-margin-top {
  margin-top: 0 !important;
}

.has-no-margin-bottom {
  margin-bottom: 0 !important;
}
