$textarea-padding: $control-padding-horizontal !default
$textarea-max-height: 40em !default
$textarea-min-height: 8em !default

%input-textarea
  @extend %input
  box-shadow: $input-shadow
  max-width: 100%
  width: 100%
  &[readonly]
    box-shadow: none
  // Modifiers
  &.is-fullwidth
    display: block
    width: 100%
  &.is-inline
    display: inline
    width: auto

.input
  @extend %input-textarea

.textarea
  @extend %input-textarea
  display: block
  max-width: 100%
  min-width: 100%
  padding: $textarea-padding
  resize: vertical
  &:not([rows])
    max-height: $textarea-max-height
    min-height: $textarea-min-height
  &[rows]
    height: initial
  // Modifiers
  &.has-fixed-size
    resize: none

input.input,
textarea.textarea
  border-width: 2px
  border-radius: $radius
  font-size: $size-normal
  font-family: $family-primary
  color: $text
  outline: none
  box-shadow: none
  &.is-danger
    border-color: $danger-7
    background: $danger-0
  &.is-success
    border-color: $success-7
    background: $success-0
  &.is-warning
    border-color: $warning-7
    background: $warning-0

input.input
  min-height: 48px

// .input,
// .textarea,
// input.input,
// textarea.textarea
//   &.is-disabled
//     color: $input-disabled-color
//     background: $input-disabled-background-color
//     border-color: $input-disabled-border-color
//     @include placeholder
//       color: $input-disabled-placeholder-color
