
.select
  display: inline-block
  max-width: 100%
  width: 100%
  position: relative
  vertical-align: top
  &:not(.is-multiple)
    height: $input-height
  &:not(.is-multiple):not(.is-loading)
    &::after
      border: 3px solid var(--bal-color-blue)
      border-radius: 2px
      border-right: 0
      border-top: 0
      content: " "
      display: block
      height: 0.625em
      margin-top: -0.4rem
      pointer-events: none
      position: absolute
      top: 50%
      transform: rotate(-45deg)
      transform-origin: center
      width: 0.625em

      +ltr-position(1.125em)
      z-index: 4
  select
    @extend %input
    cursor: pointer
    display: block
    font-size: 1em
    max-width: 100%
    width: 100%
    outline: none
    border-radius: var(--bal-radius-small)
    &::-ms-expand
      display: none
    &[disabled]:hover,
    fieldset[disabled] &:hover
      border-color: var(--bal-color-border-grey-dark)
    &:not([multiple])
      +ltr-property("padding", 2.5em)
    &[multiple]
      height: auto
      padding: 0
      option
        padding: 0.5em 1em
  // States
  &:not(.is-multiple):not(.is-loading):hover
    &::after
      border-color: $blue-6
  // Modifiers
  &.is-disabled
    &::after
      border-color: var(--bal-color-border-grey-dark)
  &.is-fullwidth
    width: 100%
    select
      width: 100%
