@import "./file-upload.vars.scss";
@import "../../scss/components/list.scss";
@import "node_modules/bulma/sass/form/file";

:host {
  position: static;
  display: block;
}

span.file-cta,
label.file-label {
  flex: 1;
}

span.file-cta {
  height: 90px;
  justify-content: center;
  align-items: center;
  border-style: dashed;
}

.file-label.is-hovered .file-cta,
.file-label:hover .file-cta {
  background: $blue-light;
  color: $blue;
}

span.file-icon bal-icon {
  margin-right: 6px;
  margin-top: 6px;
}

bal-list {
  margin-top: 15px;
}

.file-remove {
  cursor: pointer;
}

label.file-label.is-disabled {
  cursor: not-allowed;

  .file-cta,
  &.is-hovered .file-cta,
  &:hover .file-cta {
    background: $blue-light;
    color: $black;
  }
}
