@theme {
  --*: initial;
  /* --color*: initial; */
  --color-white: var(--bal-color-white);
  --color-black: var(--bal-color-black);

  --color-primary-6: var(--bal-color-primary-6);
  --color-primary-5: var(--bal-color-primary-5);
  --color-primary-4: var(--bal-color-primary-4);
  --color-primary-3: var(--bal-color-primary-3);
  --color-primary-2: var(--bal-color-primary-2);
  --color-primary-1: var(--bal-color-primary-1);

  --color-light-blue-6: var(--bal-color-light-blue-6);
  --color-light-blue-5: var(--bal-color-light-blue-5);
  --color-light-blue-4: var(--bal-color-light-blue-4);
  --color-light-blue-3: var(--bal-color-light-blue-3);
  --color-light-blue-2: var(--bal-color-light-blue-2);
  --color-light-blue-1: var(--bal-color-light-blue-1);

  --color-red-6: var(--bal-color-red-6);
  --color-red-5: var(--bal-color-red-5);
  --color-red-4: var(--bal-color-red-4);
  --color-red-3: var(--bal-color-red-3);
  --color-red-2: var(--bal-color-red-2);
  --color-red-1: var(--bal-color-red-1);

  --color-yellow-6: var(--bal-color-yellow-6);
  --color-yellow-5: var(--bal-color-yellow-5);
  --color-yellow-4: var(--bal-color-yellow-4);
  --color-yellow-3: var(--bal-color-yellow-3);
  --color-yellow-2: var(--bal-color-yellow-2);
  --color-yellow-1: var(--bal-color-yellow-1);

  --color-purple-6: var(--bal-color-purple-6);
  --color-purple-5: var(--bal-color-purple-5);
  --color-purple-4: var(--bal-color-purple-4);
  --color-purple-3: var(--bal-color-purple-3);
  --color-purple-2: var(--bal-color-purple-2);
  --color-purple-1: var(--bal-color-purple-1);

  --color-green-6: var(--bal-color-green-6);
  --color-green-5: var(--bal-color-green-5);
  --color-green-4: var(--bal-color-green-4);
  --color-green-3: var(--bal-color-green-3);
  --color-green-2: var(--bal-color-green-2);
  --color-green-1: var(--bal-color-green-1);

  --color-grey-6: var(--bal-color-grey-6);
  --color-grey-5: var(--bal-color-grey-5);
  --color-grey-4: var(--bal-color-grey-4);
  --color-grey-3: var(--bal-color-grey-3);
  --color-grey-2: var(--bal-color-grey-2);
  --color-grey-1: var(--bal-color-grey-1);

  --color-danger-6: var(--bal-color-danger-6);
  --color-danger-5: var(--bal-color-danger-5);
  --color-danger-4: var(--bal-color-danger-4);
  --color-danger-3: var(--bal-color-danger-3);
  --color-danger-2: var(--bal-color-danger-2);
  --color-danger-1: var(--bal-color-danger-1);

  --color-warning-6: var(--bal-color-warning-6);
  --color-warning-5: var(--bal-color-warning-5);
  --color-warning-4: var(--bal-color-warning-4);
  --color-warning-3: var(--bal-color-warning-3);
  --color-warning-2: var(--bal-color-warning-2);
  --color-warning-1: var(--bal-color-warning-1);

  --color-success-6: var(--bal-color-success-6);
  --color-success-5: var(--bal-color-success-5);
  --color-success-4: var(--bal-color-success-4);
  --color-success-3: var(--bal-color-success-3);
  --color-success-2: var(--bal-color-success-2);
  --color-success-1: var(--bal-color-success-1);

  --color-info-6: var(--bal-color-info-6);
  --color-info-5: var(--bal-color-info-5);
  --color-info-4: var(--bal-color-info-4);
  --color-info-3: var(--bal-color-info-3);
  --color-info-2: var(--bal-color-info-2);
  --color-info-1: var(--bal-color-info-1);

  --color-danger: var(--bal-color-danger-3);
  --color-warning: var(--bal-color-warning-3);
  --color-success: var(--bal-color-success-3);
  --color-info: var(--bal-color-info-3);
  --color-disabled: var(--bal-color-grey-3);
  --color-grey: var(--bal-color-grey-3);
  --color-grey-light: var(--bal-color-grey-2);
  --color-red: var(--bal-color-red-3);
  --color-red-light: var(--bal-color-red-1);
  --color-yellow: var(--bal-color-yellow-3);
  --color-yellow-light: var(--bal-color-yellow-1);
  --color-purple: var(--bal-color-purple-3);
  --color-purple-light: var(--bal-color-purple-1);
  --color-green: var(--bal-color-green-3);
  --color-green-light: var(--bal-color-green-1);
  --color-primary: var(--bal-color-primary-5);

  --spacing: 0.25rem;

  /* --font*: initial; */
  --font-sans: var(--bal-font-family-text);
  --font-text: var(--bal-font-family-text);
  --font-title: var(--bal-font-family-title);

  /* --breakpoint*: initial; */
  --breakpoint-tablet: 769px;
  --breakpoint-desktop: 1024px;
  --breakpoint-high-defition: 1280px;
  --breakpoint-widescreen: 1440px;
  --breakpoint-fullhd: 1280px;

  /* --text*: initial; */
  --text-sm: 0.875rem;
  --text-sm--line-height: 1.125rem;
  --text-base: 1rem;
  --text-base--line-height: 1.5;
  --text-md: 1.125rem;
  --text-md--line-height: 1.5;
  --text-lg: 1.25rem;
  --text-lg--line-height: calc(1.75 / 1.25);
  --text-xl: 1.5rem;
  --text-xl--line-height: calc(2 / 1.5);
  --text-2xl: 1.75rem;
  --text-2xl--line-height: 1.3;
  --text-3xl: 2rem;
  --text-3xl--line-height: 1.3;
  --text-4xl: 2.5rem;
  --text-4xl--line-height: 1.3;
  --text-5xl: 3rem;
  --text-5xl--line-height: 1.3;
  --text-6xl: 5rem;
  --text-6xl--line-height: 1.3;

  --text-small: 0.875rem;
  --text-small--line-height: 1.125rem;
  --text-normal: 1rem;
  --text-normal--line-height: 1.5;
  --text-medium: 1.125rem;
  --text-medium--line-height: 1.5;
  --text-large: 1.25rem;
  --text-large--line-height: calc(1.75 / 1.25);
  --text-x-large: 1.5rem;
  --text-x-large--line-height: calc(2 / 1.5);
  --text-xx-large: 1.75rem;
  --text-xx-large--line-height: 1.3;
  --text-xxx-large: 2rem;
  --text-xxx-large--line-height: 1.3;
  --text-xxxx-large: 2.5rem;
  --text-xxxx-large--line-height: 1.3;
  --text-xxxxx-large: 3rem;
  --text-xxxxx-large--line-height: 1.3;
  --text-xxxxxx-large: 5rem;
  --text-xxxxxx-large--line-height: 1.3;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  --tracking-tighter: -0.05em;
  --tracking-tight: -0.025em;
  --tracking-normal: 0em;
  --tracking-wide: 0.025em;
  --tracking-wider: 0.05em;
  --tracking-widest: 0.1em;

  --leading-tight: 1.25;
  --leading-snug: 1.375;
  --leading-normal: 1.5;
  --leading-relaxed: 1.625;
  --leading-loose: 2;

  --radius-small: 0.125rem;
  --radius-normal: var(--bal-radius-normal);
  --radius-large: var(--bal-radius-large);
  --radius-rounded: var(--bal-radius-rounded);

  --shadow-small: var(--bal-shadow-small);
  --shadow-normal: var(--bal-shadow-normal);
  --shadow-large: var(--bal-shadow-large);

  --text-shadow-normal: var(--bal-text-shadow-normal);

  --blur-xs: 4px;
  --blur-sm: 8px;
  --blur-md: 12px;
  --blur-lg: 16px;
  --blur-xl: 24px;
  --blur-2xl: 40px;
  --blur-3xl: 64px;

  --perspective-dramatic: 100px;
  --perspective-near: 300px;
  --perspective-normal: 500px;
  --perspective-midrange: 800px;
  --perspective-distant: 1200px;

  --aspect-video: 16 / 9;

  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --animate-spin: spin 1s linear infinite;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-pulse: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
  --animate-bounce: bounce 1s infinite;

  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  @keyframes ping {
    75%,
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  @keyframes pulse {
    50% {
      opacity: 0.5;
    }
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(-25%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: none;
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
