@import '../css/utilities';

@layer utilities {
  .border-none {
    border: none !important;
  }

  .border-top-none {
    border-top: none !important;
  }

  .border-bottom-none {
    border-bottom: none !important;
  }

  .border-left-none {
    border-left: none !important;
  }

  .border-right-none {
    border-right: none !important;
  }

  .gap-none {
    gap: 0 !important;
  }
}
