@import '@baloise/design-system-css/sass/mixins'

// Tab Icons
// --------------------------------------------------

.bal-tabs__nav__item__icon
  position: relative
  //
  // alert bubble
  &__bubble
    position: absolute
    right: -0.75rem
    top: -0.25rem
    +tablet
      right: -0.625rem
      top: -0.25rem
