@import '@baloise/design-system-css/sass/mixins'

// Tab Icons
// --------------------------------------------------

.bal-tabs__nav__item__icon
  position: relative
  //
  // alert bubble
  &__bubble
    position: absolute
    right: -12px
    top: -4px
    +tablet
      right: -10px
      top: -4px
