@import '../../styles/global.utilities';

$tabs-border-bottom-color: $info-2;
$tabs-border-bottom-style: solid;
$tabs-border-bottom-width: 0;
$tabs-link-color: $text;

$tabs-link-hover-border-bottom-color: transparent;
$tabs-link-hover-color: $white;

$tabs-link-active-border-bottom-color: transparent;
$tabs-link-active-color: $white;

$tabs-link-padding: 0.5em 1em;
