bal-tabs.bal-o-steps {
  ul {
    @include margin(0);
    @include padding(0);

    display: flex;
    list-style: none;
    text-align: center;

    li {
      flex-basis: 1rem;
      flex-grow: 1;
      flex-shrink: 1;
      position: relative;

      a {
        text-decoration: none !important;
      }

      .step-index {
        height: 30px;
        width: 30px;
        background-color: $white;
        background: $white;
        color: $white;
        overflow: hidden;
        position: absolute;
        left: calc(50% - 1rem);
        align-items: center;
        display: flex;
        border-radius: 50%;
        font-weight: 700;
        justify-content: center;
        position: relative;
        z-index: 5;
        margin-bottom: 8px;

        .inner-text {
          margin: 0;
          font-weight: 700;
          color: $text-light;
        }
      }

      .step-label {
        margin-top: 2rem;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding-top: 0.2em;
        color: $text-light;
        font-weight: 700;
        font-family: $title-family;
      }

      &:not(:last-child):after {
        content: ' ';
        display: block;
        position: absolute;

        height: 2px;
        left: 50%;
        right: -50%;
        top: 15px;
        margin-right: 20px;
        margin-left: 18px;
        background-color: $blue;
        border-radius: 5px;
      }
    }

    li:not(.is-done, .is-failed, .is-active, .is-disabled) {
      .step-index {
        border: 2px solid $blue-2;
      }
    }

    li.is-failed:not(.is-active) {
      .step-index {
        .alert-icon {
          height: 30px;
          width: 30px;
          max-height: 30px;

          .bal-icon-inner {
            height: 30px;
            width: 30px;
            max-height: 30px;
          }
        }
      }

      a {
        .step-label {
          color: $danger-7;
          font-weight: bold;
        }
      }
    }

    li.is-done:not(.is-active) {
      .step-index {
        .check-icon {
          height: 30px;
          width: 30px;
          max-height: 30px;

          .bal-icon-inner {
            height: 30px;
            width: 30px;
            max-height: 30px;
          }
        }
      }

      .step-label {
        color: $blue-7;
      }
    }

    li.is-done {
      .step-index {
        background-color: none !important;

        .check-icon {
          height: 30px;
          width: 30px;
          max-height: 30px;

          .bal-icon-inner {
            height: 30px;
            width: 30px;
            max-height: 30px;
          }
        }
      }
    }

    li.is-clickable {
      &:hover {
        .step-label {
          color: $light-blue-7;
        }

        .step-index {
          border: 2px solid $light-blue-7 !important;

          .inner-text {
            color: $light-blue-7;
          }
        }
      }

      &.is-active:hover {
        .step-label {
          color: $blue-7;
        }

        .step-index {
          border: 2px solid $blue-7 !important;

          .inner-text {
            color: $white;
          }
        }
      }

      &.is-done:hover {
        .step-label {
          color: $blue-7;
        }

        .step-index {
          border: 2px solid $blue-7 !important;
        }
      }

      &.is-failed:hover {
        .step-index {
          border: 2px solid $danger-7 !important;
        }
      }

      &:not(.is-done, .is-failed, .is-active, .is-disabled) {
        .step-index {
          border: 2px solid $blue-2;
        }
      }
    }

    li.is-active:after {
      background-color: $blue-2;
    }

    li.is-active {
      &:not(.is-done) {
        .step-index {
          background-color: $blue-7;

          .inner-text {
            display: block;
            color: $white;
          }
        }
      }
      .step-label {
        color: $blue-7;
        font-weight: $weight-bold;
      }
    }

    li.is-active.is-failed {
      .step-index {
        background: $white;

        .alert-icon {
          height: 30px;
          width: 30px;
          max-height: 30px;

          .bal-icon-inner {
            height: 30px;
            width: 30px;
            max-height: 30px;
          }
        }
      }

      a {
        .step-label {
          color: $danger-7;
          font-weight: bold;
        }
      }

      &:hover {
        a {
          .step-label {
            color: $danger-7;
          }
        }
      }
    }

    li.is-active ~ li:after {
      background-color: $blue-2;
    }

    li.is-disabled {
      cursor: not-allowed !important;
      pointer-events: none;

      .step-index {
        border: 2px solid $grey-2 !important;
        background: $grey-2;

        .inner-text {
          color: $grey-7;
        }
      }

      .step-label {
        color: $grey-7 !important;
      }

      &:hover {
        cursor: not-allowed !important;
        pointer-events: none;

        .step-index {
          border: 2px solid $grey-2 !important;
          background: $grey-2;

          .inner-text {
            color: $grey-7;
          }
        }

        .step-label {
          color: $grey-7;
        }
      }
    }

    @include mobile() {
      li {
        .step-index {
          height: 24px;
          width: 24px;

          .check-icon {
            height: 24px;
            width: 24px;
            max-height: 24px;

            .bal-icon-inner {
              height: 24px;
              width: 24px;
              max-height: 24px;
            }
          }
        }

        &:not(:last-child):after {
          content: ' ';
          display: block;
          position: absolute;

          height: 2px;
          left: 44%;
          right: -50%;
          top: 11px;
          margin-right: 20px;
          margin-left: 18px;
          background-color: $blue;
          border-radius: 5px;
        }
      }
    }
  }
}
