/**
 * @prop --bal-badge-background: Background of the badge
 *
 * @prop --bal-badge-radius: Radius of the badge.
 *
 * @prop --bal-badge-text-color: Text color of the badge.
 */

:root
  //
  // background colors
  --bal-tabs-tab-nav-border-background: var(--bal-form-field-control-border-color)
  --bal-tabs-tab-nav-border-background-inverted: var(--bal-color-border-white)
  --bal-tabs-tab-nav-line-background: var(--bal-color-border-primary)
  --bal-tabs-tab-nav-line-background-inverted: var(--bal-color-border-white)
  //
  // radius
  --bal-tabs-tab-button-radius: var(--bal-form-field-control-radius)
  --bal-tabs-tab-nav-border-radius: var(--bal-radius-rounded)
  --bal-tabs-tab-nav-line-radius: var(--bal-radius-rounded)
  //
  // text colors
  --bal-tabs-tab-button-label-text-color-hover: var(--bal-color-light-blue-5)
  --bal-tabs-tab-button-icon-text-color-hover: var(--bal-color-light-blue-5)
  --bal-tabs-tab-button-label-text-color-active: var(--bal-color-primary-6)
  --bal-tabs-tab-button-icon-text-color-active: var(--bal-color-primary-6)
  --bal-tabs-tab-button-label-text-color-inverted-hover: var(--bal-color-light-blue-2)
  --bal-tabs-tab-button-icon-text-color-inverted-hover: var(--bal-color-light-blue-2)
  --bal-tabs-tab-button-label-text-color-inverted-active: var(--bal-color-text-info)
  --bal-tabs-tab-button-icon-text-color-inverted-active: var(--bal-color-text-info)

  --bal-tabs-tab-label-text-color: var(--bal-form-field-control-color)
  --bal-tabs-tab-label-text-color-disabled: var(--bal-form-field-label-disabled-color)
  --bal-tabs-tab-label-text-color-inverted: var(--bal-color-text-white)
  --bal-tabs-tab-label-text-color-inverted-disabled: var(--bal-color-text-primary-light)


