bal-tabs.bal-o-steps {
  ul {
    @include margin(0);
    @include padding(0);

    display: flex;
    list-style: none;
    text-align: center;

    li {
      flex-basis: 1rem;
      flex-grow: 1;
      flex-shrink: 1;
      position: relative;

      a {
        text-decoration: none !important;
      }

      .step-index {
        height: 30px;
        width: 30px;
        background-color: $white;
        background: $white;
        color: $white;
        overflow: hidden;
        position: absolute;
        left: calc(50% - 1rem);
        align-items: center;
        display: flex;
        border-radius: 50%;
        font-weight: 700;
        justify-content: center;
        position: relative;
        z-index: 5;
        margin-bottom: 8px;

        .check-icon {
          display: block;
          height: 30px;
          width: 30px;
          max-height: 30px;

          .bal-icon-inner {
            height: 30px;
            width: 30px;
            max-height: 30px;
          }
        }

        .inner-text {
          display: none;
          margin: 0;
          font-weight: 700;
        }
      }

      .step-label {
        margin-top: 2rem;
        margin-left: 0.5em;
        margin-right: 0.5em;
        padding-top: 0.2em;
        // color: $text-light;
        font-weight: 700;
        font-family: $title-family;
        color: $blue-7;
      }

      &:not(:last-child):after {
        content: ' ';
        display: block;
        position: absolute;

        height: 2px;
        left: 50%;
        right: -50%;
        top: 15px;
        margin-right: 20px;
        margin-left: 18px;
        background-color: $blue;
        border-radius: 5px;
      }
    }

    li.is-failed:not(.is-active) {
      .step-index {
        border: 2px solid #ea1800 !important;
        background: #ea1800 !important;

        .inner-text {
          display: none;
        }

        &::after {
          display: inline-block;
          position: absolute;
          background-color: transparent;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 24px 24px;
          content: '!';
          font-size: 16px;
          text-align: center;
          width: 32px;
          height: 32px;
          line-height: 32px;
          vertical-align: middle;
        }
      }

      a {
        .step-label {
          color: #ea1800;
          font-weight: bold;
        }
      }
    }

    li.is-done:not(.is-active) {
      .step-index {
        border: 2px solid $success !important;
        background: $success !important;

        &::after {
          display: inline-block;
          position: absolute;
          background-color: transparent;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 24px 24px;
          content: '';
          top: 50%;
          margin-top: -7px;
          left: 50%;
          margin-left: -4px;
          width: 5px;
          height: 10px;
          border-bottom: 2px solid $white;
          border-right: 2px solid $white;
          border-top: 0;
          border-left: 0;
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }
      }
    }

    li.is-clickable:hover {
      .step-label {
        color: $light-blue-7;
      }

      .step-index {
        border: 2px solid $light-blue-7;
      }
    }

    li.is-clickable.is-active:hover {
      .step-label {
        color: $blue-7;
        font-weight: $weight-bold;
      }

      .step-index {
        border: 2px solid $blue-7;
      }
    }

    li.is-active:after {
      background-color: $blue-2;
    }

    li.is-active {
      .step-index {
        background-color: $blue-7;

        .check-icon {
          display: none;
        }

        .inner-text {
          display: block;
          color: $white;
        }
      }
      .step-label {
        color: $blue-7;
        font-weight: $weight-bold;
      }
    }

    li.is-active ~ li:after {
      background-color: $blue-2;
    }

    li.is-active ~ li {
      .step-index {
        border: 2px solid $blue-2;

        .check-icon {
          display: none;
        }

        .inner-text {
          display: block;
        }
      }

      .step-label {
        color: $text-light;
      }
    }

    li.is-disabled {
      cursor: not-allowed !important;
      pointer-events: none;

      .step-index {
        border: 2px solid $grey-2 !important;
        background: $grey-2;

        .inner-text {
          color: #747474;
        }
      }
    }

    @include mobile() {
      li {
        .step-index {
          height: 24px;
          width: 24px;

          .check-icon {
            height: 24px;
            width: 24px;
            max-height: 24px;

            .bal-icon-inner {
              height: 24px;
              width: 24px;
              max-height: 24px;
            }
          }
        }

        &:not(:last-child):after {
          content: ' ';
          display: block;
          position: absolute;

          height: 2px;
          left: 44%;
          right: -50%;
          top: 11px;
          margin-right: 20px;
          margin-left: 18px;
          background-color: $blue;
          border-radius: 5px;
        }
      }
    }
  }
}
