@import './bal-tabs.vars';
@import 'node_modules/bulma/sass/components/tabs.sass';

bal-tabs {
  display: block;
  position: static;
}

bal-tabs.bal-tabs {
  .tabs {
    margin: 0 !important;

    & > ul {
      margin: 0;
      padding: 0;
    }

    & > ul > li {
      position: relative;

      @include tablet() {
        &.is-right {
          position: absolute;
          right: 40px;
        }
      }

      span.bubble {
        background: $danger;
        height: 12px;
        width: 12px;
        border-radius: 50%;
        position: absolute;
        display: block;
        top: 18px;
        right: 5px;
      }

      & > a {
        padding: 26px 20px 24px 20px;
        line-height: 1.2;
        cursor: pointer;
        border-bottom: 2px solid transparent;
        text-decoration: none;

        color: $text-light;
        font-size: $size-medium;
        line-height: 1.125;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.is-active > a {
        border-bottom: 2px solid $blue;
        color: $blue;
      }

      & > a:hover {
        color: $blue;
      }

      &.is-disabled > a,
      &.is-disabled > a:hover {
        color: $text-light;
        cursor: not-allowed;
        opacity: 0.5;
      }
    }
  }

  .tabs.is-rounded {
    border: none;

    & > ul {
      padding: 0;
    }

    & > ul > li {
      padding-right: 10px;

      &:last-child {
        padding-right: 0;
      }

      & > a {
        border-radius: 50px;
        padding: 7.5px 20px 9.5px 20px;
        cursor: pointer;

        color: $black;
        font-size: $size-normal;
        line-height: $size-normal;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.is-active > a,
      & > a:hover {
        background: $blue;
        color: $white;
        border-bottom: 0;
        color: $white;
      }
    }
  }
}

bal-tabs.bal-tabs.is-sub-navigation {
  .tabs {
    & > ul > li {
      &.is-right {
        display: none !important;
      }

      span.bubble {
        height: 8px;
        width: 8px;
        top: 8px;
        right: 4px;
      }

      & > a {
        padding: 12px !important;
        font-size: 18px !important;
      }
    }
  }
}

bal-tab-item {
  display: block;
  position: static;
}

@import './bal-steps';
@import './bal-o-steps';
