/**
 * @prop --bal-date-first-week-day: TBD
 * @prop --bal-date-calendar-background: TBD
 */

:host {
  --bal-date-first-week-day: 0;
  --bal-date-calendar-button-background: transparent;
  --bal-date-calendar-button-background-hover: var(--bal-color-light-blue-1);
  --bal-date-calendar-button-background-active: var(--bal-color-light-blue-2);
  --bal-date-calendar-button-color: var(--bal-color-text-primary);

  --bal-date-calendar-button-today-color: var(--bal-color-light-blue-3);
  --bal-date-calendar-button-today-color-hover: var(--bal-color-text-primary);
  --bal-date-calendar-button-today-color-active: var(--bal-color-text-primary);

  --bal-date-calendar-button-selected-background: var(--bal-color-primary);
  --bal-date-calendar-button-selected-color: var(--bal-color-text-white);
}