@use '@baloise/ds-css/dist/scss/mixins' as *;
@use '../../hybrid' as hybrid;
@use '../../vars' as vars;

$use-host: false !default;
$name: divider;
$css-selector: (hr, '.divider');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include vars.hybrid($name, $css-selector, $use-host) {
  @include vars.local(divider-color, var(--ds-divider-color-base));
  @include vars.local(divider-width, var(--ds-divider-width));
  @include vars.local(divider-radius, var(--ds-divider-radius));
  @include vars.local(divider-space, 0);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@mixin basic() {
  display: block;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: var(--_divider-radius);
  height: var(--_divider-width);
  background-color: var(--_divider-color);
}

@include hybrid.styles($css-selector, $use-host) {
  @include basic();
}

@include hybrid.host($use-host) {
  :host {
    @include basic();
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

//
// Layout
// --------------------------------

@mixin horizontalLayout() {
  flex: 1 0 100%;
  width: 100%;
  min-height: var(--_divider-width);
  height: var(--_divider-width);
  margin-top: var(--_divider-space);
  margin-bottom: var(--_divider-space);
}

@mixin verticalLayout() {
  height: auto;
  flex-shrink: 0;
  align-self: stretch;
  width: var(--_divider-width);
  margin-left: var(--_divider-space);
  margin-right: var(--_divider-space);
}

@include hybrid.styles($css-selector, $use-host) {
  &:not(.is-vertical),
  &.is-horizontal {
    @include horizontalLayout();
  }

  &.is-vertical {
    @include verticalLayout();
  }
}

@include hybrid.host($use-host) {
  :host(:not(.is-vertical)),
  :host(.is-horizontal) {
    @include horizontalLayout();
  }

  :host(.is-vertical) {
    @include verticalLayout();
  }
}

//
// Colors
// --------------------------------
$colors: (
  'primary',
  'primary-light',
  'primary-dark',
  'grey-light',
  'grey',
  'grey-dark',
  'warning',
  'success',
  'danger',
  'danger-dark',
  'danger-darker',
  'white',
  'light-blue'
);

@mixin color($color) {
  --mod-divider-color: var(--ds-divider-color-#{$color});
}

@each $color in $colors {
  @include hybrid.styles($css-selector, $use-host) {
    &.is-#{$color} {
      @include color($color);
    }
  }

  @include hybrid.host($use-host) {
    :host(.is-#{$color}) {
      @include color($color);
    }
  }
}

//
// Spaces
// --------------------------------
$spaces: ('none', '2xs', 'xs', 'sm', 'base', 'md', 'lg', 'xl', '2xl', '3xl');

@mixin space($space) {
  --mod-divider-space: var(--ds-alias-space-#{$space}-device);
}

@each $space in $spaces {
  @include hybrid.styles($css-selector, $use-host) {
    &.has-space-#{$space} {
      @include space($space);
    }
  }

  @include hybrid.host($use-host) {
    :host(.has-space-#{$space}) {
      @include space($space);
    }
  }
}

//
// Dashed
// --------------------------------

@mixin dashedHorizontal() {
  &.is-dashed:not(.is-vertical) {
    background: repeating-linear-gradient(
      90deg,
      var(--_divider-color) 0,
      var(--_divider-color) 8px,
      transparent 8px,
      transparent 16px
    );
  }
}

@mixin dashedVertical() {
  &.is-dashed.is-vertical {
    background: repeating-linear-gradient(
      180deg,
      var(--_divider-color) 0,
      var(--_divider-color) 8px,
      transparent 8px,
      transparent 16px
    );
  }
}

@include hybrid.styles($css-selector, $use-host) {
  @include dashedHorizontal();
  @include dashedVertical();
}

@include hybrid.host($use-host) {
  :host {
    @include dashedHorizontal();
    @include dashedVertical();
  }
}
