:root {
  --bal-spinner-circle-background: var(--bal-color-grey);
  --bal-spinner-circle-progress: var(--bal-color-primary);
  --bal-spinner-circle-background-inverted: var(--bal-color-white);
  --bal-spinner-circle-progress-inverted: var(--bal-color-primary);
}