@import "../../scss/utilities/all";
@import "../../scss/base/all";

:host {
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;

  > div {
    width: 18px;
    height: 18px;
    background: $blue;
    border-radius: 100%;
    display: inline-block;
    animation: sk-bouncedelay 1.8s infinite ease-in-out both;
    margin-right: 5px;
  }

  .bounce1 {
    animation-delay: -0.32s;
  }

  .bounce2 {
    animation-delay: -0.16s;
  }
}

:host(.is-inverted) > div {
  background: $white;
}

:host(.is-small) > div {
  width: 12px;
  height: 12px;
}

@-webkit-keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}

@keyframes sk-bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
