// Tags
// ------------------------------------------------
//
// Small tag labels to insert anywhere
// https://bulma.io/documentation/elements/tag/

@import 'bal-tag.vars';
@import 'node_modules/bulma/sass/elements/tag';

bal-tag {
  @include font-smoothing();
  @include margin(0);

  user-select: none;
  pointer-events: auto;
  font-kerning: none;
  line-height: 1;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it

  &.default {
    background-color: $grey;
  }

  &.is-dense {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 8px;
    padding-right: 8px;

    bal-close {
      margin-left: 0.25rem;
      margin-right: 0.1rem;
    }
  }

  &.is-transparent {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

bal-card {
  & > bal-tag {
    position: absolute;
    left: 16px;
    top: -16px;
  }
}

@include desktop() {
  bal-card {
    & > bal-tag {
      left: 24px;
    }
  }
}
