+block(tag)
  +unselectable
  position: static
  display: inline-flex
  align-items: center
  justify-content: center
  min-height: 2rem
  line-height: 1.5rem
  padding: 0.25rem 0.75rem 0.25rem 0.75rem
  background-color: var(--bal-color-grey)
  border-radius: var(--bal-radius-x-large)

  // sizes
  +modifier(is-small)
    padding: 0 0.75rem 0 0.75rem
    min-height: 1.5rem
    border-radius: 0.75rem
  +modifier(is-medium)
    min-height: 2.5rem
    padding: 0.5rem 1rem 0.5rem 1rem
    border-radius: 1.25rem
  +modifier(is-large)
    min-height: 3rem
    padding: 0.75rem 1.5rem 0.75rem 1.5rem
    border-radius: 1.5rem
  // colors
  +modifier(is-primary)
    background: var(--bal-color-primary)
  +modifier(is-grey)
    background: var(--bal-color-grey)
  +modifier(is-success)
    background: var(--bal-color-success-4)
  +modifier(is-info)
    background: var(--bal-color-info-4)
  +modifier(is-warning)
    background: var(--bal-color-warning-5)
  +modifier(is-danger)
    background: var(--bal-color-danger-4)
  +modifier(is-purple)
    background: var(--bal-color-purple-5)
  +modifier(is-red)
    background: var(--bal-color-red-5)
  +modifier(is-yellow)
    background: var(--bal-color-yellow-5)
  +modifier(is-green)
    background: var(--bal-color-green-5)
  +modifier(is-purple-light)
    background: var(--bal-color-purple-2)
  +modifier(is-red-light)
    background: var(--bal-color-red-2)
  +modifier(is-yellow-light)
    background: var(--bal-color-yellow-2)
  +modifier(is-green-light)
    background: var(--bal-color-green-2)
  +modifier(is-invalid)
    background: var(--bal-color-border-invalid)
    color: var(--bal-color-white)
  //
  // tag label
  +element(label)
    font-family: var(--bal-font-family-text)
    color: var(--bal-color-grey-inverted)
    font-weight: var(--bal-weight-bold)
    font-size: var(--bal-size-normal) !important
    hyphens: auto
    display: inline-flex
    align-items: center
    gap: .25rem
    // sizes
    +modifier(is-small)
      font-size: var(--bal-size-small) !important
      font-weight: var(--bal-weight-regular) !important
    +modifier(is-medium)
      font-size: var(--bal-size-medium) !important
    +modifier(is-large)
      font-size: var(--bal-size-medium) !important
    // colors
    +modifier(is-primary)
      color: var(--bal-color-primary-inverted)
    +modifier(is-grey)
      color: var(--bal-color-grey-inverted)
    +modifier(is-success)
      color: var(--bal-color-success-4-inverted)
    +modifier(is-info)
      color: var(--bal-color-info-4-inverted)
    +modifier(is-warning)
      color: var(--bal-color-warning-5-inverted)
    +modifier(is-danger)
      color: var(--bal-color-danger-4-inverted)
    +modifier(is-purple)
      color: var(--bal-color-purple-5-inverted)
    +modifier(is-red)
      color: var(--bal-color-red-5-inverted)
    +modifier(is-yellow)
      color: var(--bal-color-yellow-5-inverted)
    +modifier(is-green)
      color: var(--bal-color-green-5-inverted)
    +modifier(is-purple-light)
      color: var(--bal-color-purple-2-inverted)
    +modifier(is-red-light)
      color: var(--bal-color-red-2-inverted)
    +modifier(is-yellow-light)
      color: var(--bal-color-yellow-2-inverted)
    +modifier(is-green-light)
      color: var(--bal-color-green-2-inverted)
    +modifier(is-invalid)
      background: var(--bal-color-border-invalid)
      color: var(--bal-color-white)
    +modifier(is-disabled)
      background-color: var(--bal-color-border-disabled)
      border-color: var(--bal-color-border-disabled)

  +modifier(is-disabled)
    cursor: default
    pointer-events: none
    user-select: none
    background-color: var(--bal-color-border-disabled)
    border-color: var(--bal-color-border-disabled)
    box-shadow: none
    color: var(--bal-color-white)

    & > span
      color: var(--bal-color-white)
  //
  // close button
  +element(close)
    margin-left: 0.25rem
    margin-right: -0.5rem

+block(tag-group)
  display: flex
  gap: 0.25rem
