// Tags
// ------------------------------------------------
//
// Small tag labels to insert anywhere
// https://bulma.io/documentation/elements/tag/

@import 'bal-tag.vars';
@import 'node_modules/bulma/sass/elements/tag';

.tag,
bal-tag,
bal-tag.tag {
  @include font-smoothing();
  @include margin(0);

  user-select: none;
  pointer-events: auto;
  font-kerning: none;
  line-height: 1;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  padding-left: 0.5rem;
  padding-right: 0.5rem;

  &.is-large {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  &.default {
    background-color: $grey;
  }

  border: 1px solid $grey;

  &.is-info {
    border-color: $info;
  }

  &.is-primary {
    border-color: $primary;
  }

  &.is-success {
    border-color: $success;
  }

  &.is-warning {
    border-color: $warning;
  }

  &.is-danger {
    border-color: $danger;
  }

  &.is-light {
    border: 1px solid $grey-dark;

    &.is-info {
      border-color: $info-dark;
    }

    &.is-primary {
      border-color: $primary-dark;
    }

    &.is-success {
      border-color: $success-dark;
    }

    &.is-warning {
      border-color: $warning-dark;
    }

    &.is-danger {
      border-color: $danger-dark;
    }
  }

  &.is-transparent {
    background-color: transparent !important;
    border-color: transparent !important;
  }
}

bal-card {
  position: relative;
  & > bal-tag {
    position: absolute;
    left: 16px;
    top: -16px;
  }
}

@include desktop() {
  bal-card {
    & > bal-tag {
      left: 24px;
    }
  }
}

bal-tag-group,
.bal-tag-group {
  display: flex;
  gap: 4px;
}
