.icon-alert:before {
  content: "\e800";
} /* '' */
.icon-alert-circle:before {
  content: "\e801";
} /* '' */
.icon-account:before {
  content: "\e802";
} /* '' */
.icon-answer:before {
  content: "\e803";
} /* '' */
.icon-call:before {
  content: "\e804";
} /* '' */
.icon-caret-down:before {
  content: "\e805";
} /* '' */
.icon-caret-left:before {
  content: "\e806";
} /* '' */
.icon-caret-right:before {
  content: "\e807";
} /* '' */
.icon-caret-up:before {
  content: "\e808";
} /* '' */
.icon-check-circle:before {
  content: "\e809";
} /* '' */
.icon-check:before {
  content: "\e80a";
} /* '' */
.icon-close-big:before {
  content: "\e80b";
} /* '' */
.icon-close-small:before {
  content: "\e80c";
} /* '' */
.icon-close-thin:before {
  content: "\e80d";
} /* '' */
.icon-contact:before {
  content: "\e80e";
} /* '' */
.icon-copy:before {
  content: "\e80f";
} /* '' */
.icon-date:before {
  content: "\e810";
} /* '' */
.icon-document:before {
  content: "\e811";
} /* '' */
.icon-download:before {
  content: "\e812";
} /* '' */
.icon-edit:before {
  content: "\e813";
} /* '' */
.icon-general-consultant:before {
  content: "\e814";
} /* '' */
.icon-general-edit:before {
  content: "\e815";
} /* '' */
.icon-info-circle:before {
  content: "\e816";
} /* '' */
.icon-info:before {
  content: "\e817";
} /* '' */
.icon-locate:before {
  content: "\e818";
} /* '' */
.icon-location:before {
  content: "\e819";
} /* '' */
.icon-menu-bars:before {
  content: "\e81a";
} /* '' */
.icon-menu-dots:before {
  content: "\e81b";
} /* '' */
.icon-message:before {
  content: "\e81c";
} /* '' */
.icon-minus:before {
  content: "\e81d";
} /* '' */
.icon-nav-back:before {
  content: "\e81e";
} /* '' */
.icon-nav-dropdown:before {
  content: "\e81f";
} /* '' */
.icon-nav-go-down:before {
  content: "\e820";
} /* '' */
.icon-nav-go-large:before {
  content: "\e821";
} /* '' */
.icon-nav-go-left-no-padding:before {
  content: "\e822";
} /* '' */
.icon-nav-go-left:before {
  content: "\e823";
} /* '' */
.icon-nav-go-right-no-padding:before {
  content: "\e824";
} /* '' */
.icon-nav-go-right:before {
  content: "\e825";
} /* '' */
.icon-nav-go-small:before {
  content: "\e826";
} /* '' */
.icon-nav-go-up:before {
  content: "\e827";
} /* '' */
.icon-nav-success:before {
  content: "\e828";
} /* '' */
.icon-plus:before {
  content: "\e829";
} /* '' */
.icon-read-only:before {
  content: "\e82a";
} /* '' */
.icon-refresh:before {
  content: "\e82b";
} /* '' */
.icon-search:before {
  content: "\e82c";
} /* '' */
.icon-social-facebook-line:before {
  content: "\e82d";
} /* '' */
.icon-social-linkedin-line:before {
  content: "\e82e";
} /* '' */
.icon-social-xing-line:before {
  content: "\e82f";
} /* '' */
.icon-trash:before {
  content: "\e830";
} /* '' */
.icon-upload:before {
  content: "\e831";
} /* '' */
.icon-clock:before {
  content: "\e832";
} /* '' */
