@import "node_modules/bulma/sass/elements/icon.sass";

@import "../../scss/ui-library.globals";
@import "bal-icons";

:root {
  --bal-icon-color: $blue;
}

:host {
  display: inline-block;
  position: static;
}

.icon {
  font-size: 24px;

  &.is-small {
    font-size: 16px;
  }
  
  &.is-medium {
    font-size: 32px;
  }
  
  &.is-large {
    font-size: 47px;
  }
  
  i.font {
    font-family: "bal-ui-library";
    font-style: normal;
    font-weight: normal;

    // display: inline-block;
    // text-decoration: inherit;
    // width: 1em;
    // margin-right: .2em;
    text-align: center;
    color: var(--bal-icon-color, $blue);
    /* opacity: .8; */

    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
  }
  i.svg {
    width: inherit;
    height: inherit;
    background-size: contain;
  }
}
