@import "node_modules/bulma/sass/elements/icon.sass";
@import "bal-icons";

:host {
  display: inline-block;
  position: static;
}

.icon i[class*="bal-icon"] {
  width: inherit;
  height: inherit;
  background-size: contain;
}
