@import 'bal-notification.vars.scss';

bal-notification {
  display: block;
  position: static;
}

.notification {
  font-family: $family-primary;
  font-size: $size-normal;
  background: $white-bis;
  // border: 1px solid $blue-2;
  color: $text;
  border-radius: $radius-large;

  &.is-primary {
    background: $info-light;
    border: none;
    color: $white;

    a:not(.button):not(.dropdown-item),
    a:not(.button):not(.popover-item) {
      color: $cyan;
    }
  }

  &.is-info {
    background: $info-light;
    border: none;
    color: $white;
  }

  &.is-link {
    background: $blue;
    color: $white;
    border: none;
  }

  &.is-warning {
    background: $warning-light;
    color: $white;
    border: none;
  }

  &.is-danger {
    background: $danger-light;
    color: $white;
    border: none;
  }

  &.is-success {
    background: $success-light;
    color: $white;
    border: none;
  }
}
