:root
  --bal-checkbox-symbol-size: 1.5rem
  --bal-checkbox-symbol-border-width: 2px
  --bal-checkbox-symbol-background: transparent

  --bal-checkbox-label-min-height: 1.5rem
  //
  // background colors
  --bal-checkbox-button-background-hover: var(--bal-color-grey-2)
  --bal-checkbox-button-background-active: var(--bal-color-grey-2)
  --bal-checkbox-button-background-checked: var(--bal-color-primary)
  --bal-checkbox-button-background-checked-hover: var(--bal-color-light-blue-5)
  --bal-checkbox-button-background-checked-active: var(--bal-color-primary-6)
  --bal-checkbox-button-background-invalid: var(--bal-color-danger-1)
  --bal-checkbox-button-background-invalid-hover: var(--bal-color-danger-1)
  --bal-checkbox-button-background-invalid-active: var(--bal-color-danger-1)
  --bal-checkbox-button-background-invalid-checked: var(--bal-color-border-danger)
  --bal-checkbox-button-background-invalid-checked-hover: var(--bal-color-danger-5)
  --bal-checkbox-button-background-invalid-checked-active: var(--bal-color-danger-6)
  --bal-checkbox-button-background-disabled-hover-active: var(--bal-color-grey-2)
  --bal-checkbox-button-background-disabled-checked-hover-active: var(--bal-color-border-grey-dark)

  --bal-checkbox-switch-label-background-before: var(--bal-color-primary-1)
  --bal-checkbox-switch-label-background-after: var(--bal-color-primary)
  --bal-checkbox-switch-label-background-hover-after: var(--bal-color-light-blue-5)
  --bal-checkbox-switch-label-background-active-after: var(--bal-color-primary-6)
  --bal-checkbox-switch-label-background-checked-before: var(--bal-color-success-4)
  --bal-checkbox-switch-label-background-checked-after: var(--bal-color-white)
  --bal-checkbox-switch-label-background-checked-hover-before: var(--bal-color-success-5)
  --bal-checkbox-switch-label-background-checked-active-before: var(--bal-color-success-6)
  --bal-checkbox-switch-label-background-invalid-before: var(--bal-color-danger-1)
  --bal-checkbox-switch-label-background-invalid-after: var(--bal-color-border-danger)
  --bal-checkbox-switch-label-background-invalid-hover-after: var(--bal-color-danger-6)
  --bal-checkbox-switch-label-background-invalid-active-after: var(--bal-color-border-danger)
  --bal-checkbox-switch-label-background-invalid-checked-before: var(--bal-color-danger-4)
  --bal-checkbox-switch-label-background-invalid-checked-after: var(--bal-color-white)
  --bal-checkbox-switch-label-background-invalid-checked-hover-before: var(--bal-color-danger-5)
  --bal-checkbox-switch-label-background-invalid-checked-active-before: var(--bal-color-danger-6)
  --bal-checkbox-switch-label-background-disabled-hover-active-before: var(--bal-color-grey-3)
  --bal-checkbox-switch-label-background-disabled-hover-active-after: var(--bal-color-border-grey-dark)
  --bal-checkbox-switch-label-background-disabled-checked-hover-active-before: var(--bal-color-border-grey-dark)
  --bal-checkbox-switch-label-background-disabled-checked-hover-active-after: var(--bal-color-white)

  --bal-checkbox-button-background: transparent
  --bal-checkbox-button-background-checked-green: var(--bal-color-green-1)
  --bal-checkbox-button-background-checked-purple: var(--bal-color-purple-1)
  --bal-checkbox-button-background-checked-red: var(--bal-color-red-1)
  --bal-checkbox-button-background-checked-yellow: var(--bal-color-yellow-1)
  --bal-checkbox-button-background-disabled: var(--bal-color-grey-1)
  --bal-checkbox-button-background-hover: var(--bal-color-grey-1)
  //
  // border colors
  --bal-checkbox-button-border-color: var(--bal-color-primary)
  --bal-checkbox-button-border-color-hover: var(--bal-color-light-blue-5)
  --bal-checkbox-button-border-color-active: var(--bal-color-primary-6)
  --bal-checkbox-button-border-color-invalid: var(--bal-color-border-danger)
  --bal-checkbox-button-border-color-invalid-hover: var(--bal-color-danger-5)
  --bal-checkbox-button-border-color-invalid-active: var(--bal-color-danger-6)
  --bal-checkbox-button-border-color-invalid-checked: var(--bal-color-border-danger)
  --bal-checkbox-button-border-color-invalid-checked-hover: var(--bal-color-danger-5)
  --bal-checkbox-button-border-color-invalid-checked-active: var(--bal-color-danger-6)
  --bal-checkbox-button-border-color-disabled-hover-active: var(--bal-color-border-grey-dark)
  --bal-checkbox-button-border-color-disabled-checked-hover-active: var(--bal-color-border-grey-dark)
