bal-radio-group {
  display: inline-block;
  position: relative;
  width: 100%;

  &.bal-select-button > div {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    gap: 8px;
    flex-direction: column;
  }

  &:not(.bal-select-button) {
    & > div {
      margin-left: -16px;
      margin-right: -16px;

      bal-radio {
        margin-left: 16px;
        margin-right: 16px;
      }
    }
  }
}

@include tablet() {
  bal-radio-group {
    &.bal-select-button > div {
      flex-direction: row;
    }
  }
}
