bal-radio-group {
  display: inline-block;
  position: relative;
  width: 100%;

  &.bal-select-button > div {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    flex-direction: column;
  }

  &.is-vertical > div {
    flex-direction: column;
    border-radius: 12px;
  }

  &.is-vertical-mobile > div {
    flex-direction: column;
    border-radius: 12px;
  }
}

&:not(.bal-select-button) {
  &:not(.is-vertical) {
    & > div {
      margin-left: -12px;
      margin-right: -12px;

      bal-radio {
        margin-left: 12px;
        margin-right: 12px;
      }
    }
  }

  &.is-vertical {
    & > div {
      bal-radio {
        display: flex;
      }
    }
  }
}

@include tablet() {
  &.bal-select-button.is-vertical-mobile > div {
    flex-direction: row;
    border-radius: 100px;
  }
}

@include tablet() {
  bal-radio-group {
    &.bal-select-button > div {
      flex-direction: row;
    }
  }
}
