/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import '~styles/design-system-components.css'
@require '~vuepress-plugin-tabs/dist/themes/default.styl'

h1, h2, h3, h4, h5, p, b, strong, td, th, a, li, .footer
 font-family: MetaPro, Arial, sans-serif

.home .hero img
  max-width 100%
  max-height: fit-content

.navbar .logo
  vertical-align: middle !important

@media screen and (min-width: 720px)
  .navbar .logo
    vertical-align: top !important

.home-links
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 64px
  a
    position: relative
    display: flex
    background: #039
    background: #009fe6
    border-radius: 4px
    padding: 14px 80px 18px 24px
    margin: 0 8px
    flex-direction: column
    justify-content: center
    align-items: flex-start
    text-align left
    min-width: 272px;
    bal-icon
      position: absolute
      right: 24px
      top: 30px
    &:hover
      background: #002b82
      background: #039
    small
      font-size: 14px
      font-weight: 700
      text-transform: uppercase
      color: #95adda
      color: #fafafa
      color: #d1dbed
      margin-bottom: 4px
    span
      font-size: 24px
      font-weight: 700
      color: #fff

.sidebar-button
  color: #fff

#main-title
  color: #039

.custom-block.tip
  border-color: #009ee7;

.bd-color
  border-radius: 2px;
  box-shadow: 0 0 1px 0 rgb(0 33 98 / 15%);
  display: inline-block;
  float: left;
  height: 24px;
  margin-right: 8px;
  width: 24px;

header.navbar
  background-color: #039

  .logo
    margin-right: 8px

  .site-name,
  .nav-link,
  .router-link-active,
  .nav-links .repo-link
    color: #fff !important
    font-family: MetaPro, Arial, sans-serif
    font-weight: 400;
    line-height: 1.6;
    b
      font-weight: 800;

  .nav-links .repo-link svg
    color: #fff

  .nav-item, .nav-links .repo-link
    margin-left: 8px;

  .nav-links .repo-link,
  .nav-item > a
    padding: 6px 8px
    border-radius: 4px
    border: none !important

  .nav-item > a:hover,
  .nav-links .repo-link:hover
    background: #002162

  .nav-item > a.router-link-active
    border: none !important

  .nav-item > a.router-link-active:after
    content: '';
    height: 3px;
    background: #00adfd;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -12px;

  .links
    background-color: #039

header.navbar
  z-index: 40;

span.badge.tip
  vertical-align: middle !important;
  line-height: 1.2;

.bal-app a.navbar-link:hover
  text-decoration: none;

.bal-app h2
  border: none;

header > .links
 flex-direction: row-reverse;
 .search-box
   margin-left: 1rem;
   margin-right: 0;

@media (max-width: 719px)
  .home .feature
    padding: 0 !important;
    flex-basis: 100% !important;
    max-width: 100% !important;

.theme-default-content:not(.custom)
  max-width: none
  padding: calc(8px * 8) calc(8px * 12)

.page-nav
  max-width: none !important
  padding: calc(8px * 8) calc(8px * 12) !important

.tabs-component
  margin-bottom: 0

.tabs-component-panels
  border: none;
  box-shadow: none;
  padding: 0
  padding-top: 16px

.tabs-component-tabs
  border-bottom: 1px solid #d1dbed !important
  border-radius: 0 !important
  margin: 0

.tabs-component-tab
  border: none

.tabs-component-tab-a
  font-size: 20px
  color: #7188b8
  text-decoration: none !important
  padding: 12px 16px

.tabs-component-tab-a:hover
  color: #039

.tabs-component-tab.is-active
  border-bottom: 2px solid #039

.tabs-component-tab.is-active .tabs-component-tab-a
  color: #039 !important

.custom-block-title > img
  margin-bottom: -8px

html
  scroll-behavior: smooth

main
  scroll-margin-top: 5em

.theme-default-content > h2
  margin-top: -72px !important
  padding-top: 128px !important

ul.sidebar-links:not(.sidebar-group-items)
  padding: 16px 0 !important

.sidebar > .sidebar-links > li:not(:first-child)
  margin-top: 0 !important
