/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

@import '~styles/design-system-components.css'

h1, h2, h3, h4, h5, p, b, strong, td, th, a, li, .footer
 font-family: MetaPro, Arial, sans-serif

.home .hero img
  max-width 100%
  max-height: fit-content

.navbar .logo
  vertical-align: middle !important

@media screen and (min-width: 720px)
  .navbar .logo
    vertical-align: top !important

.home-links
  width: 100%
  display: flex
  justify-content: center
  align-items: center
  margin-bottom: 64px
  a
    position: relative
    display: flex
    background: #039
    background: #009fe6
    border-radius: 4px
    padding: 14px 80px 18px 24px
    margin: 0 8px
    flex-direction: column
    justify-content: center
    align-items: flex-start
    text-align left
    min-width: 272px;
    bal-icon
      position: absolute
      right: 24px
      top: 30px
    &:hover
      background: #002b82
      background: #039
    small
      font-size: 14px
      font-weight: 700
      text-transform: uppercase
      color: #95adda
      color: #fafafa
      color: #d1dbed
      margin-bottom: 4px
    span
      font-size: 24px
      font-weight: 700
      color: #fff

.sidebar-button
  color: #fff

#main-title
  color: #039

.custom-block.tip
  border-color: #009ee7;

.bd-color
  border-radius: 2px;
  box-shadow: 0 0 1px 0 rgb(0 33 98 / 15%);
  display: inline-block;
  float: left;
  height: 24px;
  margin-right: 8px;
  width: 24px;

header.navbar
  background-color: #039

  .logo
    margin-right: 8px

  .site-name,
  .nav-link,
  .router-link-active,
  .nav-links .repo-link
    color: #fff !important
    font-family: MetaPro, Arial, sans-serif
    font-weight: 400;
    line-height: 1.6;
    b
      font-weight: 800;

  .nav-links .repo-link svg
    color: #fff

  .nav-item, .nav-links .repo-link
    margin-left: 8px;

  .nav-links .repo-link,
  .nav-item > a
    padding: 6px 8px
    border-radius: 4px
    border: none !important

  .nav-item > a:hover,
  .nav-links .repo-link:hover
    background: #002162

  .nav-item > a.router-link-active
    border: none !important

  .nav-item > a.router-link-active:after
    content: '';
    height: 3px;
    background: #00adfd;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -12px;

  .links
    background-color: #039

header.navbar
  z-index: 40;

span.badge.tip
  vertical-align: middle !important;
  line-height: 1.2;

.bal-app a.navbar-link:hover
  text-decoration: none;

.bal-app h2
  border: none;

header > .links
 flex-direction: row-reverse;
 .search-box
   margin-left: 1rem;
   margin-right: 0;

@media (max-width: 719px)
  .home .feature
    padding: 0 !important;
    flex-basis: 100% !important;
    max-width: 100% !important;

