@import '../../styles/global.utilities.scss';

bal-text {
  @include margin(0);
  @include padding(0);
  @include lhCrop(1.3);
  @include font-smoothing();

  display: inline;
  position: static;
  font-family: $family-primary;
  font-weight: $weight-normal;
  font-size: $size-normal !important;
  line-height: 20px;

  span {
    word-break: break-word;
  }

  &.is-bold,
  &.is-bold span {
    font-weight: $weight-bold !important;
  }

  &.is-small,
  &.is-small span {
    @include lhCrop(1);
    font-size: $size-small !important;
    line-height: 20px;
  }
}
