bal-text {
  @include margin(0);
  @include padding(0);
  @include lhCrop(1.3);
  @include font-smoothing();

  display: inline;
  position: static;
  font-family: $family-primary;
  font-weight: $weight-normal;
  font-size: $size-normal !important;
  line-height: 1.25rem;
  word-break: break-word;

  span {
    word-break: break-word;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  &.is-bold,
  &.is-bold span {
    font-weight: $weight-bold !important;
  }

  &.is-small,
  &.is-small span {
    font-size: $size-small !important;
    line-height: 1rem !important;
  }
}
