@import "../modal/modal.vars";
@import "../../scss/elements/box";
@import "node_modules/bulma/sass/layout/section";
@import "node_modules/bulma/sass/elements/box";
@import "node_modules/bulma/sass/components/modal";

:host {
  display: block;
}

.modal {
  justify-content: flex-start;
}

.modal-card {
  width: var(--bal-width, $modal-content-width);
  margin-top: 30px;

  .modal-card-head {
    padding-bottom: 0px;
    
    .modal-card-title {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }
  
  .modal-card-body {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .modal-card-foot {
    padding-top: 20px;
    .modal-card-foot-container {
      width: 100%;
    }
  }
}
