:root {
  --bal-body-font-size: 14px;
  --bal-form-field-label-margin-bottom: 0.05rem;
  --bal-table-cell-padding: 0.5rem;
  --bal-navbar-height-desktop: 4.5rem;
  --bal-navbar-brand-title-font-size: 1.25rem;
  --bal-space-xx-small-tablet: var(--bal-space-2xs-tablet);
  --bal-space-xx-small-desktop: var(--bal-space-2xs-desktop);
  --bal-space-x-small-tablet: var(--bal-space-xs-tablet);
  --bal-space-x-small-desktop: var(--bal-space-xs-desktop);
  --bal-space-small-tablet: var(--bal-space-sm-tablet);
  --bal-space-small-desktop: var(--bal-space-sm-desktop);
  --bal-space-normal-tablet: var(--bal-space-base-tablet);
  --bal-space-normal-desktop: var(--bal-space-base-desktop);
  --bal-space-medium-tablet: var(--bal-space-md-tablet);
  --bal-space-medium-desktop: var(--bal-space-md-desktop);
  --bal-space-large-tablet: var(--bal-space-lg-tablet);
  --bal-space-large-desktop: var(--bal-space-lg-desktop);
  --bal-space-x-large-tablet: var(--bal-space-xl-tablet);
  --bal-space-x-large-desktop: var(--bal-space-xl-desktop);
  --bal-space-xx-large-tablet: var(--bal-space-2xl-tablet);
  --bal-space-xx-large-desktop: var(--bal-space-2xl-desktop);
  --bal-space-xxx-large-tablet: var(--bal-space-3xl-tablet);
  --bal-space-xxx-large-desktop: var(--bal-space-3xl-desktop);
  --bal-space-xxxx-large-tablet: var(--bal-space-4xl-tablet);
  --bal-space-xxxx-large-desktop: var(--bal-space-4xl-desktop);
  --bal-space-xxxxx-large-tablet: var(--bal-space-4xl-tablet);
  --bal-space-xxxxx-large-desktop: var(--bal-space-4xl-desktop);
}
