$black-bis: $grey-6
$black-ter: $grey-6
$grey-darker: $grey-5
$grey-dark: $grey-4
$grey-light: $grey-3
$grey-lighter: $grey-2
$white-ter: $grey-1
$white-bis: $grey-1

$cyan: $blue

$blue-darker: $blue-6
$blue-dark: $blue-5
$blue-light: $blue-1

$blue-light-text: $blue-3
$blue-lighter-text: $blue-2

$blue-line: $blue-2
$blue-light-line: $blue-1
$blue-line-inverted: $blue-5

$blue-light-hover: $light-blue-1
