$family-monospace: monospace !default
$render-mode: optimizeLegibility !default
$family-primary: $font-family-text !default
$family-secondary: $font-family-text !default
$family-code: $family-monospace !default

$weight-light: 300 !default
$weight-normal: 400 !default
$weight-medium: 500 !default
$weight-semibold: 600 !default
$weight-bold: 700 !default

$link: $blue !default
$link-hover: $blue !default
$text: $blue !default
$text-invert: $white !default
$text-light: $blue-4 !default
$text-strong: $blue !default

$code: $red-5 !default
$code-background: $grey-1 !default

$pre: $text !default
$pre-background: $grey-1 !default

$size-large: $size-3 !default
$size-medium: $size-4 !default
$size-normal: $size-5 !default
$size-small: $size-6 !default
