$heading-has-spacing: true !default;

@use '@baloise/ds-styles/sass/mixins' as *;

/**
  * Mixins
  */

$heading-colors: ('primary', 'success', 'warning', 'danger', 'white', 'black');

@mixin heading-size($level) {
  font-size: var(--bal-heading-size-#{$level});

  @include tablet {
    font-size: var(--bal-heading-size-#{$level}-tablet);
  }

  @include desktop {
    font-size: var(--bal-heading-size-#{$level}-desktop);
  }
}

@mixin heading-color($color) {
  color: var(--bal-heading-color-#{$color});
}

/**
  * Basic Style
  */

.title,
.heading {
  color: var(--bal-heading-color-basic);
  font-family: var(--bal-heading-font-family);
  font-weight: var(--bal-heading-font-weight);
  line-height: var(--bal-heading-line-height);
}

.subtitle,
.heading.is-subtitle {
  color: var(--bal-heading-subtitle-color-basic);
  font-family: var(--bal-heading-subtitle-font-family);
  font-weight: var(--bal-heading-subtitle-font-weight);
  line-height: var(--bal-heading-subtitle-line-height);
}

.title,
.subtitle,
.heading {
  hyphens: auto;
  overflow-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  em,
  span {
    font-weight: inherit;
  }

  strong {
    font-weight: var(--bal-font-weight-bold);
  }

  /**
  * Colors
  */

  @each $color in $heading-colors {
    &.is-#{$color} {
      @include heading-color($color);
    }
  }
}

/**
  * Sizes
  */

@for $i from 1 through 5 {
  h#{$i}.title,
  h#{$i}.subtitle,
  h#{$i}.heading,
  [role='heading'][aria-level='#{$i}'].title,
  [role='heading'][aria-level='#{$i}'].subtitle,
  [role='heading'][aria-level='#{$i}'].heading {
    @include heading-size($i);
  }
}

.title,
.subtitle,
.heading {
  &.is-1,
  &.is-level-1,
  &.is-xxx-large {
    @include heading-size(xxx-large);
  }

  &.is-2,
  &.is-level-2,
  &.is-xx-large {
    @include heading-size(xx-large);
  }

  &.is-3,
  &.is-level-3,
  &.is-x-large {
    @include heading-size(x-large);
  }

  &.is-4,
  &.is-level-4,
  &.is-large {
    @include heading-size(large);
  }

  &.is-5,
  &.is-level-5,
  &.is-normal {
    @include heading-size(normal);
  }

  &.is-medium {
    @include heading-size(medium);
  }

  &.is-display-1,
  &.is-xxxxx-large {
    @include heading-size(display-1);
  }

  &.is-display-2,
  &.is-xxxx-large {
    @include heading-size(display-2);
  }

  /**
  * Text Shadow
  */
  &.has-shadow {
    text-shadow: var(--bal-heading-text-shadow);
  }

  /**
  * Text Wrap
  */
  &.has-no-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

/**
  * Spaces
  */

@if $heading-has-spacing {
  .title,
  .subtitle,
  .heading {
    &:not(:last-child) {
      margin-bottom: var(--bal-heading-space-base);
    }

    &.has-space-all {
      margin-top: var(--bal-heading-space-base);
      margin-bottom: var(--bal-heading-space-base);
    }

    &.has-space-top {
      margin-top: var(--bal-heading-space-base);
      margin-bottom: 0;
    }

    &.has-space-bottom {
      margin-bottom: var(--bal-heading-space-base);
    }

    &.is-display-1,
    &.is-xxxxx-large,
    &.is-display-2,
    &.is-xxxx-large {
      &:not(:last-child) {
        margin-bottom: var(--bal-heading-space-display);
      }

      &.has-space-all {
        margin-top: var(--bal-heading-space-display);
        margin-bottom: var(--bal-heading-space-display);
      }

      &.has-space-top {
        margin-top: var(--bal-heading-space-display);
        margin-bottom: 0;
      }

      &.has-space-bottom {
        margin-bottom: var(--bal-heading-space-display);
      }
    }

    &.has-space-none {
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}
