bal-datepicker {
  display: block;
  position: relative;
  font-family: $family-primary;
  width: 100%;
}

.datepicker-trigger-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 38px;
}

.datepicker-footer {
  margin-top: 15px;
}

.pagination {
  display: flex;
  gap: 8px;
}

.pagination-list {
  flex: 1;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
}

.pagination-previous,
.pagination-next {
  min-height: 48px;
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.pagination bal-button {
  margin: 0;

  .bal-icon-inner {
    margin-top: -4px;
    width: 16px !important;
    max-height: 16px !important;
  }
}

.month-select,
.year-select {
  position: relative;
  display: flex;
  gap: 4px;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  min-width: 50%;
  min-height: 48px;

  .select {
    min-height: 48px;
  }

  .select select {
    padding: 0 4px !important;
    border-radius: $radius;
    border: none;
    min-height: 48px;
    color: $blue;
    font-size: 1rem;
    font-weight: $weight-bold;
  }
}

.month-select {
  justify-content: flex-end;

  select {
    text-align: right;
  }
}

.year-select {
  justify-content: flex-start;

  select {
    text-align: left;
  }
}

.select {
  &::after {
    display: none !important;
  }

  select {
    padding: 6px 5px 13px 5px !important;
    color: $blue !important;
    font-size: $size-normal !important;
    font-weight: $weight-semibold;
    font-family: $family-primary !important;

    option {
      color: $black !important;
      font-size: $size-small !important;
      font-weight: $weight-normal !important;
    }
  }
}

.datepicker-popup {
  padding: 26px 20px;
  width: 100%;
  user-select: none;
}

.datepicker-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  margin: 15px auto 0 auto;

  .datepicker-body {
    display: table-row-group;

    .datepicker-row {
      display: table-row;
    }
  }

  .datepicker-cell {
    position: relative;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    max-width: 0;
    width: 48px;
    min-width: 48px;
    min-height: 40px;
    height: 40px;
    border: 1px solid $blue-2;
    color: $blue;
    cursor: pointer;
    font-size: $size-small;
    font-family: $family-primary;

    &.is-selected {
      background: $blue;
      color: $white;
    }

    &.is-outdated,
    &.is-disabled {
      background: $blue-0;
      background-clip: padding-box;
      color: $text-light;
      cursor: default;
    }

    &.is-disabled {
      cursor: not-allowed;
    }

    &.is-selectable:hover {
      outline: 1px solid $blue;
      outline-offset: -1px;
      z-index: 3000;
    }

    &.is-today:after {
      content: '';
      position: absolute;
      display: block;
      width: 3px;
      height: 3px;
      background: $blue;
      border-radius: $radius-rounded;
      margin-top: 2px;
      margin-left: -1.5px;
      left: 50%;
    }
  }

  header.datepicker-header {
    display: table-header-group;

    .datepicker-cell {
      color: $text-light;
      font-weight: $weight-normal;
      border: none;
      cursor: default;
    }
  }
}

@include tablet() {
  .datepicker-popup {
    padding: 16px 32px;
    // width: 48px * 7 + 80px;
  }
}

.month-select select {
  padding: 6px 10px 13px 10px !important;
}

.year-select select {
  padding: 6px 10px 13px 10px !important;
}
