@import "../../scss/ui-library.globals";

$modal-z: 40;

$modal-background-background-color: rgba($scheme-main, 0.5);

$modal-content-width: 640px;
$modal-content-margin-mobile: 20px;
$modal-content-spacing-mobile: 160px;
$modal-content-spacing-tablet: 40px;

$modal-close-dimensions: 40px;
$modal-close-right: 30px;
$modal-close-top: 30px;

$modal-card-body-padding: 40px;
$modal-card-head-radius: 0px;
$modal-card-head-padding: 40px;

$modal-card-head-radius: 0px;
$modal-card-foot-radius: 0px;

$modal-card-head-background-color: $scheme-main;

$modal-card-title-size: $size-2;