@use '@baloise/ds-styles/sass/mixins' as *;

@include block(table) {
  display: block;
  position: static;

  @include modifier(is-fullwidth) {
    display: flex;
    width: 100%;
  }
}
bal-checkbox {
  .bal-checkbox__label {
    &::before {
      top: 0;
    }
    &::after {
      margin-top: 0px;
    }
  }
}