@import "./card-steps.vars";
@import "node_modules/bulma/sass/components/tabs.sass";

:host {
  display: block;
  position: static;
  padding-top: 20px;
}

.tabs {
  margin: 0 !important;

  & > ul {
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
  }

  & > ul > li {
    position: relative;
    height: 30px;

    & > a {
      line-height: 1.2;
      cursor: pointer;
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 30px;

      span.step-index {
        background: $blue;
        border: 1px solid $blue;
        border-radius: 50%;
        display: flex;
        height: 8px;
        width: 8px;
        opacity: 50%;
      }

      span.step-label, span.step-index span {
        display: none;
      }
    }

    &.is-done > a span.step-index {
      background: $blue;
      opacity: 100%;
    }

    &.is-active > a span.step-index {
      background: transparent;
      opacity: 100%;
    }

    &.is-disabled > a,
    &.is-disabled > a:hover {
      cursor: not-allowed;
    }
  }

  &.is-inverted {
    & > ul > li {
      & > a {
        span.step-index {
          background: $white;
          border: 1px solid $white;
        }
      }

      &.is-done > a span.step-index {
        background: $white;
        opacity: 100%;
      }

      &.is-active > a span.step-index {
        background: transparent;
        opacity: 100%;
      }

      &.is-done > a span.step-index {
        background: $white;
      }
    }
  }
}

@include desktop() {
  .tabs {
    > ul > li {
      & > a {
        width: 50px;
        color: $blue-light-text;
        font-size: $size-3;

        span.step-index {
          height: 26px;
          width: 26px;
          line-height: 26px;
          justify-content: center;
          align-items: center;
          background: transparent;
          border: 1px solid $blue;
          color: $blue;
        }

        span.step-index span {
          display: flex;
          font-size: $size-5;
        }

      }

      &.is-done > a span.step-index {
        span {
          display: none;
        }

        &::after {
          display: inline-block;
          position: absolute;
          background-color: transparent;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 24px 24px;
          content: "";
          top: 8px;
          width: 4px;
          height: 10px;
          border-bottom: 2px solid $white;
          border-right: 2px solid $white;
          border-top: 0;
          border-left: 0;
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
        }

      }

      &.is-active > a span.step-index {
        background: transparent;
        opacity: 100%;

        span {
          display: flex;
          color: $blue;
        }

        &::after {
          content: none;
        }

      }

      &.is-disabled > a,
      &.is-disabled > a:hover {
        cursor: not-allowed;

        span.step-index {
          background: transparent;
          color: $blue;
        }
      }
    }

    &.is-inverted {
      > ul > li {
        & > a {
          color: $blue-light-text;

          span.step-index {
            background: transparent;
            border: 1px solid $white;
            color: $white;
          }

        }

        &.is-done > a span.step-index {
          background: $white;

          &::after {
            border-bottom: 2px solid $blue;
            border-right: 2px solid $blue;
          }

        }

        &.is-active > a span.step-index {
          background: transparent;

          span {
            color: $white;
          }
        }

        &.is-disabled > a,
        &.is-disabled > a:hover {
          span.step-index {
            background: transparent;
            color: $white;
          }
        }
      }
    }
  }
}


