@import '../../../styles/global.utilities'

.bal-doc-usage
  position: static
  display: block

  &-item img
    background: $white
    padding: 4px
    border-radius: 4px

  &-item > div
    height: 100%

  &-item p
    display: block
    text-align: left
    color: $text
    font-family: $family-primary
    font-size: $size-5
    line-height: $line-height-5
    font-weight: $weight-normal
    margin-top: 8px
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
