@import "../../scss/ui-library.globals";
@import "../../scss/elements/button";
@import "../../scss/utilities/helpers";

:host {
  display: inline-block;
}

.bal-hint-icon {
  user-select: none;
  cursor: pointer;
  background: $blue;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    color: $white;
    font-weight: $weight-bold;
  }

  &:hover {
    background: $blue-dark;
  }
}

.bal-hint-content {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background: $blue;
  color: $white;
  padding: 15px;

  .title {
    color: $white;
  }

  .buttons {
    margin-top: 30px;
  }
}

@include tablet() {
  .bal-hint-content {
    position: absolute;
    margin-left: 40px;
    top: -20px;
    bottom: initial;
    left: initial;
    right: initial;
    box-shadow: $shadow;
    border-radius: 4px;
  }
}
