.bal-select__option {
  visibility: visible;
  font-family: $family-primary;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  min-height: 48px;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  border-top: 2px solid $grey-2;

  &:first-child {
    border-top: none;
  }

  &::-moz-focus-inner {
    border: none;
  }

  &.is-hidden {
    display: none !important;
  }

  .select-option__content {
    display: flex;
    flex: 1;
    align-items: center;
    min-height: 48px;
    padding: 12px;
    gap: 12px;

    .label,
    .checkbox {
      margin: 0;
      padding: 0;
    }

    .label {
      margin: 0;
      padding: 0;
      font-family: $family-primary;
      font-weight: $weight-normal;
      line-height: 18px;
    }

    .checkbox {
    }
  }

  &:hover,
  &.is-focused {
    background: $grey-1;

    .label {
      font-weight: $weight-bold;
    }
  }

  &.is-selected {
    background: $blue-1;

    .label {
      font-weight: $weight-bold;
    }
  }
}
