@import '../../../styles/global.utilities';

:host {
  display: block;
  position: relative;
  flex: 1;
  align-items: center;
  width: 100%;
  padding: 0 !important;
  font-family: $family-primary;
}
