@import '@baloise/design-system-css/sass/mixins'
@import './bal-app.vars'

.bal-app
  position: relative
  display: block

//
// Sets the defined body content visible after
// the web-components have been loaded
.bal-body.is-ready
  visibility: inherit
