@import "./steps.vars";
@import "node_modules/bulma/sass/components/tabs.sass";

:host {
  display: block;
  position: static;
}

.tabs {
  margin: 0 !important;
  border-bottom: 1px solid $blue-light-line;

  & > ul {
    margin: 0;
    padding: 0;
  }

  & > ul > li {
    position: relative;
    border-top: 1px solid $blue-light-line;
    border-left: 1px solid $blue-light-line;
    max-width: 300px;
    height: 100px;

    &:last-child {
      border-right: 1px solid $blue-light-line;
    }

    & > a {
      line-height: 1.2;
      cursor: pointer;
      color: $blue-light-text;
      font-size: $size-3;
      display: flex;
      flex: 1 1;
      height: 100%;
      justify-content: center;
      align-items: center;
      padding: 0;
      padding-bottom: 2px;

      span.step-index {
        border-radius: 50%;
        border: 1px solid $blue-light-line;
        display: flex;
        align-items: center;
        font-weight: $weight-bold;
        font-family: $title-family;
        color: $text-strong;
        height: 30px;
        min-width: 30px;
        line-height: 30px;
        justify-content: center;
        font-size: $size-5;

        span {
          margin-top: -2px;
          font-weight: $weight-bold;
          font-family: $title-family;
          color: $text-strong;
        }
      }

      span.step-label {
        display: none;
        font-size: $size-4;
      }
    }

    &.is-active > a {
      color: $blue;
      border-bottom: 2px solid $blue;
      padding-bottom: 0;
    }

    & > a:hover {
      span.step-label {
        color: $blue;
      }
    }

    &.is-disabled > a,
    &.is-disabled > a:hover {
      cursor: not-allowed;
      opacity: 50%;

      span.step-index {
        border-color: $blue-light-line;
      }

      span.step-label,
      span.step-index {
        color: $blue-light-text;
      }
    }
  }
}

@include tablet() {
  .tabs {
    & > ul > li {
      & > a {
        flex-wrap: wrap;

        span.step-index {
          align-self: end;
        }

        span.step-label {
          text-align: center;
          flex-basis: 100%;
          display: inline-block;
        }
      }
    }
  }
}

@include desktop() {
  .tabs {
    & > ul {
      display: flex;
      justify-content: center;

      & > li {
        & > a {
          flex-wrap: nowrap;
          padding-left: 20px;
          padding-right: 20px;

          span.step-index {
            align-self: center;
          }

          span.step-label {
            margin-left: 20px;
            text-align: left;
          }
        }
      }
    }
  }
}
