@import './bal-input-stepper.vars.scss';

bal-input-stepper {
  position: static;
  display: inline-block;

  & > div > bal-text {
    min-width: 40px;
    text-align: center;
  }

  input {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    outline: 0;
  }
}
