@import "../../scss/ui-library.globals";
@import "node_modules/bulma/sass/form/all";
@import "node_modules/bulma/sass/elements/icon.sass";

:host {
  display: block;
}

.form > .label {
  font-size: $size-5 !important;
  margin-bottom: 0 !important;
}

p.help {
  min-height: 22.5px;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.control.has-icons-left *::part(input) {
  padding-left: 38px;
}

.form {
  &.is-inverted {
    .label {
      color: $white;
    }

    .control {
      .input {
        color: $white;
        border-bottom-color: $blue-line;

        &:focus,
        &.is-focused {
          border-bottom-color: $white;
        }
      }

      .input::-webkit-input-placeholder {
        color: $blue-light-line;
      }

    }

    p.help:not(.is-danger) {
      color: $blue-line;
    }

    .sc-bal-icon-h > .icon > .font {
      color: $blue-line;
    }

  }
}
