a.is-link:not(.button)
  font-weight: $weight-bold
  text-decoration: underline
  text-underline-offset: 4px
  text-decoration-thickness: 2px
  border-radius: var(--bal-radius-small)
  color: var(--bal-color-blue)
  +fillSvg(var(--bal-color-blue))

  &:hover
    text-decoration: underline
    text-decoration-thickness: 2px
    text-underline-offset: 4px
    color: var(--bal-color-light-blue-dark)
    +fillSvg(var(--bal-color-light-blue-dark))

  &:focus-visible
    @extend %focus-shadow

  &:active
    text-decoration: underline
    text-decoration-thickness: 2px
    text-underline-offset: 4px
    color: var(--bal-color-blue-dark)
    +fillSvg(var(--bal-color-blue-dark))

  &.is-inverted
    color: var(--bal-color-white)
    +fillSvg(var(--bal-color-white))

    &:hover
      text-decoration: underline
      color: var(--bal-color-light-blue-2)
      +fillSvg(var(--bal-color-light-blue-2))

    &:focus-visible
      @extend %focus-inverted-shadow

    &:active
      text-decoration: underline
      color: var(--bal-color-info-3)
      +fillSvg(var(--bal-color-info-3))

a.is-animated-link:not(.button)
  position: relative
  padding: 0.1rem 0.2rem 0 0.1rem
  white-space: pre
  text-decoration: none
  font-weight: $weight-bold
  border-radius: var(--bal-radius-small)
  color: var(--bal-color-blue)

  &:hover
    color: var(--bal-color-light-blue-dark)

  &:focus-visible
    @extend %focus-shadow

  &::after
    transform-origin: center right
    transition: all cubic-bezier(0.58, 0.77, 0.07, 0.97) .8s

  &::before
    transform-origin: center left
    transform: scaleX(0)
    transition: transform cubic-bezier(0.58, 0.77, 0.07, 0.97) .6s

  &::after, &::before
    content: ""
    position: absolute
    background-color: var(--bal-color-blue)
    height: 2px
    width: 100%
    left: 0
    bottom: 0

  &:hover:after
    transform: scaleX(0)
    transition: transform cubic-bezier(0.58, 0.77, 0.07, 0.97) .3s
    background-color: var(--bal-color-light-blue-dark)

  &:hover:before
    transform: scaleX(1)

  &:active
    color: var(--bal-color-blue-dark)

  &.is-inverted
    color: var(--bal-color-white)

    &:hover
      color: var(--bal-color-light-blue-2)

    &::after, &::before
      background-color: var(--bal-color-light-blue-2)

    &:focus-visible
      @extend %focus-inverted-shadow

    &:active
      color: var(--bal-color-info-3)

//a.is-animated-link:not(.button)
//  font-weight: $weight-bold
//  text-underline-offset: 4px
//  text-decoration-thickness: 2px
//  background-image: linear-gradient(#fff, #fff), linear-gradient(rgba(0, 20, 170, 1), rgba(0, 20, 170, 1)), linear-gradient(#fff, #fff)
//  background-size: 20px 2px, 100% 2px, 0 2px
//  background-position: calc(20px * -1) 100%, 100% 100%, 0 100%
//  background-repeat: no-repeat
//  transition: background-size 400ms ease-in-out, background-position 400ms ease-out
//  color: var(--bal-color-blue)
//  +fillSvg(var(--bal-color-blue))
//
//  &:hover
//    background-position: calc(100% + 20px) 100%, 100% 100%, 0 100%
//    transition: background-size 400ms ease-in-out, background-position 400ms ease-out
//    color: var(--bal-color-light-blue-dark)
//    +fillSvg(var(--bal-color-light-blue-dark))
//
//  &:focus-visible
//    @extend %focus-shadow
//
//  &:active
//    text-decoration: underline
//    color: var(--bal-color-blue-dark)
//    +fillSvg(var(--bal-color-blue-dark))
//
//  &.is-inverted
//    color: var(--bal-color-white)
//    +fillSvg(var(--bal-color-white))
//
//    &:hover
//      text-decoration: underline
//      color: var(--bal-color-light-blue-2)
//      +fillSvg(var(--bal-color-light-blue-2))
//
//    &:focus-visible
//      @extend %focus-inverted-shadow
//
//    &:active
//      text-decoration: underline
//      color: var(--bal-color-info-3)
//      +fillSvg(var(--bal-color-info-3))
