.is-list
  margin-bottom: 1.5rem
  margin-left: 2rem
  +desktop
    margin-bottom: 2rem
  li
    font-family: var(--bal-font-family-text)
    color: var(--bal-color-blue)
    hyphens: auto
    margin-bottom: 1rem
    &:last-child
      margin-bottom: 0
    &::marker
      color: var(--bal-color-blue)
  &.has-bullet-circle li
    &::marker
      content: none
    &::before
      content: ''
      display: inline-block
      margin-left: -18px
      margin-right: 7px
      width: 11px
      height: 11px
      border-radius: var(--bal-radius-rounded)
      background: var(--bal-color-green-3)
  &.has-bullet-circle
    &.has-bullet-red li::before
      background: var(--bal-color-red-3)
    &.has-bullet-yellow li::before
      background: var(--bal-color-yellow-3)
    &.has-bullet-green li::before
      background: var(--bal-color-green-3)
    &.has-bullet-purple li::before
      background: var(--bal-color-purple-3)
  &.has-bullet-check li
    &::marker
      content: none
    &::before
      content: ''
      display: inline-block
      margin-left: -14px
      margin-right: 12px
      width: 6px
      height: 12px
      border-bottom: 2px solid var(--bal-color-blue)
      border-right: 2px solid var(--bal-color-blue)
      border-top: 0
      border-left: 0
      -moz-transform: rotate(45deg)
      -ms-transform: rotate(45deg)
      -o-transform: rotate(45deg)
      -webkit-transform: rotate(45deg)
      transform: rotate(45deg)
  &.is-inverted
    li,
    li::marker
      color: var(--bal-color-white)
    &.has-bullet-check li::before
      border-bottom-color: var(--bal-color-white)
      border-right-color: var(--bal-color-white)

ul.is-list:not(.has-bullet-circle):not(.has-bullet-check) li
  list-style: disc
