//
// HEADINGS
// -------------------------------------------------
$title-color: $text-strong !default
$title-family: $font-family-title !default
$title-size: $size-3 !default
$title-weight: $weight-bold !default
$title-line-height: 1.125 !default
$title-strong-color: inherit !default
$title-strong-weight: inherit !default
$title-sub-size: 0.75em !default
$title-sup-size: 0.75em !default

$subtitle-color: $text-strong !default
$subtitle-family: $font-family-title !default
$subtitle-size: $size-5 !default
$subtitle-weight: $weight-normal !default
$subtitle-line-height: 1.25 !default
$subtitle-strong-color: $text-strong !default
$subtitle-strong-weight: $weight-semibold !default
$subtitle-negative-margin: -1.25rem !default

.title,
.subtitle
  @extend %bottomSpacing
  word-break: break-word
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale
  em,
  span
    font-weight: inherit
  sub
    font-size: $title-sub-size
  sup
    font-size: $title-sup-size

.title
  color: $title-color
  @if $title-family
    font-family: $title-family
    font-size: $title-size
    font-weight: $title-weight
    line-height: $title-line-height
  strong
    color: $title-strong-color
    font-weight: $title-strong-weight
  &:not(.is-spaced) + .subtitle
    margin-top: $subtitle-negative-margin

.subtitle
  color: $subtitle-color
  @if $subtitle-family
    font-family: $subtitle-family
    font-size: $subtitle-size
    font-weight: $subtitle-weight
    line-height: $subtitle-line-height
  strong
    color: $subtitle-strong-color
    font-weight: $subtitle-strong-weight
  &:not(.is-spaced) + .title
    margin-top: $subtitle-negative-margin

//
// PARAGRAGH & LINKS
// -------------------------------------------------
p
  +bottomSpacing($space-5)

+tablet
  p
    +bottomSpacing($space-4)

.is-regular,
span.is-regular,
p.is-regular,
a.is-regular,
.is-text-regular,
.is-text-regular span
  font-weight: var(--bal-weight-regular)

.is-bold,
span.is-bold,
p.is-bold,
a.is-bold,
.is-text-bold,
.is-text-bold span
  font-weight: var(--bal-weight-bold)

.is-light,
span.is-light,
p.is-light,
a.is-light,
.is-text-light,
.is-text-light span
  font-weight: var(--bal-weight-light)

p,
a
  font-family: $family-primary
  line-height: 1.5rem
  margin: 0
  word-break: break-word
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.has-font-primary,
.has-font-text
  font-family: $font-family-text

.has-font-title
  font-family: $font-family-title

/**
 LEGACY
 */
span.is-small,
p.is-small,
a.is-small,
.is-text-small,
.is-text-small span
  font-size: var(--bal-size-small)
  line-height: var(--bal-line-height-small)

p.is-lead,
p.is-lead > a
  font-size: var(--bal-size-large)
  line-height: var(--bal-line-height-large)
  +desktop
    font-size: var(--bal-size-desktop-large)
    line-height: var(--bal-line-desktop-height-large)

p.is-block,
p.is-block > a
  font-size: var(--bal-size-medium)
  line-height: var(--bal-line-height-medium)
  +desktop
    font-size: var(--bal-size-desktop-medium)
    line-height: var(--bal-line-desktop-height-medium)
