@import 'bal-modal.vars.scss';
@import 'node_modules/bulma/sass/components/modal';

bal-modal-header,
bal-modal-body {
  font-family: $family-primary;
  display: block;
}

bal-modal-header {
  border: none;
  position: relative;
  border-radius: $radius-large !important;
  background-color: transparent !important;

  .modal-card-head {
    word-break: break-word;
  }

  .modal-card-title {
    padding-right: 40px;
    line-height: 32px;
  }

  bal-close {
    position: absolute;
    right: 16px;
    top: 16px;
    min-width: 32px;
    max-width: 32px;
    min-height: 32px;
    max-height: 32px;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow-x: none;
  overflow-y: auto;
}

.modal-content,
.modal-card {
  max-height: none !important;
  overflow: initial !important;
}

.modal-content {
  padding: 0;
  margin-top: 48px;
  margin-bottom: 48px;
}

bal-modal-body {
  bal-button-group {
    margin-top: 20px;
  }
}

bal-modal-header + bal-modal-body {
  padding-top: 0 !important;
}

@include mobile() {
  bal-modal-body {
    flex: 1;
    display: flex;
    flex-direction: column;

    bal-button-group {
      margin-top: auto !important;
    }
  }

  .modal-content {
    margin: 0;
    padding: 8px;
    min-height: 100%;
    height: 100%;

    .modal-card {
      margin: 0;
      min-height: 100%;
    }
  }
}

.modal-card {
  bal-modal-header,
  bal-modal-body {
    padding: 16px;
  }
}

@include tablet() {
  .modal-card {
    &.has-space-small {
      bal-modal-header {
        padding: 24px;

        bal-close {
          right: 24px;
          top: 24px;
        }
      }

      bal-modal-body {
        padding: 24px;
      }
    }

    &.has-space-medium {
      bal-modal-header {
        padding: 32px;

        bal-close {
          right: 32px;
          top: 32px;
        }
      }

      bal-modal-body {
        padding: 32px;
      }
    }

    &.has-space-large {
      bal-modal-header {
        padding: 48px;

        bal-close {
          right: 48px;
          top: 48px;
        }
      }

      bal-modal-body {
        padding: 48px;
      }
    }
  }
}
