@import '../utilities/mixins';

$body-background-color: $scheme-main !default;
$body-size: 16px !default;
$body-min-width: 300px !default;
$body-rendering: optimizeLegibility !default;
$family-primary: $family-primary !default;
$body-overflow-x: hidden !default;
$body-overflow-y: scroll !default;

$body-color: $text !default;
$body-font-size: 1em !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

$code-family: $family-code !default;
$code-padding: 0.25em 0.5em 0.25em !default;
$code-weight: normal !default;
$code-size: 0.875em !default;

$small-font-size: 0.875em !default;

$hr-background-color: $background !default;
$hr-height: 2px !default;
$hr-margin: 1.5rem 0 !default;

$strong-color: $text-strong !default;
$strong-weight: $weight-bold !default;

$pre-font-size: 0.875em !default;
$pre-padding: 1.25rem 1.5rem !default;
$pre-code-font-size: 1em !default;

span,
b,
p,
h1,
h2,
h3,
h4,
h5,
strong {
  font-family: $family-primary;
}

span.code,
code.code {
  font-family: monospace;
  line-height: 1;
  white-space: nowrap;
  margin: 0 2px;
  padding: 3px 5px;
  border-radius: 3px;
  border: 1px solid $blue-2;
  font-size: 13px;
  color: rgba(51, 51, 51, 0.9);
  background-color: $grey-2;
}
