@font-face {
  font-family: 'MetaPro';
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
  src: local('MetaPro'), local('MetaStd-Normal'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-fonts/lib/MetaStd-Normal.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-fonts/lib/MetaStd-Normal.woff') format('woff'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-fonts/lib/MetaStd-Normal.ttf') format('truetype');
}

@font-face {
  font-family: 'MetaPro';
  font-style: normal;
  font-weight: 700;
  font-display: fallback;
  src: local('MetaStd-Medium'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-fonts/lib/MetaStd-Medium.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-fonts/lib/MetaStd-Medium.woff') format('woff'),
    url('https://cdn.jsdelivr.net/npm/@baloise/design-system-fonts/lib/MetaStd-Medium.ttf') format('truetype');
}
