$primary-color: red; //$bal_bg_light_blue;
$accent-color: $bal-rollover_blue;
$background-color: $bal-bg_white;
$odd-row-background-color: $bal-bg_white;
$foreground-color: $bal_text_darkgrey;
$secondary-foreground-color: $bal_brand_blue;
$range-selection-background-color: $bal_rollover_blue;
$font-family: MetaPro, sans-serif;
$font-size: $bal_font_size_15px;
$secondary-font-size: $bal_font_size_15px;
$header-background-color: $bal_bg_white;
$header-foreground-color: $bal_brand_blue;
$alt-background: $bal_bg_rollover_light_blue;
$border-color: $bal_bg_white;
$row-border-width: 0;
