+block(sheet)
  --bal-sheet-position-bottom: .5rem
  display: block
  position: fixed
  bottom: var(--bal-sheet-position-bottom)
  left: 0
  right: 0
  width: 100%
  z-index: 30
  font-weight: $weight-normal
  font-family: var(--bal-font-family-text)
  font-size: var(--bal-size-normal)

  +element(container)
    +element(inner)
      border-radius: var(--bal-radius-large)
      background-color: var(--bal-color-white)
      box-shadow: var(--bal-shadow)
      padding: 1rem
      +tablet
        padding: 1rem 1.5rem
