bal-snackbar {
  display: flex;
  position: relative;
  width: 100%;
  flex-grow: 0 !important;
  justify-content: center !important;

  .snackbar {
    align-self: flex-end;
    display: inline-flex;
    animation-duration: 150ms;
    margin: 8px 0 0 0; // why?
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
    border-radius: $radius-large;
    background: $white;
    pointer-events: auto;
    max-width: 320px;
    flex-grow: 1;
    // font-size: $size-small;
    flex-direction: column !important;
    row-gap: 16px;
    position: relative;

    .snackbar-header {
      @include font-smoothing();
      display: flex;
      align-items: center;
      column-gap: 8px;

      .icon-text .icon:not(:last-child) {
        margin-right: 0.6em;
      }

      .icon-text {
        margin-bottom: 0;

        .icon {
          margin-bottom: 0;
        }
      }
    }

    &.is-primary {
      background: $primary;
      color: $white;
    }

    &.is-info {
      background: $info-light;
      color: $blue;
    }

    &.is-success {
      background: $success-light;
      color: $blue;
    }

    &.is-warning {
      background: $warning-light;
      color: $blue;
    }

    &.is-danger {
      background: $danger-light;
      color: $blue;
    }

    bal-heading,
    bal-text {
      word-break: break-all;
    }

    .close {
      position: absolute;
      cursor: pointer;
      top: 17px;
      right: 16px;
      width: 24px;
      height: 24px;
    }
  }

  .snackbar-footer {
    justify-content: start;
  }
}

@include tablet() {
  bal-snackbar {
    max-width: 288px;
  }
}

@include desktop() {
  bal-snackbar {
    max-width: 288px;
  }
}
