@import "../../scss/bal-ui-library.globals";
@import "node_modules/bulma/sass/components/pagination.sass";
@import "node_modules/bulma/sass/form/all";

:host {
  display: block;
  position: relative;
}

.clickable, .clickable input {
  cursor: pointer;
}

.datepicker {
  user-select: none;

  .pagination {
    flex-wrap: nowrap;
  }

  .pagination-list, .pagination-list .field {
    width: 100%;
  }

  .pagination-previous,
  .pagination-next,
  select {
    border: none !important;
  }

  .pagination-previous,
  .pagination-next {
    padding-left: 0.25em;
    padding-right: 0.25em;
  }

  .pagination-previous:active,
  .pagination-next:active {
    box-shadow: none;
  }

  .pagination-next {
    order: 3;
  }

  .month-select, .year-select {
    width: 50%;
  }

  .month-select, .month-select select {
    text-align: right;
    text-align-last: right;
  }

  .year-select, .year-select select {
    text-align: left;
    text-align-last: left;
  }

  .select {
    &::after {
      display: none !important;
    }

    select {
      padding: 6px 5px 13px 5px !important;
      color: $blue !important;
      font-size: $size-4 !important;
      font-weight: $weight-bold;

      option {
        color: $black !important;
        font-size: $size-5 !important;
        font-weight: $weight-normal !important;
      }
    }
  }

  .datepicker-popup {
    padding: 26px 20px;
    width: 100%;
  }

  .datepicker-table {
    display: table;
    width: 100%;
    margin: 15px auto 0 auto;

    .datepicker-body {
      display: table-row-group;

      .datepicker-row {
        display: table-row;
      }
    }

    .datepicker-row:first-child .datepicker-cell {
      border-top: 1px solid $blue-light-line;
    }

    .datepicker-cell {
      position: relative;
      text-align: center;
      vertical-align: middle;
      display: table-cell;
      max-width: 0;
      padding: 12px 5px;
      border-bottom: 1px solid $blue-light-line;
      border-left: 1px solid $blue-light-line;
      color: $blue;
      cursor: pointer;
      font-size: $size-5;

      &:last-child {
        border-right: 1px solid $blue-light-line;
      }

      &.is-selected {
        background: $blue;
        color: $white;
      }

      &.is-outdated, &.is-disabled {
        background: $blue-light;;
        color: $blue-light-text;
        cursor: default;
      }

      &.is-today:after {
        content: "";
        position: absolute;
        display: block;
        width: 3px;
        height: 3px;
        background: $blue;
        border-radius: 100%;
        margin-top: 2px;
        margin-left: -1.5px;
        left: 50%;
      }
    }

    header.datepicker-header {
      display: table-header-group;

      .datepicker-cell {
        color: $blue-light-text;
        font-weight: $weight-normal;
        border: none;
        cursor: default;
      }
    }
  }

  @include tablet() {
    .datepicker-popup {
      padding: 26px 40px;
      width: 433px;
    }
  }

  .month-select select {
    padding: 6px 10px 13px 10px !important;
  }

  .year-select select {
    padding: 6px 10px 13px 10px !important;
  }
}
