@use '@baloise/ds-css/dist/scss/mixins' as *;

/**
 * @prop --ds-app-height: Viewport height in pixels, kept in sync on window resize to work around mobile browser viewport unit inconsistencies.
 */

:root {
  --ds-app-height: 100%;
}

.ds-app {
  position: relative;
}

.lcp-wait {
  opacity: 0;
  visibility: hidden;
  display: none;
}

.lcp-ready {
  .lcp-wait {
    opacity: inherit;
    visibility: inherit;
    display: inherit;
  }
}
