.is-display-block
  display: block !important

.is-display-inline-block
  display: inline-block !important

.is-display-flex
  display: flex !important

.is-display-inline-flex
  display: inline-flex !important
