.is-clickable
  cursor: pointer !important
  pointer-events: all !important

.is-clipped
  overflow: hidden !important

.is-relative
  position: relative !important

.is-pulled-left
  float: left !important

.is-pulled-right
  float: right !important
