@import '../css/utilities';

@utility border-none {
  border: none !important;
}

@utility border-small {
  border-width: var(--bal-border-width-small);
}

@utility border-normal {
  border-width: var(--bal-border-width-normal);
}

@utility border-large {
  border-width: var(--bal-border-width-large);
}

@utility border-top-none {
  border-top: none !important;
}

@utility border-bottom-none {
  border-bottom: none !important;
}

@utility border-left-none {
  border-left: none !important;
}

@utility border-right-none {
  border-right: none !important;
}

@utility gap-none {
  gap: 0 !important;
}

@utility gap-auto {
  gap: auto;
}

@utility max-h-auto {
  max-height: auto;
}

@utility min-h-auto {
  min-height: auto;
}

@utility max-w-auto {
  max-width: auto;
}

@utility min-w-auto {
  min-width: auto;
}
