@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

:host {
  @include hybrid.base-vars('logo');

  --logo-color: var(--bal-color-primary-5);
  --logo-height: 22px;
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

:host {
  @include hybrid.base-styles('logo');

  position: static;
  display: grid;

  grid-template-columns: 1fr;
  gap: 4px;

  svg {
    transform: unset !important;
    @include fillSvg(var(--logo-color));
  }

  height: var(--logo-height);
  & > div {
    height: var(--logo-height);
  }

  @include desktop {
    --logo-height: 32px;
  }

  #animated {
    display: none;
    width: 0;
    height: 0;
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

:host(.is-animated) {
  grid-template-columns: auto 1fr;

  #animated {
    display: block;
    width: var(--logo-height);
    height: var(--logo-height);
  }
}

:host(.is-inverted) {
  --logo-color: var(--bal-color-white);
}

:host(.is-small) {
  --logo-height: 22px;

  @include desktop {
    --logo-height: 22px;
  }
}
