@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;
@use '../../vars' as vars;

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

:host {
  @include vars.base(logo);
  @include vars.local(logo-color, var(--bal-color-primary-5));
  @include vars.local(logo-height, 22px);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

:host {
  @include vars.styles(logo);

  position: static;
  display: grid;

  grid-template-columns: 1fr;
  gap: 4px;

  svg {
    transform: unset !important;
    @include fillSvg(var(--_logo-color));
  }

  height: var(--_logo-height);
  & > div {
    height: var(--_logo-height);
  }

  @include desktop {
    --mod-logo-height: 32px;
  }

  #animated {
    display: none;
    width: 0;
    height: 0;
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

:host(.is-animated) {
  grid-template-columns: auto 1fr;

  #animated {
    display: block;
    width: var(--_logo-height);
    height: var(--_logo-height);
  }
}

:host(.is-inverted) {
  --mod-logo-color: var(--bal-color-white);
}

:host(.is-sm) {
  --mod-logo-height: 22px;

  @include desktop {
    --mod-logo-height: 22px;
  }
}

:host(.is-lg) {
  --mod-logo-height: 32px;

  @include desktop {
    --mod-logo-height: 48px;
  }
}
