@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../../attr' as attr;
@use '../../../host' as host;
@use '../../../vars' as vars;

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

:host {
  @include vars.base(switch);

  @include vars.local(switch-size, var(--ds-icon-size-base));
  @include vars.local(switch-radius, var(--ds-radius-rounded));

  @include vars.local(switch-color-background, var(--ds-color-primary-1));
  @include vars.local(switch-color-toggle, var(--ds-color-primary-5));
  @include vars.local(switch-color-icon, transparent);

  @include vars.local(switch-color-background-hover, var(--ds-color-primary-1));
  @include vars.local(switch-color-toggle-hover, var(--ds-color-sky-5));
  @include vars.local(switch-color-icon-hover, transparent);

  @include vars.local(switch-color-background-active, var(--ds-color-primary-1));
  @include vars.local(switch-color-toggle-active, var(--ds-color-primary-6));
  @include vars.local(switch-color-icon-active, transparent);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

:host {
  @include font-smoothing();
  @include unselectable();

  box-sizing: border-box !important;
  display: inline-flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  cursor: pointer;

  width: 2.5rem;
  height: 1.5rem;
  padding: 0.25rem;

  border-radius: var(--_switch-radius);
  background: var(--_switch-color-background);

  bal-icon {
    opacity: 0;
    --icon-color: var(--_switch-color-icon);
  }
}

@include attr.has(checked) {
  bal-icon {
    opacity: 1;
  }
}

//
// Unchecked

:host #toggle {
  background: var(--_switch-color-toggle);
  border-radius: 50%;
  position: absolute;
  top: 0.25rem;
  width: 1rem;
  height: 1rem;
  transition: transform 0.3s ease-in-out;
}

@include host.hovered() {
  background: var(--_switch-color-background-hover);

  #toggle {
    background: var(--_switch-color-toggle-hover);
  }
}

@include host.pressed() {
  --icon-color: var(--_switch-color-icon-active);

  background: var(--_switch-color-background-active);

  #toggle {
    background: var(--_switch-color-toggle-active);
  }
}

//
// Checked

@include attr.has(checked) {
  --mod-switch-color-icon: var(--ds-color-white);
  --mod-switch-color-icon-hover: var(--ds-color-white);
  --mod-switch-color-icon-active: var(--ds-color-white);

  --mod-switch-color-background: var(--ds-color-success-4);
  --mod-switch-color-background-hover: var(--ds-color-success-5);
  --mod-switch-color-background-active: var(--ds-color-success-6);

  --mod-switch-color-toggle: var(--ds-color-white);
  --mod-switch-color-toggle-hover: var(--ds-color-white);
  --mod-switch-color-toggle-active: var(--ds-color-white);

  #toggle {
    transform: translateX(100%);
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

@include attr.has(invalid) {
  --mod-switch-color-background: var(--ds-color-danger-1);
  --mod-switch-color-background-hover: var(--ds-color-danger-1);
  --mod-switch-color-background-active: var(--ds-color-danger-1);

  --mod-switch-color-toggle: var(--ds-color-danger-4);
  --mod-switch-color-toggle-hover: var(--ds-color-danger-5);
  --mod-switch-color-toggle-active: var(--ds-color-danger-6);
}

@include attr.hasMany(
  (
    invalid: true,
    checked: true,
  )
) {
  --mod-switch-color-icon: var(--ds-color-white);
  --mod-switch-color-icon-hover: var(--ds-color-white);
  --mod-switch-color-icon-active: var(--ds-color-white);

  --mod-switch-color-background: var(--ds-color-danger-4);
  --mod-switch-color-background-hover: var(--ds-color-danger-5);
  --mod-switch-color-background-active: var(--ds-color-danger-6);

  --mod-switch-color-toggle: var(--ds-color-white);
  --mod-switch-color-toggle-hover: var(--ds-color-white);
  --mod-switch-color-toggle-active: var(--ds-color-white);

  #toggle {
    transform: translateX(100%);
  }
}

@include attr.has(disabled) {
  cursor: default;
  pointer-events: none;

  --mod-switch-color-background: var(--ds-color-grey-3);
  --mod-switch-color-background-hover: var(--ds-color-grey-3);
  --mod-switch-color-background-active: var(--ds-color-grey-3);

  --mod-switch-color-toggle: var(--ds-color-grey-4);
  --mod-switch-color-toggle-hover: var(--ds-color-grey-4);
  --mod-switch-color-toggle-active: var(--ds-color-grey-4);
}

@include attr.hasMany(
  (
    disabled: true,
    checked: true,
  )
) {
  --mod-switch-color-icon: var(--ds-color-white);
  --mod-switch-color-icon-hover: var(--ds-color-white);
  --mod-switch-color-icon-active: var(--ds-color-white);

  --mod-switch-color-background: var(--ds-color-grey-4);
  --mod-switch-color-background-hover: var(--ds-color-grey-4);
  --mod-switch-color-background-active: var(--ds-color-grey-4);

  --mod-switch-color-toggle: var(--ds-color-white);
  --mod-switch-color-toggle-hover: var(--ds-color-white);
  --mod-switch-color-toggle-active: var(--ds-color-white);

  #toggle {
    transform: translateX(100%);
  }
}
