$white: #ffffff !default;
$black: #000000 !default;

$grey-0: #fafafa !default;
$grey-1: #f6f6f6 !default;
$grey-2: #e8e8e8 !default;
$grey-3: #d1d1d1 !default;
$grey-4: #b6b6b6 !default;
$grey-5: #a4a4a4 !default;
$grey-6: #909090 !default;
$grey-7: #747474 !default;
$grey-8: #313131 !default;
$grey-9: #171717 !default;
$grey-light: $grey-0 !default;
$grey: $grey-3 !default;
$grey-dark: $grey-5 !default;
$grey-text: $grey-7;

$blue-0: #e5e7f0 !default;
$blue-1: #cccfe2 !default;
$blue-2: #b3b6d4 !default;
$blue-3: #999ec5 !default;
$blue-4: #8086b7 !default;
$blue-5: #666ea8 !default;
$blue-6: #333d8b !default;
$blue-7: #000d6e !default;
$blue-8: #00094d !default;
$blue-9: #000739 !default;
$blue-light: $blue-0 !default;
$blue: $blue-7 !default;
$blue-dark: $blue-9 !default;
$blue-text-light: $blue-5 !default;
$blue-text: $blue-7 !default;

$light-blue-0: #e7f2fe !default;
$light-blue-1: #b7d9fb !default;
$light-blue-2: #a7d1fa !default;
$light-blue-3: #86c0f8 !default;
$light-blue-4: #56a7f5 !default;
$light-blue-5: #6672cc !default;
$light-blue-6: #3343bb !default;
$light-blue-7: #0014aa !default;
$light-blue-8: #001088 !default;
$light-blue-9: #000a55 !default;
$light-blue-light: $light-blue-0 !default;
$light-blue: $light-blue-2 !default;
$light-blue-dark: $light-blue-7 !default;

$cyan: pink;

$purple-0: #f9f3ff !default;
$purple-1: #f9f3ff !default;
$purple-2: #e1d9ff !default;
$purple-3: #b8b2ff !default;
$purple-4: #be82fa !default;
$purple-5: #9f52cc !default;
$purple-6: #6c2273 !default;
$purple-7: #6c2273 !default;
$purple-8: #6c2273 !default;
$purple-9: #6c2273 !default;
$purple-light: $purple-1 !default;
$purple: $purple-3 !default;
$purple-dark: $purple-6 !default;
$purple-text: $purple-6 !default;

$green-0: #e9fbf7 !default;
$green-1: #e9fbf7 !default;
$green-2: #cbf2ec !default;
$green-3: #94e3d4 !default;
$green-4: #21d9ac !default;
$green-5: #00b28f !default;
$green-6: #1b5951 !default;
$green-7: #1b5951 !default;
$green-8: #1b5951 !default;
$green-9: #1b5951 !default;
$green-light: $green-1 !default;
$green: $green-3 !default;
$green-dark: $green-6 !default;
$green-text: $green-6 !default;

$yellow-0: #fff9e8 !default;
$yellow-1: #fff9e8 !default;
$yellow-2: #ffecbc !default;
$yellow-3: #fae052 !default;
$yellow-4: #ffbe19 !default;
$yellow-5: #fa9319 !default;
$yellow-6: #b24a00 !default;
$yellow-7: #b24a00 !default;
$yellow-8: #b24a00 !default;
$yellow-9: #b24a00 !default;
$yellow-light: $yellow-1 !default;
$yellow: $yellow-3 !default;
$yellow-dark: $yellow-5 !default;
$yellow-text: $yellow-6 !default;

$red-0: #ffeef1 !default;
$red-1: #ffeef1 !default;
$red-2: #ffd7d7 !default;
$red-3: #ffaca6 !default;
$red-4: #ff596f !default;
$red-5: #d9304c !default;
$red-6: #99172d !default;
$red-7: #99172d !default;
$red-8: #99172d !default;
$red-9: #99172d !default;
$red-light: $red-1 !default;
$red: $red-3 !default;
$red-dark: $red-5 !default;
$red-text: $red-6 !default;

$primary-0: $blue-0 !default;
$primary-1: $blue-1 !default;
$primary-2: $blue-2 !default;
$primary-3: $blue-3 !default;
$primary-4: $blue-4 !default;
$primary-5: $blue-5 !default;
$primary-6: $blue-6 !default;
$primary-7: $blue-7 !default;
$primary-8: $blue-8 !default;
$primary-9: $blue-9 !default;
$primary-light: $primary-0 !default;
$primary: $primary-7 !default;
$primary-dark: $primary-9 !default;

$info-0: #ebf1f7 !default;
$info-1: #c4d6e8 !default;
$info-2: #9dbad8 !default;
$info-3: #89add1 !default;
$info-4: #6291c2 !default;
$info-5: #4f84ba !default;
$info-6: #2869ab !default;
$info-7: #145ba3 !default;
$info-8: #0f447a !default;
$info-9: #0a2e52 !default;
$info-light: $info-1 !default;
$info: $info-7 !default;
$info-dark: $info-9 !default;
$info-text: $info-7 !default;

$success-0: #d7e6dc !default;
$success-1: #c3dacc !default;
$success-2: #afcdbb !default;
$success-3: #9bc1aa !default;
$success-4: #88b599 !default;
$success-5: #609c77 !default;
$success-6: #398456 !default;
$success-7: #116b34 !default;
$success-8: #0d5027 !default;
$success-9: #09361a !default;
$success-light: $success-0 !default;
$success: $success-7 !default;
$success-dark: $success-9 !default;
$success-text: $success-7 !default;

$warning-0: #feedd8 !default;
$warning-1: #fddbb2 !default;
$warning-2: #fcc98c !default;
$warning-3: #fcb765 !default;
$warning-4: #fba53f !default;
$warning-5: #fa9319 !default;
$warning-6: #d17b15 !default;
$warning-7: #a76211 !default;
$warning-8: #7e4a0d !default;
$warning-9: #543108 !default;
$warning-light: $warning-1 !default;
$warning: $warning-5 !default;
$warning-dark: $warning-7 !default;
$warning-text: $warning-5 !default;

$danger-0: #faebe9 !default;
$danger-1: #f2c4be !default;
$danger-2: #e99d94 !default;
$danger-3: #e58a7f !default;
$danger-4: #e1766a !default;
$danger-5: #dc6355 !default;
$danger-6: #d43c2a !default;
$danger-7: #cb1500 !default;
$danger-8: #981000 !default;
$danger-9: #660b00 !default;
$danger-light: $danger-1 !default;
$danger: $danger-7 !default;
$danger-dark: $danger-9 !default;
$danger-text: $danger-7 !default;
