$white: #ffffff !default;
$grey-1: #fafafa !default;
$grey-2: #f6f6f6 !default;
$grey-3: #e8e8e8 !default;
$grey-4: #b6b6b6 !default;
$grey-5: #747474 !default;
$grey-6: #313131 !default;
$black: #000000 !default;
$grey: $grey-3 !default;

$blue-1: #e5e7f1 !default;
$blue-2: #a7d1fa !default;
$blue-3: #666ea8 !default;
$blue-4: #0014aa !default;
$blue-5: #000d6e !default;
$blue-6: #000739 !default;
$blue: $blue-5 !default;

$cyan: aqua;

$green-1: #e9fbf7 !default;
$green-2: #cbf2ec !default;
$green-3: #94e3d4 !default;
$green-4: #21d9ac !default;
$green-5: #00b28f !default;
$green-6: #1b5951 !default;
$green: $green-3 !default;

$purple-1: #f9f3ff !default;
$purple-2: #e1d9ff !default;
$purple-3: #b8b2ff !default;
$purple-4: #be82fa !default;
$purple-5: #9f52cc !default;
$purple-6: #6c2273 !default;
$purple: $purple-3 !default;

$red-1: #ffeef1 !default;
$red-2: #ffd7d7 !default;
$red-3: #ffaca6 !default;
$red-4: #ff596f !default;
$red-5: #d9304c !default;
$red-6: #99172d !default;
$red: $red-3 !default;

$yellow-1: #fff9eb !default;
$yellow-2: #ffecbc !default;
$yellow-3: #fae052 !default;
$yellow-4: #ffbe19 !default;
$yellow-5: #fa9319 !default;
$yellow-6: #b24a00 !default;
$yellow: $yellow-3 !default;
