$space-vertical-small: 1rem !default !default;
$space-horizontal-small: 1rem !default;

$space-vertical-normal: 2rem !default;
$space-horizontal-normal: 2rem !default;

$space-vertical-large: 4rem !default;
$space-horizontal-large: 4rem !default;
$column-gap: 1rem !default;
$spacing-shortcuts: (
  'margin': 'm',
  'padding': 'p',
) !default;
$spacing-directions: (
  'top': 't',
  'right': 'r',
  'bottom': 'b',
  'left': 'l',
) !default;
$spacing-horizontal: 'x' !default;
$spacing-vertical: 'y' !default;
$spacing-values: (
  '0': 0,
  '1': 0.25rem,
  '2': 0.5rem,
  '3': 0.7rem,
  '4': 1rem,
  '5': 1.25rem,
  '6': 1.5rem,
  '7': 2rem,
  '8': 3rem,
  'auto': auto,
) !default;

$spacing-values-medium: (
  '7': 2.5rem,
  '8': 3.5rem,
) !default;

$spacing-values-large: (
  '5': 1.5rem,
  '6': 2rem,
  '7': 3rem,
  '8': 4rem,
) !default;
