@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../../vars' as vars;
@use '../../../attr' as attr;

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

:host {
  @include vars.base(snackbar);
  @include vars.local(snackbar-shadow, var(--bal-shadow-box-base));
  @include vars.local(snackbar-radius, var(--bal-snackbar-radius));
  @include vars.local(snackbar-color-background, var(--bal-snackbar-base-background));
  @include vars.local(snackbar-color-text, var(--bal-snackbar-base-text));
  @include vars.local(snackbar-icon, var(--bal-snackbar-base-icon));

  @include vars.local(snackbar-progress-duration, 0);
  @include vars.local(snackbar-progress-bar, var(--bal-snackbar-base-progress-bar));
  @include vars.local(snackbar-progress-background, var(--bal-snackbar-base-progress-background));

  @include vars.local(snackbar-heading-family, var(--bal-text-family-heading));
  @include vars.local(snackbar-heading-weight, var(--bal-text-weight-bold));
  @include vars.local(snackbar-heading-size, var(--bal-text-size-base-device));
  @include vars.local(snackbar-heading-line-height, var(--bal-text-line-height-heading));

  @include vars.local(snackbar-content-family, var(--bal-text-family-body));
  @include vars.local(snackbar-content-weight, inherit);
  @include vars.local(snackbar-content-size, var(--bal-text-size-sm-device));
  @include vars.local(snackbar-content-line-height, var(--bal-text-line-height-body));

  @include vars.local(snackbar-gap, 0.125rem);
  @include vars.local(snackbar-p, 1rem);

  // Animation
  @include vars.local(snackbar-animation-start-opacity, 1);
  @include vars.local(snackbar-animation-start-transform, none);

  @include vars.local(snackbar-animation-transition, none);

  @include vars.local(snackbar-animation-end-opacity, 1);
  @include vars.local(snackbar-animation-end-transform, none);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

:host {
  @include font-smoothing();
  @include unselectable();

  opacity: var(--_snackbar-animation-start-opacity);
  transform: var(--_snackbar-animation-start-transform);

  flex: 1;
  position: relative;
  hyphens: auto;

  color: var(--_snackbar-color-text);
  background: var(--_snackbar-color-background);
  border-radius: var(--_snackbar-radius);
  box-shadow: var(--_snackbar-shadow);

  padding: var(--_snackbar-p);

  column-gap: calc(var(--_snackbar-gap) * 4);
  row-gap: var(--_snackbar-gap);
  align-items: center;

  //
  // Icon
  // --------------------------------
  #icon {
    grid-area: icon;
    align-self: flex-start;
  }

  //
  // Content
  // --------------------------------

  #content {
    margin: 0 !important;
    grid-area: content;
    display: flex;
    flex-direction: column;

    //
    // Heading
    // --------------------------------
    & > strong,
    & > b,
    & > h2 {
      font-family: var(--_snackbar-heading-family);
      font-weight: var(--_snackbar-heading-weight);
      line-height: var(--_snackbar-heading-line-height);
      font-size: var(--_snackbar-heading-size);
      margin: 0 !important;
    }

    //
    // Message
    // --------------------------------
    &,
    & > span,
    & > p {
      font-family: var(--_snackbar-content-family);
      font-size: var(--_snackbar-content-size);
      font-weight: var(--_snackbar-content-weight);
      line-height: var(--_snackbar-content-line-height);
    }
  }

  //
  // Action Button
  // --------------------------------
  #action {
    grid-area: action;
    align-self: center;

    bal-close,
    bal-button,
    .button {
      --button-mt: 1rem;
      --button-font-size: var(--bal-button-size-sm);
      --button-min-height: 2rem;
      --button-min-width: 2rem;
      --button-padding-inline: 0.75rem;
    }
  }

  ::slotted(bal-button),
  ::slotted(bal-close),
  ::slotted(bal-button-group) {
    --button-mt: 1rem;
    --button-font-size: var(--bal-button-size-sm);
    --button-min-height: 2rem;
    --button-min-width: 2rem;
    --button-padding-inline: 0.75rem;
  }

  //
  // Close Button
  // --------------------------------
  .close,
  bal-close {
    grid-area: close;
    align-self: flex-start;
  }
}

//
// Grid Layout
// --------------------------------
:host {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas:
    'icon content'
    '. action';
}

:host(.is-closable) {
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
    'icon content close'
    '. action action';
}

//
// Mobile Solution
// --------------------------------

:host(.is-mobile-closed) {
  display: block;
  max-width: fit-content;

  --mod-snackbar-p: 0;
  --mod-snackbar-background: transparent;
  --mod-snackbar-width: fit-content;;


  #icon,
  #content,
  #action {
    display: none;
  }
}

//
// Container Animations
// --------------------------------

:host(.is-ready) {
  transition: var(--_snackbar-animation-transition);
}

:host(.is-visible) {
  opacity: var(--_snackbar-animation-end-opacity);
  transform: var(--_snackbar-animation-end-transform);
}

//
// Progress Bar
// -------------------------------
:host(.has-progess-bar) {
  &::before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.25rem;
    width: 100%;
    content: '';
    background-color: var(--_snackbar-progress-background);
    border-bottom-left-radius: var(--_snackbar-radius);
    border-bottom-right-radius: var(--_snackbar-radius);
  }

  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.25rem;
    width: 16px;
    content: '';
    background-color: var(--_snackbar-progress-bar);
    border-bottom-left-radius: var(--_snackbar-radius);
    animation: progress var(--_snackbar-progress-duration) linear forwards;
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

//
// Colors
// --------------------------------
$colors: ('info', 'success', 'warning', 'danger');

@each $color in $colors {
  :host(.is-#{$color}) {
    --mod-snackbar-color-text: var(--bal-snackbar-#{$color}-text);
    --mod-snackbar-color-border: var(--bal-snackbar-#{$color}-border);
    --mod-snackbar-color-background: var(--bal-snackbar-#{$color}-background);
    --mod-snackbar-icon: var(--bal-snackbar-#{$color}-icon);
    --mod-snackbar-progress-bar: var(--bal-snackbar-#{$color}-progress-bar);
    --mod-snackbar-progress-background: var(--bal-snackbar-#{$color}-progress-background);
  }
}

/**
  * Animations
  * --------------------------------
  * Define here the animations for the component.
  */

:host(.has-progess-bar) {
  &::after {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0.25rem;
    width: 16px;
    content: '';
    background-color: var(--_snackbar-progress-bar);
    border-bottom-left-radius: var(--_snackbar-radius);
    animation: progress var(--_snackbar-progress-duration) linear forwards;
  }
}

:host(.is-paused) {
  &::after {
    animation-play-state: paused;
  }
}

@keyframes progress {
  0% {
    width: 0;
  }
  99% {
    width: 99%;
  }
  100% {
    width: 100%;
    border-bottom-right-radius: var(--_snackbar-radius);
  }
}
