<div class="container">
  <h1 class="title is-size-1">Input</h1>
  <h2 class="title is-size-2">Two-Way Binding</h2>
  <bal-input id="bal-input-1" name="firstName" placeholder="Enter your firstname" [(ngModel)]="inputValue"></bal-input>
  <br />
  <bal-text>Value: {{ inputValue }}</bal-text>
  <br />
  <h2 class="title is-size-2">Input Event</h2>
  <bal-input (balInput)="onInput($event)"></bal-input>  
  <br />
  <h2 class="title is-size-2">Form Control</h2>
  <bal-input [formControl]="firstName"></bal-input>  
  <p>{{ firstName.valid }}</p>
</div>
