@import '../../styles/global.scss';

bal-image-slider {
  position: static;
  display: block;
}

.bal-image-slider__container {
  position: relative;
  width: 100%;
  padding-top: 52.5%;
  max-width: 1400px;
}

.bal-image-slider_viewport-container {
  position: absolute;
  overflow: hidden;
  max-width: 1400px;
  max-height: 788px;
  top: 0;
  left: 0;
  bottom: 45px;
  right: 0;
}

.bal-image-slider__item {
  width: max-content;
}

.bal-image-slider__image-container {
  display: flex;
  flex-direction: row;
  width: fit-content;
  height: 100%;
}

.bal-image-slider__controls {
  width: 200px;
  margin: auto;
  margin-top: 45px;
}

.bal-image-slider__dot-container {
  height: 24px;
  max-width: 88px;
  min-width: 63px;
  margin-top: 14px;
  padding: 8px;
  gap: 8px;
  background: #e8e8e8;
  border-radius: 4px;
}

.bal-image-slider__dot {
  cursor: pointer;
  height: 8px;
  width: 8px;
  gap: 30px;
  border-radius: 50%;
  display: inline-block;

  &.active {
    background-color: #000d6e;
  }
  &.inactive {
    background-color: #fff;
  }
}
