+block(image-slider)

  +element(container)
    display: block
    position: relative
    // width: 100%
    overflow: hidden
    border-radius: 4px

    +modifier(is-1by1)
      padding-top: 100%
    +modifier(is-16by9)
      padding-top: 56.25%
    +modifier(is-3by2)
      padding-top: 66.66%
    +modifier(is-4by3)
      padding-top: 75%

    +element(images)
      position: absolute
      top: 0
      left: 0
      display: flex
      flex-direction: row
      height: 100%

      +block(image-slider-item)
        position: relative
        flex: 0 0 100%

        & > img
          height: 100%
          width: 100%
          object-fit: cover

  +element(controls)
    display: flex
    justify-content: center
    align-items: center
    width: 200px
    margin: auto

    +element(navigation)
      margin-top: 1rem
      &[disabled]
        button,
        button:hover
          background-color: transparent

    +element(dots)
      display: flex
      justify-content: center
      align-items: center
      height: 24px
      max-width: 88px
      min-width: 63px
      margin: 14px 20px 0
      padding: 8px
      gap: 8px
      background: #e8e8e8
      border-radius: 4px

      +element(dot)
        cursor: pointer
        height: 8px
        width: 8px
        gap: 30px
        border-radius: 50%
        display: inline-block
        +modifier(active)
          background-color: var(--bal-color-primary)
        +modifier(inactive)
          background-color: var(--bal-color-white)
