+block(image-slider)

  +element(container)
    display: block
    position: relative
    overflow: hidden
    border-radius: 4px

    +modifier(is-1by1)
      padding-top: 100%
    +modifier(is-16by9)
      padding-top: 56.25%
    +modifier(is-3by2)
      padding-top: 66.66%
    +modifier(is-4by3)
      padding-top: 75%

    +element(images)
      position: absolute
      top: 0
      left: 0
      display: flex
      flex-direction: row
      height: 100%

      +block(image-slider-item)
        position: relative
        flex: 0 0 100%

        & > img
          height: 100%
          width: 100%
          object-fit: cover
          user-select: none
          user-drag: none
          user-zoom: fixed
