@import 'bal-modal.vars';
@import 'node_modules/bulma/sass/components/modal';

:host {
  display: block;
}

.modal {
  justify-content: flex-start;
}

.modal-card {
  width: var(--bal-width, $modal-content-width);
  margin-top: 30px;
  display: flex !important;

  .modal-card-head {
    padding-bottom: 0px;

    .modal-card-title {
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }

  .modal-card-body {
    padding-top: 10px;
    padding-bottom: 20px;
  }

  .modal-card-foot {
    padding-top: 20px;
    .modal-card-foot-container {
      width: 100%;
    }
  }
}

.modal-card.no-border {
  .modal-card-head {
    border: none;
  }
  .modal-card-foot {
    border: none;
  }
}
