+block(logo)
  position: static
  display: block
  height: 1.25rem
  +fillSvg($blue)
  & > div
    height: 1.25rem
  // colors
  +modifier('white')
    +fillSvg($white)
  +desktop
    height: 2rem
    & > div
      height: 2rem
