+block(logo)
  position: static
  display: block
  height: 1.25rem
  svg
    transform: unset !important
  +fillSvg($blue)
  & > div
    height: 1.25rem
  +modifier('animated')
    +desktop
      margin-left: -7px
  +modifier('white')
    +fillSvg($white)
  +desktop
    height: 2rem
    & > div
      height: 2rem
