.pagination-item-label {
  font-size: 0.8em !important;
}

.pagination-item-label svg {
  height: 0.8em !important;
  width: auto !important;
  stroke: currentColor !important;
  stroke-linecap: round !important;
  stroke-linejoin: round !important;
  stroke-width: 1px !important;
}

.pagination-item-title {
  font-size: 1.6em !important;
  color: #2c3e50 !important;
}

.pagination-item-subtitle {
  margin-top: 4px !important;
  font-size: 0.6em !important;
}
