.markdown-section > table {
  border-collapse: collapse !important;
  border-spacing: 0 !important;
  display: block !important;
  margin-bottom: 1rem !important;
  overflow: auto !important;
  width: 100% !important;
  display: inline-table !important;
  width: 100% !important;
}

.markdown-section > table tr {
  border-top: 1px solid #ccc !important;
}

.markdown-section > table th {
  border: 1px solid #ddd !important;
  font-weight: bold !important;
  padding: 6px 13px !important;
  text-align: center !important;
}

.markdown-section > table td {
  border: 1px solid #ddd !important;
  padding: 6px 13px !important;
  font-size: 14px !important;
}

.markdown-section > table td a {
  font-size: 14px !important;
}

.markdown-section > table td code {
  font-size: 14px !important;
}

.markdown-section > table td > code {
  background: #f1f3f5 !important;
}

.markdown-section > table th,
.markdown-section > table td {
  color: #34495e !important;
  font-family: MetaPro, Source Sans Pro, Helvetica Neue, Arial, sans-serif !important;
}

.markdown-section > p img {
  width: 100%;
}
