@use '@baloise/ds-css/dist/scss/mixins' as *;
@use '../../vars' as vars;

$use-host: false !default;
$name: table;
$css-selector: ('.table');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include vars.hybrid($name, $css-selector, $use-host) {
  @include vars.local(table-color, var(--ds-table-color));

  @include vars.local(table-cell-border, var(--ds-table-cell-border));
  @include vars.local(table-cell-px, var(--ds-table-cell-padding-x));
  @include vars.local(table-cell-py, var(--ds-table-cell-padding-y));

  @include vars.local(table-head-border, var(--ds-table-head-border));

  @include vars.local(table-row-background-active, var(--ds-table-row-background-active));
  @include vars.local(table-row-background-hover, var(--ds-table-row-background-hover));
  @include vars.local(table-row-background-striped, var(--ds-table-row-background-striped));

  @include vars.local(table-narrow-cell-p, 0.25em 0.5em);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

.table {
  @extend %bottomSpacing;
  display: table !important;
  border-spacing: 0;
  margin: 0;
  font-family: var(--ds-table-font-font-family);
  font-size: var(--ds-table-font-font-size);
  font-weight: var(--ds-table-font-font-weight);
  line-height: var(--ds-table-font-line-height);
  color: var(--_table-color);

  td,
  th {
    border: 0;
    border-bottom: var(--_table-cell-border);
    padding: var(--_table-cell-py) var(--_table-cell-px);
    vertical-align: middle;
    text-align: left;
    .ds-checkbox {
      padding: 0;
      margin-top: 1px;
    }
    &.is-narrow {
      white-space: nowrap;
      width: 1%;
    }
  }
  th {
    &:not([align]) {
      text-align: left;
    }
  }
  td {
    hyphens: auto;
  }
  td.has-buttons {
    padding: 2px;
    .ds-button {
      margin-right: 0.25rem;
      &:last-child {
        margin-right: 0px;
      }
    }
    .buttons {
      justify-content: flex-end;
      padding: 3px;
    }
  }
  thead {
    tr {
      border-top: 0;
    }
    td,
    th {
      border-bottom: var(--_table-head-border);
    }
    th {
      font-family: var(--ds-table-head-font-font-family);
      font-size: var(--ds-table-head-font-font-size);
      font-weight: var(--ds-table-head-font-font-weight);
      line-height: var(--ds-table-head-font-line-height);
    }
  }
  tbody {
    tr {
      &:last-child {
        td,
        th {
          border-bottom-width: 0;
        }
      }
    }
  }
  &.is-wide {
    width: 100%;
  }
  &.is-narrow {
    td,
    th {
      padding: var(--_table-narrow-cell-p);
    }
  }
  &.is-striped {
    tbody {
      tr {
        &:nth-child(even) {
          background-color: var(--_table-row-background-striped);
        }
      }
    }
  }
  &.is-hoverable {
    tbody {
      tr {
        &:hover {
          background-color: var(--_table-row-background-hover);
        }
      }
    }
  }
}
