@use '@baloise/ds-css/dist/scss/mixins' as *;
@use '../../vars' as vars;

$use-host: false !default;
$name: table;
$css-selector: ('.table');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include vars.hybrid($name, $css-selector, $use-host) {
  @include vars.local(table-color, var(--ds-table-color));
  @include vars.local(table-background-color, var(--ds-table-background-color));
  @include vars.local(table-body-background-color, var(--ds-table-body-background-color));

  @include vars.local(table-cell-border-color, var(--ds-table-cell-border-color));
  @include vars.local(table-cell-border-width, var(--ds-table-cell-border-width));
  @include vars.local(table-cell-padding, var(--ds-table-cell-padding));
  @include vars.local(table-cell-heading-color, var(--ds-table-cell-heading-color));

  @include vars.local(table-head-background-color, var(--ds-table-head-background-color));
  @include vars.local(table-head-cell-border-color, var(--ds-table-head-cell-border-color));
  @include vars.local(table-head-cell-border-width, var(--ds-table-head-cell-border-width));
  @include vars.local(table-head-cell-color, var(--ds-table-head-cell-color));
  @include vars.local(table-head-font-family, var(--ds-table-head-font-family));
  @include vars.local(table-head-font-size, var(--ds-table-head-font-size));

  @include vars.local(table-foot-background-color, var(--ds-table-foot-background-color));
  @include vars.local(table-foot-cell-border-width, var(--ds-table-foot-cell-border-width));
  @include vars.local(table-foot-cell-color, var(--ds-table-foot-cell-color));

  @include vars.local(table-row-background-color-hover, var(--ds-table-row-background-color-hover));
  @include vars.local(table-row-background-color-active, var(--ds-table-row-background-color-active));
  @include vars.local(table-row-color-active, var(--ds-table-row-color-active));

  @include vars.local(
    table-striped-row-even-background-color-base,
    var(--ds-table-striped-row-even-background-color-base)
  );
  @include vars.local(
    table-striped-row-even-background-color-hover,
    var(--ds-table-striped-row-even-background-color-hover)
  );

  @include vars.local(table-narrow-cell-padding, 0.25em 0.5em);
  @include vars.local(table-bordered-cell-border-width, 2px);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

.table {
  @extend %bottomSpacing;
  background-color: var(--_table-background-color);
  color: var(--_table-color);
  td,
  th {
    border-style: solid;
    border-color: var(--_table-cell-border-color);
    border-width: var(--_table-cell-border-width);
    padding: var(--_table-cell-padding);
    vertical-align: middle;
    &.is-narrow {
      white-space: nowrap;
      width: 1%;
    }
    &.is-selected {
      background-color: var(--_table-row-background-color-active);
      color: var(--_table-row-color-active);
      a,
      strong {
        color: currentColor;
      }
    }
  }
  th {
    color: var(--_table-cell-heading-color);
    &:not([align]) {
      text-align: inherit;
    }
  }
  tr {
    &.is-selected {
      background-color: var(--_table-row-background-color-active);
      color: var(--_table-row-color-active);
      a,
      strong {
        color: currentColor;
      }
      td,
      th {
        color: currentColor;
      }
    }
  }
  thead {
    background-color: var(--_table-head-background-color);
    td,
    th {
      border-width: var(--_table-head-cell-border-width);
      color: var(--_table-head-cell-color);
    }
  }
  tfoot {
    background-color: var(--_table-foot-background-color);
    td,
    th {
      border-width: var(--_table-foot-cell-border-width);
      color: var(--_table-foot-cell-color);
    }
  }
  tbody {
    background-color: var(--_table-body-background-color);
    tr {
      &:last-child {
        td,
        th {
          border-bottom-width: 0;
        }
      }
    }
  }
  &.is-bordered {
    th {
      border-top-width: var(--_table-bordered-cell-border-width);
      border-left-width: var(--_table-bordered-cell-border-width);
      border-right-width: var(--_table-bordered-cell-border-width);
      border-top-color: var(--_table-cell-border-color);
      border-left-color: var(--_table-cell-border-color);
      border-right-color: var(--_table-cell-border-color);
    }
    td {
      border-width: var(--_table-bordered-cell-border-width);
    }
    tr {
      &:last-child {
        td {
          border-bottom-width: var(--_table-bordered-cell-border-width);
        }
      }
    }
  }
  &.is-wide {
    width: 100%;
  }
  &.is-hoverable {
    tbody {
      tr:not(.is-selected) {
        &:hover {
          background-color: var(--_table-row-background-color-hover);
        }
      }
    }
    &.is-striped {
      tbody {
        tr:not(.is-selected) {
          &:hover {
            background-color: var(--_table-row-background-color-hover);
            &:nth-child(even) {
              background-color: var(--_table-striped-row-even-background-color-hover);
            }
          }
        }
      }
    }
  }
  &.is-narrow {
    td,
    th {
      padding: var(--_table-narrow-cell-padding);
    }
  }
  &.is-striped {
    tbody {
      tr:not(.is-selected) {
        &:nth-child(even) {
          background-color: var(--_table-striped-row-even-background-color-base);
        }
      }
    }
  }
}
.table-container {
  @extend %bottomSpacing;
  @include overflow-touch;
  overflow: auto;
  overflow-y: hidden;
  max-width: 100%;
}
table.table {
  display: table !important;
  border-spacing: 0;
  margin: 0;
  thead {
    tr {
      border-top: 0;
    }
    th {
      font-family: var(--_table-head-font-family);
      border-color: var(--_table-head-cell-border-color);
      border-bottom-width: 2px;
    }
  }
  th:not([align]) {
    text-align: left;
  }
  td,
  th {
    font-size: var(--_table-head-font-size);
    vertical-align: middle;
    color: var(--_table-color);
    text-align: left;
    .ds-checkbox {
      padding: 0;
      margin-top: 1px;
    }
  }
  td {
    color: var(--_table-color);
    hyphens: auto;
  }
  td.has-buttons {
    padding: 2px;
    .ds-button {
      margin-right: 0.25rem;
      &:last-child {
        margin-right: 0px;
      }
    }
    .buttons {
      justify-content: flex-end;
      padding: 3px;
    }
  }
}
