=iconSize($size: 1rem)
  width: $size
  max-height: $size

+block(icon)
  display: flex
  justify-content: center
  align-items: center
  position: static
  pointer-events: visible
  +iconSize(18px)
  +fillSvg(var(--bal-color-blue))
  //
  // modifiers
  +modifier(is-inline)
    display: inline-flex
  //
  // inner element
  +element(inner)
    display: block
    position: static
    transition: transform .2s ease-in-out
    padding: 1px
    +iconSize(18px)
    +modifier(turn)
      transform: rotate(180deg)
    & > svg
      vertical-align: top
  //
  // sizes
  +modifier(is-xsmall)
    +iconSize(12px)
  +modifier(is-small)
    +iconSize(14px)
  +modifier(is-medium)
    +iconSize(26px)
  +modifier(is-large)
    +iconSize(50px)
  +modifier(is-xlarge)
    +iconSize(4rem)
  //
  // colors
  +modifier(is-grey)
    +fillSvg(var(--bal-color-grey-dark))
  +modifier(is-success)
    +fillSvg(var(--bal-color-success))
  +modifier(is-warning)
    +fillSvg(var(--bal-color-warning))
  +modifier(is-danger)
    +fillSvg(var(--bal-color-danger))
  +modifiers(is-white, is-inverted)
    +fillSvg(var(--bal-color-white))

.icon-text
  align-items: flex-start
  color: inherit
  display: inline-flex
  vertical-align: top
  flex-wrap: nowrap
  word-break: break-word
  line-height: 1.5rem
  &.is-small
    line-height: 1.75rem
  &.is-medium
    line-height: 1.5rem
  &.is-large
    line-height: 3rem
  &.is-xlarge
    line-height: 4rem
  .icon
    flex-grow: 0
    flex-shrink: 0
    &:not(:last-child)
      margin-right: 0.5rem
    &:not(:first-child)
      margin-right: 0.5rem

div.icon-text
  display: flex
