@import '../../styles/global.utilities';
@import 'node_modules/bulma/sass/elements/icon.sass';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  width: 24px;
  max-height: 24px;
  fill: $blue;
  pointer-events: visible;

  .bal-icon-inner {
    display: block;
    position: static;
    width: 24px;
    max-height: 24px;

    svg {
      max-height: 24px;
    }
  }

  &.is-size-xsmall,
  &.is-size-xsmall .bal-icon-inner {
    width: 10px;
  }

  &.is-size-small,
  &.is-size-small .bal-icon-inner {
    width: 16px;
    max-height: 16px;
  }

  &.is-size-medium,
  &.is-size-medium .bal-icon-inner {
    width: 32px;
    max-height: 32px;
  }

  &.is-size-large,
  &.is-size-large .bal-icon-inner {
    width: 48px;
    max-height: 48px;
  }

  &.is-size-xlarge,
  &.is-size-xlarge .bal-icon-inner {
    width: 64px;
    max-height: 64px;
  }

  &.turn .bal-icon-inner {
    rotate: 180deg;
    transform: rotate(180deg);
  }

  &.is-primary {
    fill: $primary;
  }

  &.is-success {
    fill: $success;
  }

  &.is-info {
    fill: $info;
  }

  &.is-inverted {
    &.is-primary,
    &.is-success,
    &.is-warning,
    &.is-danger,
    &.is-info {
      fill: $white;
    }
  }

  &.is-warning {
    fill: $warning;
  }

  &.is-danger {
    fill: $danger;
  }
}
