@import '../../styles/global.utilities';
@import 'node_modules/bulma/sass/elements/icon.sass';

$icon-xsmall: 8px;
$icon-small: 12px;
$icon-default: 16px;
$icon-medium: 20px;
$icon-large: 40px;
$icon-xlarge: 64px;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  position: static;
  pointer-events: visible;
  fill: $primary;
  width: $icon-default;
  max-height: $icon-default;

  .bal-icon-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: static;
    width: $icon-default;
    max-height: $icon-default;
    transition: transform 0.2s ease-in-out;
  }

  &.is-size-xsmall,
  &.is-size-xsmall .bal-icon-inner {
    width: $icon-xsmall;
    max-height: $icon-xsmall;
  }

  &.is-size-small,
  &.is-size-small .bal-icon-inner {
    width: $icon-small;
    max-height: $icon-small;
  }

  &.is-size-medium,
  &.is-size-medium .bal-icon-inner {
    width: $icon-medium;
    max-height: $icon-medium;
  }

  &.is-size-large,
  &.is-size-large .bal-icon-inner {
    width: $icon-large;
    max-height: $icon-large;
  }

  &.is-size-xlarge,
  &.is-size-xlarge .bal-icon-inner {
    width: $icon-xlarge;
    max-height: $icon-xlarge;
  }

  &.turn .bal-icon-inner {
    rotate: 180deg;
    transform: rotate(180deg);
  }

  &.is-primary {
    fill: $primary;
  }

  &.is-success {
    fill: $success;
  }

  &.is-gray {
    fill: $gray;
  }

  &.is-warning {
    fill: $warning;
  }

  &.is-danger {
    fill: $danger;
  }

  &.is-inverted {
    fill: $white;
  }
}
