@use '@baloise/ds-styles/sass/mixins' as *;

.bal-stack {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  height: 100%;
  width: 100%;
  gap: 1rem;
  flex-wrap: nowrap;
  //
  // wrap elements
  &--use-wrap {
    flex-wrap: wrap;
  }  //
  // fit-content
  &--fit-content {
    flex: unset;
    width: fit-content;
  }  //
  // layout direction
  &--layout-horizontal {
    flex-direction: row;
    align-items: center;
  }
  &--layout-vertical {
    flex-direction: column;
    align-items: flex-start;
  }
  &--layout-horizontal-reverse {
    flex-direction: row-reverse;
    align-items: center;
  }
  &--layout-vertical-reverse {
    flex-direction: column-reverse;
    align-items: flex-start;
  }  //
  // alignment
  &--align-top-start {
    align-items: flex-start;
    justify-content: flex-start;
  }
  &--align-top-center {
    align-items: flex-start;
    justify-content: center;
  }
  &--align-top-end {
    align-items: flex-start;
    justify-content: flex-end;
  }
  &--align-start {
    align-items: center;
    justify-content: flex-start;
  }
  &--align-center {
    align-items: center;
    justify-content: center;
  }
  &--align-end {
    align-items: center;
    justify-content: flex-end;
  }
  &--align-bottom-start {
    align-items: flex-end;
    justify-content: flex-start;
  }
  &--align-bottom-center {
    align-items: flex-end;
    justify-content: center;
  }
  &--align-bottom-end {
    align-items: flex-end;
    justify-content: flex-end;
  }
  &--layout-vertical#{&}--align-top-start {
    align-items: flex-start;
    justify-content: flex-start;
  }
  &--layout-vertical#{&}--align-top-center {
    align-items: center;
    justify-content: flex-start;
  }
  &--layout-vertical#{&}--align-top-end {
    align-items: flex-end;
    justify-content: flex-start;
  }
  &--layout-vertical#{&}--align-start {
    align-items: flex-start;
    justify-content: center;
  }
  &--layout-vertical#{&}--align-center {
    align-items: center;
    justify-content: center;
  }
  &--layout-vertical#{&}--align-end {
    align-items: flex-end;
    justify-content: center;
  }
  &--layout-vertical#{&}--align-bottom-start {
    align-items: flex-start;
    justify-content: flex-end;
  }
  &--layout-vertical#{&}--align-bottom-center {
    align-items: center;
    justify-content: flex-end;
  }
  &--layout-vertical#{&}--align-bottom-end {
    align-items: flex-end;
    justify-content: flex-end;
  }  //
  // horizontal padding
  &--px-none {
    padding-left: 0;
    padding-right: 0;
  }
  &--px-xx-small {
    padding-left: var(--bal-space-xx-small);
    padding-right: var(--bal-space-xx-small);
    @include tablet {
      padding-left: var(--bal-space-xx-small-tablet);
      padding-right: var(--bal-space-xx-small-tablet);
    }
    @include desktop {
      padding-left: var(--bal-space-xx-small-desktop);
      padding-right: var(--bal-space-xx-small-desktop);
    }
  }
  &--px-x-small {
    padding-left: var(--bal-space-x-small);
    padding-right: var(--bal-space-x-small);
    @include tablet {
      padding-left: var(--bal-space-x-small-tablet);
      padding-right: var(--bal-space-x-small-tablet);
    }
    @include desktop {
      padding-left: var(--bal-space-x-small-desktop);
      padding-right: var(--bal-space-x-small-desktop);
    }
  }
  &--px-small {
    padding-left: var(--bal-space-small);
    padding-right: var(--bal-space-small);
    @include tablet {
      padding-left: var(--bal-space-small-tablet);
      padding-right: var(--bal-space-small-tablet);
    }
    @include desktop {
      padding-left: var(--bal-space-small-desktop);
      padding-right: var(--bal-space-small-desktop);
    }
  }
  &--px-normal {
    padding-left: var(--bal-space-normal);
    padding-right: var(--bal-space-normal);
    @include tablet {
      padding-left: var(--bal-space-normal-tablet);
      padding-right: var(--bal-space-normal-tablet);
    }
    @include desktop {
      padding-left: var(--bal-space-normal-desktop);
      padding-right: var(--bal-space-normal-desktop);
    }
  }
  &--px-medium {
    padding-left: var(--bal-space-medium);
    padding-right: var(--bal-space-medium);
    @include tablet {
      padding-left: var(--bal-space-medium-tablet);
      padding-right: var(--bal-space-medium-tablet);
    }
    @include desktop {
      padding-left: var(--bal-space-medium-desktop);
      padding-right: var(--bal-space-medium-desktop);
    }
  }
  &--px-large {
    padding-left: var(--bal-space-large);
    padding-right: var(--bal-space-large);
    @include tablet {
      padding-left: var(--bal-space-large-tablet);
      padding-right: var(--bal-space-large-tablet);
    }
    @include desktop {
      padding-left: var(--bal-space-large-desktop);
      padding-right: var(--bal-space-large-desktop);
    }
  }
  &--px-x-large {
    padding-left: var(--bal-space-x-large);
    padding-right: var(--bal-space-x-large);
    @include tablet {
      padding-left: var(--bal-space-x-large-tablet);
      padding-right: var(--bal-space-x-large-tablet);
    }
    @include desktop {
      padding-left: var(--bal-space-x-large-desktop);
      padding-right: var(--bal-space-x-large-desktop);
    }
  }
  &--px-xx-large {
    padding-left: var(--bal-space-xx-large);
    padding-right: var(--bal-space-xx-large);
    @include tablet {
      padding-left: var(--bal-space-xx-large-tablet);
      padding-right: var(--bal-space-xx-large-tablet);
    }
    @include desktop {
      padding-left: var(--bal-space-xx-large-desktop);
      padding-right: var(--bal-space-xx-large-desktop);
    }  //
  // vertical padding
  }
  &--py-none {
    padding-top: 0;
    padding-bottom: 0;
  }
  &--py-xx-small {
    padding-top: var(--bal-space-xx-small);
    padding-bottom: var(--bal-space-xx-small);
    @include tablet {
      padding-top: var(--bal-space-xx-small-tablet);
      padding-bottom: var(--bal-space-xx-small-tablet);
    }
    @include desktop {
      padding-top: var(--bal-space-xx-small-desktop);
      padding-bottom: var(--bal-space-xx-small-desktop);
    }
  }
  &--py-x-small {
    padding-top: var(--bal-space-x-small);
    padding-bottom: var(--bal-space-x-small);
    @include tablet {
      padding-top: var(--bal-space-x-small-tablet);
      padding-bottom: var(--bal-space-x-small-tablet);
    }
    @include desktop {
      padding-top: var(--bal-space-x-small-desktop);
      padding-bottom: var(--bal-space-x-small-desktop);
    }
  }
  &--py-small {
    padding-top: var(--bal-space-small);
    padding-bottom: var(--bal-space-small);
    @include tablet {
      padding-top: var(--bal-space-small-tablet);
      padding-bottom: var(--bal-space-small-tablet);
    }
    @include desktop {
      padding-top: var(--bal-space-small-desktop);
      padding-bottom: var(--bal-space-small-desktop);
    }
  }
  &--py-normal {
    padding-top: var(--bal-space-normal);
    padding-bottom: var(--bal-space-normal);
    @include tablet {
      padding-top: var(--bal-space-normal-tablet);
      padding-bottom: var(--bal-space-normal-tablet);
    }
    @include desktop {
      padding-top: var(--bal-space-normal-desktop);
      padding-bottom: var(--bal-space-normal-desktop);
    }
  }
  &--py-medium {
    padding-top: var(--bal-space-medium);
    padding-bottom: var(--bal-space-medium);
    @include tablet {
      padding-top: var(--bal-space-medium-tablet);
      padding-bottom: var(--bal-space-medium-tablet);
    }
    @include desktop {
      padding-top: var(--bal-space-medium-desktop);
      padding-bottom: var(--bal-space-medium-desktop);
    }
  }
  &--py-large {
    padding-top: var(--bal-space-large);
    padding-bottom: var(--bal-space-large);
    @include tablet {
      padding-top: var(--bal-space-large-tablet);
      padding-bottom: var(--bal-space-large-tablet);
    }
    @include desktop {
      padding-top: var(--bal-space-large-desktop);
      padding-bottom: var(--bal-space-large-desktop);
    }
  }
  &--py-x-large {
    padding-top: var(--bal-space-x-large);
    padding-bottom: var(--bal-space-x-large);
    @include tablet {
      padding-top: var(--bal-space-x-large-tablet);
      padding-bottom: var(--bal-space-x-large-tablet);
    }
    @include desktop {
      padding-top: var(--bal-space-x-large-desktop);
      padding-bottom: var(--bal-space-x-large-desktop);
    }
  }
  &--py-xx-large {
    padding-top: var(--bal-space-xx-large);
    padding-bottom: var(--bal-space-xx-large);
    @include tablet {
      padding-top: var(--bal-space-xx-large-tablet);
      padding-bottom: var(--bal-space-xx-large-tablet);
    }
    @include desktop {
      padding-top: var(--bal-space-xx-large-desktop);
      padding-bottom: var(--bal-space-xx-large-desktop);
    }  //
  // spaces
  }
  &--space-auto {
    justify-content: space-between;
  }
  &--space-none {
    gap: 0;
    @include tablet {
      gap: 0;
    }
    @include desktop {
      gap: 0;
    }
  }
  &--space-xx-small {
    gap: var(--bal-space-xx-small);
    @include tablet {
      gap: var(--bal-space-xx-small-tablet);
    }
    @include desktop {
      gap: var(--bal-space-xx-small-desktop);
    }
  }
  &--space-x-small {
    gap: var(--bal-space-x-small);
    @include tablet {
      gap: var(--bal-space-x-small-tablet);
    }
    @include desktop {
      gap: var(--bal-space-x-small-desktop);
    }
  }
  &--space-small {
    gap: var(--bal-space-small);
    @include tablet {
      gap: var(--bal-space-small-tablet);
    }
    @include desktop {
      gap: var(--bal-space-small-desktop);
    }
  }
  &--space-medium {
    gap: var(--bal-space-medium);
    @include tablet {
      gap: var(--bal-space-medium-tablet);
    }
    @include desktop {
      gap: var(--bal-space-medium-desktop);
    }
  }
  &--space-large {
    gap: var(--bal-space-large);
    @include tablet {
      gap: var(--bal-space-large-tablet);
    }
    @include desktop {
      gap: var(--bal-space-large-desktop);
    }
  }
  &--space-x-large {
    gap: var(--bal-space-x-large);
    @include tablet {
      gap: var(--bal-space-x-large-tablet);
    }
    @include desktop {
      gap: var(--bal-space-x-large-desktop);
    }
  }
  &--space-xx-large {
    gap: var(--bal-space-xx-large);
    @include tablet {
      gap: var(--bal-space-xx-large-tablet);
    }
    @include desktop {
      gap: var(--bal-space-xx-large-desktop);
    }  //
  // Defines space between rows
  }
  &--space-row-auto {
    justify-content: space-between;
  }
  &--space-row-none {
    row-gap: 0;
    @include tablet {
      row-gap: 0;
    }
    @include desktop {
      row-gap: 0;
    }
  }
  &--space-row-xx-small {
    row-gap: var(--bal-space-xx-small);
    @include tablet {
      row-gap: var(--bal-space-xx-small-tablet);
    }
    @include desktop {
      row-gap: var(--bal-space-xx-small-desktop);
    }
  }
  &--space-row-x-small {
    row-gap: var(--bal-space-x-small);
    @include tablet {
      row-gap: var(--bal-space-x-small-tablet);
    }
    @include desktop {
      row-gap: var(--bal-space-x-small-desktop);
    }
  }
  &--space-row-small {
    row-gap: var(--bal-space-small);
    @include tablet {
      row-gap: var(--bal-space-small-tablet);
    }
    @include desktop {
      row-gap: var(--bal-space-small-desktop);
    }
  }
  &--space-row-medium {
    row-gap: var(--bal-space-medium);
    @include tablet {
      row-gap: var(--bal-space-medium-tablet);
    }
    @include desktop {
      row-gap: var(--bal-space-medium-desktop);
    }
  }
  &--space-row-large {
    row-gap: var(--bal-space-large);
    @include tablet {
      row-gap: var(--bal-space-large-tablet);
    }
    @include desktop {
      row-gap: var(--bal-space-large-desktop);
    }
  }
  &--space-row-x-large {
    row-gap: var(--bal-space-x-large);
    @include tablet {
      row-gap: var(--bal-space-x-large-tablet);
    }
    @include desktop {
      row-gap: var(--bal-space-x-large-desktop);
    }
  }
  &--space-row-xx-large {
    row-gap: var(--bal-space-xx-large);
    @include tablet {
      row-gap: var(--bal-space-xx-large-tablet);
    }
    @include desktop {
      row-gap: var(--bal-space-xx-large-desktop);
    }  //
  // Defines space between rows
  }
  &--space-column-auto {
    justify-content: space-between;
  }
  &--space-column-none {
    column-gap: 0;
    @include tablet {
      column-gap: 0;
    }
    @include desktop {
      column-gap: 0;
    }
  }
  &--space-column-xx-small {
    column-gap: var(--bal-space-xx-small);
    @include tablet {
      column-gap: var(--bal-space-xx-small-tablet);
    }
    @include desktop {
      column-gap: var(--bal-space-xx-small-desktop);
    }
  }
  &--space-column-x-small {
    column-gap: var(--bal-space-x-small);
    @include tablet {
      column-gap: var(--bal-space-x-small-tablet);
    }
    @include desktop {
      column-gap: var(--bal-space-x-small-desktop);
    }
  }
  &--space-column-small {
    column-gap: var(--bal-space-small);
    @include tablet {
      column-gap: var(--bal-space-small-tablet);
    }
    @include desktop {
      column-gap: var(--bal-space-small-desktop);
    }
  }
  &--space-column-medium {
    column-gap: var(--bal-space-medium);
    @include tablet {
      column-gap: var(--bal-space-medium-tablet);
    }
    @include desktop {
      column-gap: var(--bal-space-medium-desktop);
    }
  }
  &--space-column-large {
    column-gap: var(--bal-space-large);
    @include tablet {
      column-gap: var(--bal-space-large-tablet);
    }
    @include desktop {
      column-gap: var(--bal-space-large-desktop);
    }
  }
  &--space-column-x-large {
    column-gap: var(--bal-space-x-large);
    @include tablet {
      column-gap: var(--bal-space-x-large-tablet);
    }
    @include desktop {
      column-gap: var(--bal-space-x-large-desktop);
    }
  }
  &--space-column-xx-large {
    column-gap: var(--bal-space-xx-large);
    @include tablet {
      column-gap: var(--bal-space-xx-large-tablet);
    }
    @include desktop {
      column-gap: var(--bal-space-xx-large-desktop);
    }
//
// custom position
  }
}
.bal-stack > bal-radio {
  margin-top: -0.25rem;
}
//
// reset margin botton space
.bal-stack > .bal-text,
.bal-stack > .bal-heading,
.bal-stack > .bal-heading:not(:last-child),
.bal-stack > .title,
.bal-stack > .subtitle,
.bal-stack > .is-link,
.bal-stack > p {
  margin: 0;
}