$has-spacing: false;

@forward '../../../../styles/sass/normalize';
@forward './bal-button.core';
@forward '../bal-link/bal-link.core';

/**
  * Host Style
  */

:host {
  display: inline-block;
  position: static;
  margin: 0;
  padding: 0;
}


:host {
  --badge-position: absolute;
  --badge-position-top: -0.5rem;
  --badge-position-right: -0.5rem;
}
