@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;
@use '../../vars' as vars;
@use './bal-button-group/bal-button-group.mixin.scss' as button-group;

$button-use-host: false !default;
$button-name: button;
$button-css-selector: ('.button');
$button-host-selector: ('#button');

/**
  * Mixins
  * -------------------------------
  * Define here component specific mixins
  */
@mixin button-disabled() {
  &,
  &:hover,
  &.is-hovered,
  &:active,
  &.is-pressed,
  &:focus,
  &.is-focused {
    pointer-events: none;
    opacity: 1;
    box-shadow: none;
    text-decoration: none;
    cursor: default;
    translate: 0 0;
    background-color: var(--bal-button-color-disabled-base-background);
    border: var(--bal-button-color-disabled-base-border);
    color: var(--bal-button-color-disabled-base-text);

    & > bal-icon {
      --icon-size: var(--bal-button-color-disabled-base-text);
    }

    & > bal-spinner {
      --spinner-color: var(--bal-button-color-disabled-base-text);
    }

    & > bal-spinner[variation='circle'] {
      --spinner-circle-color-border-background: var(--bal-color-grey-4);
      --spinner-circle-color-border-progress: var(--bal-button-color-disabled-base-text);
    }
  }
}

@mixin button-color($color) {
  --button-color-text: var(--bal-button-color-#{$color}-base-text);
  --button-color-background: var(--bal-button-color-#{$color}-base-background);
  --button-color-border: var(--bal-button-color-#{$color}-base-border);

  & > bal-spinner {
    --spinner-color: var(--bal-button-color-#{$color}-base-text);
  }

  > bal-spinner[variation='circle'] {
    --spinner-circle-color-border-progress: var(--bal-button-color-#{$color}-base-text);
  }

  @include hover {
    &:hover,
    &.is-hovered {
      --button-color-text: var(--bal-button-color-#{$color}-hover-text);
      --button-color-background: var(--bal-button-color-#{$color}-hover-background);
      --button-color-border: var(--bal-button-color-#{$color}-hover-border);
    }
  }

  &:active,
  &.is-pressed {
    --button-color-text: var(--bal-button-color-#{$color}-active-text);
    --button-color-background: var(--bal-button-color-#{$color}-active-background);
    --button-color-border: var(--bal-button-color-#{$color}-active-border);
    translate: 0 0.5px;
  }

  &:focus-visible,
  &.is-focused {
    &:not(:active) {
      @include focus-shadow();
    }
  }
}

@mixin button-dashed($color) {
  @include button-color($color);

  --button-border-style: dashed;

  bal-icon.is-circle {
    background-color: var(--bal-button-color-#{$color}-base-border);
  }
}

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include hybrid.vars($button-css-selector, $button-use-host) {
  @include hybrid.margin-vars($button-name);

  --button-font-family: var(--bal-button-family);
  --button-font-weight: var(--bal-button-weight);
  --button-font-size: var(--bal-button-size-base);
  --button-line-height: var(--bal-button-line-height);
  --button-radius: var(--bal-button-radius-base);

  --button-color-text: var(--bal-button-color-primary-text);
  --button-color-border: var(--bal-button-color-primary-border);
  --button-color-background: var(--bal-button-color-primary-background);

  --button-width: var(--bal-button-width, fit-content);
  --button-border-style: solid;

  --button-min-height: 3rem;
  --button-min-width: 3rem;
  --button-padding-inline: 1.5rem;
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@include hybrid.component($button-host-selector, $button-css-selector, $button-use-host) {
  @include unselectable();
  @include font-smoothing();
  @include hybrid.margin-styles($button-name);

  width: var(--button-width, fit-content);
  appearance: auto;
  position: relative;
  display: inline-flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  vertical-align: middle;
  gap: 0.5rem;
  cursor: pointer;
  min-width: var(--button-min-width);
  min-height: var(--button-min-height);
  padding-inline: var(--button-padding-inline);
  word-break: normal;
  box-shadow: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  user-select: none;

  touch-action: manipulation;
  transition-property: color, background-color, border-color, box-shadow;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);

  font-size: var(--button-font-size);
  font-family: var(--button-font-family);
  font-weight: var(--button-font-weight);
  line-height: var(--button-line-height);
  border-radius: var(--button-radius);
  border-style: var(--button-border-style);
  border-width: var(--bal-border-width-base);

  @include button-color(primary);
  background-color: var(--button-color-background);
  color: var(--button-color-text);
  border-color: var(--button-color-border);

  &::-moz-focus-inner {
    border: 0;
  }

  & bal-icon {
    --icon-color: var(--button-color-text);
  }

  // Outline
  &:focus,
  &.is-focused,
  &:active,
  &.is-pressed {
    outline: none;
  }

  &.has-no-wrap {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  &.is-fullwidth {
    width: 100%;
    flex: 1 1 auto;
  }

  &:not(.is-link, .is-text).has-shadow {
    box-shadow: var(--bal-button-shadow-base);
  }

  &.is-text.has-shadow,
  &.is-link.has-shadow {
    text-shadow: var(--bal-button-shadow-base);
  }

  &.is-link {
    text-decoration: underline;
    text-underline-offset: 0.25rem;
    text-decoration-thickness: var(--bal-link-border-width);
  }

  // Spinner
  & > bal-spinner:not([variation='circle']) {
    --spinner-size: 2rem;
  }
}

@include hybrid.host-only($button-use-host) {
  :host(.is-fullwidth) {
    width: 100%;
    flex: 1 1 auto;
  }

  :host ::slotted(bal-badge),
  :host ::slotted(.badge) {
    --badge-position: absolute;
    --badge-top: -0.5rem;
    --badge-right: -0.5rem;
  }
}

@include hybrid.styles-only($button-use-host) {
  .button {
    .badge,
    bal-badge {
      --badge-position: absolute;
      --badge-top: -0.5rem;
      --badge-right: -0.5rem;
    }
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */
$button-colors: (
  'secondary',
  'tertiary',
  'tertiary-yellow',
  'tertiary-purple',
  'tertiary-green',
  'tertiary-red',
  'accent',
  'info',
  'success',
  'warning',
  'danger',
  'link',
  'text'
);

@include hybrid.component($button-host-selector, $button-css-selector, $button-use-host) {
  //
  // Color Variants
  @each $color in $button-colors {
    &.is-#{$color} {
      @include button-color($color);
    }
  }

  //
  // Inverted Variants
  &.is-inverted {
    @each $color in $button-colors {
      @if ($color != 'secondary' and $color != 'tertiary' and $color != 'link' and $color != 'text') {
        &.is-#{$color} {
          @include button-color(inverted);
        }
      }
    }

    &.is-secondary {
      @include button-color(inverted-secondary);
    }

    &.is-tertiary {
      @include button-color(inverted-tertiary);
    }

    &.is-text {
      @include button-color(inverted-text);
    }

    &.is-link {
      @include button-color(inverted-link);
    }
  }

  //
  // Sizes
  &.is-sm,
  &.is-small {
    --button-font-size: var(--bal-button-size-sm);
    --button-min-height: 2rem;
    --button-min-width: 2rem;
    --button-padding-inline: 0.75rem;
  }

  &.is-lg,
  &.is-large {
    --button-font-size: var(--bal-button-size-lg);
    --button-min-height: 3.5rem;
    --button-min-width: 3.5rem;
    --button-padding-inline: 1.5rem;
  }

  //
  // Variants shape
  &.is-flat {
    padding: 0;
    padding-inline: 0;
    min-height: 1.75rem;
  }

  &.is-rounded {
    border-radius: var(--bal-button-radius-rounded);
  }

  &.is-square {
    padding-inline: 0;
    min-width: 3rem;
    min-height: 3rem;
    gap: 0;
  }

  &.is-square:not(.is-sm),
  &.is-square:not(.is-small) {
    --icon-size: 1.5rem;
  }

  &.is-square.is-sm,
  &.is-square.is-small {
    min-width: 2rem;
    min-height: 2rem;
  }

  &.is-circle {
    padding-inline: 0;
    min-width: 3rem;
    min-height: 3rem;
    gap: 0;
    border-radius: var(--bal-button-radius-rounded);
  }

  &.is-circle.is-sm,
  &.is-circle.is-small {
    min-width: 2rem;
    min-height: 2rem;
  }

  // Icons

  &:where(:not(.is-square, .is-circle), .is-sm) > bal-icon,
  &:where(:not(.is-square, .is-circle), .is-small) > bal-icon {
    --icon-size: var(--bal-icon-size-sm);
  }

  &.is-dashed > bal-icon.is-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 1.5rem;
    min-height: 1.5rem;
    border-radius: var(--bal-button-radius-rounded);
  }

  //
  // Dashed Style
  &.is-tertiary-purple.is-dashed {
    @include button-dashed(tertiary-purple-dashed);
  }

  &.is-tertiary-red.is-dashed {
    @include button-dashed(tertiary-red-dashed);
  }

  &.is-tertiary-green.is-dashed {
    @include button-dashed(tertiary-green-dashed);
  }

  &.is-tertiary-yellow.is-dashed {
    @include button-dashed(tertiary-yellow-dashed);
  }

  bal-spinner {
    --spinner-circle-color-border-background: rgba(11, 12, 110, 0.3);
  }

  &.is-primary,
  &.is-secondary.is-inverted {
    bal-spinner {
      --spinner-circle-color-border-background: rgba(255, 255, 255, 0.5);
    }
  }
}

@include hybrid.host-only($button-use-host) {
  #button.is-disabled {
    @include button-disabled();
  }
}

@include hybrid.styles-only($button-use-host) {
  .button:is(input[type='checkbox'], input[type='radio'])[aria-label]::after {
    --button-content: attr(aria-label);

    content: var(--button-content);
  }

  .button:is(input[type='checkbox'], input[type='radio']) {
    @include button-color(secondary);

    appearance: none;
    vertical-align: middle;
  }

  .button:is(input[type='checkbox'], input[type='radio']):where(input:checked) {
    @include button-color(primary);

    isolation: isolate;
  }

  // Disabled cursor state
  fieldset[disabled] .button,
  .button.is-disabled,
  .button.is-inverted.is-disabled,
  .button[disabled] {
    @include button-disabled();
  }

  /**
    Grouped Buttons
    */
  .buttons {
    @include button-group.style();
  }
  // .buttons {
  //   display: flex;
  //   gap: 0.5rem;
  //   flex-flow: column wrap;
  //   width: 100%;

  //   &:not(:last-child) {
  //     margin-bottom: 1rem;
  //   }

  //   @include mobile {
  //     .button:not(.is-square, .is-circle) {
  //       flex: 1 1 auto;
  //     }
  //   }

  //   @include tablet {
  //     &.fit-content {
  //       width: fit-content;
  //     }

  //     flex-flow: row wrap;
  //     align-items: center;
  //     justify-content: flex-start;
  //   }

  //   &.as-row {
  //     flex-flow: row wrap;
  //     align-items: center;
  //     justify-content: flex-start;

  //     &.is-expanded {
  //       .button {
  //         flex: 1;
  //       }
  //     }
  //   }

  //   &.as-col {
  //     flex-flow: column wrap;

  //     @include tablet {
  //       align-items: flex-start;
  //     }
  //   }

  //   &.is-reverse.as-row {
  //     flex-flow: row-reverse wrap;
  //   }

  //   &.is-reverse.as-col {
  //     flex-flow: column-reverse wrap;
  //   }

  //   // Centered
  //   @include tablet {
  //     &.is-center:not(.as-col),
  //     &.is-centered:not(.as-col) {
  //       justify-content: center;
  //     }

  //     &.is-center.as-col,
  //     &.is-centered.as-col {
  //       align-items: center;
  //     }

  //     // Right aligned
  //     &.is-right:not(.as-col) {
  //       justify-content: flex-end;
  //     }

  //     &.is-right.as-col {
  //       align-items: flex-end;
  //     }
  //   }

  //   &.fit-content bal-button {
  //     --button-width: 100%;

  //     width: 100%;
  //   }

  //   @include mobile {
  //     & {
  //       --button-width: 100%;
  //     }

  //     & bal-button {
  //       --button-width: 100%;

  //       width: 100%;
  //     }
  //   }
  // }
}
