+blocks(field, field-label, field-control, field-message, field-hint)
  display: block
  position: relative
  font-family: var(--bal-font-family-text)

+block(field-label)
  display: inline-block
  margin-bottom: .25rem

+block(field-hint)
  display: inline-block
  margin-left: .25rem
  height: 1rem
  width: 1rem
  +element(hint)
    position: absolute
    top: 0
    left: 0

+block(field-control)
  display: flex
  align-items: center
  .bal-input + .bal-button
    margin-left: .5rem
  .bal-input
    flex: 1

.bal-field-control
  padding-bottom: 22px

.bal-field-control + .bal-field-message
  margin-top: -18px !important
