bal-field {
  display: block;
  position: relative;
  min-height: 60px;

  &.has-label {
    min-height: 80px;
  }

  bal-field-label {
    user-select: none;

    label[for] {
      cursor: pointer;
    }
  }

  bal-field-label,
  bal-field-control,
  bal-field-message {
    position: relative;
    display: block;
  }

  bal-field-control {
    margin-bottom: 24px;
    display: flex;

    bal-button {
      margin-left: 8px;
      margin-top: 4px;
    }
  }

  bal-field-control + bal-field-message {
    margin-top: -24px !important;
  }

  bal-field-label > label > bal-hint {
    position: absolute;
    top: -5px;
  }

  bal-field-label,
  bal-field-label label,
  bal-field-message {
    width: 100%;
  }

  bal-field-label label,
  bal-field-message {
    display: flex !important;
    justify-content: space-between;
  }

  .control.is-loading::after,
  .select.is-loading::after {
    border-top-color: $blue !important;
    border-right-color: $blue !important;
    border-left-color: transparent !important;
    border-bottom-color: transparent !important;
    top: 0.4em;
    height: 0.7em;
    width: 0.7em;
  }

  @include desktop() {
    .control.is-loading::after,
    .select.is-loading::after {
      height: 1em;
      width: 1em;
    }
  }

  .form.is-inverted {
    .control.is-loading::after,
    .select.is-loading::after {
      border-top-color: $white !important;
      border-right-color: $white !important;
    }
  }

  .control {
    min-height: 36px;

    & > bal-input,
    & > bal-datepicker {
      margin-top: 1px;
    }

    & > bal-checkbox {
      margin-top: 7px;
    }

    & > bal-radio-group {
      margin-top: 10px;
    }
  }

  .control.has-icons-left *::part(input) {
    padding-left: 38px;
  }

  bal-field-label,
  bal-field-hint {
    display: inline-block !important;
  }

  bal-field-hint {
    position: relative;

    bal-hint {
      position: absolute;
      top: -20px;
      left: 0;
    }
  }

  &.is-invalid {
    bal-field-label label {
      color: $danger !important;
    }

    bal-checkbox {
      label {
        color: $danger !important;
      }
      label::after,
      label::before {
        border-color: $danger !important;
      }
    }

    bal-radio-group:not(.bal-select-button) bal-radio {
      label {
        color: $danger !important;
      }
      label::after {
        background: $danger !important;
        border-color: $danger !important;
      }
      label::before {
        border-color: $danger !important;
      }
    }

    bal-radio-group.bal-select-button {
      border-color: $danger !important;

      bal-radio {
        input[type='radio']:not(:checked) + label {
          color: $danger !important;
        }

        input[type='radio']:checked + label {
          background: $danger !important;
          border-color: $danger !important;
        }

        label::after {
          background: $danger !important;
          border-color: $danger !important;
        }
        label::before {
          border-color: $danger !important;
        }
      }
    }
  }
}
