bal-field {
  display: block;
  position: relative;
  min-height: 48px + 32px;

  &.has-label {
    min-height: 28px + 48px + 32px;
  }

  bal-field-label {
    user-select: none;
    margin-bottom: 4px;

    label {
      font-family: $body-family;
      font-size: $size-6;
    }

    label[for] {
      cursor: pointer;
    }
  }

  bal-field-label,
  bal-field-control,
  bal-field-message {
    position: relative;
    display: block;
  }

  bal-field-control {
    margin-bottom: 32px;
    display: flex;
    align-items: center;

    bal-input + bal-button {
      margin-left: 8px;
    }
  }

  bal-field-control + bal-field-message {
    margin-top: -28px !important;
  }

  bal-field-label > label > bal-hint {
    position: absolute;
    top: -5px;
  }

  bal-field-message {
    width: 100%;
    font-family: $body-family;
  }

  bal-field-label label,
  bal-field-message {
    display: flex !important;
    justify-content: space-between;
  }

  .control.is-loading::after,
  .select.is-loading::after {
    border-top-color: $blue !important;
    border-right-color: $blue !important;
    border-left-color: transparent !important;
    border-bottom-color: transparent !important;
    top: 0.4em;
    height: 0.7em;
    width: 0.7em;
  }

  @include desktop() {
    .control.is-loading::after,
    .select.is-loading::after {
      height: 1em;
      width: 1em;
    }
  }

  .form.is-inverted {
    .control.is-loading::after,
    .select.is-loading::after {
      border-top-color: $white !important;
      border-right-color: $white !important;
    }
  }

  .form.is-disabled {
    bal-field-label label,
    bal-field-message {
      color: $grey-7;
    }
  }

  .control {
    min-height: 48px;
  }

  .control.has-icons-left *::part(input) {
    padding-left: 38px;
  }

  bal-field-label,
  bal-field-hint {
    display: inline-block !important;
  }

  bal-field-hint {
    position: relative;

    bal-hint {
      position: absolute;
      top: -13px;
      left: 0;
    }
  }

  &.is-invalid:not(.is-disabled) {
    bal-field-label label {
      color: $danger !important;
    }

    bal-checkbox {
      label {
        color: $danger !important;
      }

      label::before {
        border-color: $danger !important;
      }

      input[type='checkbox']:checked + label::before {
        background: $danger !important;
      }

      &.bal-switch {
        label::before {
          background: $danger !important;
        }
        label::after {
          background: $white !important;
        }
      }
    }

    bal-radio-group:not(.bal-select-button) bal-radio {
      input[type='radio']:not(.is-disabled) {
        & + label {
          color: $danger !important;
        }

        & + label::after {
          border-color: $danger !important;
        }

        & + label::before {
          border-color: $danger !important;
        }

        &:checked + label::before {
          background: $danger !important;
          border-color: $danger !important;
        }
      }
    }

    bal-radio-group.bal-select-button {
      border-color: $danger !important;

      bal-radio {
        input[type='radio']:not(.is-disabled) {
          &:not(:checked) + label {
            color: $danger !important;
          }

          &:checked + label {
            background: $danger !important;
            border-color: $danger !important;
          }

          & + label::after {
            background: $danger !important;
            border-color: $danger !important;
          }

          & + label::before {
            border-color: $danger !important;
          }
        }
      }
    }
  }
}
