=input
  @extend %control
  justify-content: flex-start
  background-color: var(--bal-form-field-control-background)
  border-color: var(--bal-form-field-control-border-color)
  border-style: var(--bal-form-field-control-border-style)
  border-radius: var(--bal-form-field-control-radius)
  color: var(--bal-form-field-control-color)
  +placeholder
    color: var(--bal-form-field-control-placeholder-color)
  +hover()
    &:hover,
    &.is-hovered
      border-color: var(--bal-form-field-control-border-color-hover)
      background-color: var(--bal-form-field-control-background-hover)
  &.bal-focused,
  &:focus,
  &.is-focused,
  &:active,
  &.is-active
    border-color: var(--bal-form-field-control-border-color-active)
    background-color: var(--bal-form-field-control-background-active)
  &[disabled],
  fieldset[disabled] &
    background-color: var(--bal-form-field-control-disabled-background)
    border-color: var(--bal-form-field-control-disabled-border-color)
    box-shadow: none
    color: var(--bal-form-field-control-disabled-color)
    +placeholder
      color: var(--bal-form-field-control-disabled-color)

%input
  +input

%input-textarea
  @extend %input
  max-width: 100%
  width: 100%
  &[readonly]
    box-shadow: none
  // Modifiers
  &.is-fullwidth
    display: block
    width: 100%
  &.is-inline
    display: inline
    width: auto

%input-textarea-style
  border-width: 2px
  border-radius: var(--bal-form-field-control-radius)
  font-size: var(--bal-form-field-control-font-size)
  font-family: var(--bal-form-field-control-font-family)
  color: var(--bal-form-field-control-color)
  outline: none
  box-shadow: none
  &.is-danger
    border-color: var(--bal-form-field-control-danger-border-color)
    background: var(--bal-form-field-control-danger-background)
    &.bal-focused,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active
      border-color: var(--bal-form-field-control-border-color-active)
  &.is-disabled
    color: var(--bal-form-field-control-disabled-color)
    border-color: var(--bal-form-field-control-disabled-border-color)
    background: var(--bal-form-field-control-disabled-background)

