@import "../../scss/ui-library.globals";

bal-data-item {
  display: flex;
  flex: 1 1;
  min-height: 48px;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px 0;
}

bal-data.has-border > bal-data-item {
  border-bottom: 1px solid $blue-light-line;
}

@include tablet() {
  bal-data-item {
    flex-wrap: no-wrap;
  }

  bal-data.is-horizontal > bal-data-item {
    flex-wrap: wrap;
  }

  bal-data.is-horizontal > bal-data-item > bal-data-label,
  bal-data.is-horizontal > bal-data-item > bal-data-value {
    flex-basis: 100%;
    width: 100%;
  }
}
