@import '../../styles/global.utilities';

$file-border-color: $border;
$file-radius: $radius-large;

$file-cta-background-color: $white;
$file-cta-color: $text;
$file-cta-hover-color: $text-strong;
$file-cta-active-color: $text-strong;

$file-name-border-color: $border;
$file-name-border-style: dashed;
$file-name-border-width: 1px 1px 1px 0;
$file-name-max-width: 16em;
