@import '@baloise/design-system-css/sass/mixins'

.bal-file-upload
  display: block
  position: static
  width: 100%
  .file-label
    word-break: break-word
    white-space: normal
  .bal-heading
    word-break: break-all

.bal-file-upload__card
  margin-top: var(--bal-space-normal)

.bal-file-upload__list
  padding: 0 !important
