@charset "utf-8";

//
// The order of the imports is important to override the variables of the css framework bulma
//

@import 'node_modules/bulma/sass/elements/container.sass';
@import 'node_modules/bulma/sass/elements/other.sass';
@import 'node_modules/bulma/sass/elements/image.sass';
@import 'node_modules/bulma/sass/elements/content.sass';
@import 'node_modules/bulma/sass/elements/table.sass';

@import 'box';
@import 'title';
@import 'track-line';
@import 'notices';
@import 'table';
@import 'icon';
