.button {
  @include font-smoothing();
  @include margin(0);

  position: relative;
  width: 100%;
  height: 100%;
  line-height: 1;
  contain: layout style;
  outline: none;
  cursor: pointer;
  z-index: 0;
  box-sizing: border-box;
  appearance: none;
  transition: background 0.1s ease, color 0.1s ease;
  min-height: 50px;
  text-decoration: none;

  &::-moz-focus-inner {
    border: 0;
  }

  &.has-round-top-corners,
  &.has-round-top-corners button {
    border-top-left-radius: $radius-large !important;
    border-top-right-radius: $radius-large !important;
  }

  &.has-round-bottom-corners,
  &.has-round-bottom-corners button {
    border-bottom-left-radius: $radius-large !important;
    border-bottom-right-radius: $radius-large !important;
  }

  &.has-round-top-corners:not(.has-round-bottom-corners),
  &.has-round-top-corners:not(.has-round-bottom-corners) button {
    border-bottom-left-radius: $radius-none !important;
    border-bottom-right-radius: $radius-none !important;
  }

  &:focus span,
  &:active span,
  &:focus bal-text,
  &:active bal-text,
  &:focus bal-icon,
  &:active bal-icon,
  &:focus bal-spinner,
  &:active bal-spinner {
    position: relative;
    top: 0;
    left: 0;
  }

  .icon-left,
  .icon-right {
    align-items: center;
    display: inline-flex;
    justify-content: center;
  }

  .icon-left {
    margin-left: -4px;
    margin-right: 8px;
  }

  .icon-right {
    margin-right: -4px;
    margin-left: 8px;
  }

  &.is-fullwidth {
    width: 100%;
  }

  &.is-square {
    width: 50px;
    padding: 0;

    .icon-left {
      @include margin(0);
    }
  }

  &.is-small {
    min-height: 38px;
    min-width: 38px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: $size-5;
    line-height: $bal_lineheight_15px;

    &.is-square {
      width: 38px;
      padding: 0;
    }
  }

  &.is-outlined.is-inverted {
    &.is-success:hover,
    &.is-success:focus {
      color: $success;
    }
    &.is-warning:hover,
    &.is-warning:focus {
      color: $warning;
    }
    &.is-danger:hover,
    &.is-danger:focus {
      color: $danger;
    }
  }

  &.is-loading::after {
    display: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &:focus {
    &::before {
      position: absolute;
      content: '';
      top: 2px;
      left: 2px;
      right: 2px;
      bottom: 2px;
      outline: 2px dashed $cyan;
    }
  }

  &:hover,
  &:active {
    &::before {
      outline: none;
    }
  }

  &.is-primary {
    &:focus,
    &.is-focused,
    &:active,
    &.is-active,
    &:hover,
    &.is-hovered {
      background: $blue;
    }
  }

  &.is-info {
    &:hover,
    &.is-hovered {
      background: $cyan;
    }
  }

  &.is-success {
    &:hover,
    &.is-hovered {
      background: darken($success, 10);
    }
  }

  &.is-warning {
    &:hover,
    &.is-hovered {
      background: darken($warning, 10);
    }
  }

  &.is-danger {
    &:hover,
    &.is-hovered {
      background: darken($danger, 10);
    }
  }

  &.is-success,
  &.is-warning,
  &.is-warning.is-outlined,
  &.is-success.is-outlined {
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $white;
    }
  }

  &.is-primary.is-inverted {
    background: $cyan;
    color: $white;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $blue;
      background: $white;
    }
  }

  &.is-info.is-outlined:not(.is-inverted) {
    background: $white;
  }

  &.is-info.is-outlined {
    border-color: $blue-line;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $blue;
      background: $blue-light-line;
      border-color: $blue-line;
    }
  }

  &.is-info.is-inverted.is-outlined {
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $white;
      background: darken($blue, 10);
    }
  }

  &.is-info.is-inverted {
    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $white;
      background: $cyan;
    }
  }

  &.is-link {
    color: $cyan;
    background: transparent;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $blue;
      background: transparent;
      text-decoration: underline;
    }
  }

  &.is-primary-light {
    border: none;
    border-radius: 0;
    color: $blue;
    background: $blue-light;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $blue;
      background: $blue-light-hover;
    }
  }

  &.is-info-light {
    border: none;
    border-radius: 0;
    color: $blue;
    background: transparent;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      color: $blue;
      background: transparent;
    }
  }

  &[disabled] {
    &.is-link {
      text-decoration: none;
      color: $cyan;
      background: transparent;
    }

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused,
    &:active,
    &.is-active {
      &.is-primary {
        color: $white;
        background: $cyan;
      }

      &.is-info {
        color: $white;
        background: $blue;
      }

      &.is-warning {
        color: $white;
        background: $orange;
      }

      &.is-danger {
        color: $white;
        background: $red;
      }

      &.is-success {
        color: $white;
        background: $green;
      }

      &.is-link {
        text-decoration: none;
        color: $cyan;
        background: transparent;
      }
    }
  }
}
