.bal-track-line {
  display: flex;
  height: $bal_track_line_height;
  width: 100%;
  align-items: center;
  background: $bal_bg_white;

  &::before, &::after {
    content: '';
    position: absolute;
    height: $bal_track_line_height;
  }

  &::before {
    height: $bal_track_line_height;
    left: 0;
    width: 100%;
    background: $bal_bg_white;
    background: linear-gradient(90deg, $bal_brand_blue 0, $bal_brand_blue 66%, $bal-info_blue 66%, $bal-info_blue 100%);
    z-index: 1;
  }

  &::after {
    left: 66%;
    background: $bal_bg_white;
    transform: translateX(-50%) skew(-45deg);
    z-index: 100;
    width: 10px;
  }
}

