bal-product-slider {
  position: static;
  display: block;
}

.bal-product-slider__container {
  position: relative;
  width: 100%;
  max-width: 1400px;
  height: 140px;
  margin-top: 20px;
}

.bal-product-slider_viewport-container {
  position: absolute;
  overflow: hidden;
  max-width: 1400px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bal-product-slider__product-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: fit-content;
  height: 140px;
  padding-left: 40px;
}

.bal-product-slider__product-item {
  width: 160px;
  height: 140px;
  margin-left: 20px;
  text-align: center;
}

.bal-product-slider__product-image {
  width: 80px;
  height: 70px;
}

.bal-product-slider__control-left {
  position: absolute;
  top: 50px;

  z-index: 1000;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-color: #000d6e;

  &.inactive {
    opacity: 40%;
  }
}

.bal-product-slider__control-container {
  position: absolute;
  top: 57px;
  width: 48px;
  height: 140px;

  &.left {
    left: 0;
    margin-left: -1px;
    background: linear-gradient(90deg, #fff 16%, rgba(255, 255, 255, 0) 100%);
  }

  &.right {
    right: 0;
    margin-right: -1px;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 84%);
  }
}

.bal-product-slider__control {
  position: absolute;
  top: 50px;
  z-index: 1000;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-color: #000d6e;
  padding-top: 8px;

  &.inactive {
    opacity: 40%;
  }
}

.custom-color svg,
.custom-color svg g,
.custom-color svg path,
.custom-color svg circle {
  fill: white !important;
}
