@import '../../styles/global.scss';

bal-product-slider {
  position: static;
  display: block;
}

.bal-product-slider__container {
  position: relative;
  width: 100%;
  height: 140px;
  margin-top: 45px;
}

.bal-product-slider_viewport-container {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.bal-product-slider__product-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  width: fit-content;
  height: 140px;
  padding-left: 40px;
}

.bal-product-slider__product-item {
  width: 160px;
  height: 140px;
  margin-left: 20px;
  text-align: center;
  background-color: #e9fbf7;
  border-radius: 12px;
}

.bal-product-slider__product-image {
  width: 80px;
  height: 70px;
}

.bal-product-slider__control-container {
  position: relative;
  top: 135px;
  width: 48px;
  height: 48px;
  align-items: center;
}

.bal-product-slider__control-container-box {
  display: flex;
  justify-content: space-between;
  width: 128px;
  margin: auto;
}

.bal-product-slider__control {
  position: absolute;
  top: 42px;
  z-index: 1000;
  height: 48px;
  width: 48px;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  background-color: #000d6e;
  padding-top: 8px;

  &.inactive {
    opacity: 40%;
  }

  &.left {
    padding-left: 5px;
  }

  &.right {
    padding-left: 6px;
  }
}

.custom-color svg,
.custom-color svg g,
.custom-color svg path,
.custom-color svg circle {
  fill: white !important;
}

@include tablet() {
  .bal-product-slider__product-item {
    background-color: inherit;
  }

  .bal-product-slider__control-container {
    position: absolute;
    top: -15px;

    &.left {
      left: 0;
      margin-left: -1px;
      background: linear-gradient(90deg, #fff 16%, rgba(255, 255, 255, 0) 100%);
    }

    &.right {
      right: 0;
      margin-right: -1px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 84%);
    }
  }
}

@include desktop() {
  .bal-product-slider__product-item {
    background-color: inherit;
  }

  .bal-product-slider__control-container {
    position: absolute;
    top: -15px;

    &.left {
      left: 0;
      margin-left: -1px;
      background: linear-gradient(90deg, #fff 16%, rgba(255, 255, 255, 0) 100%);
    }

    &.right {
      right: 0;
      margin-right: -1px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0), #fff 84%);
    }
  }
}
