@use '@baloise/ds-styles/sass/mixins' as *;
@use './bal-pagination.vars' as *;

@include block(pagination) {
  @include unselectable;
  display: block;

  @include modifier(is-sticky) {
    position: sticky;
    z-index: var(--bal-z-index-sticky);
  }
  @include element(nav) {
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
    @include modifier(align-start) {
      justify-content: flex-start;
    }
    @include modifier(align-end) {
      justify-content: flex-end;
    }
    @include modifier(context-small) {
      padding-top: 1rem;
    }
    @include element(pagination-previous) {
      order: 1;
      @include modifier(context-small) {
        &[disabled] {
          button:hover {
            background-color: transparent;
            border-color: transparent;
          }
        }
      }
    }
    @include element(pagination-next) {
      order: 3;
      @include modifier(context-small) {
        &[disabled] {
          button:hover {
            background-color: transparent;
            border-color: transparent;
          }
        }
      }
    }
    @include element(pagination-list) {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 4px;
      padding-left: 8px;
      padding-right: 8px;
      order: 2;
      width: unset;
      text-align: center;

      & > span {
        font-weight: var(--bal-font-weight-bold);
      }
      @include tablet {
        gap: 8px;
      }
      @include desktop {
        gap: 8px;
      }
      @include modifier(context-small) {
        gap: 8px;
        max-width: 88px;
        min-width: 63px;
        min-height: 1.25rem;
        margin: 0 20px 0 !important;
        background: var(--bal-pagination-small-background);
        border-radius: var(--bal-pagination-small-radius);
      }
      @include modifier(context-tabs) {
        flex-grow: 1;
        padding: 8px;
        background: var(--bal-pagination-tabs-background);
        box-shadow: var(--bal-pagination-tabs-shadow);
        border-radius: var(--bal-pagination-tabs-radius);
      }
      @include element(dot) {
        cursor: pointer;
        height: 8px;
        width: 8px;
        gap: 30px;
        border-radius: var(--bal-pagination-dot-radius);
        display: block;
        @include modifier(active) {
          background-color: var(--bal-pagination-dot-background-active);
        }
        @include modifier(inactive) {
          background-color: var(--bal-pagination-dot-background-inactive);
        }
      }
      @include element(more) {
        width: 2rem;
        @include tablet {
          width: 2rem;
        }
        @include desktop {
          width: 3rem;
        }
        & > span {
          display: inline;
          font-family: var(--bal-text-line-height-title);
          font-weight: 700;
        }
        @include modifier(disabled) {
          color: var(--bal-color-text-grey);
        }
      }
      @include element(tab) {
        flex: 1;
      }
      &.is-disabled {
        li {
          pointer-events: none;
        }
      }
      button.is-disabled.is-text {
        background: transparent;
        border-color: transparent;
      }
    }
  }
}