@use '@baloise/ds-css/dist/scss/mixins' as *;
@use '../../hybrid' as hybrid;
@use '../../vars' as vars;
@use './tag-group/tag-group.mixin.scss' as tags;

$use-host: false !default;
$name: tag;
$css-selector: ('.tag:not(.token)');
$host-selector: ('#tag');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include vars.hybrid($name, $css-selector, $use-host) {
  @include vars.local(tag-gap, var(--ds-tag-size-base-space-gap));
  @include vars.local(tag-px, var(--ds-tag-size-base-space-x));
  @include vars.local(tag-py, var(--ds-tag-size-base-space-y));
  @include vars.local(tag-radius, var(--ds-tag-radius));
  @include vars.local(tag-color, var(--ds-tag-default-color-text));
  @include vars.local(tag-bg, var(--ds-tag-default-color-background));
  @include vars.local(tag-line-height, var(--ds-tag-line-height));
  @include vars.local(tag-font-family, var(--ds-tag-font-family));
  @include vars.local(tag-font-size, var(--ds-tag-size-base-font-size));
  @include vars.local(tag-font-weight, var(--ds-tag-size-base-font-weight));
  @include vars.local(tag-close-mr, calc(0.25rem * -1));
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@mixin basic() {
  @include unselectable;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  box-sizing: border-box;
  gap: var(--_tag-gap);
  width: fit-content;

  padding-block: var(--_tag-py);
  padding-inline: var(--_tag-px);
  border-radius: var(--_tag-radius);

  color: var(--_tag-color);
  background-color: var(--_tag-bg);

  font-family: var(--_tag-font-family);
  line-height: var(--_tag-line-height);
  font-size: var(--_tag-font-size);
  font-weight: var(--_tag-font-weight);

  > .close,
  > ds-close {
    --close-mr: var(--_tag-close-mr);
  }
}

@include hybrid.styles($css-selector, $use-host) {
  @include basic();
}

@include hybrid.host($use-host) {
  :host {
    @include basic();
  }

  :host::part(label) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: var(--_tag-gap);
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

//
// Colors
// --------------------------------
$colors: (
  'primary',
  'disabled',
  'success',
  'info',
  'warning',
  'danger',
  'purple',
  'red',
  'yellow',
  'green',
  'purple-dark',
  'red-dark',
  'yellow-dark',
  'green-dark',
  'purple-light',
  'red-light',
  'yellow-light',
  'green-light'
);

@mixin color($color) {
  --icon-color: var(--ds-tag-#{$color}-color-text);
  --mod-tag-color: var(--ds-tag-#{$color}-color-text);
  --mod-tag-bg: var(--ds-tag-#{$color}-color-background);
  --close-color-icon: var(--ds-tag-#{$color}-color-text);
}

@each $color in $colors {
  @include hybrid.styles($css-selector, $use-host) {
    &.is-#{$color} {
      @include color($color);
    }
  }

  @include hybrid.host($use-host) {
    :host(.is-#{$color}) {
      @include color($color);
    }
  }
}

$close-inverted: ('primary', 'disabled', 'purple-dark', 'red-dark', 'yellow-dark', 'green-dark');

@each $color in $close-inverted {
  @include hybrid.styles($css-selector, $use-host) {
    &.is-#{$color} {
      --close-color-background-hover: var(--ds-close-inverted-color-background-hover);
      --close-color-background-active: var(--ds-close-inverted-color-background-active);
      --close-color-focus: var(--ds-alias-interaction-focus-color-inverted);
    }
  }

  @include hybrid.host($use-host) {
    :host(.is-#{$color}) {
      --close-color-background-hover: var(--ds-close-inverted-color-background-hover);
      --close-color-background-active: var(--ds-close-inverted-color-background-active);
      --close-color-focus: var(--ds-alias-interaction-focus-color-inverted);
    }
  }
}

//
// Sizes
// --------------------------------

@mixin sizeSmall() {
  --mod-tag-gap: var(--ds-tag-size-sm-space-gap);
  --mod-tag-py: var(--ds-tag-size-sm-space-y);
  --mod-tag-px: var(--ds-tag-size-sm-space-x);
  --mod-tag-font-size: var(--ds-tag-size-sm-font-size);
  --mod-tag-font-weight: var(--ds-tag-size-sm-font-weight);

  > .close,
  > ds-close {
    --close-padding: var(--ds-close-space-sm);
    --close-size-icon: var(--ds-close-size-sm);
  }
}

@mixin sizeMedium() {
  --mod-tag-gap: var(--ds-tag-size-md-space-gap);
  --mod-tag-py: var(--ds-tag-size-md-space-y);
  --mod-tag-px: var(--ds-tag-size-md-space-x);
  --mod-tag-font-size: var(--ds-tag-size-md-font-size);
  --mod-tag-font-weight: var(--ds-tag-size-md-font-weight);
}

@mixin sizeLarge() {
  --mod-tag-gap: var(--ds-tag-size-lg-space-gap);
  --mod-tag-py: var(--ds-tag-size-lg-space-y);
  --mod-tag-px: var(--ds-tag-size-lg-space-x);
  --mod-tag-font-size: var(--ds-tag-size-lg-font-size);
  --mod-tag-font-weight: var(--ds-tag-size-lg-font-weight);
}

@include hybrid.styles($css-selector, $use-host) {
  &.is-sm {
    @include sizeSmall();
  }
  &.is-md {
    @include sizeMedium();
  }
  &.is-lg {
    @include sizeLarge();
  }
}

@include hybrid.host($use-host) {
  :host(.is-sm) {
    @include sizeSmall();
  }
  :host(.is-md) {
    @include sizeMedium();
  }
  :host(.is-lg) {
    @include sizeLarge();
  }
}

/**
  * Tags container
  * --------------------------------
  * Define here the styles for tags container to be able to use a flex layout with gap.
  */

@include hybrid.styles-only($use-host) {
  .tags {
    @include tags.style();
  }

  .tags + .tags {
    margin-top: var(--_tag-gap);
  }

  ds-tag-group + ds-tag-group {
    margin-top: var(--_tag-gap);
  }
}
