@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;
@use '../../vars' as vars;
@use './tag-group/tag-group.mixin.scss' as tags;

$use-host: false !default;
$name: tag;
$css-selector: ('.tag:not(.token)');
$host-selector: ('#tag');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include vars.hybrid($name, $css-selector, $use-host) {
  @include vars.local(tag-min-height, 2rem);
  @include vars.local(tag-gap, 0.25rem);
  @include vars.local(tag-px, var(--ds-tag-space-padding-x-base));
  @include vars.local(tag-py, var(--ds-tag-space-padding-y-base));
  @include vars.local(tag-radius, var(--ds-tag-radius-base));
  @include vars.local(tag-color, var(--ds-tag-default-color-text-base));
  @include vars.local(tag-bg, var(--ds-tag-default-color-bg-base));
  @include vars.local(tag-line-height, 1);
  @include vars.local(tag-font-family, var(--ds-tag-font-family));
  @include vars.local(tag-font-size, var(--ds-tag-font-size-base));
  @include vars.local(tag-font-weight, var(--ds-tag-font-weight-base));
  @include vars.local(tag-close-mr, calc(0.25rem * -1));
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@mixin basic() {
  @include unselectable;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: bottom;
  box-sizing: border-box;
  gap: var(--_tag-gap);
  width: fit-content;

  min-height: var(--_tag-min-height);
  padding-block: var(--_tag-py);
  padding-inline: var(--_tag-px);
  border-radius: var(--_tag-radius);

  color: var(--_tag-color);
  background-color: var(--_tag-bg);

  font-family: var(--_tag-font-family);
  line-height: var(--_tag-line-height);
  font-size: var(--_tag-font-size);
  font-weight: var(--_tag-font-weight);

  > .close,
  > ds-close {
    --close-mr: var(--_tag-close-mr);
  }

  > ds-icon {
    --icon-size: 0.875rem;
  }
}

@include hybrid.styles($css-selector, $use-host) {
  @include basic();
}

@include hybrid.host($use-host) {
  :host {
    @include basic();
  }

  :host::part(label) {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    gap: var(--_tag-gap);
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

//
// Colors
// --------------------------------
$colors: (
  'primary',
  'grey',
  'success',
  'info',
  'warning',
  'danger',
  'purple',
  'red',
  'yellow',
  'green',
  'purple-dark',
  'red-dark',
  'yellow-dark',
  'green-dark',
  'purple-light',
  'red-light',
  'yellow-light',
  'green-light'
);

@mixin color($color) {
  --icon-color: var(--ds-tag-#{$color}-color-text-base);
  --mod-tag-color: var(--ds-tag-#{$color}-color-text-base);
  --mod-tag-bg: var(--ds-tag-#{$color}-color-bg-base);
}

@each $color in $colors {
  @include hybrid.styles($css-selector, $use-host) {
    &.is-#{$color} {
      @include color($color);
    }
  }

  @include hybrid.host($use-host) {
    :host(.is-#{$color}) {
      @include color($color);
    }
  }
}

$close-inverted: (
  'primary',
  'grey',
  'info',
  'success',
  'danger',
  'purple-dark',
  'red-dark',
  'yellow-dark',
  'green-dark'
);

@each $color in $close-inverted {
  @include hybrid.styles($css-selector, $use-host) {
    &.is-#{$color} {
      --close-color-icon: var(--ds-close-color-icon-inverted);
      --close-color-background-hover: var(--ds-close-color-background-inverted-hover);
      --close-color-background-active: var(--ds-close-color-background-inverted-active);
      --close-color-focus: var(--ds-alias-interaction-focus-color-inverted);
    }
  }

  @include hybrid.host($use-host) {
    :host(.is-#{$color}) {
      --close-color-icon: var(--ds-close-color-icon-inverted);
      --close-color-background-hover: var(--ds-close-color-background-inverted-hover);
      --close-color-background-active: var(--ds-close-color-background-inverted-active);
      --close-color-focus: var(--ds-alias-interaction-focus-color-inverted);
    }
  }
}

//
// Shapes
// --------------------------------
@include hybrid.styles($css-selector, $use-host) {
  &.is-square {
    --mod-tag-radius: var(--ds-tag-radius-square);
  }
  &.is-pill {
    --mod-tag-radius: var(--ds-tag-radius-pill);
  }
}

@include hybrid.host($use-host) {
  :host(.is-square) {
    --mod-tag-radius: var(--ds-tag-radius-square);
  }
  :host(.is-pill) {
    --mod-tag-radius: var(--ds-tag-radius-pill);
  }
}

//
// Sizes
// --------------------------------

@mixin sizeSmall() {
  --mod-tag-min-height: 1.5rem;
  --mod-tag-py: var(--ds-tag-space-padding-y-sm);
  --mod-tag-px: var(--ds-tag-space-padding-x-sm);
  --mod-tag-font-size: var(--ds-tag-font-size-sm);
  --mod-tag-font-weight: var(--ds-tag-font-weight-sm);

  > .close,
  > ds-close {
    --close-padding: 0.25rem;
    --close-size-icon: 10px;
  }
}

@mixin sizeMedium() {
  --mod-tag-min-height: 2.5rem;
  --mod-tag-py: var(--ds-tag-space-padding-y-md);
  --mod-tag-px: var(--ds-tag-space-padding-x-md);
  --mod-tag-font-size: var(--ds-tag-font-size-md);
  --mod-tag-font-weight: var(--ds-tag-font-weight-md);
}

@mixin sizeLarge() {
  --mod-tag-min-height: 3rem;
  --mod-tag-py: var(--ds-tag-space-padding-y-lg);
  --mod-tag-px: var(--ds-tag-space-padding-x-lg);
  --mod-tag-font-size: var(--ds-tag-font-size-lg);
  --mod-tag-font-weight: var(--ds-tag-font-weight-lg);
}

@include hybrid.styles($css-selector, $use-host) {
  &.is-sm {
    @include sizeSmall();
  }
  &.is-md {
    @include sizeMedium();
  }
  &.is-lg {
    @include sizeLarge();
  }
}

@include hybrid.host($use-host) {
  :host(.is-sm) {
    @include sizeSmall();
  }
  :host(.is-md) {
    @include sizeMedium();
  }
  :host(.is-lg) {
    @include sizeLarge();
  }
}

/**
  * Tags container
  * --------------------------------
  * Define here the styles for tags container to be able to use a flex layout with gap.
  */

@include hybrid.styles-only($use-host) {
  .tags {
    @include tags.style();
  }

  .tags + .tags {
    margin-top: var(--_tag-gap);
  }

  ds-tag-group + ds-tag-group {
    margin-top: var(--_tag-gap);
  }
}
