@import "../core/core.vars"
@import '../mixins/_all'

@import '@baloise/design-system-tokens/dist/tokens.css.sass'

@import "../core/form/_all"
@import "../core/layout/_all"

// Utils
// --------------------------------------------------
// Componens are still using thos util classes

.is-clickable
  cursor: pointer !important
  pointer-events: all !important

.is-fullwidth
  width: 100%

.is-fullheight
  height: 100%

.is-vertical-align-top
  vertical-align: top

.is-vertical-align-middle
  vertical-align: middle

.is-vertical-align-bottom
  vertical-align: bottom
