@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../vars' as vars;

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

:host {
  @include vars.base(close);

  @include vars.local(close-color-background, var(--bal-close-color-background-base));
  @include vars.local(close-color-background-hover, var(--bal-close-color-background-hover));
  @include vars.local(close-color-background-active, var(--bal-close-color-background-active));

  @include vars.local(close-color-focus, var(--bal-interaction-focus-color-base));

  @include vars.local(close-color-icon, var(--bal-close-color-icon-base));
  @include vars.local(close-radius, var(--bal-close-radius));

  @include vars.local(close-size-icon, 12px);
  @include vars.local(close-padding, 0.313rem);
  @include vars.local(
    close-icon,
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 14 14'%3E%3Cpath fill-rule='evenodd' d='M1.70711 0.292893C1.31658 -0.0976311 0.683417 -0.0976311 0.292893 0.292893C-0.0976311 0.683417 -0.0976311 1.31658 0.292893 1.70711L5.58579 7L0.292893 12.2929C-0.0976311 12.6834 -0.0976311 13.3166 0.292893 13.7071C0.683417 14.0976 1.31658 14.0976 1.70711 13.7071L7 8.41421L12.2929 13.7071C12.6834 14.0976 13.3166 14.0976 13.7071 13.7071C14.0976 13.3166 14.0976 12.6834 13.7071 12.2929L8.41421 7L13.7071 1.70711C14.0976 1.31658 14.0976 0.683417 13.7071 0.292893C13.3166 -0.0976311 12.6834 -0.0976311 12.2929 0.292893L7 5.58579L1.70711 0.292893Z' clip-rule='evenodd'/%3E%3C/svg%3E")
  );
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

:host {
  @include unselectable();
  @include print-hidden();

  display: inline-block;

  button {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: none;
    background: var(--_close-color-background);
    border-radius: var(--_close-radius);
    padding: var(--_close-padding);
    appearance: none;
    outline: none;

    //
    // Mask Icon for Close Button
    &::after {
      content: '';
      display: block;
      width: var(--_close-size-icon);
      height: var(--_close-size-icon);

      // Use mask-image to allow background-color to define the icon color
      mask-image: var(--_close-icon);
      mask-repeat: no-repeat;
      mask-position: center;
      mask-size: contain;

      // Default color (blue/primary)
      background: var(--_close-color-icon);
    }

    //
    // Pseudo States
    &:not(:disabled) {
      cursor: pointer;

      @include hover {
        &:hover,
        &.is-hovered {
          background: var(--_close-color-background-hover);
        }
      }

      &:active,
      &.is-pressed {
        background: var(--_close-color-background-active);
      }

      &:focus-visible,
      &.is-focused {
        &:not(:active) {
          @include focus-shadow(var(--_close-color-focus));
        }
      }
    }
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

//
// Size Variants
:host(.is-sm) {
  --mod-close-padding: 0.25rem;
  --mod-close-size-icon: 10px;
}

:host(.is-md) {
  --mod-close-padding: 0.531rem;
  --mod-close-size-icon: 24px;
}

//
// Inverted Variants
:host(.is-inverted:not(.is-disabled)) {
  --mod-close-color-icon: var(--bal-close-color-icon-inverted);
  --mod-close-color-background-hover: var(--bal-close-color-background-inverted-hover);
  --mod-close-color-background-active: var(--bal-close-color-background-inverted-active);
  --mod-close-color-focus: var(--bal-interaction-focus-color-inverted);
}

//
// Disabled Variants
:host(.is-disabled) {
  --mod-close-color-icon: var(--bal-close-color-icon-disabled);
  --mod-close-color-background: var(--bal-close-color-background-disabled);
  --mod-close-color-background-hover: var(--bal-close-color-background-disabled);
  --mod-close-color-background-active: var(--bal-close-color-background-disabled);
  --mod-close-color-focus: var(--bal-interaction-focus-color-disabled);
}
