@use './segment.mixin.scss' as segment;
@use '../../input/input.mixin' as input;

/**
 * Variables
 */

@include segment.vars(':host');

:host {
  @include input.vars-label('segment');
  @include input.vars-description('segment');
}

/**
 * Layout
 */

:host {
  display: block;

  #inner {
    display: grid;
    gap: 0.25rem;
    position: relative;
  }

  @include input.label('segment', 'legend');
  @include input.description('segment');
}

/**
 * Segment container + sliding-pill indicator
 */

@include segment.style('#group');
@include segment.vertical('#group', ':host');
@include segment.states(':host');
