@import '../../styles/global.utilities';

bal-field {
  position: relative;
  display: block;
  font-family: $family-primary;

  .form {
    position: relative;
  }

  bal-field-message {
    position: absolute;
    display: block;
    bottom: 10px;
    width: 100%;
    margin-top: 0px;

    &:not(.is-danger) {
      color: $hint;
    }
  }

  bal-field-hint {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 27px;
  }

  bal-field-label {
    display: block;
  }

  bal-field-message + bal-field-message {
    display: none !important;
  }

  bal-field-label > label.label {
    font-size: $size-small;
    padding-bottom: 4px;
  }

  bal-field-control {
    position: relative;
    display: flex;
    padding-bottom: 32px;
    min-height: 80px;
    align-items: center;
    justify-content: flex-start;

    & > bal-icon,
    & .bal-select-icon,
    & bal-icon.datepicker-trigger-icon {
      transition: all 0.3s ease-out;

      svg {
        transition: all 0.3s ease-out;
      }

      height: 48px;
      max-height: 48px !important;
      pointer-events: none !important;
      position: absolute !important;
      top: 0 !important;
      width: 48px !important;
      z-index: 4 !important;

      align-items: center !important;
      justify-content: center !important;
      display: inline-flex !important;

      &:not(.is-success):not(.is-danger) {
        fill: $gray !important;
      }

      &.is-validation-icon {
        right: 0;
      }

      &.is-left {
        left: 0;
      }

      &.bal-select-icon,
      &.datepicker-trigger-icon,
      &.is-right {
        right: 0;
      }
    }

    bal-select.is-focused ~ bal-icon.is-validation-icon,
    bal-select:focus-within ~ bal-icon.is-validation-icon,
    bal-datepicker.is-focused ~ bal-icon.is-validation-icon,
    bal-datepicker:focus-within ~ bal-icon.is-validation-icon,
    bal-input.is-focused ~ bal-icon.is-validation-icon,
    bal-input:focus-within ~ bal-icon.is-validation-icon {
      right: 0 !important;
      width: 0 !important;

      svg {
        fill: transparent;
      }
    }

    input.input.is-focused ~ bal-icon.bal-select-icon,
    input.input:focus-within ~ bal-icon.bal-select-icon,
    input.input.is-focused ~ bal-icon.datepicker-trigger-icon,
    input.input:focus-within ~ bal-icon.datepicker-trigger-icon,
    bal-input.is-focused ~ bal-icon.is-right,
    bal-input:focus-within ~ bal-icon.is-right {
      right: 0;
    }

    input.input.is-focused ~ bal-icon.bal-select-icon,
    input.input:focus-within ~ bal-icon.bal-select-icon,
    input.input.is-focused ~ bal-icon.datepicker-trigger-icon,
    input.input:focus-within ~ bal-icon.datepicker-trigger-icon,
    bal-input.is-focused ~ bal-icon,
    bal-input:focus-within ~ bal-icon {
      &:not(.is-success):not(.is-danger) {
        fill: $blue !important;
      }
    }
  }

  &:not(.is-disabled):not(:focus-within) {
    bal-field-control.has-validation-icon {
      input.input:not(.is-focused) {
        padding-right: 48px + 40px !important;
      }

      bal-icon.datepicker-trigger-icon,
      bal-icon.bal-select-icon,
      bal-icon.is-right {
        right: 40px !important;
      }
    }
  }

  &.is-inverted {
    bal-field-label label.label {
      color: $white !important;
    }
  }

  &.is-disabled {
    bal-field-label label.label {
      color: $input-disabled-placeholder-color !important;
    }
    bal-field-message {
      color: $gray-5 !important;
    }
  }

  &.is-pure {
    padding: 0;

    bal-field-control {
      padding: 0;
    }
  }
}
