.has-text-danger,
.has-text-red {
  color: $red-5 !important;
}

.has-text-success,
.has-text-green {
  color: $green-5 !important;
}

.has-text-warning,
.has-text-yellow {
  color: $yellow-5 !important;
}

.has-text-purple {
  color: $purple-5 !important;
}

.has-text-info {
  color: $blue-3 !important;
}
