.is-full-width {
  width: 100% !important;
}

.is-row-reverse {
  flex-direction: row-reverse !important;
}

.clickable {
  cursor: pointer !important;
  pointer-events: visible !important;
}

strong,
b {
  font-weight: 700;
}

.is-display-block {
  display: block !important;
}

.is-display-inline-block {
  display: inline-block !important;
}

.is-display-flex {
  display: flex !important;
}

hr {
  border: none;
  border-top: 1px solid $blue-2;
  margin: 0;
  padding: 0;
}
