.has-opacity-0 {
  opacity: 0 !important;
}

.has-opacity-30 {
  opacity: 0.3 !important;
}

.has-opacity-60 {
  opacity: 0.6 !important;
}

.has-opacity-80 {
  opacity: 0.8 !important;
}

.has-opacity-1 {
  opacity: 1 !important;
}
