@use "sass:map";
@use "sass:string";
@use "sass:math";

@function bulmaRgba($color, $alpha) {
  @if type-of($color) != 'color' {
    @return $color;
  }
}

// @return rgba($color, $alpha);

@mixin hover {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}
@mixin overflow-touch {
  -webkit-overflow-scrolling: touch;
}
@mixin focus-shadow {
  @include hover {
    box-shadow: var(--bal-focus-shadow) !important;
  }
}
@mixin focus-inset-shadow {
  @include hover {
    box-shadow: var(--bal-focus-shadow-inset) !important;
  }
}
@mixin focus-inverted-shadow {
  @include hover {
    box-shadow: var(--bal-focus-shadow-inverted) !important;
  }
}
@mixin focus-inverted-inset-shadow {
  @include hover {
    box-shadow: var(--bal-focus-shadow-inverted-inset) !important;
  }
}
@mixin font-smoothing {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
$block-spacing: 0.25rem !default;
@mixin bottomSpacing($spacing: $block-spacing) {
  &:not(:last-child) {
    margin-bottom: $spacing;
  }
}
@mixin ltr-position($spacing, $right: true) {
  $normal: if($right, "right", "left");
  #{$normal}: $spacing;
}
@mixin ltr-property($property, $spacing, $right: true) {
  $normal: if($right, "right", "left");
  #{$property}-#{$normal}: $spacing;
}
@mixin unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@mixin disabled {
  cursor: default !important;
  pointer-events: none !important;
}
@mixin reset {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: currentColor;
  font-family: inherit;
  font-size: 1em;
  margin: 0;
  padding: 0;
}
@mixin overlay($offset: 0) {
  bottom: $offset;
  left: $offset;
  position: absolute;
  right: $offset;
  top: $offset;
}
@mixin hide-element {
  display: none !important;
  visibility: hidden !important;
}
@mixin hidden-input {
  position: absolute !important;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  outline: 0;
  border: none;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
}
@mixin invisible {
  position: absolute !important;
  height: 1px !important;
  width: 1px !important;
  padding: 0 !important;
  overflow: hidden !important;
  border: none !important;
  white-space: nowrap !important;
  clip: rect(1px 1px 1px 1px) !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}
