@import '../../styles/global.utilities';

$modal-z: 40;

$modal-content-width: 640px;
$modal-content-margin-mobile: 20px;
$modal-content-spacing-mobile: 160px;
$modal-content-spacing-tablet: 40px;

$modal-close-dimensions: 40px;
$modal-close-right: 30px;
$modal-close-top: 30px;

$modal-card-body-padding: 16px 32px;
$modal-card-head-radius: 0px;
$modal-card-head-padding: 32px 32px 16px 32px;

$modal-card-head-radius: 0px;
$modal-card-foot-radius: 0px;

$modal-card-head-background-color: $scheme-main;

$modal-card-title-size: $size-large;

$modal-card-foot-border-top: 0;
$modal-card-head-border-bottom: 0;

$modal-background-background-color: bulmaRgba(darken($blue-darker, 10), 0.86);
