bal-checkbox-group {
  display: inline-block;
  position: relative;
  width: 100%;

  &:not(.is-vertical) > div {
    margin-top: 6px;
    margin-left: -16px;
    margin-right: -16px;

    bal-checkbox {
      margin-left: 16px;
      margin-right: 16px;
    }
  }

  &.is-vertical > div {
    margin-top: 6px;

    bal-checkbox {
      display: block;
      margin-bottom: 8px;

      &:last-child {
        margin-bottom: 4px;
      }
    }
  }
}
