bal-checkbox-group {
  display: inline-block;
  position: relative;
  width: 100%;

  & > div {
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
  }

  &:not(.is-vertical) > div {
    margin-left: -12px;
    margin-right: -12px;

    bal-checkbox {
      margin-left: 12px;
      margin-right: 12px;
    }
  }

  &.is-vertical > div {
    bal-checkbox {
      display: flex;
    }
  }
}
