@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;

$badge-use-host: false !default;
$badge-name: badge;
$badge-css-selector: ('.badge');
$badge-host-selector: ('#badge');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include hybrid.vars($badge-css-selector, $badge-use-host) {
  @include hybrid.base-vars($badge-name);

  --badge-font-family: var(--bal-badge-text-family);
  --badge-font-weight: var(--bal-badge-text-weight);

  --badge-min-width: var(--bal-badge-size-normal);
  --badge-height: var(--bal-badge-size-normal);
  --badge-radius: calc(var(--bal-badge-size-normal) / 2);

  --badge-color-background: var(--bal-badge-color-base-background);
  --badge-color-text: var(--bal-badge-color-base-text);
  --badge-pulse-color: var(--bal-badge-color-base-background);

  --badge-font-size: 85%;
  --badge-icon-size: 0.875rem;

  --badge-gap: 4px;
  --badge-padding-inline: 4px;
  --badge-padding-block: 4px;
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@include hybrid.component($badge-host-selector, $badge-css-selector, $badge-use-host) {
  @include unselectable;
  @include font-smoothing;

  display: inline-flex;
  vertical-align: text-top;
  justify-content: center;
  align-items: center;
  hyphens: auto;
  font-size: var(--badge-font-size);
  white-space: nowrap;
  line-height: 1;
  z-index: 1;
  cursor: inherit;
  min-width: var(--badge-min-width);
  height: var(--badge-height);
  border-radius: var(--badge-radius);
  background: var(--badge-color-background);
  color: var(--badge-color-text);
  font-family: var(--badge-font-family);
  font-weight: var(--badge-font-weight);
  gap: var(--badge-gap);
  padding-inline: var(--badge-padding-inline);
  padding-block: var(--badge-padding-block);

  & > bal-icon {
    --icon-size: var(--badge-icon-size);
  }

  &.has-pulse {
    animation: pulse 2s infinite;
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

$badge-colors: ('red', 'green', 'yellow', 'purple', 'grey', 'success', 'warning', 'danger');

@mixin badge-colors($color) {
  --badge-color-text: var(--bal-badge-color-#{$color}-text);
  --badge-color-background: var(--bal-badge-color-#{$color}-background);
  --badge-pulse-color: var(--bal-badge-color-#{$color}-background);

  bal-icon {
    --icon-color: var(--bal-badge-color-#{$color}-text);
  }
}

@include hybrid.styles-only($badge-use-host) {
  .badge {
    @include hybrid.base-styles($badge-name);
  }
}

@include hybrid.component($badge-host-selector, $badge-css-selector, $badge-use-host) {
  //
  // Color Variants
  @each $color in $badge-colors {
    &.is-#{$color} {
      @include badge-colors($color);
    }
  }

  //
  // Size Variants
  &.is-small {
    --badge-radius: calc(var(--bal-badge-size-small) / 2);
    --badge-height: var(--bal-badge-size-small);
    --badge-min-width: var(--bal-badge-size-small);
    --badge-padding-inline: 0;
    --badge-padding-block: 0;
    --badge-font-size: 0;

    max-width: var(--bal-badge-size-small);
    padding: 0;
    overflow: hidden;

    > * {
      display: none;
    }
  }

  &.is-large {
    --badge-min-width: var(--bal-badge-size-large);
    --badge-height: var(--bal-badge-size-large);
    --badge-radius: calc(var(--bal-badge-size-large) / 2);
    --badge-font-size: 1rem;
    --badge-icon-size: 1.125rem;
  }
}

/**
  * Animations
  * --------------------------------
  * Define here the animations for the component.
  */

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--badge-pulse-color);
  }
  70% {
    box-shadow: 0 0 0 0.5rem transparent;
  }
  100% {
    box-shadow: 0 0 0 0 transparent;
  }
}
