@import '@baloise/design-system-css/sass/mixins'

.bal-input-date
  display: block
  width: 100%
  flex: 1
  // improves the readability of the date value
  & input:not(:placeholder-shown)
    letter-spacing: 0.4px
