@import '@baloise/design-system-css/scss/baloise-design-system.utilities'

+block(toast)
  +unselectable
  display: inline-flex
  position: relative
  flex-grow: 0 !important
  width: 100%
  +element(inner)
    min-height: 56px
    border-radius: var(--bal-radius-large)
    font-size: var(--bal-size-normal)
    font-family: var(--bal-font-family-text)
    background: var(--bal-color-white)
    +modifier(is-primary)
      background: var(--bal-color-white)
    +modifier(is-info)
      background: var(--bal-color-info-2)
    +modifier(is-danger)
      background: var(--bal-color-danger-2)
    +modifier(is-warning)
      background: var(--bal-color-warning-2)
    +modifier(is-success)
      background: var(--bal-color-success-2)
    position: relative
    display: inline-flex
    flex-grow: 1
    margin: 0.5rem 0 0 0
    box-shadow: var(--bal-shadow-normal)
    +padding('normal')
    // responsive
    +tablet
      max-width: 460px
      width: 460px
    +desktop
      max-width: 480px
      width: 480px
  +element(label)
    margin-right: 3rem
    hyphens: auto

.bal-toast__close.bal-close
  position: absolute
  top: 50%
  right: 1rem
  margin-top: -0.75rem
