@use 'sass:math';

@import 'bal-card.vars';

bal-card,
.bal-card {
  display: block;

  &.is-flat {
    box-shadow: none;
  }

  @include mobile() {
    &.is-flat-mobile {
      box-shadow: none !important;
    }
  }

  &.is-square {
    border-radius: 0;
  }

  &.has-border {
    border: 1px solid $blue-2;
  }

  &.is-inverted {
    color: $white;
  }

  &.is-primary {
    background-color: $blue-0;
  }

  &.is-info {
    background-color: $blue;
  }

  &.is-success {
    background-color: $success;
  }

  &.is-warning {
    background-color: $warning;
  }

  &.is-danger {
    background-color: $danger;
  }
}

bal-card-title,
bal-card-subtitle,
bal-card-content,
bal-card-actions {
  display: block;
  position: static;
}

bal-card {
  & > :not(bal-badge):not(bal-tag):first-child {
    padding-top: 20px;
  }

  & > :not(bal-badge):not(bal-tag):last-child {
    padding-bottom: 20px;
  }

  & > bal-badge + bal-card-title,
  & > bal-badge + bal-card-content {
    padding-top: 20px;
  }

  & > bal-tag + bal-card-title,
  & > bal-tag + bal-card-content {
    padding-top: 20px;
  }

  & > bal-card-title + bal-card-content,
  & > bal-card-subtitle + bal-card-content {
    padding-top: 20px;
  }

  & > bal-card-actions {
    padding-top: 20px;
  }

  & > bal-accordion {
    padding-bottom: 0 !important;
  }
}

@include desktop() {
  bal-card {
    & > :not(bal-badge):not(bal-tag):first-child {
      padding-top: 24px;
    }

    & > :not(bal-badge):not(bal-tag):last-child {
      padding-bottom: 24px;
    }

    & > bal-badge + bal-card-title,
    & > bal-badge + bal-card-content {
      padding-top: 24px;
    }

    & > bal-tag + bal-card-title,
    & > bal-tag + bal-card-content {
      padding-top: 24px;
    }

    & > bal-card-title + bal-card-content,
    & > bal-card-subtitle + bal-card-content {
      padding-top: 24px;
    }

    & > bal-card-actions {
      padding-top: 24px;
    }

    & > bal-accordion {
      padding-bottom: 0 !important;
    }
  }
}
