@use 'sass:math';

@import 'bal-card.vars';

bal-card,
.bal-card {
  display: block;

  &.is-flat {
    box-shadow: none;
  }

  @include mobile() {
    &.is-flat-mobile {
      box-shadow: none !important;
    }
  }

  &.is-square {
    border-radius: 0;
  }

  &.has-border {
    border: 1px solid $blue-2;
  }

  &.is-inverted {
    color: $white;
  }

  &.is-primary {
    background-color: $blue-1;
  }

  &.is-info {
    background-color: $blue;
  }

  &.is-success {
    background-color: $success;
  }

  &.is-warning {
    background-color: $warning;
  }

  &.is-danger {
    background-color: $danger;
  }
}
