@mixin cardPadding($padding-value, $image-value) {
  & > .bal-card-heading,
  & > .bal-card-head,
  & > .bal-card-title,
  & > .bal-card-subtitle,
  & > .bal-card-content,
  & > .bal-card-actions {
    padding-left: $padding-value;
    padding-right: $padding-value;
  }

  & > .bal-card-heading + .bal-card-content,
  & > .bal-card-title + .bal-card-content,
  & > .bal-card-subtitle + .bal-card-content,
  & > .bal-card-head + .bal-card-content {
    padding-top: $padding-value;
  }

  & > :first-child:not(.bal-card-steps) {
    padding-top: $padding-value;
  }

  & > :last-child:not(.bal-card-steps) {
    padding-bottom: $padding-value;
  }

  & > .bal-card-actions {
    padding-top: $padding-value;
  }

  & > bal-accordion,
  & > bal-card-button {
    padding-top: $padding-value;
    padding-bottom: 0 !important;
  }

  & > .bal-card-head {
    min-height: 60px + $padding-value;

    > div {
      padding-left: $image-value + $padding-value;
      padding-right: 60px;
      min-height: $image-value;
    }

    > img {
      width: $image-value;
      max-width: $image-value;
      height: $image-value;
      max-height: $image-value;
    }

    > bal-checkbox {
      top: $padding-value + ($image-value / 2) - 13px;
    }
  }
}

.bal-card {
  @include padding(0);
  display: block;
  max-width: 100%;
  outline: none;
  text-decoration: none;
  overflow-wrap: break-word;
  position: relative;
  white-space: normal;
  border-radius: $radius-large;
  box-shadow: $shadow;
  background: $white;

  .bal-card-button {
    position: static;
    display: block;
  }

  .bal-card-steps {
    position: static;
    display: block;
    .tabs > ul > li,
    .tabs > ul > li > a {
      border-top-width: 0 !important;
    }
  }

  .bal-button:last-child,
  .bal-button:last-child > button.button,
  bal-accordion:last-child {
    border-bottom-left-radius: $radius-large;
    border-bottom-right-radius: $radius-large;
  }

  &.is-flat {
    box-shadow: none;
  }

  @include mobile() {
    &.is-flat-mobile {
      box-shadow: none !important;
    }
  }

  &.is-square {
    border-radius: 0;
  }

  &.has-border {
    border: 1px solid $blue-light-line;
  }

  &.is-inverted {
    color: $white;
  }

  &.is-primary {
    background-color: $primary;
  }

  &.is-info {
    background-color: $info;
  }

  &.is-success {
    background-color: $success;
  }

  &.is-warning {
    background-color: $warning;
  }

  &.is-danger {
    background-color: $danger;
  }

  .bal-card-heading,
  .bal-card-title,
  .bal-card-subtitle,
  .bal-card-actions {
    align-items: center;
    display: flex;
  }

  .bal-card-content {
    display: block;
  }

  .bal-card-heading,
  .bal-card-title,
  .bal-card-subtitle,
  .bal-card-content {
    flex-wrap: wrap;
    word-break: break-word;
  }

  .bal-card-heading,
  .bal-card-title,
  .bal-card-subtitle {
    font-family: $title-family;
  }

  .bal-card-heading {
    font-size: $size-small;
    font-weight: $weight-semibold;
    color: $blue;
  }

  .bal-card-title {
    font-size: $size-medium;
    font-weight: $weight-semibold;
    color: $blue;
  }

  .bal-card-title.inverted {
    color: $white;
  }

  .bal-card-subtitle {
    font-size: $size-small;
    font-weight: $weight-normal;
    line-height: 20px;
    color: $blue-light-text;
  }

  .bal-card-subtitle.inverted {
    color: $white;
  }

  .bal-card-content {
    font-size: $size-normal;
    font-weight: $weight-normal;
    font-family: $body-family;
  }

  .bal-card-content.inverted {
    color: $white;
  }

  .bal-card-heading + .bal-card-title,
  .bal-card-title + .bal-card-subtitle {
    padding-top: 8px;
  }

  .bal-card-actions {
    display: flex;
    flex-direction: column;

    bal-button {
      margin-top: 8px;
    }
  }

  .bal-card-head {
    display: flex;
    flex-direction: row;
    position: relative;
    min-height: 60px + 20px;

    > div {
      flex: 1;
      justify-content: flex-end;
      align-items: center;
    }

    > img,
    > bal-checkbox {
      position: absolute;
    }

    > bal-checkbox {
      top: 37px;
      right: 15px;
      max-width: 60px;
    }

    > img {
      border: none;
      width: 60px;
      max-width: 60px;
      height: 60px;
      max-height: 60px;
    }

    > div {
      padding-left: 70px;
      padding-right: 60px;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;

      small {
        font-weight: $weight-normal;
      }

      h4.is-size-4 > small {
        font-size: $size-4;
      }

      h3.is-size-3 > small {
        font-size: $size-3;
      }

      h5.is-size-5 > small {
        font-size: $size-5;
      }

      p,
      h5,
      h4,
      h3 {
        margin: 0 !important;
        line-height: 1.2;
      }
    }
  }

  @include mobile() {
    .bal-card-actions {
      bal-button,
      bal-button > button {
        width: 100%;
      }
    }
  }

  @include cardPadding(16px, 64px);

  &.has-none-padding {
    @include cardPadding(0px, 64px);
  }

  @include tablet() {
    &.has-medium-padding {
      @include cardPadding(32px, 80px);
    }
  }

  @include desktop() {
    &.has-large-padding {
      @include cardPadding(64px, 80px);
    }
  }

  @include tablet() {
    .bal-card.is-teaser {
      width: 380px;
    }

    .bal-card-actions {
      flex-direction: row;

      bal-button {
        margin-right: 10px;
      }

      &.is-right {
        flex-direction: row-reverse;

        bal-button {
          margin-right: 0;
          margin-left: 10px;
        }
      }
    }
  }

  @include desktop() {
    .bal-card.is-teaser {
      min-height: 470px;
      width: 570px;
    }

    .bal-card-head {
      p,
      h5,
      h4,
      h3 {
        line-height: 1.5 !important;
      }
    }
  }
}
