// https://bulma.io/documentation/components/dropdown/#variables

$dropdown-menu-min-width: 250px;
$dropdown-content-radius: 0px;
$dropdown-content-padding-bottom: 0;
$dropdown-content-padding-top: 0;
$dropdown-content-shadow: 0 0 16px 0 rgba(transparentize(#002162, 0.85), 0.15);

$dropdown-item-color: $text;

$dropdown-item-hover-color: $hover-color;
$dropdown-item-hover-background-color: $hover-background;

$dropdown-item-active-color: $active-color;
$dropdown-item-active-background-color: $active-background;

$dropdown-divider-background-color: $border-color;
