// https://bulma.io/documentation/components/dropdown/#variables

$dropdown-menu-min-width: 264px;
$dropdown-content-radius: 0px;
$dropdown-content-padding-bottom: 0;
$dropdown-content-padding-top: 0;
$dropdown-content-shadow: 0 0 16px 0 rgba(transparentize(#002162, 0.85), 0.15);

$dropdown-item-color: $blue;
$dropdown-item-hover-color: $blue;
$dropdown-item-hover-background-color: $grey-lightest;
$dropdown-item-active-color: $blue;
$dropdown-item-active-background-color: $blue-light;
$dropdown-divider-background-color: $blue-line;
