@import './minireset'
@import './normalize'
@import './animation'

html
  background-color: var(--bal-color-white)
  font-size: 16px
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  min-width: 300px
  overflow-x: hidden
  overflow-y: scroll
  text-rendering: optimizeLegibility
  text-size-adjust: 100%
  -webkit-tap-highlight-color: transparent
  -webkit-overflow-scrolling: auto

*:focus
  -webkit-tap-highlight-color: transparent
  outline: none
  -ms-touch-action: manipulation
  touch-action: manipulation

article,
aside,
figure,
footer,
header,
hgroup,
section
  display: block

body,
button,
input,
optgroup,
select,
textarea
  font-family: var(--bal-font-family-text)

body
  color: var(--bal-color-primary)
  font-size: var(--bal-size-normal)
  font-weight: var(--bal-weight-regular)
  line-height: var(--bal-line-height-normal)
  -webkit-overflow-scrolling: auto

// Inline

a
  color: var(--bal-color-primary)
  cursor: pointer
  text-decoration: none
  strong
    color: currentColor
  &:hover
    color: var(--bal-color-light-blue-5)
  &:active
    color: var(--bal-color-primary-6)

hr
  background-color: var(--bal-color-blue-2)
  border: none
  display: block
  height: var(--bal-border-width-normal)
  margin: var(--bal-space-xx-large)
  +tablet
    margin: var(--bal-space-tablet-xx-large)
  +desktop
    margin: var(--bal-space-desktop-xx-large)

img
  height: auto
  max-width: 100%

input[type="checkbox"],
input[type="radio"]
  vertical-align: baseline

small
  font-size: var(--bal-size-small)

span
  font-style: inherit
  font-weight: inherit

strong
  color: var(--bal-color-primary)
  font-weight: var(--bal-weight-bold)

// Block

fieldset
  border: none
