:root
  --bal-family-primary: #{$font-family-text}
  --bal-family-secondary: #{$font-family-text}
  --bal-link: #{$primary}
  --bal-link-hover: #{$primary}
  --bal-text: #{$primary}
  --bal-text-invert: #{$primary-inverted}
  --bal-text-light: #{$blue-4}
  --bal-text-strong: #{$blue}
  --bal-text-shadow: #{$text-shadow}
  --bal-button-shadow: #{$button-shadow}
