$box-color: $text;
$box-background-color: $scheme-main;
$box-radius: $radius-large;
$box-shadow: 0 0.5em 1em -0.125em rgba($bal_tile_shadow_blue, 0.1), 0 0px 0 1px rgba($bal_tile_shadow_blue, 0.02);
$box-padding: 1.25rem;

$box-link-hover-shadow: 0 0.5em 1em -0.125em rgba($scheme-invert, 0.1), 0 0 0 1px $link;
$box-link-active-shadow: inset 0 1px 2px rgba($scheme-invert, 0.2), 0 0 0 1px $link;
