.buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  bal-button {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

span.trigger-label {
  display: flex;
  justify-content: center;
  align-items: center;

  span.label {
    margin-bottom: 2px;
  }
}

