$input-color: $text;
$input-radius: 0;
$input-border-color: $blue-light-line;
$input-shadow: none;
$input-placeholder-color: $grey-darker;
$input-background-color: transparent;
$input-height: 38px;
$input-hover-border-color: $blue-light-line;
$input-focus-box-shadow-size: 0;
$input-focus-box-shadow-color: none;
$input-focus-border-color: $blue;
$input-disabled-color: $blue-light-text;
$input-disabled-background-color: $blue-light;
$input-disabled-border-color: $blue-light-line;
$input-disabled-placeholder-color: $blue-light-text;

input.input,
textarea.textarea {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-radius: 0;
  box-shadow: none;
  padding: 1px 0 2px 0;
  font-size: $size-4;
  outline: none;
  color: $text;

  &:focus,
  &.is-focused {
    border-width: 2px;
    border-color: $blue;
    padding: 1px 0 1px 0;
    box-shadow: none;
  }

  &:disabled {
    padding-left: 5px;
    padding-right: 5px;
  }

  &.is-inverted {
  color: $white;
  border-bottom-color: $blue-line;

  &:focus,
  &.is-focused {
    border-width: 2px;
  }

  &:disabled {
    background-color: $blue-dark;
  }

  &::-webkit-input-placeholder {
    color: $blue-line;
  }

  }

}

.control.has-icons-right .input,
.control.has-icons-right .select select {
  padding-right: 31px !important;
}

.control.has-icons-right .icon {
  top: 5px !important;
  height: 31px !important;
  width: 31px !important;
}

label.label bal-hint {
  margin-left: 8px;
}
