@import "utilities/all";

.bal-app {
  position: relative;

  @import "base/all";

  @import "elements/all";
  @import "components/all";

  @import "node_modules/bulma/sass/grid/_all";
  @import "node_modules/bulma/sass/layout/_all";

  @import "node_modules/bulma/sass/elements/box";
  @import "node_modules/bulma/sass/elements/content";
  @import "node_modules/bulma/sass/elements/image";
  @import "node_modules/bulma/sass/elements/table";
  @import "node_modules/bulma/sass/elements/title";
  @import "node_modules/bulma/sass/elements/notification";
  @import "node_modules/bulma/sass/elements/icon";
  @import "node_modules/bulma/sass/components/navbar";
  @import "node_modules/bulma/sass/form/all";
}

@import "./elements/notices";
