@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;
@use '../../vars' as vars;
@use '../../host' as host;

$name: toast;
$use-host: false !default;
$css-selector: ('.toast');
$host-selector: ('#toast');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include vars.hybrid($name, $css-selector, $use-host) {
  @include vars.local(toast-shadow, var(--bal-shadow-box-base));
  @include vars.local(toast-radius, var(--bal-toast-radius));
  @include vars.local(toast-color-background, var(--bal-toast-base-background));
  @include vars.local(toast-color-text, var(--bal-toast-base-text));
  @include vars.local(toast-icon, var(--bal-toast-base-icon));

  @include vars.local(toast-heading-family, var(--bal-text-family-heading));
  @include vars.local(toast-heading-weight, var(--bal-text-weight-bold));
  @include vars.local(toast-heading-size, var(--bal-text-size-base-device));
  @include vars.local(toast-heading-line-height, var(--bal-text-line-height-heading));

  @include vars.local(toast-content-family, var(--bal-text-family-body));
  @include vars.local(toast-content-weight, inherit);
  @include vars.local(toast-content-size, var(--bal-text-size-sm-device));
  @include vars.local(toast-content-line-height, var(--bal-text-line-height-body));

  @include vars.local(toast-gap, 0.125rem);
  @include vars.local(toast-pl, 3rem);
  @include vars.local(toast-pt, 1rem);
  @include vars.local(toast-pr, 1rem);
  @include vars.local(toast-pb, 1rem);

  // Animation
  @include vars.local(toast-animation-start-opacity, 1);
  @include vars.local(toast-animation-start-transform, none);

  @include vars.local(toast-animation-transition, none);

  @include vars.local(toast-animation-end-opacity, 1);
  @include vars.local(toast-animation-end-transform, none);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@include hybrid.component($host-selector, $css-selector, $use-host) {
  @include font-smoothing();
  @include unselectable();

  flex: 1;
  position: relative;
  hyphens: auto;

  color: var(--_toast-color-text);
  background: var(--_toast-color-background);
  border-radius: var(--_toast-radius);
  box-shadow: var(--_toast-shadow);

  padding-top: var(--_toast-pt);
  padding-right: var(--_toast-pr);
  padding-bottom: var(--_toast-pb);
  padding-left: var(--_toast-pl);

  column-gap: calc(var(--_toast-gap) * 4);
  row-gap: var(--_toast-gap);
  align-items: center;

  //
  // Icon
  // --------------------------------
  &::before {
    display: block;
    background-color: currentColor;
    color: currentColor;
    forced-color-adjust: preserve-parent-color;
    position: absolute;
    height: 1.5rem;
    width: 1.5rem;
    top: auto;
    left: 0.825rem;
    content: '';
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;

    mask-image: var(--_toast-icon);
    -webkit-mask-image: var(--_toast-icon);
  }

  //
  // Grid Layout
  // --------------------------------

  // Base: message only
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'message';

  // heading + message only (no action, no close)
  &:where(:has(> h2, > strong, > b)):where(:not(:has(> .button, > bal-button))):where(
      :not(:has(> .close, > bal-close))
    ) {
    grid-template-columns: 1fr;
    grid-template-areas:
      'heading'
      'message';
  }

  // message + action (no close)
  &:where(:has(> .button, > bal-button)):where(:not(:has(> .close, > bal-close))) {
    grid-template-columns: 1fr auto;
    grid-template-areas: 'message action';

    &:has(> h2, > strong, > b) {
      grid-template-areas:
        'heading action'
        'message action';
    }
  }

  // message + close (no action)
  &:where(:has(> .close, > bal-close)):where(:not(:has(> .button, > bal-button))) {
    grid-template-columns: 1fr auto;
    grid-template-areas: 'message close';

    &:has(> h2, > strong, > b) {
      grid-template-areas:
        'heading close'
        'message close';
    }
  }

  // message + action + close
  &:where(:has(> .button, > bal-button)):where(:has(> .close, > bal-close)) {
    grid-template-columns: 1fr auto auto;
    grid-template-areas: 'message action close';

    &:has(> h2, > strong, > b) {
      grid-template-areas:
        'heading action close'
        'message action close';
    }
  }

  //
  // Content
  // --------------------------------
  &,
  & > span,
  & > p {
    font-family: var(--_toast-content-family);
    font-size: var(--_toast-content-size);
    font-weight: var(--_toast-content-weight);
    line-height: var(--_toast-content-line-height);
  }

  & > span,
  & > p {
    margin: 0 !important;
    grid-area: message;
  }

  //
  // Heading
  // --------------------------------

  & > strong,
  & > b,
  & > h2 {
    font-family: var(--_toast-heading-family);
    font-weight: var(--_toast-heading-weight);
    line-height: var(--_toast-heading-line-height);
    font-size: var(--_toast-heading-size);
    margin: 0 !important;

    grid-area: heading;
  }

  //
  // Action Button
  // --------------------------------
  bal-button,
  .button {
    --button-mt: 0;
    grid-area: action;
    align-self: center;
  }

  //
  // Close Button
  // --------------------------------
  .close,
  bal-close {
    grid-area: close;
    align-self: center;
  }
}

//
// Colors
// --------------------------------

$colors: ('info', 'success', 'warning', 'danger');

@mixin colors($color) {
  --mod-toast-color-text: var(--bal-toast-#{$color}-text);
  --mod-toast-color-border: var(--bal-toast-#{$color}-border);
  --mod-toast-color-background: var(--bal-toast-#{$color}-background);
  --mod-toast-icon: var(--bal-toast-#{$color}-icon);
}

@include hybrid.styles($css-selector, $use-host) {
  @each $color in $colors {
    &.is-#{$color} {
      @include colors($color);
    }
  }
}

@include hybrid.host($use-host) {
  @each $color in $colors {
    :host([color='#{$color}']) {
      @include colors($color);
    }
  }
}
