@import '../bal-heading/bal-heading.vars.scss';
@import 'bal-button.vars.scss';
@import 'node_modules/bulma/sass/elements/button.sass';

bal-button {
  @include margin(0);
  @include padding(0);

  display: inline-block;
  width: auto;
  font-family: $family-primary;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  pointer-events: auto;
  font-kerning: none;
  font-size: 0px;
  line-height: 0px;
}

bal-button.is-fullwidth {
  display: flex;
  width: 100%;
}

// Button
// ------------------------------------------------
//
// The classic button, in different colors, sizes, and states
// https://bulma.io/documentation/elements/button/

.button {
  @include font-smoothing();
  @include margin(0);

  position: relative;
  width: 100%;
  contain: layout style;
  outline: none;
  cursor: pointer;
  z-index: 0;
  box-sizing: border-box;
  appearance: none;
  text-decoration: none !important;
  padding: 12px 24px;
  min-height: 48px;
  justify-content: center !important;
  border: none;

  &,
  & span {
    font-weight: 700;
    font-family: $title-family;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &.has-round-top-corners,
  &.has-round-top-corners button {
    border-top-left-radius: $radius-large !important;
    border-top-right-radius: $radius-large !important;
  }

  &.has-round-bottom-corners,
  &.has-round-bottom-corners button {
    border-bottom-left-radius: $radius-large !important;
    border-bottom-right-radius: $radius-large !important;
  }

  &.has-no-round-top-corners,
  &.has-no-round-top-corners button {
    border-top-left-radius: $radius-none !important;
    border-top-right-radius: $radius-none !important;
  }

  &.has-no-round-bottom-corners,
  &.has-no-round-bottom-corners button {
    border-bottom-left-radius: $radius-none !important;
    border-bottom-right-radius: $radius-none !important;
  }

  &:focus span,
  &:active span,
  &:focus bal-text,
  &:active bal-text,
  &:focus bal-icon,
  &:active bal-icon,
  &:focus bal-spinner,
  &:active bal-spinner {
    position: relative;
    top: 0;
    left: 0;
  }

  .icon-left,
  .icon-right {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    margin-top: -5px;
  }

  .icon-left {
    margin-left: -4px;
    margin-right: 8px;
  }

  .icon-right {
    margin-right: -4px;
    margin-left: 8px;
  }

  &.is-fullwidth {
    width: 100%;
  }

  &.is-square {
    width: 48px;
    padding: 0;

    .icon-left {
      @include margin(0);
    }
  }

  &.is-small {
    min-height: 32px;
    max-height: 32px;
    min-width: 32px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 0px;
    padding-bottom: 0px;

    font-size: $size-small;
    line-height: 20px;

    &.is-square {
      width: 32px;
      padding: 0;
    }

    bal-icon {
      margin-top: -1px;
    }
  }

  &.is-loading::after {
    display: none;
  }

  &::-moz-focus-inner {
    border: 0;
  }

  &,
  &.is-primary,
  &.is-outlined,
  &.is-primary.is-outlined {
    background: $blue;
    border-color: $blue;

    bal-icon {
      svg,
      svg g,
      svg path,
      svg circle {
        fill: $white !important;
      }
    }

    &,
    & span {
      color: $white;
    }

    &:focus {
      background: $blue;
      border-color: $blue;
      color: $white;
    }

    &.is-focused,
    &:focus-visible {
      background: $blue;
      border-color: $blue;
      color: $white;
    }

    &.is-hovered,
    &:hover {
      background: $light-blue-dark;
      border-color: $light-blue-dark;
      color: $white;
    }

    &.is-active,
    &:active {
      background: $blue-dark;
      border-color: $blue-dark;
      color: $white;
    }
  }

  &.is-info,
  &.is-info.is-outlined,
  &.is-text,
  &.is-text.is-outlined {
    background: transparent;

    &:not(.is-text) {
      border: 2px solid $blue;
    }

    bal-icon {
      svg,
      svg g,
      svg path,
      svg circle {
        fill: $blue !important;
      }
    }

    &,
    & span {
      color: $blue;
    }

    &:focus {
      background: transparent;
      color: $blue;

      &:not(.is-text) {
        border-color: $blue;
      }
    }

    &.is-focused,
    &:focus-visible {
      background: transparent;

      &:not(.is-text) {
        border-color: $blue;
      }

      &,
      & span {
        color: $blue;
      }
    }

    &.is-hovered,
    &:hover {
      background: $light-blue-light;

      &:not(.is-text) {
        border-color: $blue;
      }

      &,
      & span {
        color: $light-blue-dark;
      }

      bal-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $light-blue-dark !important;
        }
      }
    }

    &.is-active,
    &:active {
      background: $light-blue-light;

      &:not(.is-text) {
        border-color: $blue-dark;
      }

      &,
      & span {
        color: $blue-dark;
      }

      bal-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $blue-dark !important;
        }
      }
    }
  }

  &.is-link,
  &.is-link.is-outlined {
    background: transparent;
    border-color: transparent;

    bal-icon {
      svg,
      svg g,
      svg path,
      svg circle {
        fill: $blue !important;
      }
    }

    &,
    & span {
      color: $blue;
    }

    &.is-focused,
    &:focus-visible {
      background: transparent;
      border-color: transparent;
      color: bulmaLighten($blue, 2%);
    }

    &.is-hovered,
    &:hover {
      background: transparent;
      border-color: transparent;

      bal-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $light-blue-dark !important;
        }
      }

      &,
      & span {
        color: $light-blue-dark;
      }
    }

    &.is-active,
    &:active {
      background: transparent;
      border-color: transparent;

      bal-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $blue-dark !important;
        }
      }

      &,
      & span {
        color: $blue-dark;
      }
    }
  }

  &.is-link,
  &.is-link.is-outlined {
    span.button-label:after {
      display: block;
      content: '';
      height: 2px;
      width: 100%;
      background: $blue;
      margin-top: -2px;
    }

    &.is-hovered,
    &:hover {
      span.button-label:after {
        background: $light-blue-dark;
      }
    }

    &.is-active,
    &:active {
      span.button-label:after {
        background: $blue-dark;
      }
    }
  }

  &.is-success:not(.is-inverted),
  &.is-success.is-outlined :not(.is-inverted) {
    background: $success;
    border-color: $success;
    color: $success-invert;

    &.is-focused,
    &:focus-visible {
      background: $success;
      border-color: $success;
      color: $success-invert;
    }

    &.is-hovered,
    &:hover {
      background: $success-6;
      border-color: $success-6;
      color: $success-invert;
    }

    &.is-active,
    &:active {
      background: $success-dark;
      border-color: $success-dark;
      color: $success-invert;
    }
  }

  &.is-warning:not(.is-inverted),
  &.is-warning.is-outlined :not(.is-inverted) {
    background: $warning;
    border-color: $warning;
    color: $warning-invert;

    &.is-focused,
    &:focus-visible {
      background: $warning;
      border-color: $warning;
      color: $warning-invert;
    }

    &.is-hovered,
    &:hover {
      background: $warning-6;
      border-color: $warning-6;
      color: $warning-invert;
    }

    &.is-active,
    &:active {
      background: $warning-dark;
      border-color: $warning-dark;
      color: $warning-invert;
    }
  }

  &.is-danger:not(.is-inverted),
  &.is-danger.is-outlined :not(.is-inverted) {
    background: $danger;
    border-color: $danger;
    color: $danger-invert;

    &.is-focused,
    &:focus-visible {
      background: $danger;
      border-color: $danger;
      color: $danger-invert;
    }

    &.is-hovered,
    &:hover {
      background: $danger-6;
      border-color: $danger-6;
      color: $danger-invert;
    }

    &.is-active,
    &:active {
      background: $danger-dark;
      border-color: $danger-dark;
      color: $danger-invert;
    }
  }

  &.is-inverted {
    &,
    &.is-primary,
    &.is-success,
    &.is-warning,
    &.is-danger {
      background: $white;
      border: none;

      bal-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $blue !important;
        }
      }

      &,
      & span {
        color: $blue;
      }

      &:focus {
        background: $white;
        color: $blue;
      }

      &.is-focused,
      &:focus-visible {
        background: $white;
        border-color: $white;
        color: $blue;
      }

      &.is-hovered,
      &:hover {
        background: $light-blue;
        border-color: $light-blue;
      }

      &.is-active,
      &:active {
        background: $light-blue-dark;
        border-color: $light-blue-dark;

        bal-icon {
          svg,
          svg g,
          svg path,
          svg circle {
            fill: $white !important;
          }
        }

        &,
        & span {
          color: $white;
        }
      }
    }

    &.is-info,
    &.is-text {
      background: transparent;

      &:not(.is-text) {
        border: 2px solid $white;
      }

      bal-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $white !important;
        }
      }

      &,
      & span {
        color: $white;
      }

      &:focus {
        background: transparent;
        color: $white;
      }

      &.is-focused,
      &:focus-visible {
        background: transparent;
        color: $white;

        &:not(.is-text) {
          border-color: $white;
        }
      }

      &.is-hovered,
      &:hover {
        background: rgba(232, 241, 251, 0.2);
        color: $white;

        &:not(.is-text) {
          border-color: $light-blue-2;
        }
      }

      &.is-active,
      &:active {
        background: rgba(232, 241, 251, 0.2);
        color: $white;

        &:not(.is-text) {
          border-color: $light-blue-dark;
        }
      }
    }

    &.is-link {
      background: transparent;
      border-color: transparent;

      bal-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $white !important;
        }
      }

      &,
      & span {
        color: $white;

        &:after {
          background: $white;
        }
      }

      &.is-focused,
      &:focus-visible {
        background: transparent;
        border-color: transparent;
        color: $white;
      }

      &.is-hovered,
      &:hover {
        background: transparent;
        border-color: transparent;

        &,
        & span {
          color: $light-blue-light;
        }
      }

      &.is-active,
      &:active {
        background: transparent;
        border-color: transparent;

        &,
        & span {
          color: $light-blue;
        }
      }
    }
  }

  &[disabled],
  &.is-disabled {
    &,
    &.is-primary,
    &.is-info,
    &.is-text,
    &.is-link,
    &.is-warning,
    &.is-danger,
    &.is-success,
    &.is-inverted,
    &.is-outlined,
    &.is-hovered,
    &:hover,
    &.is-focused,
    &:focus,
    &:focus-visible,
    &.is-active,
    &:active {
      background: $grey-2 !important;
      border-color: $grey-2 !important;
      opacity: 1 !important;
      cursor: not-allowed;

      bal-icon {
        svg,
        svg g,
        svg path,
        svg circle {
          fill: $grey-7 !important;
        }
      }

      &,
      & > span {
        color: $grey-7 !important;
      }
    }
  }

  &.is-link[disabled],
  &.is-link.is-disabled {
    &,
    &.is-hovered,
    &:hover,
    &.is-focused,
    &:focus,
    &:focus-visible,
    &.is-active,
    &:active,
    &.is-inverted {
      background: transparent !important;
      border-color: transparent !important;
      color: $grey-7 !important;
      opacity: 1 !important;

      span:after {
        background: $grey-7 !important;
      }
    }
  }

  &.is-focused,
  &:focus-visible {
    &,
    &.is-info,
    &.is-text,
    &.is-success,
    &.is-warning,
    &.is-danger,
    &.is-primary {
      box-shadow: $white 0 0 0 2px, $purple-dark 0 0 0 5px !important;
    }

    &.is-inverted {
      box-shadow: $blue 0 0 0 2px, $yellow-3 0 0 0 5px !important;
    }

    &.is-success:not(.is-inverted) {
      box-shadow: $white 0 0 0 2px, $success-dark 0 0 0 5px !important;
    }

    &.is-warning:not(.is-inverted) {
      box-shadow: $white 0 0 0 2px, $warning-dark 0 0 0 5px !important;
    }

    &.is-danger:not(.is-inverted) {
      box-shadow: $white 0 0 0 2px, $danger-dark 0 0 0 5px !important;
    }
  }
}

.field.is-grouped bal-button.control:not(:last-child) {
  margin-right: 8px;
}

@include mobile() {
  .field.is-grouped {
    flex-wrap: wrap;
    flex-direction: column-reverse;

    bal-button.control {
      flex-grow: 1;
      flex-shrink: 1;
      min-width: 100%;
      margin-right: 0 !important;

      &:not(:last-child) {
        margin-bottom: 8px;
      }
    }
  }
}
