@import '../../styles/global.utilities';

:host {
  display: inline-block;
  width: auto;
  font-family: $family-primary;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  user-select: none;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  pointer-events: auto;
  font-kerning: none;
}

:host(.is-fullwidth) {
  display: flex;
  width: 100%;
}
