// https://bulma.io/documentation/elements/button/#variables

$button-family: $family-sans-serif !default;
$button-padding-horizontal: 32px !default;
$button-focus-box-shadow-size: 0 0 0 0 !default;
$button-focus-box-shadow-color: transparent !default;
