@use '@baloise/ds-css/dist/scss/mixins' as *;
@use '../card-title/card-title.mixin.scss' as title;
@use '../card-subtitle/card-subtitle.mixin.scss' as subtitle;

@mixin style() {
  // --heading-line-height: 32px;

  // Only use small buttons in the card header
  // to have the same height as the title
  --button-font-family: var(--ds-button-size-sm-font-family);
  --button-font-weight: var(--ds-button-size-sm-font-weight);
  --button-font-size: var(--ds-button-size-sm-font-size);
  --button-line-height: var(--ds-button-size-sm-line-height);
  --button-radius: var(--ds-button-size-sm-radius);
  --button-gap: var(--ds-button-size-sm-gap);
  --button-min-height: var(--ds-button-size-sm-min-height);
  --button-min-width: var(--ds-button-size-sm-min-width);
  --button-px: var(--ds-button-size-sm-padding-x);

  --tags-display: flex;
  --tags-mt: 0.25rem;

  @include tablet() {
    --buttons-wrap: nowrap;
    --tags-display: inline-flex;
    --tags-mt: 0;
  }

  column-gap: calc(var(--_card-gap) / 2);
  display: grid;
  align-items: start;
  grid-auto-rows: auto;

  margin-left: var(--_card-header-margin-left);
  grid-template-columns: var(--_card-header-grid-template-columns);
  grid-template-areas: var(--_card-header-grid-template-areas);

  ds-icon,
  ds-brand-icon,
  ::slotted(ds-brand-icon),
  ::slotted(ds-icon) {
    grid-area: icon;
  }

  & > .ds-tag,
  & > .ds-tags,
  & > ds-tag,
  & > ds-tag-group,
  ::slotted(ds-tag),
  ::slotted(ds-tag-group) {
    grid-area: tag;
    margin-bottom: 1rem;
  }

  .ds-title,
  .ds-heading,
  ds-card-title {
    @include title.style();
  }

  & > p,
  .ds-subtitle,
  ds-card-subtitle {
    @include subtitle.style();
  }

  .ds-title,
  .ds-subtitle,
  .ds-heading {
    margin: 0;
  }
}
