@import "./bal-dropdown.vars";
@import "../../scss/elements/icon";
@import "node_modules/bulma/sass/components/dropdown.sass";
@import "node_modules/bulma/sass/elements/button.sass";

:host {
  display: block;

  .dropdown {

    .dropdown-trigger {
      button {
        min-width: $dropdown-menu-min-width;
        justify-content: space-between;
        border: none;
        border-radius: 0;
        color: $text;
        padding: 0;

        &:focus {
          outline: $primary dashed 1px;
          box-shadow: none;
        }

        &.showBottomLine {
          border-bottom: solid 1px $blue-light-line;
        }
      }


      button::-moz-focus-inner {
        border: 0;
      }

    }

    .dropdown-item {
      padding: 10px 17px 13px 39px;
      transition: padding-left 0.3s ease;
      border: 0;
      background: transparent;

      &:hover, &:focus {
        background: $dropdown-item-hover-background-color;
      }

      &.is-active {
        font-weight: $weight-bold;
        background: $dropdown-item-hover-background-color;
      }

      &:focus:not(.is-active),
      &:hover:not(.is-active) {
        padding-left: 49px;
      }
    }

    &.is-fullwidth, &.is-fullwidth .dropdown-trigger {
      width: 100%;
    }
  }
}
