.bal-icon-alert:before {
  content: '\e800';
} /* '' */
.bal-icon-alert-circle:before {
  content: '\e801';
} /* '' */
.bal-icon-account:before {
  content: '\e802';
} /* '' */
.bal-icon-answer:before {
  content: '\e803';
} /* '' */
.bal-icon-call:before {
  content: '\e804';
} /* '' */
.bal-icon-caret-down:before {
  content: '\e805';
} /* '' */
.bal-icon-caret-left:before {
  content: '\e806';
} /* '' */
.bal-icon-caret-right:before {
  content: '\e807';
} /* '' */
.bal-icon-caret-up:before {
  content: '\e808';
} /* '' */
.bal-icon-check-circle:before {
  content: '\e809';
} /* '' */
.bal-icon-check:before {
  content: '\e80a';
} /* '' */
.bal-icon-close-big:before {
  content: '\e80b';
} /* '' */
.bal-icon-close-small:before {
  content: '\e80c';
} /* '' */
.bal-icon-close-thin:before {
  content: '\e80d';
} /* '' */
.bal-icon-contact:before {
  content: '\e80e';
} /* '' */
.bal-icon-copy:before {
  content: '\e80f';
} /* '' */
.bal-icon-date:before {
  content: '\e810';
} /* '' */
.bal-icon-document:before {
  content: '\e811';
} /* '' */
.bal-icon-download:before {
  content: '\e812';
} /* '' */
.bal-icon-edit:before {
  content: '\e813';
} /* '' */
.bal-icon-general-consultant:before {
  content: '\e814';
} /* '' */
.bal-icon-general-edit:before {
  content: '\e815';
} /* '' */
.bal-icon-info-circle:before {
  content: '\e816';
} /* '' */
.bal-icon-info:before {
  content: '\e817';
} /* '' */
.bal-icon-locate:before {
  content: '\e818';
} /* '' */
.bal-icon-location:before {
  content: '\e819';
} /* '' */
.bal-icon-menu-bars:before {
  content: '\e81a';
} /* '' */
.bal-icon-menu-dots:before {
  content: '\e81b';
} /* '' */
.bal-icon-message:before {
  content: '\e81c';
} /* '' */
.bal-icon-minus:before {
  content: '\e81d';
} /* '' */
.bal-icon-nav-back:before {
  content: '\e81e';
} /* '' */
.bal-icon-nav-dropdown:before {
  content: '\e81f';
} /* '' */
.bal-icon-nav-go-down:before {
  content: '\e820';
} /* '' */
.bal-icon-nav-go-large:before {
  content: '\e821';
} /* '' */
.bal-icon-nav-go-left-no-padding:before {
  content: '\e822';
} /* '' */
.bal-icon-nav-go-left:before {
  content: '\e823';
} /* '' */
.bal-icon-nav-go-right-no-padding:before {
  content: '\e824';
} /* '' */
.bal-icon-nav-go-right:before {
  content: '\e825';
} /* '' */
.bal-icon-nav-go-small:before {
  content: '\e826';
} /* '' */
.bal-icon-nav-go-up:before {
  content: '\e827';
} /* '' */
.bal-icon-nav-success:before {
  content: '\e828';
} /* '' */
.bal-icon-plus:before {
  content: '\e829';
} /* '' */
.bal-icon-read-only:before {
  content: '\e82a';
} /* '' */
.bal-icon-refresh:before {
  content: '\e82b';
} /* '' */
.bal-icon-search:before {
  content: '\e82c';
} /* '' */
.bal-icon-social-facebook-line:before {
  content: '\e82d';
} /* '' */
.bal-icon-social-linkedin-line:before {
  content: '\e82e';
} /* '' */
.bal-icon-social-xing-line:before {
  content: '\e82f';
} /* '' */
.bal-icon-trash:before {
  content: '\e830';
} /* '' */
.bal-icon-upload:before {
  content: '\e831';
} /* '' */
.bal-icon-clock:before {
  content: '\e832';
} /* '' */
