@import '../../styles/ui-library.utilities';
@import 'node_modules/bulma/sass/elements/icon.sass';

:host {
  display: inline-block;
  position: static;
  height: 32px;
  width: 32px;
  fill: $blue;

  .bal-icon-inner {
    display: block;
    position: static;
    height: 32px;
    width: 32px;
  }

  &.is-size-xsmall,
  &.is-size-xsmall .bal-icon-inner {
    height: 16px;
    width: 16px;
  }

  &.is-size-small,
  &.is-size-small .bal-icon-inner {
    height: 24px;
    width: 24px;
  }

  &.is-size-medium,
  &.is-size-medium .bal-icon-inner {
    height: 48px;
    width: 48px;
  }

  &.is-size-large,
  &.is-size-large .bal-icon-inner {
    height: 64px;
    width: 64px;
  }

  &.turn .bal-icon-inner {
    rotate: 180deg;
    transform: rotate(180deg);
  }

  &.is-primary {
    fill: $cyan;
  }

  &.is-success {
    fill: $success;
  }

  &.is-info {
    fill: $info;
  }

  &.is-inverted.is-info {
    fill: $white;
  }

  &.is-warning {
    fill: $warning;
  }

  &.is-danger {
    fill: $danger;
  }
}
