@use '@baloise/ds-styles/sass/mixins' as *;
@use './bal-navbar.vars' as *;

@include block(navbar) {
  @include unselectable;
  position: relative;
  display: block;
  @include modifiers((context-app, context-simple)) {
    &:not(.bal-navbar--is-light) {
      background: var(--bal-navbar-background);
    }
  }
  @include modifiers((context-app, context-simple)) {
    height: var(--bal-navbar-height);
    max-height: var(--bal-navbar-height);
    @include desktop {
      height: var(--bal-navbar-height-desktop);
      max-height: var(--bal-navbar-height-desktop);
    }
  }
  @include element(nav) {
    display: flex;
    height: 100%;
    gap: 1rem;
  }
  @include element(brand) {
    flex: 1;
    gap: 2rem;
    @include desktop {
      flex: initial;
    }
    display: flex;
    justify-content: flex-start;
    align-items: center;
    & > a {
      display: flex;
      align-items: center;
      height: 100%;
    }
    @include element(logo) {
      height: calc(100% - 1rem);
      object-fit: contain;
      @include desktop {
        height: calc(100% - 2rem);
      }
      @include modifier(small) {
        height: calc(100% - 2.5rem);
        @include desktop {
          height: calc(100% - 3.5rem);
        }
      }
    }
    @include element(title) {
      display: none;
      hyphens: auto;
      & > bal-logo {
        display: none;
      }
      @include tablet {
        display: inline-block;
        font-size: var(--bal-navbar-brand-title-font-size);
        font-family: var(--bal-font-family-title);
        font-weight: var(--bal-font-weight-bold);
        color: var(--bal-navbar-brand-title-text-color);
      }
      @include desktop {
        font-size: var(--bal-navbar-brand-title-font-size);
      }
    }
    @include modifiers((context-app, context-simple)) {
      color: var(--bal-navbar-brand-text-color);
      & > a {
        color: var(--bal-navbar-brand-logo-link-color);
      }
    }
  }
  @include element(menu) {
    position: static;
    display: none;
    z-index: var(--bal-z-index-navigation);

    @include modifier(active) {
      @include touch {
        position: fixed !important;
        display: block;
        background: var(--bal-navbar-active-menu-background);
      }
    }
    @include modifiers(context-app) {
      @include touch {
        padding-top: 1rem;
        padding-bottom: 1rem;
        overflow-y: auto;
        flex-direction: column-reverse;
        top: 4rem;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
    @include desktop {
      display: flex;
      flex: 1;
      gap: 1rem;
      padding-right: 0 !important;
    }
    @include modifier(context-simple) {
      display: flex;
      justify-content: flex-end;
      flex: 1;
      gap: 1rem;
    }
    @include element(start) {
      display: block;
      margin-bottom: 1rem;

      @include desktop {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0;
      }
      @include modifier(context-simple) {
        display: none;
      }
      @include modifiers(context-meta) {
        justify-content: flex-start;
      }
    }
    @include element(end) {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 0.5rem;
      .button-label {
        word-break: keep-all !important;
      }
      .bal-button-group {
        width: 100%;
        @include touch {
          margin-top: 2rem;
        }
      }
      @include modifier(context-simple) {
        > .field {
          flex-shrink: 0;
          justify-content: flex-end;
          align-items: center;
        }
      }
      > .field {
        flex: 1;
        @include desktop {
          flex-shrink: 0;
          justify-content: flex-end;
          align-items: center;
        } // Styling for light (white) background
      }
    }
  }
  @include modifiers(is-light) {
    background-color: var(--bal-navbar-light-background);
    box-shadow: var(--bal-shadow-normal);
    .bal-navbar__brand__title {
      color: var(--bal-navbar-brand-title-light-text-color);
    }
    bal-logo {
      svg {
        @include fillSvg(var(--bal-color-primary));
      }
    }
  }
}
.bal-navbar__brand__burger.bal-button {
  margin-left: auto;
  @include desktop {
    display: none;
  }
}
.bal-navbar__brand__burger--hidden.bal-button {
  display: none !important;
}
