@import "src/components/dropdown/dropdown.vars";
@import "node_modules/bulma/sass/components/dropdown.sass";

:host {
  display: block;
}

.highlight {
  font-weight: $weight-bold;
}

.dropdown-item {
  padding: 10px 17px 13px 39px;
  transition: padding-left 0.3s ease;
  border: 0;
  background: transparent;
  cursor: pointer;

  &:hover, &:focus {
    background: $dropdown-item-hover-background-color;
  }

  &.is-active {
    font-weight: $weight-bold;
    background: $dropdown-item-hover-background-color;
  }

  &:focus:not(.is-active),
  &:hover:not(.is-active) {
    padding-left: 49px;
  }
}
