@import 'bal-radio-group/bal-radio-group.scss';
@import 'select-button.scss';

bal-radio.bal-radio:not(.bal-select-button) {
  position: relative;
  display: inline-flex;
  justify-content: flex-start;
  align-items: center;
  outline: none;
  min-width: 24px;
  min-height: 48px;

  &.is-dense {
    min-height: 24px;
  }

  .has-padding-left {
    padding-left: 32px;
  }

  input[type='radio'] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    outline: 0;
  }

  input[type='radio'] + label {
    @include font-smoothing();
    @include margin(0);

    line-height: 24px;
    contain: layout style;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: left;

    min-height: 24px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: $blue;
    font-family: $family-primary;
  }

  input[type='radio'] + label::before,
  input[type='radio'] + label::after {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    height: 24px;
    width: 24px;
    border-radius: 50%;
  }

  input[type='radio'] + label:before {
    content: '';
    border: 2px solid $blue;
  }

  input[type='radio'] + label:after {
    content: none;
    background: $white;
    transform: scale(0.25);
    top: 0;
    left: 0;
  }

  input[type='radio']:checked + label::before {
    background: $blue;
  }

  input[type='radio']:checked + label::after {
    content: '';
  }

  input[type='radio']:hover:not([disabled]) + label:before {
    border-color: $blue;
  }

  input[type='radio'].is-disabled + label {
    opacity: 1;
    cursor: default;
  }

  input[type='radio'].is-disabled + label:before {
    cursor: default;
    background: $grey-2;
    border-color: $grey-2;
  }

  input[type='radio']:checked.is-disabled + label:after {
    cursor: default;
    background: $grey-7;
  }

  input[type='radio']:focus-visible + label:before {
    box-shadow: $white 0 0 0 2px, $purple-dark 0 0 0 5px !important;
  }
}
