@import '../../../styles/global.utilities';

:host {
  display: inline-block;
  width: auto;
  font-family: $family-primary;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  pointer-events: auto;
  font-kerning: none;

  .has-padding-left {
    padding-left: 32px;
  }

  &.bal-radio {
    min-height: 24px;
    min-width: 24px;
    display: inline-block;
    position: relative;

    &:first-child {
      padding-left: 0;
    }

    padding-left: 24px;

    input[type='radio'] {
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      opacity: 0;
      outline: 0;
    }

    input[type='radio'] + label {
      @include font-smoothing();
      @include margin(0);

      line-height: 22px;
      contain: layout style;

      display: flex;
      align-items: center;
      justify-content: flex-start;
      text-align: left;

      min-height: 26px;
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      color: $blue;
      font-family: $body-family;
    }

    input[type='radio'] + label::before,
    input[type='radio'] + label::after {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      height: 24px;
      width: 24px;
      border-radius: 50%;
      border: 1px solid $blue;
    }

    input[type='radio'] + label:before {
      content: '';
      border: 1px solid $info-3;
    }

    input[type='radio'] + label:after {
      content: none;
      background: $blue;
      transform: scale(0.4);
      top: 0;
      left: 0;
    }

    input[type='radio']:disabled + label {
      cursor: not-allowed;
      opacity: 0.5;
    }

    input[type='radio']:checked + label::after {
      content: '';
    }

    input[type='radio']:hover:not([disabled]) + label:before {
      border-color: $blue;
    }

    input[type='radio']:focus-visible + label::before {
      outline: 1px dashed $cyan !important;
    }

    &.is-inverted {
      input[type='radio']:hover:not([disabled]) + label:before {
        border-color: $white;
      }

      input[type='radio'] + label:after {
        background: $white;
      }

      input[type='radio'] + label {
        color: $white;
      }
    }
  }

  &.bal-select-button {
    display: flex;
    flex: 1;

    input[type='radio'] {
      position: absolute;
      opacity: 0;
    }

    input[type='radio']:focus-visible ~ label {
      outline: none;
      border: 2px dashed $cyan;
    }

    label {
      @include font-smoothing();
      @include margin(0);

      contain: layout style;
      line-height: 1.125;
      display: flex;
      flex: 1 1 0;
      height: 32px;
      min-height: 32px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      border-radius: 100px;
      background: transparent;
      padding: 0 16px !important;
      border-color: transparent;
      border-width: 2px;
      font-family: $body-family;
      font-size: $size-normal !important;

      &:hover {
        color: $blue;
      }

      text-align: center;
      color: $text-light;
    }

    @include desktop() {
      label {
        font-size: $size-normal !important;
      }
    }

    input:checked ~ label {
      border-color: $blue;
      background: $blue;
      color: white;

      &:hover {
        color: white;
      }
    }

    input:disabled ~ label {
      cursor: not-allowed;
      color: $text-light;

      &:hover {
        color: $text-light;
      }
    }

    input:disabled:checked ~ label {
      border-color: $blue;
      background: $blue;
      opacity: 0.5;
      color: white;

      &:hover {
        color: white;
      }
    }

    &.is-inverted {
      label:hover {
        color: white;
      }

      input:checked ~ label {
        border-color: $white;
        background: $white;
        color: $blue;

        &:hover {
          color: $blue;
        }
      }

      input[type='radio']:focus-visible ~ label {
        outline: none;
        border: 2px dashed $cyan;
      }

      input:disabled:checked ~ label {
        border-color: $blue;
        background: $white;
        opacity: 0.5;
        color: $blue;

        &:hover {
          color: $blue;
        }
      }

      input:disabled ~ label {
        cursor: not-allowed;
        color: $info-3;

        &:hover {
          color: $info-3;
        }
      }
    }
  }
}
