=radioGroupVertical
  flex-direction: column
  border-radius: var(--bal-radius)
  gap: var(--bal-space-none)

=radioTextLabel($color, $color-hover, $color-active)
  .bal-radio__label__text
    color: var(#{$color})
  +hover
    &:hover
      .bal-radio__label__text
        color: var(#{$color-hover})
  &:active
    .bal-radio__label__text
      color: var(#{$color-active})

=radioCircleBorder($color, $color-hover, $color-active)
  .bal-radio__label::before
    border-color: var(#{$color})
  +hover
    &:hover
      .bal-radio__label::before
        border-color: var(#{$color-hover})
  &:active
    .bal-radio__label::before
      border-color: var(#{$color-active})

=radioCircleBackground($color, $color-hover, $color-active)
  .bal-radio__label::before
    background: var(#{$color})
  +hover
    &:hover
      .bal-radio__label::before
        background: var(#{$color-hover})
  &:active
    .bal-radio__label::before
      background: var(#{$color-active})

=radioSelectButtonBorder($color, $color-hover, $color-active)
  border-color: var(#{$color})
  +hover
    &:hover
      border-color: var(#{$color-hover})
  &:active
    border-color: var(#{$color-active})

=radioSelectButtonBackground($color, $color-hover, $color-active)
  background: var(#{$color})
  +hover
    &:hover
      background: var(#{$color-hover})
  &:active
    background: var(#{$color-active})
