bal-radio.bal-select-button {
  display: flex;
  width: auto;
  text-decoration: none;
  text-overflow: ellipsis;
  user-select: none;
  vertical-align: top; // the better option for most scenarios
  vertical-align: -webkit-baseline-middle; // the best for those that support it
  pointer-events: auto;
  font-kerning: none;
  flex: 1;
  justify-content: center;
  align-items: center;

  input[type='radio'] {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
    outline: 0;
  }

  input[type='radio'] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    cursor: pointer;
    height: 48px;
    min-height: 48px;
    font-family: $family-primary;
    background: $grey-2;
    color: $blue;
    border-radius: $radius;
    padding: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
  }

  input[type='radio']:checked:not(:disabled) + label {
    background: $blue;
  }

  input[type='radio']:not(:checked):not(:disabled) + label:hover {
    border: 2px solid $light-blue-dark;

    span.has-text-primary {
      color: $light-blue-dark !important;
    }
  }

  input[type='radio']:disabled + label {
    cursor: not-allowed;
    background: $grey-2;
  }

  input[type='radio']:focus-visible + label {
    box-shadow: $white 0 0 0 2px, $purple-dark 0 0 0 5px !important;
  }
}
