@use '@baloise/ds-styles/sass/mixins' as *;

@include block(shape) {
  display: block;
  overflow: hidden;
  border-radius: var(--bal-radius-normal);
  width: 66px;
  height: 66px;
  @include tablet {
    width: 120px;
    height: 120px;
  }
  @include desktop {
    width: 198px;
    height: 198px;
    border-radius: unset;
  }  // Rotation modifiers
  @include modifier(is-rotation-0) {
    transform: rotate(0deg);
  }
  @include modifier(is-rotation-90) {
    transform: rotate(90deg);
  }
  @include modifier(is-rotation-180) {
    transform: rotate(180deg);
  }
  @include modifier(is-rotation-270) {
    transform: rotate(270deg);
  }
}