@import "../../scss/bal-ui-library.globals";

:host {
  display: block;
}

span.trigger-label {
  display: flex;
  justify-content: center;
  align-items: center;
}

span.label {
  margin-bottom: 2px;
}

bal-icon {
  height: 24px;
  margin-right: 2px;
}
