@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;
@use 'sass:list';

$label-use-host: false !default;
$label-name: label;
$label-css-selector: ('.label');
$label-host-selector: ('#label');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include hybrid.vars($label-css-selector, $label-use-host) {
  @include hybrid.margin-vars($label-name);

  --label-color: initial;
  --label-family: var(--bal-label-family);
  --label-weight: var(--bal-label-weight);
  --label-line-height: var(--bal-label-line-height);
  --label-font-size: var(--bal-label-size-normal-device);
}

/**
  * Mixinx
  * --------------------------------
  * Define here the mixins for the component to be able to use it in host or non-host mode.
  */

$label-sizes: ('small', 'normal', 'medium', 'large', 'x-large', 'xx-large', 'xxx-large');
$label-title-sizes: ('large', 'x-large', 'xx-large', 'xxx-large');

@mixin label-size($level) {
  --label-font-size: var(--bal-label-size-#{$level});

  @if list.index($label-title-sizes, $level) {
    --label-family: var(--bal-font-family-title);
  }

  @include tablet {
    --label-font-size: var(--bal-label-size-#{$level}-tablet);
  }

  @include desktop {
    --label-font-size: var(--bal-label-size-#{$level}-desktop);
  }
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

.label {
  @include font-smoothing();
  @include hybrid.margin-styles($label-name);

  display: inline;
  hyphens: auto;
  overflow-wrap: break-word;
  min-width: 0;

  color: var(--label-color);
  font-family: var(--label-family);
  font-weight: var(--label-weight);
  line-height: var(--label-line-height);
  font-size: var(--label-font-size);

  &.is-multiline {
    white-space: normal;
  }

  &.is-regular {
    font-weight: var(--bal-font-weight-regular);
  }

  &.is-title {
    font-family: var(--bal-font-family-title);
  }

  &.is-text {
    font-family: var(--bal-font-family-text);
  }

  &.has-no-wrap {
    display: block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  //
  // font sizes
  @each $size in $label-sizes {
    &.is-#{$size} {
      @include label-size($size);
    }
  }

  //
  // colors
  &.is-success {
    --label-color: var(--bal-label-color-success);
  }

  &.is-warning {
    --label-color: var(--bal-label-color-warning);
  }

  &.is-danger {
    --label-color: var(--bal-label-color-danger);
  }

  &.is-hovered {
    --label-color: var(--bal-label-color-base-hover);
  }

  &.is-pressed {
    --label-color: var(--bal-label-color-base-active);
  }

  &.is-danger.is-hovered {
    --label-color: var(--bal-label-color-danger-hover);
  }

  &.is-danger.is-pressed {
    --label-color: var(--bal-label-color-danger-active);
  }

  &.is-disabled {
    --label-color: var(--bal-label-color-disabled) !important;
  }
}
