@import '@baloise/design-system-css/sass/mixins'
@import './bal-option.vars'

// Option
// --------------------------------------------------
:host
  font-size: 16px
  +unselectable
  position: relative
  display: block
  list-style: none
  cursor: pointer
  border-top: 0.125rem solid var(--bal-color-grey-2)
  background: var(--bal-color-transparent)
  min-height: 1.5rem
  & > bal-stack
    min-height: 1.5rem
  &:first-child
    border-top: none
  &::-moz-focus-inner
    border: none
  &--hidden
    display: none
    visibility: hidden

// Option Content
// --------------------------------------------------

#content
  font-family: var(--bal-font-family-text)
  color: var(--bal-select-option-content-label-text-color)
  font-weight: var(--bal-weight-regular)
  line-height: 1.125rem
  word-break: break-word
  white-space: normal
  hyphens: auto
  overflow: hidden
  text-overflow: ellipsis
  white-space: nowrap
  flex: 1

#content.is-multiline
  white-space: normal

// Focused Option
// --------------------------------------------------
:host(.bal-option--focused)
  background: var(--bal-color-grey-2)

:host
  +hover
    &:hover
      background: var(--bal-color-grey-2)

// Selected Option
// --------------------------------------------------
:host(.bal-option--selected)
  background: var(--bal-color-primary-1)
  +hover
    &:hover
      background: #cccfe2

:host(.bal-option--selected) #content
  font-weight: var(--bal-weight-bold)

:host(.bal-option--selected.bal-option--focused)
  background: #cccfe2
  .bal-option__inner
    font-weight: var(--bal-weight-bold)

// Invalid Option
// --------------------------------------------------
:host(.bal-option--invalid)
  background: var(--bal-color-danger-1)
  +hover
    &:hover
      background: #f5d0cc

:host(.bal-option--invalid) #content
  color: var(--bal-color-text-danger)

:host(.bal-option--invalid.bal-option--focused)
  background: #f5d0cc

// Disbaled Option
// --------------------------------------------------
:host(.bal-option--disabled),
:host(.bal-option--disabled.bal-option--focused)
  background: var(--bal-color-transparent)
  opacity: .7
  cursor: default
  &:hover
    background: var(--bal-color-transparent)

:host(.bal-option__inner--disabled)
  color: var(--bal-color-text-grey)
