@use '@baloise/ds-styles/sass/mixins' as *;
@use '../../hybrid' as hybrid;
@use '../../vars' as vars;
@use '../../attr' as attr;

$use-host: false !default;
$name: heading;
$css-selector: ('.heading', '.title', '.subtitle');
$host-selector: ('#heading');

/**
 * Variables
 * --------------------------------
 * Define here the css variables for the component to be able to use it in host or non-host mode
 * These variables can be used in the component styles below and later on be overridden in themes.
 */

@include vars.hybrid($name, $css-selector, $use-host) {
  @include vars.local(heading-color, inherit);
  @include vars.local(heading-family, var(--ds-heading-family));
  @include vars.local(heading-weight, var(--ds-heading-weight));
  @include vars.local(heading-line-height, var(--ds-heading-line-height));
  @include vars.local(heading-font-size, var(--ds-heading-1-size-device));
  @include vars.local(heading-space, var(--ds-heading-1-space));
  @include vars.local(heading-shadow, none); // var(--ds-heading-shadow)
  @include vars.local(heading-text-align, inherit);
}

/**
  * Basic Component Styles
  * --------------------------------
  * Define here the component styles using the mixin to support host and non-host mode for hybrid components.
  */

@include hybrid.component($host-selector, $css-selector, $use-host) {
  @include font-smoothing();

  display: block;
  box-sizing: content-box;

  hyphens: auto;
  overflow-wrap: break-word;
  text-wrap: balance;

  color: var(--_heading-color);
  font-family: var(--_heading-family);
  font-weight: var(--_heading-weight);
  font-size: var(--_heading-font-size);
  line-height: var(--_heading-line-height);
  text-align: var(--_heading-text-align);
  text-shadow: var(--_heading-shadow);

  em:not(.text),
  span:not(.text) {
    font-weight: inherit;
  }

  b,
  strong,
  .is-bold {
    font-weight: var(--ds-text-weight-bold);
  }

  @include hybrid.styles-only($use-host) {
    &.is-bold {
      font-weight: var(--ds-text-weight-bold);
    }

    // alignments
    &.is-centered {
      text-align: center;
    }

    &.is-right {
      text-align: right;
    }

    &.is-justified {
      text-align: justify;
    }
  }
}

//
// No Wrap
// --------------------------------
@mixin noWrap() {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

@include hybrid.styles($css-selector, $use-host) {
  &.has-no-wrap {
    @include noWrap();
  }
}

@include attr.has(no-wrap) {
  #heading {
    @include noWrap();
  }
}

/**
  * Variants and States
  * --------------------------------
  * Define here the variants and states like size or colors for the component.
  */

//
// Shadow
// --------------------------------
@mixin shadow {
  --mod-heading-shadow: var(--ds-heading-shadow);
}

@include hybrid.styles($css-selector, $use-host) {
  &.has-shadow {
    @include shadow();
  }
}

@include attr.has(shadow) {
  @include shadow();
}

//
// Subtitle
// --------------------------------
@mixin subtitle {
  --mod-heading-family: var(--ds-heading-subtitle-family);
  --mod-heading-weight: var(--ds-heading-subtitle-weight);
  --mod-heading-line-height: var(--ds-heading-subtitle-line-height);
}

@include hybrid.styles($css-selector, $use-host) {
  &.subtitle,
  &.is-subtitle {
    @include subtitle();
  }
}

@include hybrid.host($use-host) {
  :host([subtitle]) {
    @include subtitle();
  }
}

//
// Colors
// --------------------------------
$colors: ('primary', 'success', 'warning', 'danger', 'white', 'black');

@mixin color($color) {
  --mod-heading-color: var(--ds-heading-color-#{$color});
}

@each $color in $colors {
  @include hybrid.styles($css-selector, $use-host) {
    &.is-#{$color} {
      @include color($color);
    }
  }

  @include hybrid.host($use-host) {
    :host(.is-#{$color}) {
      @include color($color);
    }
  }
}

//
// Sizes
// --------------------------------
@mixin size($level) {
  --mod-heading-font-size: var(--ds-heading-#{$level}-size-device);
  --mod-heading-space: var(--ds-heading-#{$level}-space);
}

$size-aliases: (
  (is-1, is-level-1, is-3xl): 1,
  (is-2, is-level-2, is-2xl): 2,
  (is-3, is-level-3, is-xl): 3,
  (is-4, is-level-4, is-lg): 4,
  (is-5, is-level-5, is-base): 5,
  (is-display-1, is-5xl): display1,
  (is-display-2, is-4xl): display2,
);

@include hybrid.styles($css-selector, $use-host) {
  @each $class-group, $token in $size-aliases {
    @each $class in $class-group {
      &.#{$class} {
        @include size($token);
      }
    }
  }
}

@include hybrid.styles-only($use-host) {
  @for $i from 1 through 5 {
    h#{$i}.title,
    h#{$i}.subtitle,
    h#{$i}.heading,
    [role='heading'][aria-level='#{$i}'].title,
    [role='heading'][aria-level='#{$i}'].subtitle,
    [role='heading'][aria-level='#{$i}'].heading {
      @include size($i);
    }
  }
}

$size-host-aliases: (
  is-3xl: 1,
  is-2xl: 2,
  is-xl: 3,
  is-lg: 4,
  is-base: 5,
  is-5xl: display1,
  is-4xl: display2,
);

@include hybrid.host($use-host) {
  @each $class, $token in $size-host-aliases {
    :host(.#{$class}) {
      @include size($token);
    }
  }
}

//
// Spaces
// --------------------------------

@include hybrid.styles($css-selector, $use-host) {
  &.has-space-all {
    --mod-heading-mt: var(--_heading-space);
    --mod-heading-mb: var(--_heading-space);
  }

  &.has-space-top {
    --mod-heading-mt: var(--_heading-space);
    --mod-heading-mb: 0;
  }

  &.has-space-bottom {
    --mod-heading-mb: var(--_heading-space);
  }

  &.has-space-none {
    --mod-heading-mb: 0;
    --mod-heading-mt: 0;
  }
}

@include attr.has(space, 'all') {
  --heading-mt: var(--_heading-space);
  --heading-mb: var(--_heading-space);
}

@include attr.has(space, 'top') {
  --heading-mt: var(--_heading-space);
  --heading-mb: 0;
}

@include attr.has(space, 'bottom') {
  --heading-mt: 0;
  --heading-mb: var(--_heading-space);
}

@include attr.has(space, 'none') {
  --heading-mt: 0;
  --heading-mb: 0;
}
