@import '../../styles/global.utilities';

:host {
  display: inline-block;
  position: relative;
}

bal-icon[role='button'] {
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $info-8;
  }
}

.bal-hint-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  z-index: 100;
  background: $blue;
  color: $white;
  padding: 32px;
  border-radius: 0;

  .title {
    color: $white;
  }

  .buttons {
    margin-top: 24px;
  }
}

:host.is-placed-left {
  .bal-hint-content {
    right: 40px;
  }
}

@include tablet() {
  .bal-hint-content {
    position: absolute;
    border-radius: $radius-large;
    margin-left: 40px;
    top: -32px;
    bottom: initial;
    left: initial;
    right: initial;
    box-shadow: $shadow;
    min-height: auto;
    min-width: 320px;
  }
}

@include desktop() {
  .bal-hint-content {
    min-width: 464px;
  }
}
