bal-hint {
  display: inline-block;
  position: relative;
}

bal-icon[role='button'] {
  user-select: none;
  cursor: pointer;

  &:hover,
  &:focus {
    fill: $blue-8;
  }
}

.bal-hint-content {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  z-index: 100;
  background: $blue;
  color: $white;
  border-radius: 0;

  .title {
    color: $white;
  }

  .buttons {
    margin-top: 24px;
  }
}

@include tablet() {
  .bal-hint-content {
    position: absolute;
    border-radius: $radius-large;
    margin-left: 40px;
    top: -32px;
    bottom: initial;
    left: initial;
    right: initial;
    box-shadow: $shadow;
    min-height: auto;
    min-width: 320px;
  }

  bal-hint.is-small .buttons {
    display: none !important;
  }

  bal-hint.is-placed-left {
    .bal-hint-content {
      right: 40px;
    }
  }
}

@include desktop() {
  .bal-hint-content {
    min-width: 464px;
  }
}

bal-hint-title {
  display: block;
  font-family: $family-primary;

  .title {
    margin-top: 0;
    font-family: $family-primary;
  }
}

bal-hint-text {
  display: block;
  font-family: $family-primary;

  p {
    font-weight: initial;
    font-family: $family-primary;
  }
}
