+block(hint)
  +unselectable
  display: inline-block
  +element(icon)
    user-select: none
    cursor: pointer
    +hover
      &:hover,
      &:focus
        +fillSvg(var(--bal-color-light-blue-5))
  +element(content)
    background: var(--bal-color-grey-2)
    display: flex
    gap: 1.5rem
    flex-direction: column
    +mobile
      padding: 1.25rem
      min-height: 100vh
      & > div
        flex: 1
    +element(buttons)
      +modifier(is-hidden-desktop)
        +tablet
          display: none !important
  +element(overlay)
    +element(content)
      position: fixed
      display: none
      overflow: auto
      top: 0
      left: 0
      right: 0
      bottom: 0
      +modifier('active')
        display: block
